[2015-04-23 10:33] richard-jones commented on #686
Could be this:

https://github.com/DOAJ/doaj/blob/production/portality/settings.py#L314

Check that path to schema on disk is correct

[2015-04-23 10:37] richard-jones commented on #686
The second error must be caused by something different, but I'm not sure what.  I'd like to see the file that caused it.

It may be that XSD validation won't follow redirects, for whatever reason.  I haven't been able to find anything online about the rules for that, but it could be one of them for all we know.

[2015-04-23 10:37] dommitchell commented on #689
Yep, we need to make sure this the human updated date remains untouched. Can someone create a 'provenance' label so I can add this to it?

[2015-04-23 10:49] dommitchell commented on #665
Tested! Closing.

[2015-04-23 10:49] #665 closed

[2015-04-23 11:20] richard-jones commented on #217
Ah, ok, I see how this has happened.  Actually the code for this has not changed, it is behaving "correctly", in that this field is optional if the status field is set to one of the base status elements.  But since we've been moving the status elements around to be viewed differently by different user classes, the optionality of this field has got a bit confused.

Let me just be totally clear what

[2015-04-23 11:33] emanuil-tolev commented on #686
[code]

[code]

Yep, perfectly fine.

[2015-04-23 11:44] richard-jones commented on #687
Fixed on live

[2015-04-23 15:07] dommitchell commented on #622
Sorry to up the priority. The publisher has contacted us again.

[2015-04-23 15:33] #683 closed

[2015-04-23 15:36] dommitchell commented on #217
The Owner field should be completely optional for all ManEds, apart for Accepted where is should be compulsory.

[2015-04-23 16:08] richard-jones commented on #217
fixed by next hotfix

[2015-04-23 16:13] emanuil-tolev commented on #622
Set in_doaj to True for these 2.

There are 3 more such journals:
86f3b575e5924014909dc58ab2cc7f2c
b356da3a55ab414ca7d3a755b516ce88
1b4f5507c768494ea17c5cdcb4fe9099

just stick the ID in the admins' journal search, they should come up. I'm happy to set them to whatever value they should be. No idea what caused this, except that they all seem to have been edited in December 2014 (see their notes) -

[2015-04-23 16:15] richard-jones commented on #45
This has been open for some time, and it hasn't raised its head again, so closing it off.  The new PVOD project has replaced large chunks of the UI, but this display paradigm is still in use, and no obvious alternatives present themselves.

[2015-04-23 16:15] #45 closed

[2015-04-23 16:18] richard-jones commented on #80
This was originally motivated by desire for a slight performance enhancement, which is no longer needed.  PVOD also addressed fv UI.

[2015-04-23 16:18] #80 closed

[2015-04-23 16:19] richard-jones commented on #135
Yes, this has been partially or completely fixed.  @dommitchell do you want to review and close if done?

[2015-04-23 16:20] richard-jones commented on #152
This has now been done as part of PVOD

[2015-04-23 16:20] #152 closed

[2015-04-23 16:21] richard-jones commented on #272
No longer relevant, as ToCs don't work this way any more

[2015-04-23 16:21] #272 closed

[2015-04-23 16:24] richard-jones commented on #346
We did this on the way through the PVOD project

[2015-04-23 16:24] #346 closed

[2015-04-23 16:25] richard-jones commented on #358
Old, we responded, no further action required

[2015-04-23 16:25] #358 closed

[2015-04-23 16:26] emanuil-tolev opened #692 "Google's perception of DOAJ's mobile friendliness"
Here's a tool to test any page for mobile friendliness in Google's almighty eyes:

https://www.google.com/webmasters/tools/mobile-friendly/?url=https%3A%2F%2Fdoaj.org%2F

I tested our journal (toc) and article pages and they found absolutely no problem, as well as no problem on the homepage. They did, as expected find some stuff on the /search , no idea how important _they_ think that page is to o

[2015-04-23 16:28] emanuil-tolev commented on #692
Mobile dev guidelines by Google: https://developers.google.com/webmasters/mobile-sites/mobile-seo/?hl=en-US&utm_source=MFT&utm_medium=incoming-link&utm_campaign=MFT

(very technical so probably not extremely useful to you Dom, but to devs, very useful - one of the best darn mobile dev guidelines pages I've ever seen)

[2015-04-23 16:38] richard-jones commented on #512
DOAJ Seal:
* Changes to core data model to support new info
* Updates to relevant administrator web forms to allow Seal
to be applied by checkbox
* Updates to search interface to facet by Seal, and present
Seal alongside other Journal data
* Updates to Table of Contents to present Seal
* Essential data migration and roll-out

[2015-04-23 16:38] emanuil-tolev commented on #686
Possibly relevant logs from XML ingestion in chronological order:

[code]

[code]

[code]

ALL of these are attempts to upload XML files via URL. Also the error most of these files got is pure "this is not even XML", before we get to any (other) validation.

This error:

is quite strange, since I'm not sure why *our* XML parser would be connecting to the internet to fetch the schema. We have it lo

[2015-04-23 16:39] richard-jones commented on #516
Did this as part of PVOD

[2015-04-23 16:39] #516 closed

[2015-04-23 16:40] richard-jones commented on #532
@emanuil-tolev - is this still active?

[2015-04-23 16:43] richard-jones commented on #586
Ok, looks good - no more repeats of this so closing off

[2015-04-23 16:43] #586 closed

[2015-04-23 16:43] emanuil-tolev commented on #532
Actually there's 1679 such journals: https://doajgate.cottagelabs.com/doaj/journal/_search?q=_missing_:admin.owner

But yeah, there are 4 which are in DOAJ with a missing owner field: https://doajgate.cottagelabs.com/doaj/journal/_search?q=_missing_:admin.owner%20AND%20admin.in_doaj:true

[2015-04-23 16:44] richard-jones commented on #604
The submitted CSV files are automatically deleted after processing, so we'd need to make a change to the reapplication code if you wanted to be able to do this.

[2015-04-23 16:46] richard-jones commented on #622
You should be able to just use the button in the admin area to set these to the appropriate setting.

[2015-04-23 16:47] richard-jones commented on #623
I did this along the way in PVOD.  Not perfect, but it does for the period when you're offline

[2015-04-23 16:47] #623 closed

[2015-04-23 16:47] richard-jones commented on #626
Fixed by @markmacgillivray

[2015-04-23 16:47] #626 closed

[2015-04-23 16:48] richard-jones commented on #627
Yes, that's a bit odd, but there's no option in fv2 to modify those pull-downs dynamically.  Would require additional coding.

[2015-04-23 16:57] richard-jones commented on #631
XSD can be accessed here: https://doaj.org/static/doaj/doajArticles.xsd

Otherwise, in summary, the rules are:

0-1 language, iso code
0-1 publisher
1 journal title
0-1 issn
0-1 eissn
1 publication date
0-1 vol
0-1 issue
0-1 start page
0-1 end page
0-1 doi
0-1 document type
1-* title
0-* authors
0-* affiliations
0-* abstracts
1 fulltext url
0-* keywords

[2015-04-23 16:58] richard-jones commented on #635
@Steven-Eardley could you try to reproduce this on live now, and if not seen close off this issue?

[2015-04-23 16:59] richard-jones commented on #639
passing over to @emanuil-tolev who will know where the servers actually are...

[2015-04-23 16:59] Steven-Eardley opened #693 "Journal title vs alternative_title in OpenURL"
Currently, ```stitle``` in the openurl journal schema (for short title) maps to the ```alternative_title``` in the Journal bibjson record. This isn't necessarily the same use, although it is for many cases.

However, sometimes the ```Journal.bibjson().alternative_title``` is a translated version of the main title, e.g. Revista Catalana de Dret Públic (main) / Catalan Journal of Public Law (alterna

[2015-04-23 17:03] richard-jones commented on #627
duplicated in #672

[2015-04-23 17:03] #627 closed

[2015-04-23 17:11] Steven-Eardley commented on #635
Unable to reproduce on live, closing.

[2015-04-23 17:11] #635 closed

[2015-04-23 17:13] richard-jones commented on #686
ok, I've checked all these ids, and the first one is a link to a PDF, so that would explain why that isn't working.

The others look, superficially, to be correct so I'll need to experiment with them further.

Possibilities are:

1. They really aren't valid xml
2. Something goes wrong in the download process which corrupts the file
3. something else ... ?

@emanuil-tolev - are there any validation

[2015-04-23 17:15] richard-jones commented on #217
should be fixed on live

[2015-04-23 17:17] richard-jones commented on #686
Taking this out of the PVOD milestone, so we can clear that up in parallel.  We haven't touched this code as part of that project, so cause is unknown, but could be related to move to new infrastructure.

[2015-04-23 17:17] Steven-Eardley opened #694 "OpenURL does not respect in_doaj"
OpenURL requests are successfully finding the item in the journal index on search, redirecting to the TOC page, which doesn't render (because in_doaj is false) so the normal 404 page is shown.

e.g. https://doaj.org/doaj?func=openurl&genre=journal&issn=15593053

Fix with a filter for ```in_doaj = True```

[2015-04-23 17:19] Steven-Eardley commented on #558
This is fulfilled; any problems or enhancements with openurl will have their own issue.

[2015-04-23 17:19] #558 closed

[2015-04-23 17:40] richard-jones commented on #580
Generated and sent over

[2015-04-23 17:41] richard-jones commented on #447
Just going to add a catch around the email sending so that it doesn't kill the request.  Might have to flash a message saying what happened, though.

[2015-04-23 18:21] dommitchell commented on #580
Thanks! Are they in any order?

[2015-04-24 03:58] dommitchell commented on #686
Sent by email

[2015-04-24 08:40] emanuil-tolev commented on #686
Yep, the full logs are above in my comment https://github.com/DOAJ/doaj/issues/686#issuecomment-95649229 . The error ("... failed") is most likely caused by the exception raised at portality.article:626 , caught by portality.scripts.ingestarticles:172 . The handler in ingestarticles:172 is more general though, so it could theoretically be some other kind of exception in article:626, but I doubt it

[2015-04-24 09:09] dommitchell commented on #455
Hi, this seems to have switched back showing the Karger logo.
![fb](https://cloud.githubusercontent.com/assets/5955396/7315918/6242b954-ea72-11e4-9c86-a14ec09684af.jpg)

[2015-04-24 09:38] #217 closed

[2015-04-24 09:40] dommitchell commented on #631
What is the difference between these:

0-1
1
1-*
0-*

Thanks!

[2015-04-24 09:43] dommitchell commented on #622
Yes but the problem is that they do not have reapplication records and I can't generate those. Are you able to do that?

[2015-04-24 09:43] Steven-Eardley commented on #631
I understand it as

0-1     is 0 or 1 of these things (optional, but max. 1)
1        1 only (i.e. required)
1-*     1 or more (so required and may be more than one)
0-*     0 or more (so fully optional)

[2015-04-24 09:44] dommitchell commented on #604
Nope. Leave as is.

[2015-04-24 09:44] #604 closed

[2015-04-24 09:48] richard-jones commented on #631
Yup, what Steve said :)  Sorry. should have added dox on the notation!

[2015-04-24 09:57] dommitchell commented on #135
No normalisation between ' and ’ so leaving open for now

[2015-04-24 10:19] Steven-Eardley commented on #455
@dommitchell I confirmed your issue using the object debugger, checked the tags are properly set (they are), and asked it to refresh the scraped data. The correct image and text appears there now for www.doaj.org, https://doaj.org, http://doaj.org. (it's a caching thing on their end)

@emanuil-tolev - it seems facebook isn't quite as smart as we hoped. Changing the canonical url to https has chang

[2015-04-24 10:21] Steven-Eardley commented on #455
@dommitchell, try sharing again, and let me know if you'd like me to make the change to get your thousands of 'likes' back.

[2015-04-24 10:34] emanuil-tolev commented on #455
Ah hm .. it is going to be https from now on I think, which does pose an important question: if we revert the OG metadata back to http, we will have to remember and keep it that way. Not too terrible I guess, with a comment. I'd be happy to make the change. What are you relying on, BASE_URL? Since we can't change that in the config, that's used elsewhere (in emails and scripts). Maybe a OPENGRAPH_

[2015-04-24 10:43] emanuil-tolev commented on #647
when we have them up again

[2015-04-24 10:51] emanuil-tolev commented on #639
London.

This is a legal question, not necessarily a technological one. Cottage Labs has to adhere to UK data protection law as far as I know, and this includes DOAJ data. Whether the DOAJ as an organisation is bound by any other laws would depend on national law in countries the DOAJ operates in.

Also I'm not clear which countries the DOAJ operates in (i.e. where is your HQ)?

Your address is

B

[2015-04-24 10:53] emanuil-tolev commented on #639
Just to underline this as an important distinction: you know accounting and taxes? There *is* a relationship between cash in the bank and taxes, but it's rarely straightforward. This is the same deal, there is a relationship between where the data actually is and the law, but it's not that simple.

[2015-04-24 10:56] dommitchell commented on #455
![fb2](https://cloud.githubusercontent.com/assets/5955396/7317447/3d84805c-ea81-11e4-918c-cd6564c6a4ac.jpg)

Looking good! Closing

[2015-04-24 10:56] #455 closed

[2015-04-24 11:16] dommitchell commented on #595
Assuming this can be closed now`?

[2015-04-24 11:19] dommitchell commented on #145
I'd like to show an example of a continuation to the public. Can you find me one easily?

[2015-04-24 11:34] dommitchell commented on #639
OK. I shall check with Lars then. Thanks for this info. It is very useful.

[2015-04-24 12:04] emanuil-tolev commented on #686
Yeah, hard data is proving this to be utter bollocks... Something is definitely wrong with upload, not the files, unless ALL the files so far have been invalid. For almost 3 days.

Last successful XML upload was at around 7pm on Tuesday before the move you see :).

https://doajgate.cottagelabs.com/doaj/upload/_search?sort=created_date:desc&q=status:processed

And there's more failures afterwards n

[2015-04-24 14:41] Steven-Eardley commented on #595
Yup, I reckon so. Further examples and problems can have a new Issue.

[2015-04-24 14:41] #595 closed

[2015-04-24 15:47] emanuil-tolev commented on #686
I've added more logging to the XML ingester so we get bit more details on the exception. I'll be at a bit of a loss if it's just a portality.article.IngestException, will really need serious digging then (but least we'll know the exact line of code causing the problem, and it's a line that uses an external library).

[2015-04-26 20:30] Steven-Eardley opened #696 "Continuations not working on live"
TOCs for journal continuations are being redirected to the most recent version - i.e. the previous title link has no effect, and OpenURL queries return the wrong TOC. Additionally, it redirects twice; with ```http``` then ```https```.

Might be worth going over changes made in PR #678 again, @emanuil-tolev? Could be something more recent, though.

* https://doaj.org/openurl?url_ver=Z39.88-2004&url

[2015-04-27 14:04] dommitchell commented on #145
There are 223 journals with continuations in DOAJ currently.

Plant Knowledge Journal

[2015-04-27 14:24] richard-jones opened #698 "RSS feed content links are wrong now - should probably point to ToC"

[2015-04-28 13:55] emanuil-tolev opened #699 "sitemap not being generated on live"
Anacron runs the job but no log file appears and the sitemap is not updated. Still as of 22 Apr right now.

Proof that anacron runs the job

[code]

No action to take except for me to investigate, without a log we can't debug what's wrong.

/etc/anacrontab:

[code]

[2015-04-28 16:14] emanuil-tolev commented on #699
That's a syntax error, somehow I missed the backtick when closing the command. That's quite weird, since of course I first ran the thing to check it works and *then* pasted it in. Ah well. Fixed, we'll see tomorrow if we have a new sitemap.

[2015-04-28 17:42] emanuil-tolev commented on #696
sort of unrelated note: why doesn't this cause a whitespace compile error? https://github.com/DOAJ/doaj/pull/678/files#diff-15fcdea4c39a69a3a91220826502d799R165

(just wondering if it WILL cause an error... should fix that together with whatever the fix is for this issue)

[2015-04-28 17:49] emanuil-tolev commented on #696
OK so for this: that ISSN is in the index.issn part of the record, which is how the find_by_issn method works. This is the record it's finding: https://doajgate.cottagelabs.com/doaj/journal/30a6fbcbc2a241ffbb376da7be41b29c

Afterwards it simply redirects to the current E-ISSN of the journal. It assumes the ISSN in the request is assigned to the *current* journal record (because it found that with

[2015-04-28 18:09] Steven-Eardley commented on #696
OK so for this: that ISSN is in the index.issn part of the record, which is how the find_by_issn method works. This is the record it's finding: https://doajgate.cottagelabs.com/doaj/journal/30a6fbcbc2a241ffbb376da7be41b29c

You'll notice that's the url in the 'Previous title(s):' link on the page - is there a new way to link to the TOC for a continuation?

[2015-04-28 18:16] emanuil-tolev commented on #696
No, well, yes - you're doing it right, but it's not working, because the current (not past) record has the old ISSN. Not sure what to do (delete the ISSN from index.ISSN in that record? change the code?) hence the suggestion to talk on Fri.

[2015-04-29 06:09] dommitchell opened #702 "Old APC numbers"
At the London meeting you said you might be able to give me the following numbers to me, collected from the old dataset:

APCs: Yes (number of journals)
            No (number of journals)
            No information (number of journals)

[2015-04-29 07:07] dommitchell commented on #686
@richard-jones @emanuil-tolev Can I have an update on this please? Getting urgent now

[2015-04-29 08:34] emanuil-tolev commented on #686
On it @dommitchell , we've just continued over email threads since it was going to get a bit much for github. I'm looking to resolve this entirely today. It's a very peculiar problem, not something I would have expected XML libraries to have trouble with.

[2015-04-29 08:42] emanuil-tolev commented on #699
Confirmed returned new sitemap today via md5 hash check (compared to the newly generated file on the server). Working now.

[2015-04-29 08:42] #699 closed

[2015-04-29 09:15] dommitchell opened #703 "Bug in Toc generation: page numbers incorrect"
Unfortunately the ToCs are showing the incorrect page range. The first page is repeated and the last page is missing. This is not a problem in search results or on the article homepages. Only the ToCs. For example:

'After you launched the new design of your website we noticed that the page range for all published articles become 1-1, would you please check and correct? https://doaj.org/toc/2314-5

[2015-04-29 09:23] emanuil-tolev commented on #698
Fixed I believe, on live. @richard-jones feel free to close if this looks OK to you: https://doaj.org/feed

[2015-04-29 09:25] emanuil-tolev commented on #686
These all work without any redirects now, incl. over plain HTTP:

wget http://doaj.org/static/doaj/doajArticles.xsd
wget http://doaj.org/static/doaj/doajArticle.xsd
wget http://doaj.org/static/doaj/iso_639-2b.xsd

wget https://doaj.org/static/doaj/doajArticles.xsd
wget https://doaj.org/static/doaj/doajArticle.xsd
wget https://doaj.org/static/doaj/iso_639-2b.xsd

[2015-04-29 09:28] emanuil-tolev commented on #686
(oh, FYI, doajArticle is actually a misspelling of doajArticles, but one that is so easy to make we have done it multiple times ourselves, so I've simply made it a synonym of doajArticle**s**)

[2015-04-29 09:38] emanuil-tolev commented on #696
@richard-jones says Yes.

Yes, that's how continuations work.

I need to move my redirection code below the code that considers continuations.

[2015-04-29 09:43] richard-jones commented on #686
This is now working - redirects have been made, local tests succeeding, and we can see a record on the live server of a successful upload.

[2015-04-29 10:24] dommitchell commented on #702
Referencing #688 which is exacerbating the inaccuracy of the current data.

[2015-04-29 13:13] dommitchell commented on #686
Yep, user tested too. Thank you!

[2015-04-29 13:22] dommitchell commented on #159
Can you remind my what the caveat was for this method of creating the histogram? Someone has asked:

My team is doing some research correlating content in DOAJ with other factors such as APC, and have uncovered what appears to be a problem with harvesting or displaying articles published in the year 2013.

Our data was screen scraped in May 2014. To determine if this was an anomaly I did an articl

[2015-04-29 14:04] dommitchell commented on #145
@richard-jones can you get me an example of a continuation that has article metadata too?

[2015-04-29 14:39] Steven-Eardley commented on #145
This is one I found for testing OpenURL:

https://doaj.org/openurl?url_ver=Z39.88-2004&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&rft.genre=journal&rft.issn=0366-1644&rft.volume=47&rft.issue=1

Unfortunately, a bug (#696) is preventing it from appearing correctly. It should show the continuation's toc page with the volume and issue highlighted, but it's being inc

[2015-04-29 15:17] dommitchell commented on #145
This is great! Thanks Steve.

[2015-04-30 13:06] richard-jones commented on #159
The main caveat is that the articles need to have coherent dates associated with them.  Articles with no date, and articles with dates that we can't make sense of aren't included in the histogram.

If they can give us some details of a specific incongruity that would be interesting - a ToC for a journal with articles in this period where the count doesn't look correct.  Then we could see what the

[2015-04-30 13:19] richard-jones commented on #702
Provided by email

[2015-04-30 13:20] richard-jones commented on #703
@markmacgillivray could you take a look at this one relating to the code that you added to the ToC page please

[2015-04-30 13:21] richard-jones commented on #698
looks good

[2015-04-30 13:21] #698 closed

[2015-04-30 13:21] richard-jones commented on #694
@Steven-Eardley - is this now working in live?

[2015-04-30 13:37] richard-jones commented on #688
hotfix and PR made

[2015-04-30 13:56] Steven-Eardley commented on #694
Yes, the OpenURL part works as intended. However, I might've uncovered another issue with the TOC!

[2015-04-30 15:13] Steven-Eardley opened #705 "Admins can't view some ToCs because ToCs require in_doaj"
If you look for a journal with ```in_doaj = False``` via the admin search, the ToC will not appear (404), because it's not ```in_doaj```.

[2015-04-30 15:17] #694 closed

[2015-04-30 15:34] Steven-Eardley commented on #693
This is working fine on live, e.g.

https://doaj.org/openurl?url_ver=Z39.88-2004&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&rft.genre=journal&rft.jtitle=Koşuyolu%20Heart%20Journal

[2015-04-30 15:34] #693 closed

[2015-04-30 15:56] emanuil-tolev commented on #705
Mmh. I'd argue tocs are part of the public part of the site. I understand the point of this issue but I'm not sure it's a great idea to let admins see different things that are explicitly not under the /admin URLs. They'd have to log out of their accounts all the time to investigate user queries, and might forget, etc.

Also what would be the use of them being able to see a ToC the public can't se

[2015-04-30 16:01] Steven-Eardley commented on #705
Good points - I was in two minds about whether it's a bug or by design.

[2015-04-30 16:30] richard-jones commented on #705
Admins couldn't view tocs for not public pages before, so this is
definitely not a bug.  If admins need to see withdrawn journal tocs, then
it's a new feature :)

[2015-05-04 08:28] dommitchell commented on #688
Not sure this has quite worked as expected. https://doaj.org/admin/journal/086cff769b9f4c12b4a2bfbd175efcae has replied with 'No' but their ToC says: Information on publication charges not yet available for this journal
Maybe this isn't live on the site yet?

[2015-05-04 08:28] #702 closed

[2015-05-04 09:36] dommitchell commented on #686
This seems to still be an issue. Now, users are getting this error:

"File could not be validated against a known schema; please fix this before attempting to upload again"

Has the schema location changed? Sample XML file sent via email.

[2015-05-04 10:22] emanuil-tolev commented on #686
The last failed upload is at ~7:30am GMT today 4th May. The last successful upload finished processing at 8:03am GMT today 4th May.

This indicates there's no endemic problem anymore (before when this issue was opened there were no successes for several days straight). So this seems to be a separate issue - we'll see what it is.

No, it's accessible in even more locations now in fact.

There are 2

[2015-05-04 11:00] dommitchell commented on #687
One more which doesn't seem to have any duplicates: https://doaj.org/toc/1646-9895

[2015-05-04 11:13] emanuil-tolev commented on #687
This is not a 400 Bad Request (which is what happens on duplicates), it's a 404 Not Found. You're getting the Not Found because this journal is not "in DOAJ". Hit "Put journal in DOAJ" at https://doaj.org/admin/journal/86f3b575e5924014909dc58ab2cc7f2c to fix, if applicable :).

On a related note, the journal is neither in nor out of doaj (admin.in_doaj simply is not present). There are 3 journals

[2015-05-04 12:12] dommitchell commented on #687
@emanuil-tolev thank you! Closing because this is indeed in another task.

[2015-05-04 12:12] #687 closed

[2015-05-04 12:14] dommitchell opened #706 "Question: Add text to APC facet"
Just a question for now: is there a way to add text to a facet that will permit a link out to explanatory information on what the facet does and doesn't show?

[2015-05-04 14:40] dommitchell commented on #680
After our meeting in London, we agreed that I would analyse the ISSNs in the spreadsheet. I logged in as the publisher and tried to download their CSV file but it returned a 404 Not Found error:

https://doaj.org/publisher/bulk_download/21607311.csv

Could that be causing the problem here?

[2015-05-04 14:40] dommitchell commented on #680
p.s no whitespaces or oddities in the publisher-edited csv file as it stands now

[2015-05-04 14:50] emanuil-tolev commented on #680
Looking at the code it looks at who the **current** user is and thus who is allowed to download the file. So you would need to be that publisher to see the file.

Those files are meant only as a way of starting the reapplication process, I don't think they are required in any fashion during processing of CSV uploads - the code knows what format the CSVs should follow.

[2015-05-04 15:18] #178 closed

[2015-05-04 15:19] #582 closed

[2015-05-04 15:19] emanuil-tolev commented on #680
OK, thanks for the credentials. I can download this file now - there was something which might have caused you (and the publisher) to be unable to download it but that should be fixed now. So you can get the file if you try again.

I still don't think this is the cause for the issue as these files are not read in by the DOAJ system - they are only served to publishers. Publishers fill them out, th

[2015-05-04 21:08] markmacgillivray commented on #703
In this line of this file:

https://github.com/DOAJ/doaj/blob/develop/portality/templates/doaj/toc.html#L491

the two instances of start_page should say end_page

@richard-jones @emanuil-tolev do you want me to start a separate branch for this and send in a pull request or does one of you want to incorporate it into any current work you have? If I am to start a separate branch, where should I bran

[2015-05-04 21:19] emanuil-tolev commented on #703
Just from develop. So pull latest develop, branch, code, PR (your new branch against develop).

[2015-05-05 07:42] richard-jones commented on #706
Yes, technically no problem, but the current software doesn't have a "space" for this kind of information, so we'd need to make modifications to how it worked to support it.

[2015-05-05 07:48] richard-jones commented on #688
This is quite weird - that journal does not have a value for last_reapplication, which is what the code uses to determine whether to show the information.

Can you give me some other examples of journals that have been through the reapplication?

And can you give me an outline of what has happened to this particular journal since the reapplication was approved (i.e. has it been edited by anyone, e

[2015-05-05 07:53] richard-jones commented on #703
fixed in develop, will be ready for review on live shortly

[2015-05-05 08:11] emanuil-tolev commented on #706
Also I would consider a tooltip over a linkout. In this case accessibility is not an issue (a usual problem with tooltips) since the whole interface is Javascript-based + there are really easy to use tooltip components around now.

[2015-05-05 08:25] dommitchell commented on #688
Any journal that has been accepted recently, whether it has APCs or not: http://bit.ly/1IPWhtD. In particular https://doaj.org/toc/2052-5397 which shows APCs in search results but not on the ToC.

[2015-05-05 09:25] richard-jones commented on #684
These requests are erroneous requests to the OAI endpoint - the callers aren't using the "set" parameter correctly, which is causing the error.

The 502 is unfortunate - we should have a better error response

[2015-05-05 09:36] dommitchell commented on #686
They don't need to reference the schema at all.

[2015-05-05 09:40] dommitchell commented on #679
#426 might be the same problem

[2015-05-05 09:47] emanuil-tolev commented on #679
leaving to @richard-jones

here's some info for Richard that might be helpful in diagnosing some of those if the problem doesn't end with what we discussed in meeting:

Missing an owner and in DOAJ (4): https://doajgate.cottagelabs.com/doaj/journal/_search?q=_missing_:admin.owner%20AND%20admin.in_doaj:true

Missing an owner and NOT in DOAJ (1675): https://doajgate.cottagelabs.com/doaj/journal/_sea

[2015-05-05 09:49] dommitchell commented on #426
Change the owner of the journal NOT in DOAJ and this should fix this.

[2015-05-05 09:49] #426 closed

[2015-05-05 10:04] dommitchell commented on #679
Updated 2nd URL to show the 2nd journal (NUPHB in the screenshot)

[2015-05-05 12:21] dommitchell commented on #426
Confirming remedy: changed the account owner of the journal not in DOAJ to match the account owner of the journal in DOAJ. Publisher has confirmed that they can upload XML now.

[2015-05-05 12:50] dommitchell opened #708 "Add Tooltip to APC facet"
We'd like to add a tooltip to the APC facet to allow people to click out to this link: https://doajournals.wordpress.com/2015/05/11/historical-apc-data-from-before-the-april-upgrade/.  I understand this means adding a component as per the discussion here. #706

[2015-05-05 12:51] #706 closed

[2015-05-06 13:18] richard-jones commented on #703
@emanuil-tolev can you assign this to @dommitchell when it's been rolled out for me.

[2015-05-06 13:19] richard-jones commented on #680
@dommitchell - assigning this back to you for the moment.  Let me know as and when you need us to look at it.

[2015-05-06 13:35] dommitchell commented on #582
@greboun just assigning this to you for the record. If we have new text changes, you should probably open a new task

[2015-05-06 13:52] richard-jones commented on #679
Ok, this /is/ the same problem as #426 but expressed in a slightly different way.

The Journal model defines a property "owner" which returns an empty string if the owner is not set:

https://github.com/DOAJ/doaj/blob/develop/portality/models/journal.py#L434

In this case, the two expressions of the journal (one in_doaj the other withdrawn), differ in that one has an owner and the other does not (

[2015-05-06 14:44] dommitchell commented on #685
Updated the original comment. Have pinned down what I was seeing before that I couldn't quite fathom

[2015-05-06 17:10] richard-jones commented on #685
Oh, I see - it's just the search link from the front page which is specifying OR rather than AND.  Should be a trivial fix, I'll sort that out soon.

[2015-05-06 17:13] richard-jones commented on #688
For reference, there are ones that are working, for example: https://doaj.org/toc/1687-8884

[2015-05-06 17:20] richard-jones commented on #688
@dommitchell - I think I might know what's happening, but can you just clarify for me.

2052-5397 has a created_date of 2015-05-04T13:25:23Z and a last_updated date of 2015-05-04T13:25:23Z and no last_reapplication date- this would suggest that it's a new journal rather than a reapplication of an existing journal.  Can you confirm?

The current rule looks for the last_reapplication date, which in

[2015-05-07 07:30] dommitchell commented on #688
I can only confirm by checking Notes and the Date added but it does look like a new application rather than a reapp.

So yes, I think the rule needs to look for records that have a 'Date Added to DOAJ' date of pre-March 2014, no? It's those records that we want to apply this message too because they have the old Y/N APC info which doesn't show up in our post-PVOD upgrade. As a last_reapplication d

[2015-05-07 08:39] dommitchell commented on #159
@richard-jones don't suppose you can tell me easily how many articles have not been picked up by the histogram can you?

[2015-05-07 09:21] dommitchell commented on #679
@richard-jones Excellent work Sherlock!

I think we go with Number 1, purely because, in theory, over time these journals without owners should diminish. Right?

I will assign the owner to these two withdrawn journals and close this

[2015-05-07 09:21] #679 closed

[2015-05-08 13:55] richard-jones commented on #159
There 7565 which are missing the index.date field that it's built over.

Reasons for missing that field are either no publication year or malformed publication year/month data.

[2015-05-08 15:59] richard-jones commented on #703
gah, github auto-closing issues.

[2015-05-08 16:07] emanuil-tolev commented on #703
Ready for review on live! looks like it's worked

[2015-05-11 06:58] dommitchell commented on #703
Smashing!

[2015-05-11 06:58] #703 closed

[2015-05-11 07:03] dommitchell commented on #159
Perfect!

[2015-05-11 07:03] #159 closed

[2015-05-11 07:04] dommitchell opened #710 "Year of publication fix on articles"
There 7565 which are missing the index.date field that it's built over. #159

Just logging this for later in case we can do some clever cleanup and get years added to these.

[2015-05-11 09:10] #447 closed

[2015-05-11 09:48] dommitchell commented on #685
Great!

[2015-05-11 09:48] #685 closed

[2015-05-11 09:50] dommitchell commented on #688
Yes, looking good. Follow up question:

- is there anyway we can adjust the facet display so it shows that ~9120 journals actually have 'No info'?

[2015-05-11 14:23] dommitchell opened #711 "Date articles added to DOAJ"
Do you have any way of telling when two articles were added to DOAJ?

https://doaj.org/search?source={%22query%22%3A{%22query_string%22%3A{%22query%22%3A%22\%22Reproductive%20Biology%20of%20Bothrops%20erythromelas%20from%20the%20Brazilian%20Caatinga\%22%22%2C%22default_operator%22%3A%22AND%22}}%2C%22from%22%3A0%2C%22size%22%3A10}

[2015-05-11 14:40] emanuil-tolev commented on #711
2nd April 2015 via upload.

[2015-05-11 14:43] dommitchell commented on #711
Thanks! Have we disabled DOI matching?

[2015-05-11 14:47] emanuil-tolev commented on #711
Hmm. Not that I'm aware of. Yeah, on both bibjson.identifier contains a type "doi" key with value "10.1155/2014/680861" (no spaces or other wonky things going on).

[2015-05-12 06:39] dommitchell commented on #711
@richard-jones do you know why matching didn't happen on these articles?

[2015-05-12 08:48] dommitchell opened #712 "122 double values with OAI_PMH calls wth resumptiontokens"
Other 121 examples sent in email

/start/
f.i. we get issn 0048-7651 in set with call cursor 5900 and in set with call cursor 6000

5900 eyJtIjogIm9haV9kYyIsICJuIjogNjAwMH0= 0048-7651
6000 eyJtIjogIm9haV9kYyIsICJuIjogNjEwMH0= 0048-7651

Cursor 5900

https://doaj.org/oai?verb=ListRecords&resumptionToken=%20eyJtIjogIm9haV9kYyIsICJuIjogNjAwMH0=

<record>

  <header>

    <identifier>oai:doaj.org/jour

[2015-05-12 13:14] dommitchell opened #713 "Request to delete articles: Hindawi"
https://doaj.org/admin/admin_site_search?source={%22query%22%3A{%22filtered%22%3A{%22filter%22%3A{%22bool%22%3A{%22must%22%3A[{%22term%22%3A{%22_type%22%3A%22article%22}}%2C{%22term%22%3A{%22bibjson.year.exact%22%3A%222015%22}}]}}%2C%22query%22%3A{%22query_string%22%3A{%22query%22%3A%22%201687\\-0042%22%2C%22default_field%22%3A%22index.issn.exact%22%2C%22default_operator%22%3A%22AND%22}}}}%2C%22fr

[2015-05-12 13:15] dommitchell commented on #713
I have these in a spreadsheet. Would that be easier?

[2015-05-12 14:48] dommitchell opened #714 "Request to delete articles: Caligrama"
https://doaj.org/admin/admin_site_search?source={%22query%22%3A{%22filtered%22%3A{%22filter%22%3A{%22bool%22%3A{%22must%22%3A[{%22term%22%3A{%22_type%22%3A%22article%22}}]}}%2C%22query%22%3A{%22query_string%22%3A{%22query%22%3A%220103\\-2178%22%2C%22default_field%22%3A%22index.issn.exact%22%2C%22default_operator%22%3A%22AND%22}}}}%2C%22from%22%3A0%2C%22size%22%3A10}

550 articles

[2015-05-13 12:27] dommitchell opened #715 "Was this record an application or a reapplication?"
https://doaj.org/admin/suggestion/5752e15b3f954f7e91c114abad213240

Can you tell?

[2015-05-13 12:33] dommitchell commented on #715
We think it was a reapplication, which begs the question: why did the existing record not get rejected when the reapplication was rejected?

https://doaj.org/admin/journals?source={%22query%22%3A{%22query_string%22%3A{%22query%22%3A%222320\\-088X%22%2C%22default_operator%22%3A%22AND%22}}%2C%22from%22%3A0%2C%22size%22%3A10}

[2015-05-13 13:01] emanuil-tolev commented on #715
It seems to be a reapplication, this was in the record:

```current_journal: "ad67d58fb89f4df5a52e9300dbbc844d"```

Good question. Is rejecting the reapplication supposed to withdraw the journal? Presumably people can reapply again to provide more info, not sure that you would have wanted to automatically withdraw the journal in DOAJ. Trying to think quite hard of discussing automatically pulling

[2015-05-13 13:48] dommitchell commented on #715
Hmm, I was certain that rejecting a reapplication updates the journal record (i.e. withdraws it), just as accepting a reapplication updates the existing journal record. That's the whole reason why we can't accept new applications in the place of an existing reapplication record.

@richard-jones I am remembering correctly, right?

[2015-05-13 14:26] greboun commented on #715
Is it not so , that in the case of a rejected re application the old
records should remain available in the database?
I don't think that the journal should be automatically removed from DOAJ.
Or am I missing something

TOM

Dr. Tom Olijhoek
Editor-in-Chief  DOAJ

On Wed, May 13, 2015 at 3:48 PM, dommitchell <notifications@github.com>
wrote:

[2015-05-13 17:41] emanuil-tolev commented on #715
The records are available, but the in_doaj flag gets set to False. The data is not removed, but the journal is no longer visible in the public user interfaces (like the /search page, OAI-PMH, the table of contents pages etc.).

[2015-05-15 10:12] dommitchell opened #716 "Swap out sponsor logo"
Please swap out the existing Co-Action logo with this one. Thanks!

![coaction_logo_new](https://cloud.githubusercontent.com/assets/5955396/7650942/abc9f170-fafb-11e4-9fce-194b29611d0e.jpg)

[2015-05-15 12:24] dommitchell commented on #715
Yep that is how it should work so I wonder why it didn't happen this time? We'll wait for RJ to wade in.

[2015-05-15 13:39] Steven-Eardley commented on #716
Changes are now on live

[2015-05-15 13:59] richard-jones commented on #715
There's no code that I'm aware of in the system that does anything to an existing journal when a reapplication is rejected.  Current journals are /only/ modified when a Managing Editor sets the status of a re-application to "accepted":

https://github.com/DOAJ/doaj/blob/develop/portality/formcontext/formcontext.py#L537
and then
https://github.com/DOAJ/doaj/blob/develop/portality/models/suggestion.

[2015-05-15 14:03] richard-jones commented on #712
One reason this could happen is that journals get added in between requests, which shifts the paging over the result set.  But that does seem like a lot of duplicate entries.  I'll take a closer look, it could just be an overlap in the paging parameters, causing the bottom of one list to appear at the top of the next.

For the record, I can't reproduce the first example now.

[2015-05-15 14:21] emanuil-tolev commented on #715
I don't, I thought you or @dommitchell might remember :). I'm pretty sure we've not discussed this as well, otherwise I would remember plenty of detail points (e.g. see my questions in https://github.com/DOAJ/doaj/issues/715#issuecomment-101655014 ).

The most poignant question for me remains:

Think about it:

1. the journal is in DOAJ
2. the reapplication is spam - how could that happen? Presuma

[2015-05-15 14:22] emanuil-tolev commented on #715
add to questions next meeting definitely :)

[2015-05-18 07:42] dommitchell commented on #715
I found evidence from Notes that DOAJ must remove the journal manually when rejecting a reapplication.

This has its own problems: there is no way to identify a reapplication from an application once it is absorbed into the main workflow. What can we do about that?

Can we develop something so rejected reapplications automatically reject the journal record?

[2015-05-18 08:17] greboun commented on #715
If a reapplication is rejected , and the in_doaj flag is set to no, you
cannot search record via the user interface any more, right?
But I can imagine that when a reapplication is rejected the journals has
changed for the worst, old records could still be useful for the scientific
community.
If the reapplication is rejected because the first application only passed
just because of fewer and less s

[2015-05-18 08:57] #705 closed

[2015-05-18 09:24] emanuil-tolev commented on #715
To be precise, you cannot reach these records via the **public** interface. You can still see them in the **admin** part of the site, obviously.

The flag is just set to no, for the journal and all its articles.

[2015-05-18 09:49] Steven-Eardley commented on #696
The fix is live now. Solved the problem I originally reported - leaving for @dommitchell to determine if TOCs on continuations are as expected.

[2015-05-18 09:53] dommitchell commented on #713
Can we please schedule this for a fixed date so that the publisher can start uploading new content as soon as the deletes are ready? Thanks!

[2015-05-18 12:01] dommitchell opened #718 "Request to delete articles: IJSE"
https://doaj.org/admin/admin_site_search?source={%22query%22%3A{%22filtered%22%3A{%22filter%22%3A{%22bool%22%3A{%22must%22%3A[{%22term%22%3A{%22_type%22%3A%22article%22}}]}}%2C%22query%22%3A{%22query_string%22%3A{%22query%22%3A%221687\\-6954%22%2C%22default_field%22%3A%22index.issn.exact%22%2C%22default_operator%22%3A%22AND%22}}}}%2C%22from%22%3A0%2C%22size%22%3A10}

[2015-05-18 13:40] Steven-Eardley opened #719 "iOS highlighting ISSNs as phone numbers"
I came across this when testing on my iPad - apparently Apple uses a fairly unintelligent way to highlight phone numbers so that they can be called directly on the phone, which also catches ISSNs. I've looked into this; apparently it can be fixed with a meta tag in the header (which is shared across all pages):

```<meta name="format-detection" content="telephone=no" />```

i.e. turning the format

[2015-05-18 14:21] #716 closed

[2015-05-19 06:50] dommitchell commented on #719
@Steven-Eardley hello! Yes, if this can be done quickly and without cost then please do go ahead. Always good to eliminate confusion for the user.

[2015-05-19 10:37] dommitchell opened #720 "PDF URLs redirect to publisher homepage"
A bug maybe?

Something odd happening here: https://doaj.org/toc/2308-2399/1/1

All URLs on DOAJ redirect to the publisher's homepage: http://www.samanmjournals.org/ and yet work on the publisher's site.

URL on DOAJ and publisher's site are identical:
http://www.samanmjournals.org/wp-content/uploads/ARE-CELLULAR-AND-LANDLINE-SUBSITUTES-OR-COMPLEMENTS1.pdf
http://www.samanmjournals.org/wp-content/

[2015-05-19 10:56] emanuil-tolev commented on #720
This is definitely not a bug in the DOAJ system. We can only go as far as generate the correct link. What they and their server does is a different matter.

It is possible to restrict PDF-s (more conventionally this has in fact been done to **images**) so that you can only download them if you're coming from the same website they're hosted on. This is called hotlinking protection.

I see that this

[2015-05-19 10:58] emanuil-tolev commented on #720
Oh yeah, you and the editorial team might have an opinion about journals whose PDF links don't work outside of their own site.

[2015-05-19 15:20] dommitchell commented on #720
Huh! Well, I never knew that! Thanks!!

[2015-05-19 15:20] #720 closed

[2015-05-22 13:41] dommitchell commented on #712
From the customer:

Neither do I. The problem with 122 seems to be vanished. I can’t reproduce.
Now I get only one double ISSN = '2008-1359'

But this also occurs in the ‘static’ download file. Feel free to close.

[2015-05-22 14:21] dommitchell opened #721 "Display within restricted access university domain"
/starts/
We have limited-access workstations that we use for teaching in our

/ends/

![doajresults](https://cloud.githubusercontent.com/assets/5955396/7772452/91e32e36-009e-11e5-8b87-1296bb905b4c.JPG)
![doajhome](https://cloud.githubusercontent.com/assets/5955396/7772453/91e93614-009e-11e5-8997-f75535c4de32.JPG)

[2015-05-22 15:10] richard-jones commented on #721
They're missing some of the css, though difficult to say which.  Probably
the ones served by the google cdn, so a similar problem to your Chinese
users.

[2015-05-25 06:35] dommitchell commented on #721
Thanks! Is there a URL or something that they can add to their safelist that will allow the css to work?

[2015-05-25 11:38] dommitchell opened #722 "Question: blue sticky for reapplications"
I've had several messages from publishers asking whether their reapplication went through because when they have logged into their account they are still seeing a message telling them that they have applications to submit.

Should that message not automatically disappear once all reapplications are submitted?

[2015-05-25 16:21] Steven-Eardley commented on #719
Done and deployed to live. I've confirmed my devices no longer highlight the ISSNs as phone numbers.

[2015-05-26 06:28] #719 closed

[2015-05-26 09:04] dommitchell commented on #715
Closing.

[2015-05-26 09:04] #715 closed

[2015-05-26 09:04] Steven-Eardley commented on #512
@dommitchell, I'd like you to make sure you're happy with how the various badges are placed on the page. So far I have this, after following the instructions above:

![screen shot 2015-05-25 at 14 20 29](https://cloud.githubusercontent.com/assets/1446355/7808780/a1e8fd32-038d-11e5-929f-60162b1935c6.png)

![screen shot 2015-05-25 at 14 20 48](https://cloud.githubusercontent.com/assets/1446355/78087

[2015-05-26 09:04] #686 closed

[2015-05-26 09:44] emanuil-tolev commented on #721
Ideally all URLs under

http://netdna.bootstrapcdn.com
https://netdna.bootstrapcdn.com
http://ajax.googleapis.com/
https://ajax.googleapis.com/

Though why you'd block these is beyond me.

[2015-05-26 09:51] emanuil-tolev commented on #721
Serve all JS and CSS locally. Also update China issue when this is done to see what needs to eb done there above and beyond serving libraries locally.

[2015-05-26 09:57] emanuil-tolev opened #723 "JSHint coding style checks"
Suggest using JSHint for JS coding style checking. Minifiability is bound to be one of the criteria and we might discover a lot more to improve. It can be run automatically on codeship.io to check newly committed JS code (after we get it to pass style checks initially).

[2015-05-26 09:57] emanuil-tolev opened #724 "Use an asset manager"
Flask-Assets is one.

Estimate here what the speed up and other advantages will be.

Might have to be careful with our Javascript not being minifiable yet. Suggest using JSHint to help discover all that #723.

[2015-05-26 11:15] dommitchell commented on #463
Updated issue description with real data

[2015-05-26 11:19] Steven-Eardley opened #725 "Seal layout on TOC and Facetview"
Changes to Search UI
* Addition of 1 conditional facet
* Addition of Seal to journal result display

Change to ToC
* Addition of Seal to journal page

Layout comments and resources in issue #512

[2015-05-26 11:19] dommitchell commented on #512
@Steven-Eardley I think I had imagined it as you have it pretty much. I'd be interested to know @richard-jones reasons for the alternative display? Are there things that I am not taking ito consideration?

Can you show me one in facet view, as you have the layout now, and that has the APC charge as well?

I think the Seal should go above the license image and under the Tick in both views.

[2015-05-26 11:26] dommitchell opened #726 "Question: OAI help text"
The example here: https://doaj.org/features doesn't seem to contain the dc:source tag:

[<<dc:source>Pakistan Journal of Chemistry, Vol 2, Iss 4, Pp 174-177 (2012)</dc:source>>]

Should it? I can change it but just wanted to check

[2015-05-26 11:27] #712 closed

[2015-05-26 11:35] dommitchell commented on #726
Ignore me

[2015-05-26 11:35] #726 closed

[2015-05-26 12:28] Steven-Eardley opened #727 "Seal model changes"
applies to both journals and applications
* core data model for admin data and index/facet data - saving the seal via the object and displaying via facet
* update to save() method

[2015-05-26 12:56] Steven-Eardley opened #728 "Seal editor form"
Editor form changes
* addition to underlying WTForm - add the check box for seal (for editors)
* updates to the relevant contexts to present the form
* updates to the relevant contexts to preserve the information between edits

[2015-05-26 12:57] Steven-Eardley opened #729 "Seal data migration"
For journals/applications on deploy to set up index portion of document - for the facetview.

[2015-05-26 14:10] richard-jones commented on #512
@dommitchell - no strong reasoning, just thinking about the aesthetics of a column of icons on the right vs distributing them between the left and the right.  There's no right answer, that's just personal preference, so we're happy to do them whichever way you like

[2015-05-26 17:39] Steven-Eardley commented on #512
@dommitchell - I've shifted the seal above the license, and here's a screenshot with the APC:
![screen shot 2015-05-26 at 18 32 12](https://cloud.githubusercontent.com/assets/1446355/7818941/8992713e-03d6-11e5-89b6-bffa4257d780.png)

the toc looks like this:
![screen shot 2015-05-26 at 18 32 34](https://cloud.githubusercontent.com/assets/1446355/7818953/96ea1922-03d6-11e5-9bf9-380ff3d08094.png)

[2015-05-27 08:12] dommitchell commented on #385
Adding to tnm. Note it is only the 3 with the checkbox that need to be attended to.

[2015-05-27 08:21] dommitchell opened #730 "Scroll to application form error"
Possible bug? Referencing #386: here is why people are unlocking without saving:

User (AssEd or Editor) removes a piece of information, from the answers, that is obligatory. They move down the page, making notes and clicking Save. The error message that announces that there is a problem with the form appears at the top of the form *and* the page doesn't scroll up to show the error message. User t

[2015-05-27 08:30] greboun commented on #512
I really like the view with Seal under tickmark and above license info.
for me the facet and the Toc layout are fine this way.
I am not so happy with the readability of the text in the Seal. perhaps the DOAJ SEAL text could be more made lookiing like an imprint, with sort of an outline But perhaps I just have missed the discussions around design issues

[2015-05-27 08:36] greboun commented on #730
Would it be possible to have an alert box preventing  the unlocking, *your
changes have not been saved, proceed anyway*?

Dr. Tom Olijhoek
Editor-in-Chief  DOAJ

On Wed, May 27, 2015 at 10:21 AM, dommitchell <notifications@github.com>
wrote:

[2015-05-27 08:40] dommitchell commented on #730
@greboun yes, that is noted for the revamp beginning 2016. This is hopefully a quick fix we can have done now.

[2015-05-27 08:50] dommitchell opened #731 "Add new sponsor: JMIR Publications Inc"
Link logo to http://jmirpublications.com/

![jmir](https://cloud.githubusercontent.com/assets/5955396/7832300/3a2ef44a-045e-11e5-8297-ad76257b8604.gif)

[2015-05-27 09:12] dommitchell commented on #696
Is there an update on this one?

[2015-05-27 09:29] Steven-Eardley commented on #512
I agree with you @greboun - I too have concerns about the seal image. I'm not a fan of the vague colours, the squint text or the smudge in the bottom part (it's too harsh). @dommitchell do you have the assets on hand to change it, are you okay with it for now, or should I see what I can do on the .png?

I'd like to lighten the smudge, straighten the text, and darken the text on the graphic.

[2015-05-28 11:19] richard-jones commented on #721
@emanuil-tolev - ok to go ahead under tnm for this one.  We don't have a proper process for this yet, but if you could let me know how long you spend on it, I'll start up a sheet to track that information.

[2015-05-28 11:27] richard-jones commented on #672
This will require some relatively tricky fiddling about with facetview2, which could take a a day or more.  @dommitchell up to you whether you want to prioritise this or not.

[2015-05-28 11:33] richard-jones commented on #671
@dommitchell - just to be clear, we'll be removing the ability for the Associate Editor to see or set the status "Reapplication in Progress" in their edit interface.  As we've already seen, there's a minor issue here in that if someone without permission to see the current status of the application looks at it, it will show them the wrong thing (I can't find the related issue, sorry!).

I propose

[2015-05-28 11:35] richard-jones commented on #517
This is being partially covered by #721 - is there anything else we need to do right now?

[2015-05-28 11:48] richard-jones commented on #473
I've had a bit of a poke around this, and the side-effects don't seem to bad.  The work is:

- [ ] change the upload form and related validators/xwalk
- [ ] change the published xml schema
- [ ] update relevant site documentation, such as links to the schema (if we produce a new version), and information for people on what to do now it has changed
- [ ] have the outgoing OAI tests validate against

[2015-05-28 11:50] richard-jones commented on #451
Ok to go ahead under tnm

[2015-05-28 11:51] richard-jones commented on #438
@Steven-Eardley - ok to go ahead under tnm

[2015-05-28 11:53] dommitchell commented on #517
Nope. Removing from tnm until we have an answer for #721

[2015-05-28 11:58] dommitchell commented on #672
Nope. Removing from tnm.

[2015-05-28 12:08] dommitchell commented on #473
And actually, I think we should do the continuation/toc work first and then come back to this.

Removing from tnm for now.

[2015-05-28 12:13] dommitchell commented on #671
The idea is to remove the confusion caused by 'Reapplication in progress' and 'In progress' for AssEds. AssEds shouldn't worry about the difference here. Question first:

But will the AssEd still be able to then switch the status once they are finished their review?

[2015-05-28 12:43] dommitchell commented on #512
How about this?

![doaj_seal_text_logo_mini_touched](https://cloud.githubusercontent.com/assets/5955396/7860279/f093431e-0547-11e5-8c9d-8737034cf395.gif)

[2015-05-28 13:07] Steven-Eardley commented on #512
I think the 'DOAJ seal' text is still too difficult to read, and the off-kilter angle of 'seal' exacerbates that. All you can easily see at a glance is the 'for open access journals' part, which doesn't make a huge amount of sense on its own.

Although, if a user is interested in what it means they can see the mouseover text.

[2015-05-28 13:32] dommitchell commented on #512
Here are the original pngs. I wonder if we should go with the Seal without the black text and so use the larger one? Anyhoo, see if you can do something with them. The image has been approved by Lars so we can't change it too much.

![doaj_seal_logo_small](https://cloud.githubusercontent.com/assets/5955396/7861151/986df09c-054e-11e5-99e3-9843660f3d53.png)
![doaj_seal_text_logo_mini](https://cloud.

[2015-05-28 13:48] dommitchell commented on #708
Adding this for tnm assessment

[2015-05-28 13:49] dommitchell commented on #654
Can I have an update here? Thanks!

[2015-05-28 13:51] dommitchell commented on #289
Suggesting that we come back to this after continuations / handling of tocs.

[2015-05-28 13:52] dommitchell commented on #343
Adding to tnm

[2015-05-28 13:53] dommitchell commented on #450
No longer needed. Cancelled.

[2015-05-28 13:53] #450 closed

[2015-05-28 13:54] dommitchell commented on #476
Closing. No longer needed.

[2015-05-28 13:54] #476 closed

[2015-05-28 13:55] dommitchell commented on #545
This should be a quick and easy change

[2015-05-28 13:56] dommitchell commented on #580
Closing.

[2015-05-28 13:56] #580 closed

[2015-05-28 14:22] Steven-Eardley commented on #512
Thanks Dom. Another question - which roles should see the 'DOAJ Seal' checkbox on their journal forms?

[2015-05-29 06:23] dommitchell commented on #512
@Steven-Eardley only  Admin.

[2015-05-29 08:47] dommitchell opened #732 "RSS feed content needs to be tweaked"
The following changes need to be made to the RSS feed:

1) Journal URL should point to the journal on DOAJ and not the journal's web site
2) Title of the feed should be 'DOAJ Recent Journals Added'
3) Remove the repeated journal name
4) Add ?rss to all URLs so we can track them in GA
5) (and include ISSN if possible?)

(5) not important if very difficult.

![rss](https://cloud.githubusercontent.co

[2015-05-29 12:53] dommitchell commented on #124
![highlight](https://cloud.githubusercontent.com/assets/5955396/7882915/76d76d22-0612-11e5-8734-0a3f4dd3fe16.jpg)

[2015-05-29 12:55] dommitchell opened #733 "Request to delete articles: 2068-7796"
151 article from May 2013, Issue -

https://doaj.org/admin/admin_site_search?source={%22query%22%3A{%22filtered%22%3A{%22filter%22%3A{%22bool%22%3A{%22must%22%3A[{%22term%22%3A{%22_type%22%3A%22article%22}}%2C{%22term%22%3A{%22bibjson.year.exact%22%3A%222013%22}}]}}%2C%22query%22%3A{%22query_string%22%3A{%22query%22%3A%222068\\-7796%22%2C%22default_operator%22%3A%22AND%22}}}}%2C%22sort%22%3A[{%22c

[2015-05-29 13:08] dommitchell commented on #732
Added one more item to ticket above

[2015-05-29 13:15] emanuil-tolev commented on #100
@dommitchell re: the load issue, it's actually quite hard to know that. I expect we can only reasonably see how the load is while our pilot friends are using the newly minted widget - that is to say without doing heavier-duty scalability testing, which can take quite some effort to set up. Currently my plan regarding load is:

1. see how pilot publishers "load" the site
2. from that, make some jud

[2015-05-29 13:19] emanuil-tolev opened #734 "Update user accounts module"
- new user role "api" - without it you're pretty much banned from the API
- [x] add api_key to user acc
- [x] UI for retrieve/reset api key
- [x] data migration to add api role to all users and generate api keys
- [x] modify existing account creation code to add api role automatically (and maybe add a key automatically - users can make a key themselves, but can't add the role, and we don't want th

[2015-05-29 13:22] emanuil-tolev opened #735 "Discovery API - public endpoint"
- [x] define url structure (versioning /api/v1/, paths for public endpoints)
- [x] public search over journals and articles

[2015-05-29 13:26] emanuil-tolev opened #736 "API - authentication"

[2015-05-29 13:28] dommitchell commented on #100
Thanks! As you said:

and I think the concerns here were from a time before we were doing the API etc. Good to have all this on the table though!

[2015-05-29 13:28] emanuil-tolev opened #737 "Discovery API - Rate limiting"
- [ ] Investigation into the best way to support rate-limiting and IP blocking resulting in a page on the DOAJ wiki explaining how to do the blocking. Rate limiting may be python level or nginx or anything else.

[2015-05-29 13:30] emanuil-tolev opened #738 "CRUD API - Articles"
Needs auth.

- [x] create [publishers]. May involve some refactoring of current code that lives in web routes serving article addition (inside a bulk XML file and the manual article add form).
- [x] retrieve
    - public articles [public, registered users, publishers]
    - all articles [publishers]. Publishers can see withdrawn ones.
- [x] update [publishers]
- [x] delete [publishers]

All operat

[2015-05-29 13:30] emanuil-tolev opened #739 "CRUD API - Retrieve journals"
- [ ] public journals [public, reg. users, publishers]
- [ ] all journals [publishers]. Publishers can see journals not in_doaj if they own the journal.
- [ ] tests to cover the above
- [ ] some notes on how to use the new endpoints, to be turned into full docs by the assignee of #759 (but it won't be whoever does this task if we can help it - good to have a different dev do the full docs)

    In

[2015-05-29 13:37] emanuil-tolev opened #740 "CRUD API - Applications"
- [ ] create [registered users, publishers]. **Not reapplications**.
- [ ] retrieve [registered users, publishers]. Publishers can see their reapplications.
- [ ] update [registered users, publishers] - until such time as they move into editorial review.
- [ ] delete [registered users, publishers] - until such time as they move into editorial review. **Reapplications may not be deleted**.

All ope

[2015-05-29 13:39] emanuil-tolev opened #741 "CRUD API - Delete"
- [ ] Applications [registered users, publishers] - until they move into editorial review. Reapplications cannot be deleted.
- [ ] Articles [publishers]

[2015-05-29 13:40] emanuil-tolev opened #742 "API - Documentation framework"

[2015-05-29 13:40] emanuil-tolev opened #743 "CRUD API - Publisher pilot"
Talk to publishers while developing the API, make sure it meets their DOAJ automation needs.

[2015-05-29 13:41] emanuil-tolev opened #744 "Bulk API - Add Articles"
All bulk operations succeed or fail in full - one error in one record prevents any action.

Needs auth.

- [ ] create articles, in native JSON and doaj XML, by value or by reference [publishers]
- [ ] delete articles [publishers]. This will require speccing out which pieces of data we will allow to mass-delete articles by (e.g. issn, articles published between 2 dates, article data uploaded to DOA

[2015-05-29 13:42] emanuil-tolev opened #745 "Bulk API - Add Articles - Documentation"
Documentation for #744 by somebody other than the main assignee of #744

[2015-05-29 13:43] emanuil-tolev opened #746 "Javascript widget - Simple search"
Simple search widget that will point people towards /search on DOAJ, no embedded search results.

[2015-05-29 13:44] emanuil-tolev opened #747 "Javascript widget - controllable widget"
No freetext box, but is programmatically controllable via Javascript (passing in parameters at least) to show embedded search results from the public API.

[2015-05-29 13:45] emanuil-tolev opened #748 "Javascript widget - Simple search - Documentation"
Documentation for embedders for #746 and good behaviour guide.

[2015-05-29 13:45] emanuil-tolev opened #749 "Integration with Google Analytics"
- [ ] Server-side integration with GA to log requests to all API endpoints.

- [ ] Log requests to the OAI endpoint too.

[2015-05-29 13:48] emanuil-tolev opened #750 "Discovery API - Pilot"
Put details here (be mindful this is a public page, don't put email addresses) of people we need / could get in touch with from the community to test our public discovery API.

[2015-05-29 13:57] emanuil-tolev opened #751 "Discovery API - authenticated search"
- [ ] allow publishers to query their applications (and their applications only)

[2015-05-29 14:41] emanuil-tolev commented on #735
https://github.com/CottageLabs/oaspectrum#search-api

[2015-05-29 14:48] emanuil-tolev opened #752 "Discovery API - Documentation"
- [ ] docs for #735 , the public search over journals and articles
- [ ] docs for #751 , the authenticated search for applications

[2015-05-29 15:03] emanuil-tolev commented on #737
1. ban at firewall or such level and test that
2. if there is time, investigate simple rate limit
3. prove it's possible to control via web UI if it is (doesn't have to be)

[2015-05-29 15:15] emanuil-tolev opened #753 "CRUD API - Create applications [publishers]"
Needs auth

[2015-05-29 15:52] emanuil-tolev opened #754 "API design (CRUD, Bulk)"
also see https://github.com/JiscPER/jper/blob/develop/docs/API.md

[2015-06-01 07:31] dommitchell commented on #731
@Steven-Eardley can we get this one done today?

[2015-06-01 08:16] greboun commented on #512
Hi

I would be in favor of using the larger picture of the Seal and omit the
text for open access journals.
The description of what the Seal is is sufficient and the users will be
quick to recognize the pcture as the DOAJ Seal.

TOM

Dr. Tom Olijhoek
Editor-in-Chief  DOAJ

On Thu, May 28, 2015 at 3:32 PM, dommitchell <notifications@github.com>
wrote:

[2015-06-01 08:37] emanuil-tolev opened #755 "CRUD API - Create applications [publishers]"
Needs auth

[2015-06-01 08:38] emanuil-tolev commented on #755
duplicate #753

[2015-06-01 08:38] #755 closed

[2015-06-01 08:45] emanuil-tolev opened #756 "Bulk API - Applications"
All bulk operations succeed or fail in full - one error in one record prevents any action.

Needs auth.

- [ ] create applications in native JSON  [registered users, publishers]
- [ ] delete applications

The "all bulk ops succeed or fail in full" will be implemented using the dry run option of the respective pieces of CRUD API code.

[2015-06-01 09:01] Steven-Eardley commented on #731
we can! on it.

[2015-06-01 09:11] Steven-Eardley commented on #512
Another question - where should the tick-box go, and would you like some descriptive text? Currently I've put the tick box in the 'editorial' group on the managing editors form. See:

![screen shot 2015-06-01 at 10 08 01](https://cloud.githubusercontent.com/assets/1446355/7909735/7c9f2192-0846-11e5-9a89-d8c974acf44a.png)

[2015-06-01 09:15] emanuil-tolev commented on #750
KVK is one. What are advantages of new API over private query endpoint? @emanuil-tolev to follow up.

[2015-06-01 09:41] Steven-Eardley commented on #731
Done, check on live.

[2015-06-01 09:52] dommitchell commented on #722
The blue sticky is active for as long as the reapplications are active. Isn't individual.

[2015-06-01 09:52] #722 closed

[2015-06-01 10:10] #731 closed

[2015-06-01 11:57] emanuil-tolev commented on #750
Uwe from KVK

- [ ] respond to "what are advantages of new API over private query endpoint KVK is currently using"
- [ ] send specs when they're up on github
- [ ] actually give URLs to the evolving api and its documentation on our test server

[2015-06-01 16:01] emanuil-tolev commented on #741
Now handling CRUD api based on object type, not action. Overall there are applications, articles and (only retrieval of) journals. This issue is not needed.

[2015-06-01 16:01] #741 closed

[2015-06-01 16:02] emanuil-tolev commented on #742
Docs will ideally be written by whoever is not coding that element. A framework for docs should be put in place and instructions put here to make it easy for anybody coding a part of the API to just add their section in with minimal effort, and still gain any styling, demo functionality (if there is any) and consistency with the other sections.

[2015-06-01 16:08] emanuil-tolev opened #757 "CRUD API - Applications - Documentation"
After #740 is completed, somebody other than the assignee of #740 will do the docs for it.

[2015-06-01 16:08] emanuil-tolev opened #758 "CRUD API - Articles - Documentation"
After #738 is completed, somebody other than the assignee of #738 will do the docs for it.

[2015-06-01 16:09] emanuil-tolev opened #759 "CRUD API - Retrieve Journals - Documentation"
After #739 is completed, somebody other than the assignee of #739 will do the docs for it.

[2015-06-01 16:10] emanuil-tolev commented on #753
Changed structure of tracking this work, in other issues.

[2015-06-01 16:10] #753 closed

[2015-06-01 16:15] emanuil-tolev opened #760 "Bulk API - Applications - Documentation"
Documentation for #756 by somebody other than the main assignee of #756

[2015-06-01 16:19] emanuil-tolev commented on #100
Duplicate of #746 . Moved my comment re load above to there.

[2015-06-01 16:19] #100 closed

[2015-06-01 16:20] emanuil-tolev commented on #747
Potential source of high load. Some thoughts on the matter:

* * *

@dommitchell re: the load issue, it's actually quite hard to know that. I expect we can only reasonably see how the load is while our pilot friends are using the newly minted widget - that is to say without doing heavier-duty scalability testing, which can take quite some effort to set up. Currently my plan regarding load is:

see

[2015-06-01 16:21] emanuil-tolev commented on #746
Potential load issues, but #747 would be far worse. Thoughts on server load placed there.

[2015-06-01 17:25] emanuil-tolev opened #761 "Widget fetch and write to page infrastructure + example"
All the stuff and experimenting required for a third party to be able to go

```<script src="https://doaj.org/static/simple_search_widget.js">```

or similar, and then the widget writes out a bit of HTML to an element with a predefined (or passed-in via an init function) ID.

[2015-06-01 17:32] emanuil-tolev opened #762 "Javascript widget - controllable widget - Documentation"
Docs and good behaviour guide for #747

[2015-06-01 18:56] emanuil-tolev commented on #742
If @Nimphal is available (TBA), I just need to do a bit of brainstorming with her about the API docs look, feel, location, then she can take over making a nice foundation page to which we easily add bits.

[2015-06-02 06:14] dommitchell commented on #750
Dietrich and Bastien, MDPI: As soon as you have some basic documentation ready, just send
it over to my and my colleague

[2015-06-02 06:15] dommitchell commented on #750
Markus, Springer: keep me in the loop on the development progress, I appreciate it!

[2015-06-02 08:56] greboun opened #764 "Ability of users to provide feedback on journals"
![image](https://cloud.githubusercontent.com/assets/12031556/7932055/c2eefbd4-0915-11e5-817d-5a4606642a86.png)

the idea is that we have a way that users of the site can comment on a journal. The  request for comments could look like in the fig above and shoud be in the search result page for a journal
It should tell people that they have to login but that their comments will be kept private by DO

[2015-06-02 12:14] emanuil-tolev commented on #749
This doesn't fully fit into the phase 1 schedule but adding it so we can have a go if we've got time (I've got a bit). Also to note, if possible and easy it would be nice to send who the user making the request is to google analytics (as some sort of custom data) in addition to the usual anon info they use. This is obviously only going to work on authenticated routes.

[2015-06-02 16:25] dommitchell commented on #750
Alec, PKP/OJS: we maintain the current DOAJ import/export toolset and it sounds like this would replace it with a better method, so it may not even be a net gain of code for us to maintain. Do you have some details written up? I'd love to see it.

[2015-06-03 12:56] dommitchell opened #766 "Request to delete articles: 0353-4529"
https://doaj.org/admin/admin_site_search?source={%22query%22%3A{%22filtered%22%3A{%22filter%22%3A{%22bool%22%3A{%22must%22%3A[{%22term%22%3A{%22_type%22%3A%22article%22}}]}}%2C%22query%22%3A{%22query_string%22%3A{%22query%22%3A%220353\\-4529%22%2C%22default_field%22%3A%22index.issn.exact%22%2C%22default_operator%22%3A%22AND%22}}}}%2C%22from%22%3A0%2C%22size%22%3A10}

[2015-06-03 13:41] dommitchell commented on #512
Hi @Steven-Eardley We're happy to go ahead with the Seal logo without the text. You said it will look a little odd so can we try the license image first, then the Tick, then the Seal?

Regarding the check box: we'd like the check box to sit in the DOAJ Seal information box which is currently on every application. If possible, can it sit next to the 'The qualifiers for the DOAJ Seal' title?

[2015-06-04 17:18] emanuil-tolev opened #767 "Bulk API - Delete Articles"

[2015-06-04 17:18] emanuil-tolev opened #768 "Bulk API - Delete Articles - Documentation"

[2015-06-05 10:08] Steven-Eardley commented on #512
@dommitchell thanks, do you know where you'd like the checkbox to go on the journal review form? It currently has no container for information about the seal. Shall I add the same container to that form?

[2015-06-05 13:13] Steven-Eardley commented on #512
@dommitchell @greboun Here's another chance for feedback. Seal without text in facetview results:
![screen shot 2015-06-05 at 14 03 21](https://cloud.githubusercontent.com/assets/1446355/8006444/d9d2bcdc-0b8b-11e5-9eb0-2294dfe40084.png)
seal on toc (it should be on a new line, but you get the idea from the image above):
![screen shot 2015-06-05 at 14 04 18](https://cloud.githubusercontent.com/asse

[2015-06-05 13:55] Steven-Eardley commented on #728
Completed

[2015-06-05 13:55] #728 closed

[2015-06-05 13:56] Steven-Eardley commented on #725
Done. See #512 for feedback.

[2015-06-05 13:56] #725 closed

[2015-06-05 13:56] Steven-Eardley commented on #727
Complete

[2015-06-05 13:56] #727 closed

[2015-06-05 13:57] Steven-Eardley commented on #729
Close this when the migration has been run on live.

[2015-06-08 07:54] dommitchell commented on #512
@Steven-Eardley can it go next to the title of that box, at the top of that box? It's a bit lost where it is now. Can you change the wording to 'Qualifies for Seal?'

I think the placement of the logo is fine. Is there anyway we can swap out the Tick so that it is just the image here #177 without the words?

[2015-06-08 09:26] dommitchell commented on #512
@Steven-Eardley as decided on the call, we can leave the tickbox where it is.

[2015-06-10 07:50] dommitchell opened #769 "Enable alt attributes in sponsor images"
Even though I can see the alt attributes in the html code, they are not showing up in SEO browsers:

http://seo-browser.com/index.php?address=https%3A%2F%2Fdoaj.org%2F&button0.x=49&button0.y=11 where only the image names appear.

Can we fix this?

[2015-06-10 13:25] Steven-Eardley commented on #729
Run on live 2015-06-10

[2015-06-10 13:25] #729 closed

[2015-06-10 13:26] Steven-Eardley commented on #438
This is ready for review on live.

[2015-06-10 14:49] dommitchell commented on #438
Brilliant!

[2015-06-10 14:49] #438 closed

[2015-06-11 08:24] #512 closed

[2015-06-11 11:23] dommitchell opened #770 "Remove 199 journals from DOAJ"
Please can you remove 199 journals from DOAJ and add a Note saying: 'Batch removal. Walt's data.'

CSV file will be emailed to you.

[2015-06-12 09:22] dommitchell commented on #770
CSV emailed. Please let me know when it is done as we have come other activities queued up to happen after this.

[2015-06-15 12:41] dommitchell opened #771 "Automatic removal of journal on rejection of reapplication"
When a reapplication is rejected, a journal record should automatically be removed from DOAJ and an email sent to the publisher informing them of this.

I'd like to scope this out with @richard-jones and @emanuil-tolev and try to get this implemented before end 2015.

[2015-06-15 12:57] dommitchell opened #772 "Question: about the new OAI implementation"
From a 3rd party aggregator. Can you help me answer them?

/starts/
We have a few follow up questions regarding the new data structure that DOAJ gave us. (https://doaj.org/oai.article?verb=ListRecords&metadataPrefix=oai_doaj).  We would like to use the 'oai_doaj' metadata format but it's missing a few tags that are necessary and do appear in the 'oai_dc' format (https://doaj.org/oai.article?verb=L

[2015-06-15 14:58] dommitchell commented on #680
on hold

[2015-06-15 15:12] dommitchell opened #773 "Question: columns in static pages"
Will the static pages support more advanced html coding like arranging the content in columns?

we want to rearrange the membership pages.

[2015-06-16 06:13] dommitchell opened #774 "Add new sponsor: Dove"
Please add the new sponsor logo and link to http://dovepress.com/

NEW LOGO:
![dove-transparent-background](https://cloud.githubusercontent.com/assets/5955396/8426259/b169cf24-1f0e-11e5-8ef9-7412023edfa7.jpg)

[2015-06-16 06:13] dommitchell commented on #774
Trying to get better logo

[2015-06-16 15:45] dommitchell commented on #743
Alf, PeerJ:  yes, we would be interested in testing the new API - currently we haven't been keeping the metadata submission up to date, as I had to upload the data manually.

If there's some documentation already written that I could look at, that would be great.

[2015-06-16 15:45] dommitchell commented on #743
Dietrich and Bastien, MDPI: As soon as you have some basic documentation ready, just send
it over to my and my colleague

[2015-06-16 15:46] dommitchell commented on #743
Markus, Springer: keep me in the loop on the development progress, I appreciate it!

[2015-06-16 15:46] dommitchell commented on #743
Alec, PKP/OJS: we maintain the current DOAJ import/export toolset and it sounds like this would replace it with a better method, so it may not even be a net gain of code for us to maintain. Do you have some details written up? I'd love to see it.

[2015-06-17 10:17] Steven-Eardley commented on #774
Shall I hold off until you've done so?

[2015-06-17 15:00] dommitchell commented on #774
Yep, ta.

[2015-06-18 14:49] emanuil-tolev commented on #770
This is done now.

[2015-06-18 14:53] #770 closed

[2015-06-19 07:06] dommitchell opened #775 "Questions about "missing" tags in OAI"
Can I have your thoughts?

/starts/
We have a few follow up questions regarding the new data structure that DOAJ gave us. (https://doaj.org/oai.article?verb=ListRecords&metadataPrefix=oai_doaj).  We would like to use the 'oai_doaj' metadata format but it's missing a few tags that are necessary and do appear in the 'oai_dc' format (https://doaj.org/oai.article?verb=ListRecords&metadataPrefix=oai_dc

[2015-06-19 07:42] richard-jones commented on #775
The oai_doaj format is identical to the doajArticle xsd format (one of our tests is that the oai stream validates against that schema).  Since that format doesn't include a type or a file link, that's the reason that information isn't there.  Not sure about the issn/essn field - @emanuil-tolev can you comment?

Each record has an identifier, which will allow them to retrieve both metadata records

[2015-06-19 09:41] dommitchell opened #776 "Request to delete articles: 2237-826X"
Please delete all 80 articles:

https://doaj.org/admin/admin_site_search?source={%22query%22%3A{%22filtered%22%3A{%22filter%22%3A{%22bool%22%3A{%22must%22%3A[{%22term%22%3A{%22_type%22%3A%22article%22}}]}}%2C%22query%22%3A{%22query_string%22%3A{%22query%22%3A%222237\\-826X%22%2C%22default_field%22%3A%22index.issn.exact%22%2C%22default_operator%22%3A%22AND%22}}}}%2C%22from%22%3A0%2C%22size%22%3A10}

[2015-06-22 08:12] dommitchell commented on #772
Duplicate with #775. Closing

[2015-06-22 08:12] #772 closed

[2015-06-22 08:17] dommitchell commented on #764
Actually, I don't think people need to log in. All we need is to add a [Send comments about this journal] link next to every journal entry. This would take people to a feedback form, where the title and ISSN are pre-populated. Name and email address are both compulsory (but we make it very clear that comments will not be published and all feedback is anonymous). Submitting the form sends an email

[2015-06-22 09:28] richard-jones commented on #773
``html
<div class="row-fluid">
    <div class="span4">col 1</span>
   <div class="span4">col 2</span>
   <div class="span4">col 3</span>
</div>
[code]

[2015-06-22 10:49] dommitchell commented on #314
Can you tell me the exact date that these were generated?

[2015-06-23 09:09] dommitchell opened #777 "Application form: text changes"
- [ ] Question 12: change 'Select the country where the publishing company carries out its business activities. Addresses registered via a registered agent are not allowed.'

[2015-06-23 12:11] dommitchell commented on #265
@richard-jones @emanuil-tolev There was already a task for this. I have updated the task description. Adding to tnm fully aware that it might be too big for that. Let me know

[2015-06-23 13:32] dommitchell commented on #590
Adding another one

[2015-06-23 14:02] dommitchell commented on #330
Reopening this because something has happened that might be similar. Will move into new task if not.

Question 29 in the Admin view of the application form is not question 29 in public application form. 'Does the journal provide, or intend to provide, article level metadata to DOAJ?' is missing from Admin view

https://doaj.org/admin/journal/0d518f1f25fa4de8a94bdc9345ac9897

https://doaj.org/appli

[2015-06-23 18:03] richard-jones commented on #265
@emanuil-tolev - can you have a think about this and decide how much work it is and on what timescale it might be possible.

[2015-06-23 18:10] richard-jones commented on #671
If that's the requirement, then we'll figure out a way for that to happen.  Might be a bit more fiddly, but I'll let you know how we get on.

[2015-06-23 18:12] richard-jones commented on #708
I'm not sure I totally understand what's being asked for.  Can you walk me through what you imagine happens when the user interacts with that facet?

[2015-06-23 18:18] richard-jones commented on #730
This could be related to the "feature" of some browsers (notably Chrome) to scroll the page to the last place you were scrolled to when the page next loads.  We have this problem widely across the edit forms, and there doesn't appear to be a nice fix.  The browser should actually scroll to the first error - at least that's the way the page is designed.

I'll see what we can do about forcing a scro

[2015-06-23 18:19] richard-jones commented on #730
@emanuil-tolev - assigning this to you without asking you first :)

[2015-06-23 18:22] dommitchell opened #778 "Accidentally deleted an account: can you reinstate it?"
https://doaj.org/account/21600619

[2015-06-23 18:22] dommitchell commented on #778
Or just get me the email address associated with it.

[2015-06-24 06:51] dommitchell commented on #708
Hmm I'm not entirely sure. It was something @emanuil-tolev suggested.

Either way, there needs to be a link in the facet label (like a question mark perhaps: "What's this?") that, when clicked, takes people out to the blog post above.

[2015-06-24 06:53] dommitchell commented on #671
@greboun Tom, in the current workflow, when an Assed is finished with their review, they don't change the status do they? They simply alert the Editor to let them know it is ready.

[2015-06-24 08:31] richard-jones commented on #771
In light of our discussion around keeping discontinued journals in the DOAJ, is this still the desired functionality?

Otherwise, a couple of points to go through to make sure we do the right thing:

* what happens when a reapplication is rejected?
   * are there any circumstances (such as discontinuation) where the journal in the DOAJ should not be automatically removed
   * otherwise the journal

[2015-06-24 08:35] richard-jones commented on #708
How about something like the text "learn more", which is a link out to the desired page?

Would this text need to be visible even when the facet is collapsed, or only if it is opened?  If the latter, I'd probably position this next to the control buttons.

We could make this an option in fv2 so that you can add such a link to any of the facets.

[2015-06-24 09:02] greboun commented on #671
That is correct, but the request was that ass editors can alert their
editors that they are finished reviewing by introducing a new status review
completed or something like that.
We have discussed this a few weeks ago

TOM

Dr. Tom Olijhoek
Editor-in-Chief  DOAJ

On Wed, Jun 24, 2015 at 8:53 AM, dommitchell <notifications@github.com>
wrote:

[2015-06-24 09:23] Steven-Eardley commented on #545
45 is also quite an arbitrary cut-off. I don't see why we shouldn't allow the maximum an email address could be - 254 characters. Unless @emanuil-tolev knows from when it was written?

[2015-06-24 09:36] greboun commented on #764
I think this would be sufficient, but we have to make sure that we cannot
be spammed with comments

TOM

Dr. Tom Olijhoek
Editor-in-Chief  DOAJ

On Tue, Jun 23, 2015 at 8:21 PM, Richard Jones <notifications@github.com>
wrote:

[2015-06-24 09:44] greboun commented on #730
Are there any more issues related to Chrome that might impact on usage of
websites?
I for example have difficulties downloading PDF files sometimes. the
download gets stuck in an incomplete file

TOM

Dr. Tom Olijhoek
Editor-in-Chief  DOAJ

On Tue, Jun 23, 2015 at 8:19 PM, Richard Jones <notifications@github.com>
wrote:

[2015-06-25 11:33] richard-jones commented on #451
This change has now been implemented, and a PR is pending.  To be clear about the behaviour we now have, here are the various import conditions, and the results of them.

In particular pay attention to (5) as it explores a particular oddity that may need to be revisited.

1/ a journal with 2 issns which don't appear anywhere else in the index and an article with the same 2 issns will result in a s

[2015-06-25 15:06] #314 closed

[2015-06-25 15:07] dommitchell commented on #545
@Steven-Eardley sounds good to me as long as no-one else objects

[2015-06-25 15:42] richard-jones commented on #590
I've now checked each one of these journals out to ensure that we're safe to regenerate the reapplications, with the following results:

* 2316-9834 - in doaj, owner has 9 other journals so a CSV will /not/ be generated.  Good to initialise.
* 0718-4654 - NOT in doaj, owner does not have any other journals, so a CSV will /not/ be generated.  Cannot initialise reapplication until journal is placed

[2015-06-25 16:48] richard-jones commented on #732
@dommitchell - the repeated title is because the title appears in both the "title" and the "summary" elements of the atom feed.  How about we put something useful in the "summary" element?  (Technically, the summary is required by the atom spec in our usage, so we need to give it something)

How about a few of the key fields from the ToC?  Like, say, what appears in the left-hand orange-bordered b

[2015-06-26 13:50] richard-jones commented on #732
I've made these changes, and done something I consider sensible for the summary.  It will now read something like:

Published by {publisher} in {country} on {platform}
Date added to DOAJ: {date}
LCC Subject Classification: {classifications}

PR is made, but not yet merged.

[2015-06-26 16:05] emanuil-tolev commented on #754
Proposed url design:

- /api
  - /v1
    - GET /search
    - GET /article/{id}
    - POST /articles
    - etc.

There will be an api_directory function in portality.app which will list all API versions and doc and base URLs.

There will be a new portality.views.api_v1 Flask view with all API routes inside. These will be the only public-facing parts of the API and will just deal with converting inc

[2015-06-26 16:08] emanuil-tolev opened #781 "Add feature toggles to DOAJ"
All features listed in in a config var called FEATURES will be considered "on". If the feature is missing it's "off" and any related code should not be imported or run.

Feature toggles are for easing development of parallel projects and they must be taken out at the end of a project - the code must be fully integrated. (There is no situation in which the live DOAJ will need to be missing a featur

[2015-06-26 16:52] richard-jones opened #782 "Admin area feature to bulk remove articles and journals"

[2015-06-26 17:18] emanuil-tolev commented on #451
@richard-jones I've deployed the bit you had a PR for

[2015-06-26 18:09] emanuil-tolev commented on #742
she is working on this now, confirmed

[2015-06-26 18:18] emanuil-tolev commented on #742
@Nimphal the next steps after #783 is merged are:

- integrate swagger-ui's dist folder into the DOAJ somehow. We can pair on this if you want, but roughly the whole dist folder should probably go under /portality/static/portality/vendor/swagger-ui . Then the index.html from the dist folder needs to be converted to a DOAJ page if possible - move index.html from the dist folder to a template - port

[2015-06-26 18:26] emanuil-tolev commented on #735
After #783 is merged you can go ahead with this @richard-jones - I've pretty much put in the structure of this route as an example, and even written a custom json encoder so you can concentrate on the DiscoveryApi class returning living DOAJ models - the new jsonify_models encoder will read their .data attribute and convert them to JSON for you, so no conversion stuff for you to do, just return mo

[2015-06-26 18:27] emanuil-tolev commented on #735
but feel free to change it back to a ?q GET param if *you* find something wrong with that

[2015-06-29 13:54] richard-jones commented on #735
There are going to be other url parameters (paging and page size) so we don't get away with not having to deal with them.  As you say, a matter of taste, and perhaps it shows that I'm old-fashioned in that I prefer the query args :)

[2015-06-29 14:41] emanuil-tolev commented on #735
ah yeah. OK, definitely feel free to change it then.

For swagger docs, instead of ```in:path``` use ```in:body``` to describe your params in that case.

[2015-06-29 14:49] richard-jones commented on #735
Actually I spent a bit of time consulting the Gods Of REST (the internet), and concluded that actually, while still a matter of taste ultimately, in the path is the sensible place to put the query!

[2015-06-29 15:02] emanuil-tolev commented on #732
@richard-jones your latest PR on this has been deployed to live.

[2015-06-29 15:03] emanuil-tolev commented on #735
and the page size and page number is in the args?

[2015-06-30 07:10] dommitchell commented on #732
Thanks @richard-jones. Sorry for the silence. Your summary implementation is perfect! I see this live on the site so closing.

[2015-06-30 07:10] #732 closed

[2015-06-30 07:59] dommitchell commented on #774
New logo above. Ready to go.

[2015-06-30 08:32] dommitchell opened #785 "Both Managing Editors and Editors should be able to assign or remove AssEds to/from applications"
Both Managing Editors and Editors should be able to assign or remove AssEds to/from applications

[2015-06-30 08:40] dommitchell commented on #451
@richard-jones bit confused by what "which doesn't appear anywhere else in the index" means?

[2015-07-01 06:44] dommitchell opened #786 "OAI earliest date question"
/start/
The following request:
https://doaj.org/oai?verb=Identify
executed today, returns:
<earliestDatestamp>2015-06-10T15:10:50Z</earliestDatestamp>

However, the following request, which I'd expect to return all records in the database:

https://doaj.org/oai?verb=Listrecords&metadataPrefix=oai_dc&from=2015-06-10T15:10:50Z

only returns completeListSize="289", which clearly is far less than the

[2015-07-01 08:22] emanuil-tolev commented on #545
@Steven-Eardley's work on this has been deployed just now.

[2015-07-01 11:00] emanuil-tolev commented on #778
Unfortunately just now this would be probably more trouble than it's worth. The few reasons are:

- we are ready to restore from backup of course, but we have a backup of the whole catalogue stored directly in the form our data store prefers for backups. In order to bring partial data out we would have to restore all of the data, same as when DOAJ goes down in some catastrophic manner and we need

[2015-07-01 12:07] emanuil-tolev commented on #730
Heh, in general there's quite a few issues for each major browser, their bug tracking databases contain thousands of open issues.

Related to DOAJ, we usually just track these in their separate DOAJ issues and describe them in the sense of "what problem does this cause for DOAJ specifically", like here. I don't have a list handy because of that, but there are quite a few problems that originate in

[2015-07-03 13:20] Steven-Eardley commented on #774
Ready for review now on live.

[2015-07-03 15:37] emanuil-tolev commented on #742
@Nimphal , @richard-jones makes a good point here https://github.com/DOAJ/doaj/pull/787#issue-92634389 . There is usually some space in API docs to have some blurb of text and examples. Overall comments as per call today.

[2015-07-05 21:41] Steven-Eardley commented on #608
The pages are located at ```portality/templates/doaj/volunteers.html``` and ```portality/templates/doaj/rights.html```. Currently just placeholder text.

The rights page opens in a new tab.

To add content before pull request for this (#789) is merged (so the placeholders don't go live), you can switch to the branch [hotfix/issue_608_new_static_pages](https://github.com/DOAJ/doaj/tree/hotfix/issue

[2015-07-06 07:21] dommitchell commented on #743
Andy Byers, Ubiquity Press

[2015-07-06 08:14] #774 closed

[2015-07-06 08:16] dommitchell commented on #608
@Steven-Eardley can I see the link on the application form?

[2015-07-06 08:31] dommitchell commented on #590
Thank you! 0718-4654 is now back in DOAJ.

On hold for now. @richard-jones I suspect there will be now and I suppose it will be better to do them all at once?

[2015-07-06 08:33] richard-jones commented on #735
@emanuil-tolev - assigned to you now this is finished, but maybe we can just close?

[2015-07-06 08:34] dommitchell commented on #778
Not important enough. Closing.

[2015-07-06 08:34] #778 closed

[2015-07-06 08:35] #545 closed

[2015-07-06 08:35] richard-jones commented on #786
Certainly used to work, so I expect that something else we changed for another project has had a knock-on effect, so this will just require an update.

[2015-07-06 08:37] dommitchell commented on #708
Yes, something like that sounds great. It doesn't need to be visible when the facet is collapsed.

[2015-07-06 08:39] richard-jones commented on #451
It means that the issn attached to that journal doesn't appear attached to any other journal either in the public doaj or in the withdrawn space.

[2015-07-06 08:41] richard-jones commented on #785
Before approving this for TnM just a note that this is a non-trivial bit of work.  Probably would take upwards of a day to do.  Ok, to add to the list?

[2015-07-06 08:57] dommitchell commented on #771
On hold for now

[2015-07-06 09:07] dommitchell commented on #785
Yes please!

[2015-07-06 09:10] Steven-Eardley commented on #608
@dommitchell it looks like this (directly below heading):

<img width="1217" alt="screen shot 2015-07-06 at 10 09 12" src="https://cloud.githubusercontent.com/assets/1446355/8519026/2b7e6286-23c7-11e5-82c4-61c8f5f51599.png">

[2015-07-06 09:17] dommitchell commented on #590
Note from call: OK to go ahead. Please run these now.

[2015-07-06 10:09] dommitchell commented on #451
Dom to re-read

[2015-07-06 10:16] dommitchell commented on #671
Tom to work out the naming of all statuses.

[2015-07-06 11:17] Steven-Eardley opened #790 "Update Journal CSV"
Add the extra fields from the reapplication to the CSV created regularly, covering all journals by ISSN.

[2015-07-06 11:28] dommitchell commented on #790
Feedback:

- blank line between each entry needs to go
- two missing columns: The Tick, The Seal
- country of publisher and currency needs to be written in full, not the codes

[2015-07-06 11:38] dommitchell commented on #608
@greboun can you have a think about the wording for the link in the screenshot above?

[2015-07-06 11:46] Steven-Eardley commented on #769
@dommitchell I've pushed this to live now - ready for review. Thanks for the pointers!

[2015-07-06 11:49] dommitchell commented on #451
@richard-jones OK. Yes, (5) could be a problem. Can it be tightened up? If a journal has 2 ISSNs then it must be assumed that they are both correct. That means that the 'odd' ISSN in the article is probably an error. I would prefer it (5) resulted in an error....

And then 6-9 talk about journals only. I am not sure how they fit in here since this is about uploading article metadata but I know I a

[2015-07-06 12:05] dommitchell commented on #769
Checked in an SEO browser. This is great!

[2015-07-06 12:05] #769 closed

[2015-07-06 12:07] Steven-Eardley commented on #777
This is live now

[2015-07-06 12:09] dommitchell commented on #777
Great!

[2015-07-06 12:09] #777 closed

[2015-07-06 12:14] Steven-Eardley commented on #790
I'm not seeing any blank lines (libreoffice) - does anyone else see them?

[2015-07-06 12:18] dommitchell commented on #790
I am using OpenOffice. I don't see blank lines on the existing CSV that I downloaded from the live site.
![csv](https://cloud.githubusercontent.com/assets/5955396/8521996/d8ccdb8a-23e9-11e5-9ceb-5188bcf9219b.jpg)

[2015-07-06 12:21] dommitchell opened #793 "Application form: text change"
Question 29: change 'For new applications, metadata must be provided within 3 months of acceptance into DOAJ' to ' If yes, metadata must be provided within 3 months of acceptance into DOAJ.'

[2015-07-06 12:42] dommitchell commented on #750
Stephanie, ScienceOpen: We would certainly be very interested in helping to test the DOAJ API. We do not have the capacity to do so however until the end of the summer. Does that still fit into your plans?

[2015-07-06 13:02] dommitchell commented on #775
DRAFT comment

Follow up questions:
1)      From our understanding, the type of records in the collection can be either an article or a journal (from the DOAJ website: Journals- 10,474, Articles- 1,917,620.) Is there a consistent rule that we can use to distinguish between these types according to a different parameter in the records? For example, perhaps the title is in a different?
2)      Will

[2015-07-06 13:13] richard-jones commented on #451
Ok, I'll put this task back on the todo list and implement the rule for (5).

In the mean time 6 should be interpreted as having that behaviour irrespective of the combinations of issns that come in with the article uploads.  So, it doesn't matter if the article has one or other or both of the issns, with the journals that get matched in the described situation defined in there, the import will fa

[2015-07-06 13:36] dommitchell commented on #451
Good job someone's on the ball!

Which journal will the article be assigned to? I presume it won't duplicate and be attached to both?

[2015-07-06 13:41] richard-jones commented on #451
The article isn't assigned to a journal as such - the connection happens dynamically via the ISSN.  So, in this case the article would appear in search listings and ToCs for both journals.

[2015-07-06 13:44] dommitchell commented on #451
OK, all good. Thanks for helping me through this one!

[2015-07-06 13:45] dommitchell commented on #775
Comment above updated. Thinking we might need an 'OAI' label?

[2015-07-06 13:59] emanuil-tolev commented on #750
Yeah, that's fine of course, just that changes they suggest (that are not bugs) will probably go on a feature list and be prioritised for development. The CRUD API has much more scope really for piloting and changes (at least 5 days worth of such changes). But of course feedback is welcome at any stage, end of summer being just fine. We should probably set up a Google Group for API users actually,

[2015-07-06 15:14] emanuil-tolev opened #794 "Test static pages"
Take the server app out of the BDD tests branch (or any of the recent projects that have use a LiveServer class to spawn an app for target practice) and use requests to get all static pages. It's fine / better to use introspection to e.g. get all routes under app.py and portality.view.doaj since these are all supposed to be public, and it would mean not having to add new tests when new pages are a

[2015-07-06 15:27] Steven-Eardley commented on #790
We think the new-lines are a product of me generating the example on my mac - Richard confirmed they were there in the file I emailed, but not present when he generated them on his machine.

So I'll make the other changes then I'll send another sample, this time generated from a system on the same platform as the live site.

[2015-07-07 06:20] dommitchell opened #795 "Display bug truncating article list"
In trying to delete duplicate records from the admin view, the list of 387 articles (makes no difference if you set article list to a smaller number) truncates after the 3rd:

https://doaj.org/admin/admin_site_search?source={%22query%22%3A{%22filtered%22%3A{%22filter%22%3A{%22bool%22%3A{%22must%22%3A[{%22term%22%3A{%22_type%22%3A%22article%22}}%2C{%22term%22%3A{%22bibjson.year.exact%22%3A%222003%2

[2015-07-07 06:21] dommitchell commented on #795
It seems it is that article 6cbf05c9d272482c9633e88c877fa8d0 which is breaking something. Can you investigate?

[2015-07-08 15:00] Steven-Eardley commented on #790
@dommitchell this is now live, can you check there are no blank lines issues with the CSV it's generated?

[2015-07-09 06:41] dommitchell commented on #790
Looking good!

[2015-07-09 13:51] Nimphal commented on #735
@richard-jones should the API be returning a JSON 404 ? Right now it redirects to a Not found page. And are there any other return codes?

[2015-07-09 15:50] Nimphal commented on #735
In portality/settings.py

[code]

but in the search function it's defaulting to 10

[code]

[2015-07-10 09:17] dommitchell opened #800 "Workflow: ability to select multiple records and perform batch operations"
We have publishers where for all re/applications DOAJ criteria are met and which can be handled as one case. Possible difficulty Subject index. The following functions need to be developed:
- select all journals/applications from one publisher and:
   allocate to editorial group
   change status and insert note
   remove / put in to DOAJ and insert note
- batch change status eg from reapplication

[2015-07-10 09:24] dommitchell opened #801 "Bring facet labels and statuses in line with each other"
So the final list in the Admin view of either an Application or a Reapplication will look like this:

'reapplication in progress' changes to 'reapplication pending' (only visible to admin and publishers)
reapplication submitted (only visible to admin and publishers)
pending (only visible to asseds, editors, admin)
in progress (only visible to asseds, editors, admin)
completed (NEW - only visible t

[2015-07-10 11:07] greboun commented on #801
the facets in the admin interface for applications are **reapplications**,
,**submitted** , pending, in progress , ready, accepted, rejected,  on hold.
In this **reapplications**=**reapplications pending** with the publisher, **submitted**= reapplications submitted by a publisher the others are statusses with the editorial team
In the dropdown of the application form we have **reapplication submit

[2015-07-10 13:01] greboun commented on #800
we want to be able to select multiple applications or journals
-batch reject with insert of note
-batch accept with insert of note
-batch allocate to editorial group
-batch change status  eg from reapplication submitted to pending
-------[batch edit certain fields in the application form (except for issn,journal name and other journal specific fields)][maybe too difficult to implement]
-batch edit

[2015-07-10 14:26] emanuil-tolev opened #803 "API responses field sort order"
Dictionaries are by definition unsorted so this is extremely low priority but it'd be nice to sort some keys to the top so it works best with the live demo docs.

[2015-07-12 15:45] emanuil-tolev commented on #696
The problem here is that the continuations implementation overrides which bibjson is being shown (the historic bibjson) but the journal object remains as the current journal. This is because at the time of writing PVOD, continuations were a bunch of data related to a current journal and not treated as a first-class journal object. The continuations & workflow mgmt project should make this better.

[2015-07-13 07:57] richard-jones commented on #735
Just to provide a response (handled in a meeting) on the above, note that the default is 10, but the DISCOVERY_MAX_PAGE_SIZE parameter specifies the largest allowable value supplied by the user.  We do not have a configurable default size, but it is easy to add.

[2015-07-13 08:22] richard-jones commented on #735
Documentation points for the Search API that need to be covered:

# The query string itself

The format of the query part of the URL is that of a Lucene query string, as documented here: https://lucene.apache.org/core/2_9_4/queryparsersyntax.html

Some of the lucene query syntax has been disabled in order to prevent queries which may damage performance.  The disabled features are:

1. Wildcard sea

[2015-07-13 08:34] dommitchell commented on #800
Ready to be assessed.

[2015-07-13 08:45] dommitchell commented on #801
@greboun all reapplication records get a 'View original record' link at the top.

[2015-07-13 08:47] dommitchell commented on #801
@greboun can you complete the task description so it clearly states what the changes are that we want? Thanks!

[2015-07-13 08:50] dommitchell commented on #721
Awaiting feedback from librarian

[2015-07-13 08:54] emanuil-tolev commented on #713
Done, finally. Review? (I did by clicking all the links, all seem gone.)

[2015-07-13 09:02] richard-jones commented on #736
@Steven-Eardley - when I ran the migration, after the end of the actual migration, the script just kept processing empty accounts until I killed it:

added account volkandemir to batch update
added account womble to batch update
added account yadollahpour to batch update
added account zavaraqi to batch update
added account - to batch update
added account - to batch update
added account - to batch

[2015-07-13 09:03] emanuil-tolev commented on #776
Done!

[2015-07-13 09:25] richard-jones commented on #736
Also, I notice that the 401 on unauthorised gives back a web page - should this also return a json response?

[2015-07-13 10:05] emanuil-tolev commented on #736
(if you do add that @Steven-Eardley there's a _bad_request func that's used elsewhere for JSON errors)

[2015-07-13 10:20] richard-jones commented on #735
Also, note, that the API will also support jsonp, which means that the user can provide a "callback" url parameter, and that will return the json wrapped in that callback as a javascript function.  So:

    /api/v1/seach/journals/title:acta%20AND%20publisher:wiley?page=2&pageSize=50&sort=title:desc&callback=myjsonp

will give back

   myjsonp(
     {the result object}
    )

[2015-07-13 10:24] Steven-Eardley commented on #736
So in today's meeting did we agree that @emanuil-tolev will look at writing error handlers?
@richard-jones When I run the script I don't see any account names; only bulk operations:

[code]

[2015-07-13 12:36] dommitchell commented on #696
Great!

[2015-07-13 12:36] #696 closed

[2015-07-13 12:37] #776 closed

[2015-07-13 12:38] #713 closed

[2015-07-13 12:43] emanuil-tolev commented on #145
This works now, confirmed in #696 by @dommitchell .

[2015-07-13 12:43] #145 closed

[2015-07-13 12:59] Steven-Eardley commented on #793
You'll see this change on live now.

[2015-07-13 13:09] #793 closed

[2015-07-13 19:37] richard-jones commented on #782
I've added a feature to the Administrative Site Search in the admin are which provides two buttons: Delete Selected Articles and Delete Selected Journals.

These buttons are disabled by default, and each will only become active once you have selected either "journals" or "articles" from the Journals vs Articles facet at the top on the left.

Once active, when pressed, the button will delete all of

[2015-07-14 06:30] dommitchell commented on #782
This is no different to now, right?

[2015-07-14 07:48] dommitchell opened #808 "Unlock and close button sometimes doesn't work"
Clicking the unlock and close button on this record did not work. This was the second record todya.

https://doaj.org/admin/journal/5533821ba5034376b8c520bf989a2064#done

9.40am CET today

Info from developer console in Firefox:

Using //@ to indicate sourceMappingURL pragmas is deprecated. Use //# instead jquery.min.js:1:0
Use of getAttributeNode() is deprecated. Use getAttribute() instead. jquer

[2015-07-14 13:24] richard-jones commented on #808
Can you run through for me the steps that you took prior to this, from
discovering the journal to edit through any changes you made, to finally
discovering that the button didn't work?

[2015-07-14 14:33] dommitchell commented on #808
Sure!

Admin - journals - search, search term: 'TELOS' - edit journal (https://doaj.org/admin/journal/5533821ba5034376b8c520bf989a2064) - decided against making a change - hit unlock.

[2015-07-15 09:14] dommitchell opened #809 "Question: how difficult to regenerate a CSv file for an extra large publisher?"
A publisher will over 300 journals has now had their 4 accounts merged and would like us to regenerate their CSV. How possible/difficult/ expensive will this be?

[2015-07-15 09:53] dommitchell opened #810 "Journal ToCs: languages should be A to Z not Z to A"
Compare https://doaj.org/toc/2409-5540 with https://doaj.org/admin/journals?source={%22query%22%3A{%22query_string%22%3A{%22query%22%3A%222409\\-5540%22%2C%22default_operator%22%3A%22AND%22}}%2C%22from%22%3A0%2C%22size%22%3A10}

Language listing should be A to Z

[2015-07-15 10:02] dommitchell commented on #782
@emanuil-tolev @richard-jones I have just received another 60 delete requests. Can we get this on to testing please so I can test and then get it rolled out?

[2015-07-15 10:03] dommitchell commented on #451
Not sure how I can test this one? Any advice?

[2015-07-15 10:03] dommitchell commented on #323
@richard-jones Can this one be closed?

[2015-07-15 10:10] emanuil-tolev commented on #323
This relates to the reapplication shutdown @dommitchell , which hasn't come about yet :)

[2015-07-15 10:12] emanuil-tolev commented on #451
Hm. I guess consider the original issue?

Do you still have to remove an ISSN from some journal records to allow publishers to upload metadata? There's no concrete example in the original post, but you and the other editors might have an idea of which journals had this problem?

[2015-07-15 10:40] Nimphal commented on #735
Tthis is too much to put in a description and definitely too complex formatting for Swagger UI to handle. I propose we have two pages - one with the swagger generated docs, which has interactive examples, short descriptions and schemas, and one with more general descriptions like the comment above. There's still value in the interactive examples, but it seems there are some things only a markdown

[2015-07-15 10:51] emanuil-tolev commented on #735
Can we add that in a section below / above the interactive examples? Can be collapsible and with a clear, big heading.

[2015-07-15 13:11] greboun commented on #808
The same thing happened to me with an application it updated but did not
unlock and close

application
https://doaj.org/admin/suggestion/55e4b2f6550d4d16afd8b96f1f34778b#done

time  (amsterdam  3.02 pm)

using browser Chrome
js console message

*Scripts may close only the windows that were opened by it.*

TOM

Dr. Tom Olijhoek
Editor-in-Chief  DOAJ

On Tue, Jul 14, 2015 at 4:33 PM, dommitchell <no

[2015-07-15 14:42] greboun commented on #801
what we want is in the application view dropdown
 reapplication pending, reapplication submitted, pending,in progress , completed, ready, accepted, rejected on hold.
Only editor can set status to ready
ass editor can set status from pending to in progress or completed,
Editor and ass editor cannot see reapp pending,reapp submitted in application dropdown
man ed can see and set status reapplication

[2015-07-15 18:15] Steven-Eardley opened #811 "Add new record to models: "human last updated""
- [x] Update Journals / Suggestions to include a field recording when a person last updated it
- [x] Add a facet on admin search on this field
- [x] Migration to add field to journals / suggestions
- [x] Tests

related: #689

[2015-07-15 18:16] Steven-Eardley opened #812 "Add new status for applications: "completed""
See issue #801 for details on workflow

[2015-07-16 08:53] emanuil-tolev opened #813 "Opengraph URL"
og:url seems to override any other metadata provided

http://stackoverflow.com/questions/7830846/ogurl-is-driving-me-crazy

So anything you share will only ever have the homepage's metadata, rather than the data from a specific article / journal page. So if I go here https://doaj.org/toc/1307-4733 and share it, it'll just say "Directory of Open Access Journals", not have _that_ page's title.

og:u

[2015-07-16 10:31] Steven-Eardley commented on #813
Is this causing a particular problem? I set the og:url because it's 'required' by Facebook - it means the entity for DOAJ is always resolved properly for all page shares.

[2015-07-16 11:28] emanuil-tolev commented on #813
No, just I guess not what we'd have expected? If we set it just to request.url it will scrape the right tags.

I guess it makes all our tags except og:url useless basically, since FB just always looks at the homepage. og:url overrides anything else you put on your page, and then it goes and looks at OpenGraph on whatever page og:url points to.

[2015-07-16 15:20] Steven-Eardley commented on #811
@dommitchell I'm deciding what to initialise this field to - would it be useful to have an initial value to this field such as 'None' or 'Never'? (which of these makes more sense?)

I've chosen to name it 'Last manual update' so it will appear in the admin facetview results as:

**Last manual update:** None

Until it's been saved by a form, of course.

[2015-07-16 15:55] dommitchell commented on #811
@Steven-Eardley how about 'Never'

[2015-07-16 15:55] dommitchell commented on #811
How will this be differentiated from the automatic update? what will that line say?

[2015-07-16 15:57] Steven-Eardley commented on #811
I've left that as 'Last updated' which will contain both manual and automatic changes (i.e. whenever something is saved back into the index)

[2015-07-16 16:00] dommitchell commented on #811
Great! And then we must be able to sort search results on that new line. 'Last updated' should be repointed to the Last manual update date, if that makes sense?

![sort](https://cloud.githubusercontent.com/assets/5955396/8728284/96b6e210-2be4-11e5-913f-2b87474a94ab.jpg)

[2015-07-16 16:06] Steven-Eardley commented on #811
It does make sense, thanks!

[2015-07-16 18:57] Steven-Eardley opened #814 "Additional synchronous email notifications during review pipeline"
Make additions to emails sent during review process ('current' means already in the app)

*Managing Editors (Admin)*
- [x] a record has been marked as Ready

*Editors*
- [x] a record has been assigned to your Editor group (current)
- [x] a record has been marked as 'completed' by an AssEd
- [x] a Ready record has been switched back to 'In Progress' again by ManEd (Admin)

*Associate Editors*
- [x]

[2015-07-17 07:28] dommitchell commented on #671
Closing and transferring to #801

[2015-07-17 07:28] #671 closed

[2015-07-17 07:32] dommitchell commented on #801
@greboun and the list in the dropdown, and who can see what, will be the same whether it is an application or a REapplication. That is OK, yes?

Please review and approve what I have written below and we can sign this off for Steve:

So the final list in the Admin view of either an Application or a Reapplication will look like this:

'reapplication in progress' changes to 'reapplication pending' (

[2015-07-17 07:38] dommitchell commented on #785
@richard-jones wouldn't this be better as part of the workflow project that @Steven-Eardley is doing?

[2015-07-17 07:39] dommitchell commented on #520
Transferring each item to their own individual tasks and closing

[2015-07-17 07:39] #520 closed

[2015-07-17 07:40] dommitchell opened #815 "An application or reapplication should not be save-able without a Classification"
Some applications and reapplications are being saved without a classification.

Please make it so that at least ONE classification must be present upon saving.

[2015-07-17 07:40] dommitchell commented on #815
@richard-jones can this be part of the workflow project?

[2015-07-17 07:41] dommitchell commented on #815
Transferred from #520

[2015-07-17 09:08] greboun commented on #801
Agreed.   Looks good to me

[2015-07-17 09:57] dommitchell commented on #801
Thanks! @Steven-Eardley task description now updated and signed off by us. Over to you!

[2015-07-17 12:33] greboun commented on #608
suggest: copyright&Licensing help

[2015-07-17 12:57] dommitchell commented on #608
@Steven-Eardley can you add them to my branch so I can edit them?

https://github.com/DOAJ/doaj/tree/static_pages/portality/templates/doaj

[2015-07-17 13:25] Steven-Eardley commented on #608
@dommitchell they're in static_pages now!

[2015-07-17 15:40] Steven-Eardley commented on #811
@dommitchell I don't really want to have the sort field 'Last updated' named after the old field but pointed to another - the sort option for the new field will be called 'Last manual Update' in the drop-down. Do you want me to keep 'Last updated' too, or remove it?

[2015-07-17 16:04] emanuil-tolev commented on #735
This doesn't work unfortunately. DOI searching with forward slashes again I think. Not too hard to fix hopefully.

For the query

[code]

sent through the live demo docs, I get this in the log:

[code]

[2015-07-17 16:49] emanuil-tolev commented on #752
Biggest question here for me now is - should the lump of text related to search be:

A. below the live demos
B. if it remains in the main description above the live demos, should it be collapsible? Thinking that eventually we'll have CRUD routes in there as well and the search notes don't apply to those.

[2015-07-17 16:56] emanuil-tolev commented on #752
Another big note to make is that I've decided to leave the API docs public - including for the private routes. I was about to hack flask-swagger to let us have one public docs page with 2 routes and one private docs page for publishers with all the rest of the routes, but actually this is not usual. I would recommend leaving the docs open and fielding the occasional question "how do I use this rou

[2015-07-20 06:48] dommitchell commented on #752
@emanuil-tolev happy with this approach but let me get this clear: DOAJ would still have to assign the API role to someone for them to get a key to use the API right?

[2015-07-20 07:08] dommitchell commented on #811
@Steven-Eardley this only appears in the admin view. We have always used 'last updated' in the way that 'last manual update' will be used now. We won't use the existing 'Last updated' at all now so it can go. If we *can* retain just 'last updated' that is going to be much better from a UI point of view.

[2015-07-20 07:58] dommitchell commented on #608
Both pages now submitted with text. Sorry for the delay! This can go live now.

[2015-07-20 08:06] Steven-Eardley commented on #811
Ah, good point - thanks for clarifying. I'll re-point the 'last updated' drop down label to the new field like you say. I'll try to make it clear in code comments to avoid confusion down the line.

[2015-07-20 08:46] dommitchell opened #817 "Change green 'Save application' button to read just 'SAVE'"
This change should happen across ALL instances of the application and reapplication form in Admin.

[2015-07-20 08:47] dommitchell commented on #782
What's the status of this?

[2015-07-20 08:51] emanuil-tolev commented on #782
Sorry I hadn't seen your previous question.

This should be on test now. https://testdoaj.cottagelabs.com .

[2015-07-20 10:37] richard-jones commented on #735
I've now had a bit of a deep think about this, and just wanted to document what I plan to do before I do it.

First off, I've found an updated version of the query syntax documentation which actually lists "/" as a reserved character.  Everything else is the same as the syntax linked from the earlier comment:

http://lucene.apache.org/core/5_2_1/queryparser/org/apache/lucene/queryparser/classic/pa

[2015-07-20 11:21] emanuil-tolev commented on #735
I think we actually did this in fv1, by escaping double quotes. At least I'm pretty sure we did.

However this is an API, not a GUI. I think finding unmatched characters is a bit much. If we could raise a sensible error there that's better. Though I guess we'd have to find the unmatched char to say "you have an unmatched char" :(.

Searching directly by DOI does sound like a very sensible thing fo

[2015-07-20 12:33] richard-jones commented on #735
Yes, we did - facetview has some fairly comprehensive string escaping stuff, but it's designed around the premis that the user is providing us with the string they want to search for, not the lucene query string, so we are safe to mess with it in that way.

Finding unmatched characters does already sort of work, in so much as the ES query will fail if the string is malformed, but this is presented

[2015-07-20 15:14] richard-jones commented on #735
OK, there's a PR in that does the job.

Updates required to the documentation:

* Use the latest lucene query syntax documentation

http://lucene.apache.org/core/5_2_1/queryparser/org/apache/lucene/queryparser/classic/package-summary.html

You may want to find a better reference - this is actually from the javadocs, but I haven't yet seen one that's more like a tutorial that is worth using.

* Add

[2015-07-20 18:42] richard-jones commented on #385
Ok, so just to be clear, the only thing that's outstanding is ensuring that notes are presented in the correct chronological order, most recent note first?

I've just done a refresher in my mind for how this all works, and it looks like admins can now delete notes, and I'm not sure what the "duplication feature" is, but it's ticked so I guess is good?

[2015-07-20 19:43] richard-jones commented on #385
For my own purposes, this is what we need to do:

1. Change the UI so that "Add new Note" creates the note edit box at the top of the list
2. Change the form-context so that it checks the timestamp of each note, and ensures that it is added/transferred to the object in the correct order

[2015-07-20 19:46] richard-jones commented on #801
Agreed that this should be part of the Workflow project, so we've added it to that milestone.

The straightforward task of relabelling the facets and drop down options is covered by that project, so there'll only be any tnm cost if we need to change any behaviour regarding the visibility of the various options ( @Steven-Eardley will keep track).

[2015-07-20 19:52] richard-jones commented on #800
We could do this under tnm, but not under the current block, as I'd estimate this at a fair few days dev and testing (testing, especially, as this has the opportunity to do plenty of harm to the database), so would exceed our time allocation by some margin.

I'd also slightly prefer to estimate for this separately as a mini-project since it's actually an entire new feature-set, and we would also w

[2015-07-20 20:00] richard-jones commented on #764
With regard to the login, I think it's right to avoid having people log in - otherwise you'll either need to allow anonymous account registration, or auto-create accounts based on a login from google/twitter/facebook (the latter, btw, is easy for the end user, but a significant bit of dev on our side to allow that to happen!).

Adding a plain old email link is the easiest possible option, but woul

[2015-07-20 20:23] richard-jones commented on #343
For my benefit during implementation:

1. Add new option to facet, to turn on "show all missing".  This requires a default value (false), and will require the terms facet renderer to render a custom link at the top/bottom of the facets.  When "show all missing" is selected, this should be rendered as a removable filter option, as if it were a normal filter value, which means modifying the first pa

[2015-07-20 20:25] richard-jones commented on #343
@dommitchell - just bouncing this over to you one more time before putting it on the approved list; I've done an analysis of the amount of work involved, and it is at least a day, possibly a little longer depending on how well the difficult bits go.  Are you happy to go ahead on that basis?

[2015-07-20 20:37] richard-jones commented on #815
This is hopefully quite staightforward, requiring an update to the Subject form in formcontext/forms.py ... but ... we need to see how that required field setting plays with the javascript jtree front-end, and what happens when the validation fails.  May require some UI tweaking to make it behave in a sensible way.

We could package this with the Workflow project, if that makes the most sense in t

[2015-07-20 20:39] richard-jones commented on #590
@emanuil-tolev - have these been done, can we close this issue off?

[2015-07-21 06:31] dommitchell commented on #608
@Steven-Eardley not seeing this on test yet

[2015-07-21 06:34] dommitchell commented on #764
@richard-jones can you price me for the first two options?

1) adding an email link and 2) a form?

[2015-07-21 06:36] dommitchell commented on #800
@richard-jones let's get a price for that option then. This is fairly crucial to speed up ManEds work so there are cost savings to be had elsewhere.

@greboun agree?

[2015-07-21 06:38] dommitchell commented on #385
Correct! Please go ahead!

[2015-07-21 08:15] dommitchell opened #819 "Report: CSV report of email addresses - reapplication reminders"
Run a report to generate a single CSV of email addresses and account numbers where:

- all accounts with <11 journals that have a journal in DOAJ and a pending Reapplication record.

Will need to be run in Sept, Nov and Dec

[2015-07-21 09:12] greboun commented on #800
@richard-jones <https://github.com/richard-jones>
@dommitchell

Agreed   this is a very useful extension of the editing capabilities

Dr. Tom Olijhoek
Editor-in-Chief  DOAJ

On Tue, Jul 21, 2015 at 8:36 AM, dommitchell <notifications@github.com>
wrote:

[2015-07-21 12:36] Steven-Eardley commented on #608
@dommitchell Just reviewed this locally - your volunteers page says:

Would you like to replace the placeholder before I do the work to merge it all into the main branch?

[2015-07-23 11:44] Steven-Eardley commented on #734
@emanuil-tolev close if happy with this :)

[2015-07-23 16:17] Steven-Eardley commented on #814
@dommitchell I have a couple of questions about this:
* does it matter who has set to ready? (admin / editors can use this status, so do admins get emails if an admin sets to ready?)
* are the admins contacted via the group email address (as used by editors to contact them from the editor page), or individually using the email addresses in their accounts?

[2015-07-23 16:41] emanuil-tolev commented on #739
A bit more useful detail here for @Nimphal and @bg280:

The focal points are portality.view.api_v1.py#retrieve_journal (the API controller for the journal retrieve route) and portality/api/v1/crud/journals.py , the workhorse file.

If you're having problems with authentication it would be wise to check if portality.decorators.py#api_key_optional is working correctly since it was hastily written by

[2015-07-23 17:09] emanuil-tolev commented on #734
Yep let's close - if problems arise we can reopen. But looks good and it's got tests and a UI and all, so doubt it.

[2015-07-23 17:09] #734 closed

[2015-07-23 17:10] emanuil-tolev commented on #736
We did.

FYI also here: I added an api_key_optional decorator so you can make a request without a key (then the route has to handle current_user being undefined) or with a key (but it has to be a real key and your api privileges must not have been revoked).

[2015-07-30 09:40] dommitchell commented on #743
Fabio Batalha Cunha dos Santos, Scielo:
It will be a pleasure for us to help you in testing the CRUD API.

We just need to previously have any kind of direction about how the tests will be conduct to check our availability.

[2015-07-30 09:54] dommitchell commented on #800
@richard-jones if you can estimate the work, we'll discuss this with the other TNMs at the next team hangout.

[2015-07-30 09:56] dommitchell commented on #608
Sorry. Please do not make live yet.

[2015-07-30 10:09] dommitchell commented on #809
@richard-jones Just putting this on your radar. I'd like to be able to reply to the publisher in the next couple of weeks.

[2015-07-30 13:13] richard-jones commented on #795
Sorry, this slipped by me - I've done a fix for this, and there is a PR in ready for review.

[2015-07-30 16:22] emanuil-tolev commented on #795
Rolled out

[2015-08-01 10:37] emanuil-tolev opened #824 "XML article ingestion issue with a few files"
cc @richard-jones @Steven-Eardley

Not sure if bug or not.

[code]

[code]

[code]

You get the picture. Query objects too large (?!) maybe?

[2015-08-01 11:10] richard-jones commented on #824
Looks like the abstract on some articles is to large to be held in .exact

Probably this is a warning to us to consider being more specific about the
mappings which will be important as the index gets bigger like when we do
the harvester project.

Do these errors kill the importer?

R
On 1 Aug 2015 11:37 am, "Emanuil Tolev" <notifications@github.com> wrote:

[2015-08-01 11:36] Steven-Eardley commented on #814
@richard-jones it looks like the email to editors or associate editors when a **journal** has been assigned to them are never used - the template is never called from ```ManEdJournalReview()```, for example. (see https://github.com/DOAJ/doaj/blob/develop/portality/formcontext/formcontext.py#L1110).

Was this disabled intentionally, or shall I restore this functionality?

[2015-08-03 06:56] dommitchell commented on #795
Great!

[2015-08-03 06:56] #795 closed

[2015-08-03 08:48] richard-jones commented on #824
Yup, this: http://stackoverflow.com/questions/24019868/utf8-encoding-is-longer-than-the-max-length-32766

[2015-08-03 08:49] richard-jones commented on #824
And actually, looking at the comments, it has probably always been doing this for very large abstracts, but failing silently until you recently upgraded ES to the latest version.

[2015-08-03 08:52] emanuil-tolev commented on #824
No idea, but I guess some articles won't be imported? Which would be a problem.

[2015-08-03 08:52] emanuil-tolev commented on #824
It seems to still say "success" at the end...

[2015-08-03 08:55] richard-jones commented on #810
The language list is essentially unordered, since the user can enter them in the application form in any sequence, so what comes out here ought to be random, or at most weakly connected to whatever the user did when they created the journal.  Since intermediate processing also happens on the languages (e.g. to convert them from codes to names) they could also be in different orders in different co

[2015-08-03 08:58] richard-jones commented on #808
This one is a clear case of the window being opened via an external link rather than from the search.  The error:

*Scripts may close only the windows that were opened by it.*

Indicates that the browser has explicitly blocked the request by the script to close the window, and unfortunately that's beyond our ability to overcome.

I have been pondering an overall better solution, and the only thing

[2015-08-03 09:01] dommitchell commented on #808
I think we leave this for now. It's sporadic enough to not warrant any more time just yet. We can revisit if it becomes more persistent.

[2015-08-03 09:01] #808 closed

[2015-08-03 09:02] richard-jones commented on #824
Yes, I believe this is succeeding, and all that happens is that we cannot to .exact matches on abstracts in some cases, which we don't anyway.

[2015-08-03 09:05] richard-jones opened #826 "Review index mappings and optimise"
As the index grows we're going to need to think more carefully about our mappings, so that we can optimise the storage and searchability of terms.  In particular, blanket application of .exact may no longer be suitable.  Probably tackle this in the Harvester project?

[2015-08-03 09:20] richard-jones commented on #809
Can you mail me the publisher's new account details and the 4 previous accounts so I can take a look.

Doing this is relatively straightforward, so we should be able to generate the csv and their reapplications quite quickly, but it will depend on the state of the applications at the moment, and I'll need to check that I know what will happen.

Also, this will "reset" their reapplication spreadshe

[2015-08-03 09:34] richard-jones commented on #775
1) From our understanding, the type of records in the collection can be either an article or a journal (from the DOAJ website: Journals- 10,474, Articles- 1,917,620.) Is there a consistent rule that we can use to distinguish between these types according to a different parameter in the records? For example, perhaps the title is in a different?

They are available under different OAI endpoints: oai

[2015-08-03 09:35] richard-jones commented on #766
@dommitchell - bouncing this back to you for action when the bulk delete is rolled out

[2015-08-03 09:35] richard-jones commented on #733
@dommitchell - bouncing this back to you for action when the bulk delete is rolled out

[2015-08-03 09:35] richard-jones commented on #718
@dommitchell - bouncing this back to you for action when the bulk delete is rolled out

[2015-08-03 09:36] richard-jones commented on #714
@dommitchell - bouncing this back to you for action when the bulk delete is rolled out

[2015-08-03 09:41] richard-jones commented on #751
@emanuil-tolev - just assigning this to you, as not sure where the review happens at this stage.

[2015-08-03 09:44] emanuil-tolev opened #827 "Introduce weekly background job error monitoring"

[2015-08-03 10:03] dommitchell commented on #819
#314

[2015-08-03 16:10] richard-jones commented on #711
These are the dates these were added/updated

last_updated: "2015-04-22T01:25:21Z",
created_date: "2015-04-02T08:00:15Z"

and

last_updated: "2015-04-22T02:27:21Z",
created_date: "2015-04-02T10:00:08Z"

I've done some investigation, and there's no doubt that the matching algorithm is working correctly - I was able to do a mock match for one of these and found the other.

I have also check the arti

[2015-08-04 07:03] dommitchell commented on #711
Closing for now.

[2015-08-04 07:03] #711 closed

[2015-08-04 07:32] dommitchell commented on #775
Thanks for this info. Closing.

[2015-08-04 07:32] #775 closed

[2015-08-04 07:37] dommitchell opened #828 "Links in Owner facet return Not Found error"
https://doaj.org/admin/journals?source={%22query%22%3A{%22filtered%22%3A{%22filter%22%3A{%22bool%22%3A{%22must%22%3A[{%22term%22%3A{%22admin.in_doaj%22%3A%22T%22}}]}}%2C%22query%22%3A{%22query_string%22%3A{%22query%22%3A%22biomed%20central%22%2C%22default_operator%22%3A%22AND%22}}}}%2C%22from%22%3A0%2C%22size%22%3A10}

You used to be able to open the links in new windows but these now return a 'No

[2015-08-04 07:47] dommitchell commented on #809
Emailed details to you.

[2015-08-04 08:17] dommitchell commented on #810
Hmm, I'm not convinced. I tested this and changed the order before I submitted this task. The ordering on the journal home page is clearly Z-A. The original ordering in the journal record was unordered, I think French was first. I changed the order manually to alphabetical ordering but no difference was made to the journal home page.

At the very least: updating the order in a journal record shoul

[2015-08-04 08:44] emanuil-tolev commented on #828
I'm not sure I follow - the values in the facets are not supposed to be real links, they're basically used by the Javascript interface so it matters what you click on, rather than what the link is. Isn't that true for most facets across all search UIs on the site? (That the links the values point to are nonexistent.)

I guess the expectation here is that you would be able to click on "Owner" in th

[2015-08-04 08:57] emanuil-tolev opened #829 "Set ES to regularly clear field data on test server"
Every 4-6 hours might be good. Restart it if that's the only way to clear the field data, it shouldn't kill the app as it only takes about 20s.

[2015-08-04 09:14] dommitchell opened #830 "Evidence that matching doesn't always work for article uploads"
https://doaj.org/toc/2166-6482/29/4
https://doaj.org/toc/2166-6482/29/3
https://doaj.org/toc/2166-6482/29/2
https://doaj.org/toc/2166-6482/29/1

In #711 @richard-jones says:
"there's no doubt that the matching algorithm is working correctly - I was able to do a mock match for one of these and found the other." https://github.com/DOAJ/doaj/issues/711#issuecomment-127292406 and yet we can see that t

[2015-08-04 09:27] dommitchell commented on #828
Yeh, I think you are right. There *is* somewhere in the DB where one can right click and a Not Found isn't produced (User db maybe) but I think I am confusing them.

CLosing

[2015-08-04 09:27] #828 closed

[2015-08-04 11:08] richard-jones commented on #810
I've looked a bit deeper, and there's no explicit ordering being done on either the javascript or the ToC side.  My guess is that the list de-duplication process that the list of languages uses winds up ordering it, but this is only used on the ToC where the English names of the languages are displayed, while the admin search interface just displays the codes.

[2015-08-04 12:41] dommitchell commented on #830
More evidence from Hindawi:
"Yes, uploading files is working fine, thank you. But I noticed that some of the re-uploaded files appear duplicated on your website! I think there is a bug occurs when parsing the metadata XML on your systems."

https://doaj.org/toc/1563-5147/2014
101473 3 times
101626 3 times
101808 3 times

https://doaj.org/toc/1687-4129/2014
102621 3 times
103418 3 times

[2015-08-10 06:43] dommitchell commented on #733
Done

[2015-08-10 06:43] #733 closed

[2015-08-10 06:43] dommitchell commented on #782
Tried on live. Works great

[2015-08-10 06:43] #782 closed

[2015-08-10 06:45] dommitchell commented on #766
Done

[2015-08-10 06:45] #766 closed

[2015-08-10 06:46] dommitchell commented on #718
Done

[2015-08-10 06:46] #718 closed

[2015-08-10 06:47] dommitchell commented on #714
Done

[2015-08-10 06:47] #714 closed

[2015-08-10 06:49] dommitchell commented on #682
Done

[2015-08-10 06:49] #682 closed

[2015-08-10 07:17] dommitchell opened #832 "Number of accepted reapplications"
Can you get me the number of records re-accepted back into DOAJ after reapplication?

[2015-08-10 09:46] dommitchell commented on #832
239 journals that are now live in DOAJ. 2 removed.

[2015-08-10 09:46] #832 closed

[2015-08-10 12:21] dommitchell commented on #343
@richard-jones yes, this is fine. Please proceed

[2015-08-10 12:24] dommitchell commented on #800
@richard-jones and scheduling please

[2015-08-10 13:35] dommitchell opened #833 "Update static pages with new information about the API"
In particular the FAQs and the Download metadata section.

[2015-08-11 09:16] dommitchell opened #834 "Add Slideshare icon to homepage"
![slideshare_icon](https://cloud.githubusercontent.com/assets/5955396/9194256/38a1aa12-401a-11e5-94ea-2f21b3a2d0fe.png)

URL: http://www.slideshare.net/doaj/

[2015-08-11 09:16] dommitchell commented on #834
Can you resize to match the others?

[2015-08-12 13:28] dommitchell commented on #810
More on this. A publisher asked me to change the language ordering so I did it in test.

As the journal appears in admin before any changes. Note language ordering: EN, FR, IT, PT, ES
![anuac1](https://cloud.githubusercontent.com/assets/5955396/9224807/9a686b46-4105-11e5-92e0-432c0574f572.jpg)

and on the ToC page: PT, ES, IT, FR, EN
![anuac3](https://cloud.githubusercontent.com/assets/5955396/922

[2015-08-12 13:37] dommitchell commented on #790
Could you update the column heading for column AW which currently says 'Open Access'? Can it be changed to: 'Does the journal allow readers to 'read, download, copy, distribute, print, search, or link to the full texts' of its articles?'

[2015-08-13 09:54] richard-jones commented on #800
I've considered 2 possible approaches to this:

1/ Provide the usual application/journal form to be used as a kind of "overlay" on records being edited.  This would mean that all bulk operations are done through the one form, and that the contents of that form are overlaid onto all selected items.  This includes allocation to editorial group, status changes, notes.  It wouldn't cover bulk withdraw

[2015-08-13 10:17] richard-jones commented on #764
Ok, here are the 2 options

1/ Adding an email link
* place some text of your choosing on the ToC, containing a mailto link which will automatically set the subject in the user's mailer to the ISSN of the journal

Easy to do, would be between 1 and 2 hours via tnm, I'd expect

2/ Contact form
* Replace the current Contact Us page with an actual contact form, which can take the subject as a url par

[2015-08-13 10:39] richard-jones opened #835 "Continuations data model refactor"
Refactor system to handle continuations as first-class Journal objects

* Data model and related object model changes to support continuation information at the root of the Journal object
* Refactor Journal and Suggestion object models for consistency with new models
* Update current continuation handling functions to the new model
* Modify existing save routines to handle the new continuations ap

[2015-08-13 10:41] richard-jones opened #836 "Discontinuation model support"
Managing Continuations and Discontinuations

* Add new data model and object model features to support discontinuation of a journal
* ManEd edit form to allow discontinuation dates to be set
* ManEd edit form to allow continuation information to be set
* Option to create a new journal as a continuation from an existing journal, which will copy the supplied journal's data, and pre-set the continuat

[2015-08-13 10:42] richard-jones opened #837 "Suggest a continuation"
Addition of a feedback link on each Journal ToC which goes to a DOAJ email address (not a contact form), for providing information about continuation/discontinuation of a journal (or anything else the user wants to email about).

Note: if, in the mean time #764 develops a contact form, we can switch the link on the ToC to point to the same form with a different subject line.

[2015-08-13 10:43] richard-jones opened #838 "New continuations facets for admin area"
Provide facets to allow filtering by discontinued and/or continued journals. Will require minor updates to the journal save function to make this data facetable.

[2015-08-13 10:44] richard-jones opened #839 "Present continuations metadata on ToC"
To replace the existing functionality.  Display the active period, and the previous/subsequent journal instances

[2015-08-13 10:46] richard-jones opened #840 "Search interface continuations info"
Search interface should make it clear when a journal has continuations.

What form exactly should this take?

Propose: if discontinued date, display a flag saying "discontinued" (possibly on the left with the other icons), and in the main search text have a link to the ToC for the replacing journal

[2015-08-13 11:04] richard-jones commented on #824
Closing this off - nothing is broken, it's just the new version of ES giving us more information than it used to.  Issue relates to large strings not being able to be stored in .exact, which has always been the case.  Covered by issue #826

[2015-08-13 11:06] richard-jones commented on #813
Is there any action to be taken on this?

[2015-08-13 11:09] emanuil-tolev commented on #813
Yeah, set og:url to request.url (as in from Flask import request) since it ignores the other tags if this one is present. It is quite a small job (say 30 min with testing and submitting it for review) but should result in much nicer shares of DOAJ pages - maybe worth bringing up at next Mon meeting for inclusion in T&M?

[2015-08-13 11:11] richard-jones commented on #810
I'm not sure why the lists are ordered the way they are in the various contexts, all I can say is that there is no explicit ordering applied anywhere in the code, so what you're seeing is a by-product of any intermediate processing that goes on.  For example, in some cases the data goes through a de-duplication process, which in python can be implemented like this:

    list(set(my_list_of_things)

[2015-08-13 11:13] richard-jones commented on #803
You can ask the json serialiser to order the keys

[2015-08-13 11:15] richard-jones commented on #794
@emanuil-tolev @dommitchell - we probably need to briefly cover this in a meeting so that we know whether it is truly a tnm task, or just something to leave until a suitable project requires it.

[2015-08-13 11:23] richard-jones commented on #721
Changed the name of the issue to pertain to what we need to do to fix

[2015-08-13 11:24] richard-jones commented on #692
Is any further action required on this?

[2015-08-13 11:28] richard-jones commented on #688
This final request is closely related to #343

I'm going to close this issue off and add that requirement to the other issue, and put them both through on tnm.

[2015-08-13 11:28] #688 closed

[2015-08-13 11:30] richard-jones commented on #343
While doing this, also look at #688

[2015-08-13 11:31] richard-jones commented on #681
Adding this to the API milestone so it can be tracked and closed off alongside

[2015-08-13 11:36] richard-jones commented on #590
@emanuil-tolev - ping

[2015-08-13 11:38] emanuil-tolev commented on #794
It probably is, as this is about releasing broken static pages (or preventing that) regardless of a running project. Doesn't have to use cucumber, requests is fine, just to check the status code and a basic page content check. Doesn't even have to spawn a separate app in a separate process, flask's own support is enough (as used by @Steven-Eardley in recently written tests for the API auth decorat

[2015-08-13 11:40] richard-jones commented on #395
Not come up again, so closing off

[2015-08-13 11:40] #395 closed

[2015-08-13 11:43] richard-jones commented on #330
We talked about this but didn't update the issue.  The reason is that the journal form and the application form have different questions in them.  In particular there are 2 fields in the application form which are considered part of the application process, but not part of the journal metadata (to do with how many articles were published in the last calendar year).

As such, the numbering of the q

[2015-08-13 11:44] richard-jones commented on #200
We've now replaced the old facetview with a new one, so closing this off.

[2015-08-13 11:44] #200 closed

[2015-08-13 11:45] richard-jones commented on #146
Discovery API now rolled out

[2015-08-13 11:45] #146 closed

[2015-08-13 11:46] richard-jones commented on #71
New facetview rolled out which makes this issue obsolete

[2015-08-13 11:46] #71 closed

[2015-08-13 11:47] richard-jones commented on #47
We may require this for #764 - may make that more effort than originally thought

[2015-08-13 11:48] richard-jones commented on #17
Adding this to continuations milestone so that it can be tracked and closed with that

[2015-08-13 15:18] emanuil-tolev commented on #47
This service may no longer be operational, I get a 500 server error when I try to get an image.

Alternatively we could use a Python library https://github.com/lepture/captcha - we would need to keep track of the string we generate, come up with good strings (e.g. words from a "simple english" dict or just random 4 or 5 digit numbers) and validate the user's answer to the challenge. We need to sto

[2015-08-13 15:19] emanuil-tolev commented on #764
Putting in reCaptcha is easy, but the challenges can be quite difficult, thus discouraging feedback as per #47 . At the point where we scrapped the captcha, I had to click 3-4 times to get something that I could read.

Alternative suggested and estimated at https://github.com/DOAJ/doaj/issues/47#issuecomment-130727012 .

[2015-08-13 17:31] richard-jones opened #842 "Refactor datasets into a single object that can answer a variety of questions"
portality.datasets is getting a little out of hand - refactor required soon.

[2015-08-14 19:46] emanuil-tolev commented on #692
Not immediate, we continue to get a 100 score for most pages but the search page could use some improvements - not necessarily by a designer, though that would help. It's more about using it for 30-60 min in various ways on a phone and tablet, and fixing the problems, auch as libnks a little too close (Google detects this too), page scrolls when you hit next page of results, anything else detected

[2015-08-17 06:56] dommitchell opened #844 "Attempt to delete articles returns error"
https://doaj.org/admin/admin_site_search?source={%22query%22%3A{%22filtered%22%3A{%22filter%22%3A{%22bool%22%3A{%22must%22%3A[{%22term%22%3A{%22bibjson.year.exact%22%3A%222014%22}}%2C{%22term%22%3A{%22_type%22%3A%22article%22}}]}}%2C%22query%22%3A{%22query_string%22%3A{%22query%22%3A%221687\\-0409%22%2C%22default_field%22%3A%22index.issn.exact%22%2C%22default_operator%22%3A%22AND%22}}}}%2C%22from%

[2015-08-17 08:18] dommitchell commented on #764
For both options:
What about on search results too?

2/

But for other users submitting normal feedback, going straight to the form, the subject line would be blank?

We must have a mailer already for the auto-notifications, right?

I think we will have to have this if we implement an online form, no?

That's not a problem for us.

[2015-08-17 08:23] dommitchell commented on #330
I think the obvious answer is to have the numbering locked to each question so that  27 is always 27. How feasible would a solution like that be?

[2015-08-17 08:28] dommitchell commented on #810
I don't understand what this means.

Could it also be a browser thing?

[2015-08-17 08:39] dommitchell commented on #800
Yes agree that we need more discussion. I was imagining check boxes next to each item in a search result. Imagine the article delete functionality except the 'delete articles' button is a dropdown:

reject with automatic insert of note
accept with automatic insert of note
allocate to editorial group
change status

Let's discuss.

[2015-08-17 09:40] richard-jones commented on #794
agreed with @dommitchell to go ahead under tnm

[2015-08-17 10:03] richard-jones commented on #800
RJ to review the work required for the above.

@dommitchell - to think about whether the checkboxes are needed

[2015-08-17 11:21] dommitchell commented on #708
What's the due date on this one?

[2015-08-17 11:33] dommitchell commented on #764
OK, here's our final wish. Going for Option 2:

- links on ToCs ONLY (changed my mind about adding to search)
- contact us form with mailer out to feedback@doaj.org
- some form of spam filter, not recaptcha

[2015-08-17 11:37] dommitchell commented on #800
OK, facet views are enough here so no checkboxes needed at this stage.

We might want to add them later.

[2015-08-17 15:05] emanuil-tolev commented on #810
From meeting today: the above means that languages are assigned in some order by the user, but in the process of deduplicating the order is lost - they could come out in any order.

To be decided:

- order alphabetically, explicitly, when the form is saved?
- or preserve order set by user? Noted that some users seem to attach additional meaning, e.g. if English is listed first, it's "primary" and

[2015-08-18 06:39] dommitchell commented on #810
For discussion at the next team meeting.

[2015-08-18 08:15] dommitchell commented on #814
Nope, we decided on the call that this didn't matter.

We decided to use managing-editor@doaj.org

[2015-08-18 08:21] dommitchell commented on #830
More from Scielo, uploaded on 14th August:

[2015-08-18 12:35] dommitchell commented on #830
Some more articles uploaded yesterday, 17th August

[2015-08-18 13:08] dommitchell commented on #451
I have now tested this in testdoaj. This is good to go. Please make live as soon as you can.

[2015-08-18 14:42] emanuil-tolev opened #846 "Only add api role automatically to new accounts with "publisher" role"

[2015-08-18 21:27] emanuil-tolev commented on #590
OK, the 3 reapplications mentioned in https://github.com/DOAJ/doaj/issues/590#issuecomment-115298680 have been run. I noticed there's an additional one in the original post, perhaps added later by editing, which is not mentioned anywhere in this issue:

I have not rerun the reapplication for this as I can see you guys discussed whether each of these should in fact be regenerated, so I'm not sure i

[2015-08-19 05:59] dommitchell commented on #590
Thanks @emanuil-tolev . Please do run the 4th.

[2015-08-19 11:11] emanuil-tolev commented on #590
OK, that has been run for 526e77f7f6414acab743bf641ffeb920. Feel free to double check it and close if this solves it.

[2015-08-19 12:13] dommitchell commented on #590
All good!

[2015-08-19 12:13] #590 closed

[2015-08-19 15:55] Steven-Eardley commented on #817
@dommitchell Should there be any change to the edit journal form in Admin, which currently says 'Save journal'?

You've specified Admin, so do you mean for no changes at all to the Editor and Associate Editor forms? These will continue to say 'Save application' and 'Save journal'.

[2015-08-20 06:13] dommitchell commented on #817
Ah, sorry for not being clear. I mean ALL instances of the button across all instances of the form, Editor, AssEd, Admin, etc. Thanks for checking!

[2015-08-20 10:29] dommitchell opened #848 "Add new sponsor: eLife"
![elife_logo](https://cloud.githubusercontent.com/assets/5955396/9381377/fc0d76fc-4736-11e5-80f9-6d1ca897aa62.jpg)

http://elifesciences.org/

[2015-08-20 10:49] emanuil-tolev commented on #848
Just about to roll out static pages so will add this

[2015-08-20 11:53] dommitchell commented on #848
Perfect!

[2015-08-20 11:53] #848 closed

[2015-08-20 12:07] dommitchell commented on #613
I have evidence that this isn't quite working as it should.

https://testdoaj.cottagelabs.com/editor/your_applications?source={%22query%22%3A{%22match_all%22%3A{}}%2C%22from%22%3A0%2C%22size%22%3A10}

user: fei // password emailed to you.

https://testdoaj.cottagelabs.com/account/fei - is definitely an editor and yet cannot see the Ready status.

[2015-08-20 12:17] dommitchell opened #849 "Bug when manually assigning roles on account creation vs. roles added automatically"
There's a bug in the system which means that every new user created manually gets the api role. Even if you remove that role and assign another before hitting submit, only the removed api role sticks. You have to go to the new record, remove API and add the role you want.

![api1](https://cloud.githubusercontent.com/assets/5955396/9382999/cf22febe-4745-11e5-950d-4992375dc699.jpg)

![api2](https://

[2015-08-20 12:18] emanuil-tolev commented on #846
From #849 the roles are admin, editor, associate_editor, publisher

[2015-08-20 12:19] emanuil-tolev commented on #846
Balls, that's wrong. I'll rewrite.

[2015-08-20 12:19] emanuil-tolev commented on #849
They're "publisher" aren't they?

[2015-08-20 12:21] emanuil-tolev commented on #849
#846 deals with "only assign api role automatically to users with role publisher" but you seem to have found some other sort of bug where you specify a certain role or multiple roles, but it gets overwritten when the account should have the "api" role added (currently doing that for every new account).

[2015-08-20 12:24] dommitchell commented on #849
They are but they have existing accounts. Actually, I just remembered that we will apply the api role to all publisher accounts. All good.

[2015-08-20 18:04] emanuil-tolev commented on #834
Deployed live, thanks @Steven-Eardley - very nice work, good to update those frontend bits to latest versions alongside the new icon.

[2015-08-20 19:11] Steven-Eardley commented on #817
Done; you can see all of the changes I've made via the pull request here: https://github.com/DOAJ/doaj/pull/850/files

[2015-08-21 05:28] dommitchell commented on #817
Can I check it in testdoaj....?

[2015-08-21 05:29] dommitchell commented on #834
Very nice. Thanks!

[2015-08-21 05:29] #834 closed

[2015-08-24 08:44] dommitchell commented on #830
I think we have found out why duplication is occurring:

Refreshing the XML upload page causes articles to be duplicated. "after uploading any record to your side it appears as "pending" in our admin page; if we refresh "F5" this page while there are pending records, this will cause the records to be duplicated. The repetition depends on the refresh count! If I refreshed the page 2 times the recor

[2015-08-24 09:03] emanuil-tolev commented on #830
So they're not getting asked "do you want to submit again", they're just refreshing the status page? Obviously if they're ignoring the warning the browser gives upon form resubmission, they're ... going to resubmit the same file. There is code to prevent the processing of duplicated records though, so even if they literally come back and upload the same file 10 min later, both will be processed an

[2015-08-24 09:31] emanuil-tolev commented on #846
No need, api role should be added to every account.

[2015-08-24 09:31] #846 closed

[2015-08-24 09:48] richard-jones commented on #830
We need to do the following things:

1/ add redirect on form submission
2/ Remove "refresh" requests from ingestarticles.py
3/ Introduce esprit's blocking save feature on final article submitted in a file

[2015-08-24 09:59] richard-jones commented on #613
This user is the Editor of one group, and an Associate Editor in another group.  The problem journal mentioned belongs to her as an Associate, not as an Editor.

[2015-08-24 10:04] dommitchell commented on #613
@greboun Please delete 'English2' as a group and only use 'English 2'. Reassign the two application that are with English2 to English 2.

[2015-08-24 11:51] dommitchell commented on #721
Have now had confirmation from the library that those URLs you provided fixed the display issues:

[2015-08-24 12:42] emanuil-tolev commented on #721
OK that's good actually because we know for certain that if are able to remove all references to external sites (I'll have to think very carefully about google analytics here) it works fine - important for China and other workplaces with restrictions like this library. Excellent news.

[2015-08-25 13:06] greboun commented on #613
the editor is only editor for DOAJ of one group. No ifo on ass editor
function.
Could be that she was having ass editor status in English 2, perhaps.
I have reallocated applications from English 2 (only 5 + 2 on holds) to
English2, and now we do not have any more applications in English 2
The group is not in the database so I did not have to selete anything.

Dr. Tom Olijhoek
Editor-in-Chief  DOAJ

[2015-08-25 15:08] emanuil-tolev commented on #613
@dommitchell OK, so basically this seems to work as expected by all of us :). Maybe worth thinking about somehow showing the editor what rights they have (e.g. in this application you are an associated editor of this group in a permanent blue alert at the top). I'd create new issues for those sorts of things though and close this one.

[2015-08-25 20:29] greboun commented on #800
I was just realizing today that automated batch accepts (#800) can only
work when the field for subject classification has also been filled in for
the individual journals  before.
Now the situation is that ass editors are supposed to make this
classification when checking the aplication form

Dr. Tom Olijhoek
Editor-in-Chief  DOAJ
Support us: www.doaj.org/support

On Mon, Aug 17, 2015 at 1:37 PM,

[2015-08-26 06:33] dommitchell opened #852 "Question: can we do anything about doaj dot com?"
From a friend. Is there anything we can do, short of buying doaj.com?

/start/
I’m not sure if this is on your radar but it might be something to address. I’ll explain why in a sec. So i was looking up a journal in doaj and i accidentally typed in doaj dot com (again don’t visit), I got lots of pop-ups that weren’t closing and eventually one that played audio that was quite ominous sounding, with

[2015-08-26 06:34] dommitchell commented on #800
Tom's right. Accept and reject should not be included here. Users must add notes in these instances anyway. Have updated original issue.

[2015-08-26 07:37] emanuil-tolev commented on #451
@dommitchell this should be released :)

[2015-08-26 09:22] dommitchell commented on #613
Great. Closing.

[2015-08-26 09:22] #613 closed

[2015-08-27 08:21] richard-jones commented on #852
For reference, here's the whois entry on doaj.com

   Domain Name: DOAJ.COM
   Registrar: PDR LTD. D/B/A PUBLICDOMAINREGISTRY.COM
   Sponsoring Registrar IANA ID: 303
   Whois Server: whois.PublicDomainRegistry.com
   Referral URL: http://www.PublicDomainRegistry.com
   Name Server: NS1.ABOVE.COM
   Name Server: NS2.ABOVE.COM
   Status: clientTransferProhibited http://www.icann.org/epp#clientTrans

[2015-08-27 08:28] richard-jones commented on #852
My (non-lawyer) opinion is that there's not a tremendous about to be done here.  There is precedent for domain names being forcibly removed from one owner and transferred to another who claims the "right" to it (my favourite being baa.com, which - in the 1990s - was a website about sheep), but I believe actual legal process is required, and possibly trademarks.  Not sure what the DOAJ status is ar

[2015-08-27 14:25] emanuil-tolev commented on #852
:+1: on everything Richard said :). This registration information looks quite sketchy (po box, name is "domain admin") so definitely a bad foreign domain broker. Might be worth talking if you know you're willing to pay up to X amount and if they speak enough English to allow you to perform a secure payment without scamming you (i.e. they will actually give you the domain after payment), like using

[2015-08-27 15:42] Steven-Eardley commented on #852
:+1: :+1: on those above - I'd just add that I wouldn't have much hope for getting it from them at renewal in 2016. In my experience, with domain names so cheap, it'll almost certainly be renewed by them for the chance of you giving them money. And lots of providers auto-renew.

That said, if there's no other action you'll be taking, it'll be worth keeping a look-out when the time comes around.

[2015-08-28 15:35] dommitchell commented on #790
@Steven-Eardley  Can you take care of the former comment above and please could you add in the subject classification column, as it is currently missing.

[2015-09-03 09:32] dommitchell commented on #790
Hey @Steven-Eardley can I get an update on this one?

[2015-09-07 10:19] dommitchell commented on #790
change to:

'Does this journal allow unrestricted reuse in compliance with BAOI?'

[2015-09-07 10:41] emanuil-tolev commented on #790
It's BOAI btw :) Budapest Open Access Initiative

[2015-09-07 10:43] dommitchell commented on #790
Ha! Cheers!

[2015-09-07 13:29] dommitchell commented on #852
Nothing to do here for now.

[2015-09-07 13:29] #852 closed

[2015-09-09 04:45] Steven-Eardley commented on #790
@dommitchell shall I include subjects with the schema, as in ```schema_subject```, or without, as in ```classification```? And shall I add another additional column for the codes?

[code]

[2015-09-09 06:03] dommitchell commented on #790
We only need to include the ones that are actually displayed on the site and I reckon that is the classification but @richard-jones could verify. No need to include the codes. Thanks!

[2015-09-09 06:22] dommitchell opened #853 "Bug: what causes this to happen?"
7.20 UK this morning. Search on "Journal of applied sciences in environmental sanitation" in Admin returned this page.
![oops](https://cloud.githubusercontent.com/assets/5955396/9754666/e3e868e4-56cb-11e5-9987-2f5928d825e2.jpg)

[2015-09-09 09:50] emanuil-tolev commented on #853
How weird. Did it work afterwards? After a page refresh? Or after going in again to the admin search?

It kinda looks like it's on the second page of results (from a previous query) and then you put a new query in, and it's still on the 2nd page. Except that 2nd page of 1 result is the weird thing above.

If it is that it might be a bit tricky to decide what to do, since part of the reason it's do

[2015-09-09 09:53] emanuil-tolev commented on #853
Yeah, this is the problem. So go to the admin search, click "next page" then choose a value from a facet. It will reset your page (correctly - now the results are different so you should be on page 1).

OK now hit the clear button (the black X - "clear all search settings and start again" tooltip). Go to page 2 of the default results. Put in ```Journal of applied sciences in environmental sanitati

[2015-09-09 09:55] emanuil-tolev commented on #853
So I'd propose to leave it as is and just be aware it does that (unless it's often and annoying) as the alternatives are either potentially more annoying, or very fiddly (e.g. trying to refine when a query is issued from the search box so it doesn't trigger on switching tabs, but still triggers always when users want).

[2015-09-09 11:25] dommitchell commented on #853
Nope. Tried all those and it didn't work.

Closing for now bit good to know why it happened.

[2015-09-09 11:25] #853 closed

[2015-09-09 11:32] dommitchell opened #854 "Bug: lost the colour on the facet removal crosses"
I am certain these haven't always been white! They're near invisible now.

![crosses](https://cloud.githubusercontent.com/assets/5955396/9760633/18aeb2f6-56f7-11e5-9161-3d6027ac56ba.jpg)

[2015-09-09 12:25] emanuil-tolev commented on #854
Wow, that's so weird.

I found the culprit, as part of the new social media icon on the page we had to upgrade the FontAwesome library so we could get the icon without, like, recreating it ourselves in the style of the others. Unfortunately that seems to have had this interesting effect. The cross is supposed to be a certain shade of blue.

[2015-09-09 12:28] emanuil-tolev commented on #854
Although I'm struggling to understand what that has to do with this icon, since this is an icon from Bootstrap, a core style library we use. It doesn't come from FontAwesome.

[2015-09-09 12:57] emanuil-tolev commented on #854
Hahah, I got it, the old version of FontAwesome would actually override Bootstrap icons. The Bootstrap ones don't take custom colours at all, but we were unwittingly using FontAwesome ones, which look the same, except you can colour them. How's that for a subtle bug :).

I've got a hotfix up for review. It's simple, but I want it reviewed since there are many ways to skin this particular cat and I

[2015-09-09 15:24] Steven-Eardley commented on #854
@emanuil-tolev Seriously good catch! Looks like I should've eyeballed more of the site when I upgraded the library. Thanks for taking care of this.

[2015-09-09 15:39] emanuil-tolev commented on #830
A spot of trouble with this, I can't get my local one to process things properly for some reason. Not forgotten about it :)

[2015-09-09 15:52] Steven-Eardley commented on #854
Fix on live now, @dommitchell

[2015-09-09 15:54] Steven-Eardley commented on #790
This is on live now.

[2015-09-09 15:54] emanuil-tolev commented on #844
Holy smokes these are really big deletes

[2015-09-09 16:00] emanuil-tolev commented on #844
Heh, it took almost 4 min to run them! Should be done now

[2015-09-09 16:03] Steven-Eardley commented on #817
On live now (finally) - I'd missed a comment that it was ready for deployment a couple of weeks ago!

[2015-09-09 16:47] Steven-Eardley commented on #689
This issue was superseded by #811. Closing.

[2015-09-09 16:47] #689 closed

[2015-09-10 08:05] dommitchell commented on #817
Seen it. It looks great! Thanks.

[2015-09-10 08:05] #817 closed

[2015-09-10 08:06] dommitchell commented on #844
Perfect! Closing.

[2015-09-10 08:06] #844 closed

[2015-09-10 08:13] dommitchell commented on #790
Great work! Closing.

[2015-09-10 08:14] dommitchell commented on #854
Great! Closing.

[2015-09-10 08:14] #854 closed

[2015-09-10 09:01] dommitchell opened #857 "Missing language code in XSD file"
/snip/
We are trying to generate XML file for DOAJ upload (for SIC journal for literature and literal translation) and there is a problem validating generated XML file with specified XSD schema (https://doaj.org/static/doaj/doajArticles.xsd) because language code in linked XSD file for Croatian is missing!

What should we do? shortcode for language shoud be "hrv" but this is not specified in langu

[2015-09-10 16:37] emanuil-tolev commented on #857
Yeah that code changed in 2009, we do have the old one - scr. We should probably define a process for updating our language stuff, including that schema (which was obviously generated / added a long time ago).

I'll update the schema (and leave the old code in - unless you'd like me to remove it?) but for now you can tell him "scr" will work for what he wants, if he doesn't mind of course (like if

[2015-09-11 11:35] Steven-Eardley opened #858 "New asynchronous notifications for application workflow"
Emails to be sent as reminders on a schedule, e.g. via cron

Managing Editors
- [x] summary of records not touched for x weeks
- [x] records marked as Ready - reminder

Editors
- [x] reminder: there are X records assigned to your group which have no associate assigned
- [x] reminder: there are X records assigned to your group which have been idle for x weeks

Associate Editors
- [x] Reminder 1: yo

[2015-09-11 15:06] dommitchell commented on #31
This seems to have disappeared from all records?

[2015-09-14 09:50] richard-jones commented on #819
Me to develop a script, then fire over to @emanuil-tolev to deploy and run on production.

Do this as a hotfix

[2015-09-14 09:50] richard-jones commented on #819
Target for being run: 23rd September

[2015-09-14 10:19] dommitchell commented on #810
We discussed and we decided that we wouldn't do anything about this for now. Leaving for later.

[2015-09-14 10:22] dommitchell commented on #764
OK to do under TNM

[2015-09-14 10:25] richard-jones commented on #764
Use a hidden input form as a spam filter approach, and send email to feedback+contactform@doaj.org

[2015-09-15 05:36] dommitchell opened #861 "Error "Unable to locate a reapplication with the issn ﻿; spreadsheet is invalid""
As per discussion forwarded via email. Account: 18651372.

All details in the email thread with the same name.

[2015-09-15 11:29] richard-jones commented on #815
@dommitchell - we're just looking at what exactly this means.  I think that probably you want to be able to save applications without setting classifications (you may be coming back to work on it later).  Instead, should we have it so that you can't set the status "ready", "completed" or "accepted" without setting the classification?

[2015-09-15 12:54] emanuil-tolev commented on #861
Some debugging information which should prove helpful - all attempted reapplication CSV uploads for this account starting with *most recent first*.

[code]

[2015-09-15 12:55] emanuil-tolev commented on #861
Oh :D. I saw the problem now that I pasted this! The unicode character \ufeff is some kind of a space character I assume, but does not get stripped by .strip() in Python probably?

[2015-09-15 12:56] emanuil-tolev commented on #861
Also lots of encoding errors before that.

[2015-09-15 15:44] richard-jones commented on #785
I've done a review of the work to be done here, and remember why this was a bit fiddly.  It's to do with the managing editor's update workflow.  We need to support the following actions in the ManEdApplicationFormContext:

* Addition of an Editor Group where there was previously no group.  This should then enable the Editor select box to allow the selection of an editor from that group

* Removal

[2015-09-15 16:57] richard-jones commented on #819
@emanuil-tolev - I've created a PR for this, so you are clear to merge and run whenever suits.

[2015-09-15 17:14] richard-jones commented on #861
Yup, that's right, this character isn't valid:

"Unable to locate a reapplication with the issn \ufeff; spreadsheet is invalid"

\ufeff is the byte order mark, and it's appearing in cell A1 (or, the beginning of the file, which is where you'd expect to find the BOM).

Really there shouldn't be a BOM here, so probably they're saving as "UTF-8 with BOM" (probably inadvertently).

In order to handle

[2015-09-15 18:15] emanuil-tolev commented on #819
Output:

6300 accounts with between 1 and 10 journals in the DOAJ
4824 accounts with at least one outstanding reapplication
4551 accounts appear in both lists

CSV: https://www.dropbox.com/s/p2cs07o5stvkys6/reappreport_20150915_1905.csv?dl=0

[2015-09-16 09:00] dommitchell commented on #31
@richard-jones has this dropped off?

[2015-09-16 10:00] richard-jones commented on #31
Hm, from the public interface?  It certainly doesn't appear to be there -
maybe that got dropped unintentionally during the PVOD project?  Or has it
vanished more recently?

[2015-09-16 10:01] dommitchell commented on #31
I think it might have been dropped unintentionally but I only just noticed. Not entirely sure though.

[2015-09-16 13:40] Steven-Eardley commented on #785
Isn't the above functionality all this issue requests for the Managing Editors too? Group management within the forms seems above and beyond!

[2015-09-17 07:40] dommitchell opened #866 "Switch URL to https"
In the doaj footer, can you switch the <a href="http://creativecommons.org/licenses/by-sa/4.0/"><img src="/static/doaj/images/cc-by-sa.png" alt="Creative Commons Attribution ShareAlike license icon"></a>

to

<a href="https://creativecommons.org/licenses/by-sa/4.0/"><img src="/static/doaj/images/cc-by-sa.png" alt="Creative Commons Attribution ShareAlike license icon"></a>

Thanks!

[2015-09-17 09:30] Nimphal commented on #746
This is now on test, the code sample on test can be embedded wherever you like for testing pleasure :)

[2015-09-17 09:33] Nimphal commented on #746
Actually, it seems to be having some https issues on test, so not ready yet.

[2015-09-17 15:06] Nimphal commented on #746
Okay, not it is ready and an example can be viewed here https://testdoaj.cottagelabs.com/widgets

[2015-09-18 14:43] richard-jones commented on #785
@dommitchell - we've been talking more about this, and actually have realised we may have got the wrong end of the stick with regard to what is needed here.  Could you tell me which of the following you are after:

1/ Managing Editors should be able to change the Associate Editors assigned to an application

2/ Editors should be able to add users with the role "associate_editor" or "editor" to the

[2015-09-18 14:53] Steven-Eardley commented on #866
On live now.

[2015-09-18 15:12] emanuil-tolev commented on #811
@Steven-Eardley

The migration has run on testdoaj.cottagelabs.com . Here's the output:

[code]

[2015-09-18 15:15] emanuil-tolev commented on #811
(seems fine to have run fine)

Taking a journal out of DOAJ does not seem to update Last Updated: I tried https://testdoaj.cottagelabs.com/admin/journal/555b7bdaaf674f299e1caa0a75e3df62 and it still said "never" after I took it out and put it back in. Probably an update needed to the journal activate and deactivate endpoints, I think must be in views.admin .

[2015-09-18 15:16] emanuil-tolev commented on #811
It did work when I saved the record, so actually you'll need to try with another one that currently says Never!

[2015-09-22 09:53] emanuil-tolev commented on #740
@richard-jones Currently we're only supplying "keywords" back to the publisher who fetches a journal. I think we should include the DOAJ Editor-generated "subject" classification as well. Any reason you didn't include it in the application data object? If not I'll just add it.

[2015-09-22 09:54] emanuil-tolev commented on #740
* who fetches an application, sorry.

[2015-09-22 09:56] richard-jones commented on #740
I don't mind the subjects being exposed, just remember then that they still won't be able to supply those subjects themselves, so we'll have to either have an asymmetric in/out data model or just ignore any subjects they give us when they deposit (see, for example, what I've done with id, created_date, last_updated")

[2015-09-22 11:12] emanuil-tolev commented on #740
Yeah, when ensuring parity between in/out I already had to make sure that applications on update do ignore some more fields (like suggester object and suggested_on) - presumably you were relying on the schema being stricter before. So I'll add subject as well. They can see "Classification" both on the public UI and their private facetviews so it should be displayed in the API.

[2015-09-22 11:38] emanuil-tolev opened #871 "oa_end and other old journal information fields in 5 reapplications to DOAJ"
oa_end, author_pays, author_pays_url are all fields from the old journal structure we used to have. Those seem to have been copied over to the respective reapplications when these were generated. We don't show any information from these fields and had long ago decided that the "old journal information" box in the DOAJ back-end journal forms will be retired once the DOAJ finishes the reapplication

[2015-09-25 07:09] dommitchell commented on #815
Perfect! Thanks!

[2015-09-25 07:17] dommitchell commented on #785
Hmm, neither actually. We want Admins to be able to assign an associate editor when they are logged in as Admin. Currently, only editors can assign asseds.

[2015-09-25 07:24] dommitchell commented on #858
@Steven-Eardley How can I test this and can you add the texts here: https://github.com/DOAJ/doaj/tree/static_pages/portality/templates/email ?

[2015-09-25 07:25] dommitchell commented on #814
Can you add the texts here https://github.com/DOAJ/doaj/tree/static_pages/portality/templates/email ?

[2015-09-25 07:26] dommitchell commented on #812
Looking good! Closing.

[2015-09-25 07:26] #812 closed

[2015-09-25 07:39] dommitchell commented on #801
The list of different statuses is looking good! However:

Logged in as an editor, I can see this status.

Logged in as editor, I can see this.

Logged in an editor, I can see this.

The list of facets under the Application Status facet is looking good.!

[2015-09-25 07:42] dommitchell commented on #801
@greboun Tom, in advance of this being ready, please update the training documentation as soon as possible to include descriptions/screenshots of the new facets, the new 'completed' status and the new workflow that incorporates the 'completed' status. Would be good if it could be updated to coincide with this going live. Please coordinate with @Steven-Eardley

We should send a mail out to all volu

[2015-09-25 08:20] emanuil-tolev commented on #858
I would recommend against adding them in ```static_pages```, instead supplying links to ```develop```. You can then view, though not edit them - and supply new text in the issue here for us to implement if needed.

If we put them in ```static_pages``` the next release of the static pages to live will also push those email templates live. If a piece of work is still in development there isn't a cle

[2015-09-25 08:21] emanuil-tolev commented on #858
Oh yeah, here you go: https://github.com/DOAJ/doaj/tree/develop/portality/templates/email

[2015-09-25 08:25] emanuil-tolev commented on #858
Leaving to @Steven-Eardley about the testing, probably sth involving the test site and mailtrap.

[2015-09-25 10:03] Steven-Eardley commented on #849
@dommitchell The fix for this is now live.

In brief, I've fixed the functionality such that the 'api' role is auto-filled as a suggestion on the form, but when it's removed it'll actually be removed from the account! It will also pay attention to which other role(s) you enter in the form now.

That sounds about right to me - I've no idea what I was thinking before!

[2015-09-25 13:46] Steven-Eardley commented on #858
Yes @dommitchell, you can view (some of - up to 50) emails the test server sends by logging into mail trap.io as feedback@doaj.org, and looking at the test-doaj inbox.

The emails are generated early every Monday morning, so I recommend checking then, because I emptied the inbox recently! If you're desperate to work over the weekend I can run them manually, or if you'd like me to ensure you can re

[2015-09-25 16:01] dommitchell commented on #849
And it works like a dream! Closing!

[2015-09-25 16:01] #849 closed

[2015-09-25 16:04] dommitchell commented on #861
@richard-jones how long will it take do you think?

[2015-09-25 16:07] dommitchell commented on #866
Beautiful! Closing.

[2015-09-25 16:07] #866 closed

[2015-09-28 05:34] dommitchell opened #877 "Have we lost page number ordering on ToCs?"
https://doaj.org/toc/1823-4690/10/8

Start page: 1009. 1035, 1054 etc, 958, 972

[2015-09-28 05:44] dommitchell opened #878 "Display assed's email address in application form"
We would like to hyperlink the assed's name, or display their email address, in the Editor's short view:

![editor](https://cloud.githubusercontent.com/assets/5955396/10507392/664b77fc-7320-11e5-9dfb-5a9695f843ca.jpg)

where 'tested' is the assed.

Please can you let me know how much that would be?

[2015-09-28 09:49] richard-jones commented on #785
Ok, we have clarified what work needs to be done, and it is as described in my comment above: https://github.com/DOAJ/doaj/issues/785#issuecomment-140437072

[2015-09-28 10:12] dommitchell commented on #819
Hello! Can you  help me understand this? It means that 4551 accounts have one or more reapplication to submit, right?

Have you taken into account this: "that have a journal in DOAJ". We have removed a lot of journals so it is important that we only send email to those who still have journals *IN* DOAJ.

[2015-09-28 10:16] richard-jones commented on #819
Yes, so the script builds two lists:

1/ of accounts with between 1 and 10 journals that are in_doaj=True (6300
such accounts)

2/ of accounts with one or more outstanding reapplications (4824 such
accounts)

It then looks for the intersection of those two lists, which in this case
contains 4551 account names.

Are these numbers much higher than you were expecting?

[2015-09-28 10:25] dommitchell commented on #819
Nope. Was just checking before I worked the list into SurveyMonkey. Thanks!

[2015-09-28 11:57] dommitchell commented on #830
@emanuil-tolev can I get an update on this? More publishers getting in touch now about duplications.

Some publishers have loaded articles on a large scale. Can CL run something that will delete all the duplicates automatically?

[2015-09-28 12:10] emanuil-tolev commented on #830
Should be able to put up the hotfix up for tech review today and roll out shortly after (so def. this week).

Yeah, we could - what do you think defines a duplicate article? If 2 records have the exact same title, DOI and ISSNs recorded, is that enough for us? Or shall we go even broader and say exact same title and DOI?

[2015-09-28 12:42] dommitchell commented on #830
Actually, we have to have the URL in there, since matching is done on URL too. I would say:

Same title
DOI (if present)
Full text URL
ISSNs

Date created in the system would be an absolute failsafe ie date added to DOAJ.

[2015-09-28 13:11] emanuil-tolev commented on #830
Yeah, but that's down to the second. I'm not sure I'd want to get into not finding duplicates just bc the system created like 3000 articles in the span of 3 seconds - there is the possibility that an article and its duplicate would be created on different seconds. We could measure difference within 5 seconds (any more and the duplicate would have been prevented anyway by the code).

I think if tha

[2015-09-28 13:24] dommitchell commented on #830
Works for me. Thank you!

[2015-09-28 16:30] emanuil-tolev opened #879 "Make search API more flexible by allowing a few settings"
Just logging this idea that came through via email here.

I agree with him that letting people specify those options would take advanced search applications using the DOAJ to a whole new level (of them being able to customise search at least). It should not put any noticeable load on the servers.

[2015-09-28 16:31] emanuil-tolev commented on #879
It'd take probably about half a day.

[2015-09-28 16:41] emanuil-tolev commented on #750
OK I've got some groups now!

- an announcement-only group (e.g. we release an improved API version or we end-of-life a version): https://groups.google.com/forum/#!forum/doaj-api-announcements
- a public discussion group for the public api, so people can benefit from a public archive: https://groups.google.com/forum/#!forum/doaj-public-api
- a private discussion group for the private api, for publ

[2015-09-28 16:43] emanuil-tolev commented on #750
Ah also todo I need to add us all as managers etc. I know I need to use @cottagelabs.com addresses for Steve and Richard, is your Google work address dom@doaj.org @dommitchell ?

[2015-09-28 16:51] emanuil-tolev commented on #750
FYI, although it's of no use to this issue (except maybe if you want to reblog or tweet/share @dommitchell ?) our first external organic blog post about the API by the developer of "Bento Search" :). https://bibwild.wordpress.com/2015/09/23/doaj-api-in-bento_search-1-5/

[2015-09-28 16:52] dommitchell opened #880 "Password reset email redirect to https"
Email that gets sent:

A password reset request for account '13960466' has been received and processed.
Please visit http://doaj.org/account/reset/417fef5eb29847fa990899e5d080a814 and enter your new password.

Clicking the link redirects to https:// which leads to a page not found.

Possible bug?

[2015-09-29 06:30] dommitchell commented on #750
Would it make sense to add links to them to https://doaj.org/api/v1/docs somewhere? I don't think I have access to that page via GitHub.

I have added links to all three groups in faqs.html and publishers.html.

True but I have chosen to include  alink to it becausde it might fire up people's interest.

I agree!

We could grant them access for a 'taster' to see if it met their expectations and req

[2015-09-29 10:07] emanuil-tolev commented on #750
yeah, definitely

* * *

- [ ] add links to google groups on api docs page
- [ ] add Dom, Richard, Steve as group owners.

[2015-09-29 11:02] emanuil-tolev commented on #880
Nah, I highly doubt it's the HTTPS part (though we should be generating it with HTTPS to begin with, that's true). We need to refactor this across the system actually, there's a couple of places where it says "generate a link with the same schema as the page the user is accessing now" but the problem is it believes the schema is HTTP due to the way it's set up in production, despite it being HTTPS

[2015-09-29 11:03] emanuil-tolev commented on #880
Also if you're looking to help a user and they still don't know their password (?!) ask them to use the forgotten password facility again - this should generate a new reset link and that'll work until they set a password using it.

[2015-09-29 16:56] dommitchell commented on #809
Closing. Publisher has submitted them all.

[2015-09-29 16:57] dommitchell commented on #809
Actually, question: the publisher has 24 reapplications left. Can they create a CSV of those 24 and submit that? @richard-jones

[2015-09-29 17:57] dommitchell opened #881 "Number of countries with journals in DOAJ"
A manual count of the countries list in Admin reveals 125 countries in DOAJ:

https://doaj.org/admin/journals?source={%22query%22%3A{%22filtered%22%3A{%22filter%22%3A{%22bool%22%3A{%22must%22%3A[{%22term%22%3A{%22admin.in_doaj%22%3A%22T%22}}]}}%2C%22query%22%3A{%22match_all%22%3A{}}}}%2C%22from%22%3A0%2C%22size%22%3A10}

and yet the home page states 134. Where is the discrepancy coming from?

[2015-09-29 18:11] emanuil-tolev commented on #881
Hmm, the facet in the admin UI is indeed 125 countries long when in_doaj is set to True.

That is also the case for the homepage stats (they look at in_doaj == True).

Going to need a bit more investigation than cursory look I think. They should really be the same from what I can see.

[2015-09-29 18:27] emanuil-tolev commented on #881
Unless adding articles into the mix somehow adds more countries...? E.g. some articles' journal info out of sync..? That could possibly be it, the ```index``` part of some articles not being up to date since the homepage counts by ```index.country.exact``` and the admin UI's facet is on ```index.country.exact``` as well - but the admin UI only looks at journals, and the homepage stats look at all

[2015-09-29 18:34] emanuil-tolev commented on #809
Ahm, this will probably need reapp csv regeneration.. the original CSV probably expects loads of reapplications so the ISSNs will still be in there. @richard-jones sorry, I've forgotten this detail - can a publisher submit partial CSVs, like just bunk off a bunch of ISSNs and submit only e.g. 10% of all their reapplications? If this doesn't get picked up soon-ish @dommitchell ping me (just write i

[2015-09-30 14:29] dommitchell opened #882 "Submitted application doesn't appear in the system"
https://doaj.org/admin/suggestion/6de7441d4c604769bc8931ee0c0f90a9

Publisher submitted reapplication on 2nd Sept and got a confirmation email:

feedback@doaj.org
To
XXXXX
Sep 2 at 12:47 PM
Dear Publisher,

Journal of Knowledge & Health

Thank you for completing your reapplication to DOAJ which has been safely received!

Please save this email as a record of when you submitted your reapplication.

[2015-09-30 14:57] emanuil-tolev commented on #882
Ouch, that'd be really crap for them. I think it might well have been around that time, I'll try digging into the data (might take a little while).

[2015-09-30 15:42] dommitchell commented on #880
Hmm, that's the problem. When they get the email with the link, they click it and get:

Not found

Sorry, the item you were looking for is not there.

DOAJ has migrated to a new, open source platform. Due to the upgrade, certain old links may not work.

[2015-09-30 16:45] Steven-Eardley commented on #877
Oh dear, that's unfortunate. They're appearing first because ```1``` comes before ```9```. I'll have a look at ensuring it considers entire number!

[2015-09-30 16:51] emanuil-tolev commented on #877
Makes you wonder, doesn't it, a problem that's existed for as long as computers have differentiated between strings and numbers (using the ASCII table at least), yet there's still no way to fix it generally.

[2015-09-30 17:09] Steven-Eardley opened #883 "The next version of Safari requires new icon for 'Pinned Tabs'"
Apple is too special to use a site's favicon when you use Safari 9's 'pinned tabs' feature, so if the DOAJ wants to use a custom image when a user pins the site for frequent use, it'll have to follow their [guidelines](https://developer.apple.com/library/prerelease/mac/releasenotes/General/WhatsNewInSafari/Articles/Safari_9.html#//apple_ref/doc/uid/TP40014305-CH9-SW20) - adding a new strictly blac

[2015-10-01 15:08] emanuil-tolev commented on #883
why didn't they just use the favicon like Chrome and Firefox.......

[2015-10-01 15:10] emanuil-tolev commented on #880
Wow, really. OK, that's a bad bug if so. I can set a temporary password and email it to you to forward to them (they can change it once they login directly from the my account page). Just so they can get in - obviously we'll need to check that reset problem.

[2015-10-02 07:26] greboun commented on #879
It would be a great improvement I agree, let's discuss this in the next
meeting
On 28 Sep 2015 18:31, "Emanuil Tolev" <notifications@github.com> wrote:

[2015-10-02 08:00] dommitchell commented on #790
Column BG, 'Content in DOAJ' shows as 'Yes' for all journals which is not correct. Please can you fix?
[doaj_20151002_0830_utf8.xlsx](https://github.com/DOAJ/doaj/files/6616/doaj_20151002_0830_utf8.xlsx)

[2015-10-02 08:11] dommitchell commented on #880
That's OK. No need. That's my work around and I've done that already.

I wonder if this is all related to preceding or trailing spaces in usernames?

[2015-10-02 09:50] emanuil-tolev commented on #880
Well .. it could be, though I didn't see that in their account. The thing is the reset key didn't exist, and you said they weren't able to reset their password successfully (which is when it would get deleted).

I just tried it and it seems to work instantaneously, and the link worked for me. I was worried the forgotten pw feature wasn't working at all, but that doesn't seem to be the case ... Bes

[2015-10-02 09:54] emanuil-tolev commented on #880
The reset link does last only 24h by the way, I think we decided on this way back when introducing it. I noticed it doesn't say that in the email. Could that be the issue here?

[2015-10-02 10:13] emanuil-tolev commented on #790
I assume some confusion occurred here, perhaps that column was taken to mean "is the journal in DOAJ". What's is it supposed to show, whether any articles have been uploaded for that journal? I.e. is there article metadata in DOAJ.

[2015-10-02 11:30] Steven-Eardley commented on #790
Yup, that column is straight from the old spreadsheet columns, which is just showing the value of ```in_doaj``` for each journal, which will always be 'Yes' because we only publicly provide those!

@dommitchell I don't think it's needed as-is - shall I just remove the column, or shall I repurpose it as Emanuil is asking? (if repurposing, please open a separate tnm issue with new requirements.)

[2015-10-02 12:22] dommitchell commented on #790
Thanks both. Articles upload is already taken care of in column AB: Article level metadata in DOAJ
so please go aheasd @Steven-Eardley and delete column BG. Thanks!

[2015-10-02 13:25] dommitchell commented on #880
Sorry, I should have said it is only for some password requests.

Hmm, yep. I know that too. Leave this with me. If I get another example, I can leave it here.

Closing for now.

[2015-10-02 13:25] #880 closed

[2015-10-02 13:36] Steven-Eardley commented on #883
They want more say in how it's designed, I think. It's supposed to be a subtle grey icon most of the time, with custom colouration when it's active. Very much like the ones we use using fontawesome.

Here is it is on my laptop:
<img width="148" alt="screen shot 2015-10-02 at 14 30 42" src="https://cloud.githubusercontent.com/assets/1446355/10247636/4ed89c20-6912-11e5-84fa-76116dba74b2.png">

The d

[2015-10-02 14:15] dommitchell opened #887 "Is the CSV generation appending blanks or are the blanks in the data?"
I'm assuming it's in the data but have you any way of checking? I can't tell by looking at the journal record.

[Book1.xlsx](https://github.com/DOAJ/doaj/files/6812/Book1.xlsx)
From a publisher:
Columns F, G and H contains publisher, publisher after trimming and a test if they are the same. Formulas have been converted to values, but I assume you know how to do this.

These (where Same = “Not equa

[2015-10-03 21:47] Steven-Eardley commented on #877
This one was an excellent brain-teaser.

The crux of the problem was ``` _sort_articles()``` in ```portality.models.article.py``` was always getting ```None``` for the start_page, then everything was considered unsorted:

[code]

We were trying to get the start_page from the bibjson but it wasn't structured as this function expects - the query providing the data is one that pulls out individual fi

[2015-10-05 08:58] dommitchell commented on #800
We have decided not to go ahead with this just now. Closing

[2015-10-05 09:36] dommitchell commented on #861
From Richard: Just to let you know, we've pinned this down.  The file is /very/ subtly incorrectly encoded, by including something known as a Byte Order Mark at the start, which is confusing the csv reader.  It's a non-printable character, which is why it doesn't show up in the error reports.  It's also something that apparently Microsoft software does quite often, so it's possible it's causing ot

[2015-10-05 09:36] dommitchell commented on #861
DM says: great, please go ahead!

[2015-10-05 09:43] emanuil-tolev commented on #830
Sorry I'd forgotten we already have a match algorithm, we'll use that.

[2015-10-05 09:53] emanuil-tolev commented on #830
I'll sort out the form and deduplication script to use the existing code, @richard-jones doing the ingestarticles script

[2015-10-05 09:57] dommitchell commented on #809
Answer is yes. Closing.

[2015-10-05 09:57] #809 closed

[2015-10-05 10:01] dommitchell commented on #878
They could add a note to the reapplication. DM to get more info. Will ask at team meeting today.

[2015-10-05 10:05] Steven-Eardley commented on #883
Looks like the default behaviour works well for us.

[2015-10-05 10:05] #883 closed

[2015-10-05 15:47] dommitchell opened #889 "Journal and article icons"
The journal and article icons in Journals and Applications:

- have changed in live
- have changed in Admin under Journals.
- have disappeared under Applications

As per the call today this is something to do with a recent font update

[2015-10-06 06:39] dommitchell opened #890 "Add 'Ceased publication'field to journal records"
For continuations, DOAJ is changing its policy on discontinued journals. Under certain circumstances the journal will be able to remain in/visible in DOAJ. We need a 'Ceased publication' date field for journal records that can be added which then displays on the journal ToC page.

Can this be worked into Continutations project?

[2015-10-06 13:41] dommitchell commented on #858
FEEDBACK

@Steven-Eardley why would the same person get two reminders on the same day for one application that hasn't been touched?
https://mailtrap.io/inboxes/26512/messages/109276654
https://mailtrap.io/inboxes/26512/messages/109276662
Reminders sent out on the same day should be aggregated, no?

The reminders don't seem quite right. We wanted two separate ones, one that went out after 10 days,

[2015-10-06 13:43] dommitchell commented on #815
FEEDBACK
I just managed to save this reapplication as 'Completed' and without any classification:

https://testdoaj.cottagelabs.com/admin/suggestion/009aa12f367944e0a18727d4d137c166#done

[2015-10-06 13:45] dommitchell commented on #814
FEEDBACK
I can't see any examples of these in Mailtrap. Can you generate some so I can review this?

[2015-10-06 13:51] dommitchell commented on #811
I just changed the status on a record from Submitted to In progress.

The time changed from 'Never' to 2015-10-06 14:48:33
https://testdoaj.cottagelabs.com/admin/suggestion/09aafe52507d4f14a998a6612196f96d

Great! Good to go!