[2015-10-06 19:26] Steven-Eardley commented on #815
This wasn't visible on test when you reviewed it due to some glitch with our auto-deployment, so it wasn't there! I've checked it and you should now see it rejecting the form.

One issue I still see is there's no useful feedback beyond 'there is a problem with the form' - the strangeness of the subject chooser may hide the 'this field is required' message which should appear. If this is a major is

[2015-10-07 07:44] dommitchell commented on #815
Thanks! Tested it and it works. Saw the 'this field is required' message and then it disappeared.

Could we maybe have the #first_problem scroll to the title of the box: 'Subject classification' and add a 'this field is required' next to the title there?

[2015-10-07 11:47] Steven-Eardley commented on #877
Fix is live

[2015-10-07 11:49] Steven-Eardley commented on #790
The changes are now live, and the CSV will be re-generated on the hour.

[2015-10-07 12:20] Steven-Eardley commented on #858
They're all duplicated, which is odd. I'll see what's up.

In the absence of a more sophisticated scheduling system, the notification script runs each week, checking how many assigned records are older than a certain date, for each user. It has no concept of 'memory' - whether it sent an email last time. The behaviour you've clarified requires a check every day to see if any assigned records are o

[2015-10-07 12:27] Steven-Eardley commented on #814
These appear in mailtrap as you perform the actions that trigger them on the editorial forms. I could also show you them all in one go by running the test file that checks they're are all triggered, but this is the result of a synthetic test, not real usage.

As an aside, if we are being limited by mailtrap's free plan, it might be worth giving them money for a month or two - just now, $9.99 p/m w

[2015-10-07 12:47] greboun commented on #814
@StevenEardley   I have been looking at the test site in applications for
an example of the completed status
I noted that the text has to be updated
[image: Inline image 1]
"setting the status to completed will alert the editor that you have
completed your review"
Ass editors will not be able to see or change the Ready status am I right?

TOM

Dr. Tom Olijhoek
Editor-in-Chief  DOAJ
Support us: www

[2015-10-07 13:28] Steven-Eardley commented on #814
That's right, only editors and managing editors will be able to use the 'ready' status. The changes for this are going in with the rest of the feedback before workflow release.

[2015-10-07 14:45] dommitchell commented on #877
Perfect!

[2015-10-07 14:45] #877 closed

[2015-10-07 14:52] dommitchell commented on #790
Great! Closing

[2015-10-07 15:01] dommitchell commented on #814
Of course! Got it!

Hmm, am reluctant to do that. Once the current mailtrap gets full, does it lock us out?

[2015-10-07 15:21] emanuil-tolev commented on #814
No, it just deletes everything over 50 emails. You can send 3000, it'll only keep the last 50.

It is a bit annoying as mailtrap is theoretically ideal, we try to send the email to the correct target but it actually never goes there (hence "trap"). We could hack something up that sends BCCs to a shared gmail inbox, but that obviously requires .. well, hacking around, who knows when we'll get to it

[2015-10-08 08:30] dommitchell commented on #814
OK. @Steven-Eardley let me know when you have fixed the duplication issues from the asynchronous task and I'll take a look again,

[2015-10-08 12:51] dommitchell commented on #790
Sorry, now column AB is completely blank.

[doaj_20151008_1330_utf8.xlsx](https://github.com/DOAJ/doaj/files/10057/doaj_20151008_1330_utf8.xlsx)

[2015-10-08 12:53] Steven-Eardley commented on #790
goodness gracious. I don't see how my changes could have done that! thanks - I'll see what's up.

[2015-10-09 13:36] dommitchell commented on #858
*FEEDBACK Round 2*
Managing editor /reminder: summary of records not touched for x weeks /
4147 applications in the pipeline have not been updated for 4 weeks or more, of which 4147 have never been updated by an editor.

Is this text here for this summary of all records not touched because it seems to imply something slightly different: ALL records not allocated. And: just wondering how is this ca

[2015-10-09 13:38] dommitchell commented on #815
Now the error message has disappeared all together:
https://testdoaj.cottagelabs.com/admin/suggestion/009aa12f367944e0a18727d4d137c166#first_problem and the error message "There is a problem with the submitted form." is above the fold which means you need to scroll up to see it.

[2015-10-09 13:39] dommitchell commented on #814
@Steven-Eardley so just to be sure, I can now go through the action that trigger these and they will send emails to mailtrap?

[2015-10-09 13:42] Steven-Eardley commented on #815
Yes, that's the behaviour I saw when I wrote my comment above. I was a little surprised you'd seen a 'this field is required' message! I'm working on displaying it properly.

[2015-10-09 13:44] Steven-Eardley commented on #814
Yes, I recommend clearing the inbox and checking you get what you expect.

[2015-10-09 14:25] dommitchell commented on #814
Question for 'a record has been marked as Ready', this is for any record marked as ready, right? It's not role-dependent?

[2015-10-09 16:00] Steven-Eardley commented on #814
It’s role dependant insofar as only the Managing Editors and Editors have access to that status.
If Eddie the editor changes it, the email will say the change was made 'by Eddie', and if a ManEd make the change it’ll say 'by a Managing Editor'.

My reasoning behind this was that there’s no reason for a Managing Editor to use that status unless it’s to advise other ManEds that it’s ready - they cou

[2015-10-11 17:42] Steven-Eardley commented on #790
Aha - it's been blank all this time, because journals do not in fact have the ```article_metadata``` property - i.e. they don't have the information to populate the column at all, only Applications do. The reason it's there is because I borrowed the code from the reapplication CSV, which does contain that information.

Once again, @dommitchell, you have the choice between removing it from the form

[2015-10-12 06:40] dommitchell commented on #814
Ah yes, of course. Well, that's perfect. Thanks!

[2015-10-12 08:07] richard-jones commented on #890
Yes, I think that this is part of the refactoring already pegged for this project.

[2015-10-12 08:19] richard-jones commented on #861
I've made a PR for this.

[2015-10-12 08:23] richard-jones commented on #740
@emanuil-tolev - assigning this over to you for close when you are ready.

[2015-10-12 08:52] dommitchell opened #895 "Add new sponsor: OpenEdition"
http://www.openedition.org/

![openedition_300dpi](https://cloud.githubusercontent.com/assets/5955396/10424417/54c5a17c-70cf-11e5-9491-88e25081e8e7.jpg)

[2015-10-12 09:08] dommitchell commented on #882
We decided that we would leave this for now, low priority, unless we find more of these.

[2015-10-12 09:09] dommitchell commented on #833
Done!

[2015-10-12 09:09] #833 closed

[2015-10-12 09:39] dommitchell commented on #790
Please remove the column

[2015-10-12 09:41] dommitchell commented on #887
These are in the data already.

[2015-10-12 09:49] Steven-Eardley commented on #858
Yes, I'll make this change. Much more useful.

At meeting 12/10/15 @greboun wanted an additional email fragment to editors with a summary of idle records in their group (like the ManEds get). I'll add this too.

[2015-10-12 10:09] emanuil-tolev commented on #749
When this is done also do one pass of nginx logs to determine how many requests we got against what API endpoints before instituting analytics.

[2015-10-12 10:27] richard-jones commented on #708
I've now put a PR in for this one.  The behaviour is that there's a "learn more" link that appears by the APC facet, and when you click it it gives some blurb and then tells you to see a blog post for more details.

If you check this out when it is available on the test server, and let me know if you want the text of the tip changed.

[2015-10-12 16:05] Steven-Eardley commented on #895
This is live now

[2015-10-13 10:02] Steven-Eardley commented on #790
This change is live

[2015-10-13 10:32] dommitchell commented on #790
Great!

[2015-10-13 10:32] #790 closed

[2015-10-13 13:23] dommitchell commented on #895
Great!

[2015-10-13 13:23] #895 closed

[2015-10-14 09:34] dommitchell commented on #814
TESTING. FEEDBACK Round 2.
All good. Some textual changes mostly but I have tested the system and seen all the emails.

*General comments*
- emails contain long URLs (eg https://testdoaj.cottagelabs.com/admin/applications?source=%7B%22query%22%3A%7B%22query_string%22%3A%7B%22query%22%3A%2200059927f5a148bfa87ca97258a50432%22%2C%22default_operator%22%3A%22OR%22%7D%7D%7D) which I expect will be broke

[2015-10-14 15:11] emanuil-tolev commented on #814
FYI that worked OK for me. Theoretically this should work fine as they're URL-encoded .. URLs. So they shouldn't contain anything which causes GMail to break up the link or be confused by it. URL encoding converts spaces into %20-s, double quotes into %22-s, etc. etc.

[2015-10-14 15:13] emanuil-tolev commented on #814
However .. I do see that the links we are generating are to the *search page*, but contain application IDs. Could we generate links directly to the applications themselves instead, or was this a requirement of the project? (or some other reason of course - it just struck me that if we're performing a search that could only ever return 1 result we might as well send them links to the resource itsel

[2015-10-14 15:16] Steven-Eardley commented on #814
I give the link to facetview so that the edit locks work properly, and 'unlock and close' works on the form once you arrive there. Since it's part of the editing workflow, I didn't want to break these things.

[2015-10-14 15:18] emanuil-tolev commented on #814
Yeah engaging the lock should work just by going to that URL (in effect that's what you're doing from the search page anyway, whether that be from an email or a search page doesn't matter), but unlocking/closing won't. Fair enough. We should think about refactoring this a little @dommitchell . In effect it seems to me we are introducing an alternative workflow with these emails, so being able to u

[2015-10-14 15:19] emanuil-tolev commented on #814
But not hold up this project with that.

[2015-10-14 15:23] greboun commented on #814
Would it be easy to generate links to the suggestions? Then I would prefer
to have that improvement

TOM

Dr. Tom Olijhoek
Editor-in-Chief  DOAJ
Support us: www.doaj.org/support

On Wed, Oct 14, 2015 at 5:13 PM, Emanuil Tolev <notifications@github.com>
wrote:

[2015-10-14 16:33] Steven-Eardley commented on #814
@greboun, at the moment, where a link is provided, the item is visible in a facetview result e.g. showing a single application in the facet results on admin/applications, then allowing the link to be clicked and opening the edit form. This means the 'Unlock and Close' button on the form will work properly, and to avoid seeing an issue like #808 again.

Of course, if you'd like to change the way th

[2015-10-15 07:39] dommitchell commented on #878
Updated the task. I had misunderstood the original request @richard-jones

[2015-10-15 09:41] dommitchell commented on #814
I think this is fine as is for now. And no need to change the email links.

Just the text changes needed.

[2015-10-15 09:45] Steven-Eardley commented on #814
Cool, the text changes are done, workflow will all be ready once I've made the additions for #858

[2015-10-15 14:45] emanuil-tolev commented on #830
There's a PR for this, reviewing/rolling out now

[2015-10-15 14:49] Steven-Eardley commented on #858
*2712 applications in the pipeline have not been updated for 4 weeks or more, of which 2710 have never been updated by an editor.*

I've had difficulty imagining a better phrasing for this - what I have is a query for applications that have a last_updated date from before our cutoff (4 weeks ago), and it includes those assigned to associates and those left unassigned. There's loads of these, so I'

[2015-10-15 15:30] greboun commented on #858
I think what we need is

"X  applications which were assigned to an (ass) editor have not been
updated for 4 weeks or more"

for editors  and ManEds

Dr. Tom Olijhoek
Editor-in-Chief  DOAJ
Support us: www.doaj.org/support

On Thu, Oct 15, 2015 at 4:49 PM, Steven Eardley <notifications@github.com>
wrote:

[2015-10-15 15:49] Steven-Eardley commented on #858
Okay @greboun, I'll add those constraints.

[2015-10-15 16:29] emanuil-tolev commented on #738
- public articles [public, registered users, publishers]

This part isn't quite done I think. It seems to require an API key to retrieve an article. If an article is in_doaj=True it is allowed to be seen by the public, in fact we expose them in the public search API. See portality.api.v1.crud.journals.JournalsCrudApi#retrieve for how that's done in journals.

Sorry to bother @Steven-Eardley but I

[2015-10-15 17:11] emanuil-tolev commented on #861
This was rolled out Mon Oct 12 around 15:35 BST, sorry for the lack of update after that happened.

[2015-10-15 17:12] emanuil-tolev commented on #861
I suppose ask them to retry @dommitchell ? Or try yourself on test site with their sheet they emailed you?

[2015-10-15 17:13] emanuil-tolev commented on #830
OK, fix has been rolled out and we think this should put a stop to the duplicates appearing. I'll do the dedupe now then.

[2015-10-15 17:13] emanuil-tolev commented on #830
(do tell if any new ones appear or if people who've had trouble stop having trouble, etc.)

[2015-10-16 07:51] dommitchell commented on #861
Have asked them to retry.

[2015-10-16 07:58] dommitchell commented on #830
Dedupe not been done yet?

https://doaj.org/toc/1687-4129/2014
https://doaj.org/toc/1687-0425/2004/71

[2015-10-16 08:00] dommitchell commented on #830
https://doaj.org/toc/1678-9946

[2015-10-16 08:23] dommitchell commented on #858
Reviewed and looking good! Excellent!

[2015-10-16 08:25] dommitchell commented on #815
Looking good! Closing.

[2015-10-16 08:25] #815 closed

[2015-10-16 08:30] dommitchell commented on #858
Sorry. Just one last thing. Please add:

This is an automated message. Please do not reply to this email.

to the bottom of these emails too. Then all is good to go live. I don't need to check that.

[2015-10-16 08:34] dommitchell commented on #814
FEEDBACK Round 3

'Directory of Open Access Journals - your application is under review.'
'Directory of Open Access Journals - your application has been assigned an editor for review'

Please append "This is an automated message. Please do not reply to this email." to them.

Once done, this can go live. I don't need to check.

[2015-10-16 08:36] dommitchell commented on #801
All good! Ready to go live!

[2015-10-16 08:36] #801 closed

[2015-10-16 08:37] dommitchell commented on #785
Just out of interest, what's the ETA on this one? (It's less urgent than the rest BTW.)

[2015-10-16 09:45] dommitchell commented on #861
Success! 93 reapps submitted and processed.

[2015-10-16 09:45] #861 closed

[2015-10-16 10:55] emanuil-tolev commented on #861
phew, awesome

[2015-10-16 11:01] emanuil-tolev commented on #785
@dommitchell Actually, let us review all TnM issues and put a (new if necessary) order to them the coming Tuesday. Then it'd be easier to give ETAs for all of them, since we only need to consider API Phase 3, any final Workflow stuff and all TnMs.

[2015-10-16 11:06] emanuil-tolev commented on #830
Mudding through it now. Lots of double-checking so I don't delete the entire article index etc. :)

[2015-10-16 11:08] dommitchell opened #900 "Removed journal from DOAJ: articles still findable"
We removed http://bit.ly/1GhwBJX from the DOAJ on 11th Sept.

Somehow an article published in that journal is still findable online: https://doaj.org/article/287f83f673a94a67954d0aa146ab826b

How?

[2015-10-16 12:25] emanuil-tolev commented on #900
Somebody had linked to it. We wouldn't display links to it (as the journal's ToC would be taken down) but we still displayed the article. I checked, and luckily the system state is changed correctly (the article was marked as taken out of DOAJ correctly), but the /article page was just not paying attention :). I've rolled out a hotfix, this article and all others like it should now 404 if you clic

[2015-10-16 12:26] dommitchell commented on #900
Great! Thank you!

[2015-10-16 12:26] #900 closed

[2015-10-16 12:34] greboun opened #902 "An application or reapplication should not be save-able with text in an URL field"
I noted in a application that the field of Q31  Enter the URL... could be filled with text only and the record was saveable. Acc to Dominic this could be a bug??

![image](https://cloud.githubusercontent.com/assets/12031556/10541602/b196da38-7412-11e5-89b8-7b28a9f11599.png)

[2015-10-16 12:48] emanuil-tolev commented on #902
Yes, if that can really happen and validation is on (i.e. you haven't checked the "Allow incomplete form" checkbox), that is a small bug.

[2015-10-16 12:55] dommitchell commented on #730
Can you remind me about this: why can't we fix the page so that it scrolls to the place where there is an error?

[2015-10-16 12:57] greboun commented on #902
It happens n all the Dove press reapplications  eg

https://doaj.org/admin/suggestion/3fc74615c61e4cb09b9bc63275b5c7ff

Dr. Tom Olijhoek
Editor-in-Chief  DOAJ
Support us: www.doaj.org/support

On Fri, Oct 16, 2015 at 2:48 PM, Emanuil Tolev <notifications@github.com>
wrote:

[2015-10-16 12:59] emanuil-tolev commented on #730
Well, this is a Chrome issue. We could specifically scroll the page ourselves to the first error or something (though this would take quite a bit of trial/error to get the speed of activation, speed of scrolling etc. right). Thus we just override Chrome's behaviour, if we can. The problem is, Chrome waits for the page to load (and so will we), so we need to scroll the page *after* Chrome. It's qui

[2015-10-16 14:15] dommitchell commented on #730
Seems that it is also an issue in Safari: Version 9.0.1 - Editor has reported that happening last night.

[2015-10-16 14:19] emanuil-tolev commented on #738
# TODO add test for when you're trying to create an article for a journal not owned by you on article tests

[2015-10-16 14:48] emanuil-tolev commented on #738
Also change swagger spec to specify only the GET route has api key optional. Others are still required.

[2015-10-16 16:51] emanuil-tolev commented on #830
Sorry, still didn't quite manage to run this today, but it is **almost** there. I had to change our current duplication detection algorithm a bit - not in the sense of how we detect duplicates, but so I get all the possible duplicates. Currently it returns maximum one duplicate, so I'd have to run it an undetermined number of times to get rid of all of them. It was just written with a different us

[2015-10-19 07:30] dommitchell commented on #608
@emanuil-tolev @Steven-Eardley Please can you make this live now (the link on the home page and the link in the Application Form)?

[2015-10-19 08:30] #887 closed

[2015-10-19 08:39] dommitchell opened #903 "Remove blanks for fields in the data"
For example publisher names, platforms, Societies etc #887

[2015-10-19 08:42] dommitchell commented on #680
This was fixed with #861

[2015-10-19 08:42] #680 closed

[2015-10-19 21:18] Steven-Eardley commented on #608
This has been released to live now.

[2015-10-20 06:27] dommitchell commented on #608
Perfect! Thanks!

[2015-10-20 10:14] dommitchell commented on #858
Closing

[2015-10-20 10:14] #858 closed

[2015-10-20 10:14] dommitchell commented on #814
CLosing

[2015-10-20 10:14] #814 closed

[2015-10-20 10:39] emanuil-tolev commented on #746
@dommitchell looking good at URL above?

[2015-10-20 12:02] dommitchell opened #904 "Produce a list of journals removed from DOAJ that have articles attached to them"
As part of the continuation project, we will be reviewing our removal policy for journals that no longer publish. The criteria for NOT removing a journal is:

- they have article metadata in DOAJ
- they have an online, albeit, mothballed version of the site
- the content is preserved in an official repository

To find out about the first point above, we need to know how many journals that are NOT

[2015-10-20 12:02] dommitchell commented on #904
Assigning this to the continuations project as I hope it can be done then.

[2015-10-21 12:00] dommitchell opened #905 "Turn URLs in an application into real URLs"
Please let me know how difficult it would be to turn the URLs in an application form, under editing, into real URLs or followable links so that editors can click on them to follow them instead of having to cut and paste them as they do now.

[2015-10-21 12:16] dommitchell opened #906 "Generate reapplication record"
Libyan Journal of Medicine is missing its reapplication record. Please generate one:

3d2c55c62a4c4aa79e65113e802530d8
1819-6357

[2015-10-21 12:18] dommitchell commented on #906
As per #590 journal is now in DOAJ.

[2015-10-21 12:31] dommitchell commented on #746
Thanks! I like it!! It looks great.

First thing I did is try to embed it in my wordpress blog and it didn't work. I know that, for example, Slideshare has Wordpress specific embed code for Wordpress. Is the code you provide at https://testdoaj.cottagelabs.com/widgets universal?

[2015-10-22 09:39] Steven-Eardley commented on #902
The validator was missing. Fix is now live.

[2015-10-22 09:43] greboun commented on #902
Thanks  issue closed

[2015-10-22 09:43] #902 closed

[2015-10-22 09:45] dommitchell commented on #577
Closing

[2015-10-22 09:45] #577 closed

[2015-10-22 09:48] dommitchell commented on #526
Resurfacing this one as I think it is becoming more prominent as more people work on the system. See #730 as well.

[2015-10-22 09:53] dommitchell commented on #526
Google Analytics tells me that 54% of all users use Chrome

[2015-10-22 09:54] dommitchell opened #909 "Application form: text change"
Question 50: change wording to

Does the journal allow readers to 'read, download, copy, distribute, print, search, or link
to the full texts of its articles' and allow readers to 'use them for any other lawful purpose'?

[2015-10-22 10:06] Nimphal commented on #746
How did you include it in your wordpress? Did you edit your theme? Or did
you paste into a blogpost? If the latter, then you'd need something like
this to make it work https://wordpress.org/plugins/html-javascript-adder/ .
WordPress does not take kindly to random JS scripts in blogposts generally.
The widget is as general as they get, just some JS to be loaded. It works
when included in HTML pages

[2015-10-22 11:13] Steven-Eardley commented on #909
You have an extra apostrophe there

[2015-10-22 11:33] dommitchell commented on #909
Good catch! Updated.

[2015-10-22 11:43] dommitchell commented on #746
Yup, just pasted it in. Thanks for the guidance!

I think that this widget is good to go live whenever the time comes. Thanks @Nimphal !

[2015-10-22 12:03] Steven-Eardley commented on #909
How do you feel about using italics instead?

quotes:
<img width="569" alt="screen shot 2015-10-22 at 13 00 05" src="https://cloud.githubusercontent.com/assets/1446355/10664680/2f888726-78bd-11e5-9ad1-ddbcef967fba.png">

italics:
<img width="560" alt="screen shot 2015-10-22 at 13 01 31" src="https://cloud.githubusercontent.com/assets/1446355/10664684/36232c3a-78bd-11e5-9aeb-afef395940e3.png">

[2015-10-22 12:18] emanuil-tolev commented on #577
You can see this for live journals at https://doaj.org/search?source=%7B%22query%22%3A%7B%22filtered%22%3A%7B%22filter%22%3A%7B%22bool%22%3A%7B%22must%22%3A%5B%7B%22term%22%3A%7B%22_type%22%3A%22journal%22%7D%7D%5D%7D%7D%2C%22query%22%3A%7B%22match_all%22%3A%7B%7D%7D%7D%7D%2C%22from%22%3A0%2C%22size%22%3A10%7D (APCs facet), and similarly for applications. Did introducing those facets answer your o

[2015-10-22 12:24] emanuil-tolev commented on #526
OK so we should scroll to anchor (like first error) or scroll to top. Is this a TnM thing? I think the bug label's from before we used the current labels, as I can't see how this is a bug in the DOAJ software.

It would take a few hours (hmm... >2 and up to 1 day roughly), mostly due to being a huge pain to fix as we're working around the browser - it might not be enough to add code to re-focus th

[2015-10-22 12:27] emanuil-tolev commented on #906
How do you guys search for all applications by a specific publishers on the UI?

[2015-10-22 13:17] Steven-Eardley opened #910 "Workflow emails re/app wording"
from @dommitchell:

publishers because many are getting in touch asking why they have an
email about a new application.

[2015-10-22 13:19] Steven-Eardley commented on #910
@dommitchell can you clarify which emails are causing confusion? We do differentiate between applications and reapplications for some of the cases. Here are the emails sent to publishers:

[code]

[2015-10-22 13:23] emanuil-tolev commented on #906
OK, this publisher seems to have 31 reapplications. We do have some complicating circumstances:

1/ This publisher has a Reapp CSV.
2/ This publisher has submitted 29 of their 31 reapplications
3/ We want to *add* a reapplication (original post in this issue)

If I do 3/ then they shall have 32 reapplications available to them, 29 of which would have been submitted. I believe this means we will ne

[2015-10-22 13:23] Steven-Eardley commented on #910
My guess would be these two, which don't have a reapplication case:
[code]
But if it's the other ones, perhaps something is broken and it's not detecting when something needs a reapplication-worded email.

[2015-10-22 13:25] emanuil-tolev commented on #910
And this is the directory of production email templates (where to check those files): https://github.com/DOAJ/doaj/tree/production/portality/templates/email

[2015-10-22 14:27] dommitchell commented on #903
From a colleague, providing much more detail:
/start/
There are two basic situations:
    Extra spaces at the end (or beginning) of the text
    Double or multiple spaces within the text

The extra spaces are not normally apparent on DOAJ web pages, because they are usally fixed automatically by the browser for display. However, they do make it difficult to deduplicate journal titles and publisher

[2015-10-22 14:30] dommitchell commented on #282
#903

[2015-10-22 14:30] dommitchell commented on #196
#903

[2015-10-22 14:37] dommitchell commented on #910
I already edited https://github.com/DOAJ/doaj/tree/static_pages/portality/templates/email which as my own branch

I changed:
assoc_editor_application_assigned.txt
publisher_application_editor_assigned.txt
publisher_application_inprogress.txt

They just need to go live. Hope I haven't done something wrong... :/

[2015-10-22 14:37] emanuil-tolev commented on #903
Interesting. Unrelated to resolving this (which is not hard, though probably not totally trivial with testing it properly) - How'd they get that data, API?

[2015-10-22 14:38] dommitchell commented on #906
That would be grand! I can confirm that they submitted everything by hand in the end.

[2015-10-22 14:39] emanuil-tolev commented on #910
Ah ok we thought you wanted us to change them. I have recently updated static_pages so your changes should be fine. @Steven-Eardley you ok to release static pages? I create a hotfix out of an updated production and git merge static_pages. You should get a conflict if they differ in an incompatible way (though as I say, they should not).

[2015-10-22 14:39] dommitchell commented on #903
Nope CSV file!

/start/
Should you want to investigate your CSV File yourself in Excel, you may find the followng helpful: Insert a column next the field you wish to check, and add a formula such as =IF(LEN(a2)=LEN(TRIM(a2)),"","spaces!") - where A2 is the cell being checked. Fill or copy the formula down the new column. You can then sort or filter on the new column to group together the errant ro

[2015-10-22 14:41] dommitchell commented on #526
Let's discuss at the next meeting.

[2015-10-22 14:43] emanuil-tolev commented on #903
Oh yeah :)

[2015-10-22 14:46] Steven-Eardley commented on #910
Okie, working on it now

[2015-10-22 14:48] dommitchell commented on #909
I like italics! :+1:

[2015-10-22 14:50] dommitchell commented on #830
How's this going?

[2015-10-22 15:09] Steven-Eardley commented on #910
```static_pages``` (with the changes for this issue) deployed to live. Closing.

[2015-10-22 15:09] #910 closed

[2015-10-22 15:10] Steven-Eardley commented on #909
Live now!

[2015-10-22 15:11] Steven-Eardley commented on #738
@emanuil-tolev fixes for this released with PR #907

[2015-10-22 15:12] #736 closed

[2015-10-23 09:16] dommitchell commented on #909
Great! Thank you for the fast turnaround!

[2015-10-23 09:16] #909 closed

[2015-10-27 08:15] dommitchell opened #911 "Reapplications: uploading CSV doesn't validate URLs | Seems to be bumping an answer"
Should the publisher CSV for reapplications be validating for real URLs? Because it isn't at the moment. See the attached which processed successfully.

Also: processing the spreadsheet bumps the third answer to question 25 'National Library' to 25b eg https://doaj.org/admin/suggestion/e423d135150b430c93e06665597e079e

See
[11786957 final.xlsx](https://github.com/DOAJ/doaj/files/19444/11786957.fin

[2015-10-27 12:09] emanuil-tolev opened #912 "500 Internal Server Error when adding a new editor"
Rikard experienced a problem adding a user liana to editorial group Spanish4.

I found what I believe is the right error in the logs:

[code]

Not quite sure what's going on, but leaving here to investigate later - it seems that "liana" does not exist as an account. Not sure, can you assign accounts that do not yet exist to editorial groups? Probably not. But we should give an appropriate error me

[2015-10-27 14:50] emanuil-tolev commented on #911
What isn't a real URL? Sorry if I'm being a bit dumb but I read 3-4 journals and they seem to mostly be copy/pasted dovepress URLs, which in itself you may or may not like from an editorial perspective, but wouldn't make them invalid URLs. What cell's got an invalid one?

I can confirm the national library/other thing, it does seem weird. The CSV question is "25a) If a national library, which one?

[2015-10-27 14:56] greboun commented on #911
I have seen that a form was filled with ticking  national library:   name
 and in other : national library
other> national library should be an invalid option

Dr. Tom Olijhoek
Editor-in-Chief  DOAJ
Support us: www.doaj.org/support

On Tue, Oct 27, 2015 at 3:50 PM, Emanuil Tolev <notifications@github.com>
wrote:

[2015-10-27 15:02] emanuil-tolev commented on #911
I think this is being caused by the system itself, I don't think people are actually putting that text in Other. Like in the reapp CSV above - question 25b is actually empty, but after ingestion that text appears. This is the system being unable to interpret the "national library" option well enough I think. The implementation of this was quite tricky back in early 2014 (having 2 text fields with

[2015-10-27 15:13] emanuil-tolev commented on #912
Apologies to Rikard, I seem to have munged that up in my mind. liana does exist. I have also, good news, found the problem. The issue is that another editor, "luisa", is part of this Editor Group but her account's actually been deleted (see https://doaj.org/account/luisa - Not Found!). This presents the system with a dilemma - you're asking it to make "Associate Editors: christian, luisa, marsolh,

[2015-10-27 15:53] emanuil-tolev commented on #761
Done in #746

[2015-10-27 15:53] #761 closed

[2015-10-27 15:54] emanuil-tolev commented on #748
Done

[2015-10-27 15:54] #748 closed

[2015-10-27 16:15] emanuil-tolev commented on #746
The live documentation page is pointing to the test server's widget, it should point to the production one.

[2015-10-28 07:23] dommitchell commented on #911
Apologies. In some answers, instead of a URL, the publisher is putting text. Check out Question 31: https://doaj.org/admin/suggestion/06940b0f92db46229a971a2b82b27b5a

Right. That's the problem. Sample answer in the form:
x A national library: PubMed
x Other: A national library

Same answer in the CSV:
25) What digital archiving policy or program(s) does the journal belong to? LOCKSS, CLOCKSS, Nat

[2015-10-28 08:28] dommitchell opened #913 "ToC builder needs to ignore / in volume name"
http://bit.ly/1NpGaWY

Now look at the ToC: https://doaj.org/toc/2194-9050

The publisher has a volume numbering system that includes '/'. The / is preventing articles being attached to the ToC correctly.

Would it be a simple change to make / be treated as a normal character?

[2015-10-28 15:05] dommitchell commented on #830
@emanuil-tolev what's the latest here please? I really need to get these duplicates deleted ASAP

[2015-10-28 17:18] Steven-Eardley commented on #913
It could be as simple as escaping or url-encoding the character so it isn't interpreted as part of the path, yes.

I think.

[2015-10-28 19:08] emanuil-tolev commented on #830
Sorry for the lack of update here Dom. This .. is a bit of a mess. You can read details at #915 . I'll quote a comment from the code:

Obviously we want to keep the original.

This is basically a piece of technical debt - it was written originally for a different purpose and we're trying to make an essentially new feature (delete all duplicates of X) out of it. We have almost succeeded, although t

[2015-10-28 19:08] emanuil-tolev commented on #830
I'll pull in Steve for a bit of brainstorming tomorrow, hopefully we can pick up my trail and have this offed in a few hours, and I'll provide an update again.

[2015-10-29 09:54] dommitchell commented on #830
@emanuil-tolev OK, thanks for the update. Please make this your absolute priority. The duplication is now showing up in 3rd party databases that take metadata from us and we are getting complaints. (Not that there is any right to complain since they get our metadata for free but it damages our reputation.) I know you are working your hardest to get this done and it is appreciated!

[2015-10-29 10:14] greboun opened #916 "change of text in doaj application form"
q 47 now reads
Does the journal allow allow reuse and remixing of content, in accordance with a Creative Commons license?

should be changed to
Does the journal allow reuse and remixing of content in accordance with a Creative Commons license or *other* type of license with similar conditions. (Select 'Other')

[2015-10-29 11:48] dommitchell commented on #750
@emanuil-tolev can we get the links to google groups up soon?

[2015-10-29 11:52] emanuil-tolev commented on #830
Yeah the only bright side is at least no matter what duplication we get later, if it ever happens, cleanup will take just rerunning what we're writing now.

[2015-10-29 18:02] emanuil-tolev commented on #750
Yep, added to my todo - there's the dedupe stuff I'm dealing with, one small but important sysadmin upgrade that deals with a subtle bug, and I've got more enhancements due for the CRUD API docs - I'll put on the links with those I think.

[2015-10-29 20:42] Steven-Eardley commented on #747
1. first step - copy current widget

2. functionality:
take a JS variable DOAJ_WIDGET_QUERY = "string as per Discovery API docs"
take a JS variable DOAJ_WIDGET_DOCTYPE = journal|article
display a facetview after loading all necessary libraries - JS libraries can be loaded in the JS part of the widget (use current jQuery loading as example) and CSS can be loaded in the HTML part of the widget - the

[2015-10-29 20:58] Steven-Eardley commented on #746
Should the we consider a transparent background (or a border) for the DOAJ logo in the widgets? This is how it looks when I chuck the simple search into a hero unit:

<img width="307" alt="screen shot 2015-10-29 at 20 56 32" src="https://cloud.githubusercontent.com/assets/1446355/10831831/be460d68-7e7f-11e5-8383-96a061231d2a.png">

[2015-10-30 10:56] dommitchell commented on #746
Er, what's a hero unit? Sounds like Black Hawk Down.

I can ask the designer to provide?

[2015-10-30 11:25] Steven-Eardley commented on #746
@dommitchell It's just a fancy ```div``` which is used in bootstrap css to make some content stand out: http://getbootstrap.com/2.3.2/components.html#typography

I have no idea why it was named such, and in fact it's called 'jumbotron' in the newer versions, which is apparently what those large TV displays at stadiums or concerts are called. Makes a bit more sense, but it's still a funny word.

[2015-10-30 11:44] dommitchell commented on #746
I'm thinking we need to have the DOAJ logo on a white background since that's almost part of our colour scheme, if you will, and if we have it invisible it will disappear on non-white backgrounds. Can the border be added with html/css or should I have the designer make one?

(jumbotron... hilarious!)

[2015-10-30 11:51] Steven-Eardley commented on #746
I think we'll just set a white background for the widgets in html/css so it covers the whole region. Are you happy to do this for yours, @Nimphal?

[2015-10-30 11:56] dommitchell commented on #746
Sounds good to me!

[2015-10-30 12:11] emanuil-tolev commented on #746
Sounds reasonable to set a white box for the entire widget, yes, at least until we decide to offer more design flexibility. If so we should also mention this on /widgets.

[2015-10-30 16:39] greboun opened #917 "News page duplicates all posts"
website shows duplicated entries  dd 10/30/2015 5.39 EST

![image](https://cloud.githubusercontent.com/assets/12031556/10851758/2d350eba-7f2d-11e5-9c60-0067c7833431.png)

[2015-11-02 07:44] dommitchell opened #918 "Add new sponsor: PLoS"
![new-plos-logo](https://cloud.githubusercontent.com/assets/5955396/10876557/136d1fa0-813e-11e5-8bbf-b0682d4f8ec2.jpg)

and link to https://www.plos.org/

Thanks!

[2015-11-02 07:53] emanuil-tolev commented on #918
I'll get this as I'm doing an early release for something anyway. FYI they style it PLOS nowadays (e.g. open homepage and see title of browser window), I had it corrected on another project with them.

[2015-11-02 08:02] emanuil-tolev commented on #918
done on live

[2015-11-02 08:03] dommitchell commented on #918
Superfast! Thank you!

[2015-11-02 08:03] #918 closed

[2015-11-02 11:20] emanuil-tolev commented on #830
FYI after about 12.5% of the index in about 3 hours:

Number of articles deduplicated: 2121
Number of duplicates deleted: 10107

It's relatively slow since we're waiting a second after each delete (1. so the script is nice and quiet and doesn't load the index much since it's already pressing hard looking for each duplicate and 2. we don't accidentally go over the same article again after the curre

[2015-11-02 11:47] dommitchell commented on #830
(Note: article count before dededuping: 2,106,987 Articles)

Yup, https://doaj.org/toc/1982-4327/24 looking good. Will keep an eye on https://doaj.org/toc/1678-9946, https://doaj.org/toc/1687-0425/2004/71 and https://doaj.org/toc/1687-4129/2014

[2015-11-02 15:53] emanuil-tolev commented on #830
New progress update (note the % and estimates are very rough, the only "real" thing is number deduplicated and number of duplicates deleted):

2.34% done of all articles
Number of articles deduplicated: 5645
Number of duplicates deleted: 25161

I'm afraid I was a little optimistic in my last update with the 12.5% - that was 12.5% of the first 1/16th of the index... now we are at 37.5% of the first

[2015-11-02 15:59] dommitchell commented on #830
I have no idea how many we are talking here and it does seem quite high. However, there may well be duplicates in the db already that were *not* generated by this 'bug'. I also know that both Hindawi and Scielo have been uploading content to us and both reported duplication. They are two of our biggest publishers so that amount isn't completely unfeasible.

I am inclined to let it run. Any dedupin

[2015-11-02 16:08] emanuil-tolev commented on #830
To explain the numbers above a bit more:

This is within the 2.34% of all articles. So we've gone over the first 2.34% (about 49k) and out of them we found duplicates for 5645.

This could be from anywhere within the index, not just the first 2.34%. So the articles deduplicated go in a neat sequential fashion, but their duplicates could be from anywhere at all from the remaining amount of articles

[2015-11-03 07:45] dommitchell commented on #830
@emanuil-tolev I see the article total is now at 2,060,616 Articles (on homepage). I wonder if we need to explain to the community what is going on?

What's the status this morning?

[2015-11-03 11:55] emanuil-tolev commented on #830
Hey :). Sorry for delay,  at an event about the DOAJ datastore.. will prove to be very important in time I think.

Anyway,  looking good I think. About 10% done. A lot less deletes!

Number of articles deduplicated: 22597
Number of duplicates deleted: 89018

[2015-11-04 10:12] emanuil-tolev commented on #830
We've done about 18.75% of the index,

Number of articles deduplicated: 46'001
Number of duplicates deleted: 156'449

[2015-11-04 10:16] dommitchell commented on #830
Wow! Are there really that many?

What's the difference between article deduped and dupes deleted? I don't understand the nuance.

Does the process run over articles for journals *not* in DOAJ as well?

[2015-11-04 10:23] emanuil-tolev commented on #830
This is going to take a week at the current speed.. I'm inclined to propose we stop it and take a good look at the log of results (like take all the IDs, get the articles and get their titles, DOIs and so on). I suppose ideally we'd have run this on a staging server ideally, but I honestly did not expect that many!

Yes, it does.

Articles deduplicated is "the articles for which at least one dupli

[2015-11-04 11:26] emanuil-tolev commented on #830
Alright, I've done this now. If you'd like to put a message out:

I'm quite busy today but I'll aim to bring up the daily 6am backup from the day I started the script into the Test server. Then I'll paste the script log and I'll explain what it means. Afterwards any of us can start spot-checking (and I will) the records via the admin search on https://testdoaj.cottagelabs.com to try to understand

[2015-11-04 13:15] Steven-Eardley commented on #785
@dommitchell good news! this is live now and ready for your perusal.

[2015-11-04 13:54] greboun commented on #785
Hi

Saw it working on an application form today!
Works like a dream  Great   thanks a lot

Dr. Tom Olijhoek
Editor-in-Chief  DOAJ
Support us: www.doaj.org/support

On Wed, Nov 4, 2015 at 2:15 PM, Steven Eardley <notifications@github.com>
wrote:

[2015-11-05 11:39] dommitchell opened #920 "Contact us link on API page returns error"
When not logged in, the Contact Us link under Authenticated Routes on https://doaj.org/api/v1/docs returns an error: https://doaj.org/api/v1/%7Bcontact_us_url%7D

[2015-11-05 16:15] dommitchell opened #921 "Clear form entry field on hidden questions"
original issue: **Unable to save form**

Invokes 'Problem with submitted form error' but no indication on the form where or what the error is:

https://doaj.org/admin/suggestion/003cd6bc210344a09333c641dba95a47

Reported by @greboun

[2015-11-05 16:30] Steven-Eardley commented on #921
Well, the error is on question 31, which is hidden! Say 'yes' for the preceding question and you see "N/A" is in the text box. This is related to a fix I recently put in at @greboun's request, issue #902

[2015-11-05 16:32] Steven-Eardley commented on #921
That's quite tricky to find - we should perhaps clear that text box when the question is hidden, so there isn't a chance for nasty data to get in there.

[2015-11-06 08:37] dommitchell commented on #921
@greboun I'll leave this to you to look at first. We can discuss later.

[2015-11-06 09:28] greboun commented on #921
I think it would be best to clear the text box atomatically when the
Question is hidden like you suggest
Thanks for sorting this out

Dr. Tom Olijhoek
Editor-in-Chief  DOAJ
Support us: www.doaj.org/support

On Fri, Nov 6, 2015 at 9:37 AM, dommitchell <notifications@github.com>
wrote:

[2015-11-06 10:56] #785 closed

[2015-11-07 17:53] Steven-Eardley commented on #920
This is live now. I also fixed the CSS which was causing some discrepancies in font sizes. (bonus!)

[2015-11-09 09:54] dommitchell commented on #920
Great!

[2015-11-09 09:54] #920 closed

[2015-11-09 16:27] dommitchell opened #923 "Add new sponsor: De Gruyter"
Link to http://www.degruyteropen.com/

![dg_open_h](https://cloud.githubusercontent.com/assets/5955396/11039278/23fd0c08-8707-11e5-9936-3b92d0957d7a.jpg)

[2015-11-10 12:53] dommitchell commented on #830
@emanuil-tolev  did you get the staging server up?

[2015-11-10 13:02] emanuil-tolev commented on #830
Almost @dommitchell , aiming for this afternoon. A fair bit of configuration that had slipped my mind for a new environment unfortunately.

[2015-11-10 14:35] Steven-Eardley commented on #923
Live now

[2015-11-10 14:42] dommitchell commented on #923
Smashing! Closing

[2015-11-10 15:02] dommitchell commented on #608
@Steven-Eardley would it be at all possible to repeat the link 'Copyright & Licensing help' (https://doaj.org/rights) under the next section 'Copyright and Permissions' as well?

@richard-jones happy to add further tnm, of course.

[2015-11-10 15:24] Steven-Eardley commented on #916
Live now

[2015-11-10 15:26] dommitchell commented on #923
I am very sorry but publisher wants logo changed:

![dg_open_h](https://cloud.githubusercontent.com/assets/5955396/11066264/c27803a4-87c7-11e5-8729-5cec5da3bf63.jpg)

[2015-11-10 15:28] Steven-Eardley commented on #923
Such is life. I'm halfway through a release just now, it'll go in afterwards!

[2015-11-10 15:30] Steven-Eardley commented on #608
@dommitchell Live now, with your added link from static_pages too.

[2015-11-10 15:33] dommitchell commented on #608
Wow! Superfast! Thanks!

[2015-11-10 15:33] #608 closed

[2015-11-10 18:33] Steven-Eardley commented on #923
Sorted

[2015-11-11 16:47] emanuil-tolev commented on #830
Finally done with the restore here - I had to restore the dataset to the test server in the end instead of a new one (time constraints with properly configuring a new env) and even that brought the test one down! I finally figured out why - it's not surprising - essentially restoring 3 servers worth of data to 1 isn't perceived well by Elasticsearch. However it seemed to work, no errors in logs, I

[2015-11-11 16:49] emanuil-tolev commented on #830
(By the way, that article I used as an example, 0000178c89214dc8b82df1a25c0c478e, really does seem to be triplicated. Brace yourself, there are some shocking number of what the script thinks are duplicates, like 7 to 10 duplicate records!)

[2015-11-12 09:53] dommitchell commented on #923
Thank you and apologies again!

[2015-11-12 09:53] #923 closed

[2015-11-12 13:27] dommitchell opened #924 "Unable to delete articles"
Any idea why this delete doesn't work?

http://bit.ly/1MYVDR3

It selects 122 articles and then says it is deleting 0

[2015-11-12 16:22] dommitchell opened #925 "Search differentiates between capital and small letters"
Try searching on "International journal of Women’s Health" (small j) - no results

Try searching on "International Journal of Women’s Health" (capital j) - 2 results

That shouldn't happen.

[2015-11-13 08:36] dommitchell commented on #830
OK, I am spot-checking all IDS starting with 4. Will report back here.

[2015-11-13 11:32] dommitchell commented on #830
Finished spot-checking the 4s. My general observation is that we have a bit of a mixed bag of reasons for duplication. There must be a pattern here as to when duplication occurs: many duplicates took place in April and August 2015. Also, there are more article in the database than appear in search. There has to be some reason that the database is making invisible copies of articles. I actually thi

[2015-11-13 13:13] emanuil-tolev commented on #830
We do go over all records, incl. articles not in DOAJ, so for those a TOC won't be shown. They still exist in the index and they should be findable via admin search.

[2015-11-13 13:32] dommitchell commented on #830
Err, but these are instances of the *same* article that *are* in DOAJ. 9 appear in your csv, only 2 appear on the toc. Same article, same journal.

[2015-11-16 09:39] richard-jones commented on #925
Is that with the quote marks around it?  Because quote marks mean "exactly as specified", which is why it would differentiate between lower and upper case.

[2015-11-16 09:43] richard-jones commented on #925
Though in attempting to reproduce, I'm having some trouble.  I'm relatively easily able to find the journal with either search criteria.

[2015-11-16 09:45] richard-jones commented on #925
Note that if you copy and paste from here, something has messed with the apostrophe which makes neither search work (probably a microsoft character set).  If you replace it with a normal apostrophe, both searches seem to work fine.

[2015-11-16 09:54] richard-jones commented on #924
My guess is that the query string with the URL in it is breaking things.  Probably I forgot to add the appropriate special character escapes to the string when I send it to the delete routing, which means the search isn't working correctly.

[2015-11-16 10:47] richard-jones opened #926 "Make new repository for harvester"

[2015-11-16 10:48] richard-jones opened #927 "DOAJ client library"

[2015-11-16 10:48] richard-jones opened #928 "EPMC client library"

[2015-11-16 11:36] richard-jones opened #929 "Plugin framework + runner workflow"
This is to do the following things in parallel:

* design the plugin superclass
* design the general framework for running plugins
* integrate with the other plugin support aspects, such as state persistence

[2015-11-16 11:36] richard-jones opened #930 "EPMC plugin"
Use the EPMC client library and implement a plugin for the plugin framework that allows us to import data from there.

This will include an EPMC -> DOAJ crosswalk

[2015-11-16 11:37] richard-jones opened #931 "Harvester state mechanism"
Object models and storage layer for harvester state persistence

[2015-11-16 11:38] richard-jones opened #932 "Extend DOAJ Discovery API Journal endpoint - new query substitution "username""
Create a new substitution on the journal search API for username which maps to admin.owner.exact

Update the associated documentation

[2015-11-16 11:39] richard-jones opened #933 "ISSN extraction from Journals + continuations"
module for harvester that can extract ISSNs from journal and continuations metadata and can re-sequence for harvesting.

[2015-11-16 11:40] richard-jones opened #934 "Harvester state workflow"
Implement state workflow for issn records to be harvested, which creates, suspends and reactivates issns as necessary.

[2015-11-16 11:42] richard-jones opened #935 "History system refactor"
Make the following modifications to the article and journal history systems:

* re-write snapshot() to output a json file to disk
* store snapshots on disk in per-day directories (for easy delete)
* store snapshots one per file with name <id>_<timestamp>.json

Old directories should then be archived off (e.g. to S3/glacier or just deleted) based on some retention policy.

[2015-11-16 11:43] richard-jones opened #936 "History system migration / backup"
The current article and journal histories should be taken out of ES and serialised to files on disk, then retained/deleted as per the retention policy.

The indexes for these should then be deleted.  In parallel with #935 this will get rid of the existing history system

[2015-11-16 11:44] richard-jones opened #937 "Duplicate request experiment"
Carry out experiments to get nginx to replay web requests to the DOAJ to another web server also, for the purposes of duplicating live system load in the test environment.

[2015-11-16 11:45] richard-jones opened #938 "Test harness (apache kb, or our own) to simulate load (plan B)"
If #937 cannot be made to work as required, create a basic test harness which will generate load semi-randomly to allow load testing to continue

[2015-11-16 11:45] richard-jones opened #939 "Deploy performance testing infrastructure (copy live)"
Harvester project test environment

[2015-11-16 11:46] richard-jones opened #940 "Run load test ("load" requests, harvester, scripts and backups) + analyse"
Harvester load test, with the following criteria:
- normal load coming from web front end (via #937 )
- harvester running
- backups running
- normal asynchronous scripts running

[2015-11-16 11:50] richard-jones opened #941 "Article cleanup script"
Building on the existing journalinfo.py script, we need a script which does the following for each article:
1. Checks that there is a corresponding journal
   - If there is not, the article should be deleted
2. Ensure that the article in_doaj status is the same as the journal's
3. Applies the journal's information to the article metadata as needed

In order for this to be run regularly it needs to

[2015-11-16 12:02] dommitchell commented on #925
Huh! So it is the apostrophe that is the problem and not the capitals...? I just did a search on "International journal of Women's Health" and it worked fine!

[2015-11-17 07:23] dommitchell commented on #819
What's happening to this?

[2015-11-17 08:59] dommitchell commented on #771
No longer needed

[2015-11-17 08:59] #771 closed

[2015-11-17 09:02] dommitchell commented on #708
Please change 'learn more' to 'What do these figures mean?'

Please change: 'Our current knowledge about APCs for journals in DOAJ. For more information see this blog post (opens in new window).' to 'The data here may not be complete. For more information see this blog post (opens in new window).'

[2015-11-17 09:56] greboun commented on #925
More on this note
When I do a search in admin on users  and I search for @elsevier  there are
no results   searching for @elsevier.com returns one result

Dr. Tom Olijhoek
Editor-in-Chief  DOAJ
Support us: www.doaj.org/support

On Mon, Nov 16, 2015 at 1:02 PM, dommitchell <notifications@github.com>
wrote:

[2015-11-17 10:04] dommitchell commented on #925
Yeh, this is slightly different. To search on email addresses in users, you must use either the full email address, or the entire prefix before the @ or the entire suffix after the @. You can't just search on a part of either.

[2015-11-17 10:42] emanuil-tolev commented on #819
https://www.dropbox.com/s/hz5njwv9ustpmsl/reappreport_20151117_1041.csv?dl=0 :)

[2015-11-17 10:43] emanuil-tolev commented on #819
Output:

[code]

[2015-11-17 10:55] dommitchell commented on #752
API role is assigned automatically

[2015-11-17 11:09] #925 closed

[2015-11-17 11:18] dommitchell commented on #911
This is working correctly. Because a value to Q25 isn't recognised, it gets automatically deposited to Q25b: Other.

[2015-11-17 11:18] #911 closed

[2015-11-17 11:22] dommitchell commented on #906
@emanuil-tolev will regenerate this and delete the CSV

[2015-11-17 12:04] dommitchell opened #942 "Areas that need refinement over the coming 6 months - discussion item"
XML upload process:
- documentation
- troubleshooting. What invokes each error message? Why? Inventorise each error message like we did in #475
- update and make clearer some of the error messages #367
- XLS. The information on this page is out of date and incomplete https://doaj.org/features#xml_upload. We need to publish the list of what's required, what isn't, what attributes must be present, r

[2015-11-17 12:05] dommitchell commented on #942
To be added to. Meeting to be scheduled for December.

[2015-11-17 13:04] richard-jones commented on #917
We've reset the news feed and re-run it a few times, and everything seems to be fine.  We have checked the code and it all passes muster, so it's not clear what caused the duplication issue.

Closing for the time being, but we'll keep an eye on the news feed and re-visit if the issue returns.

[2015-11-17 13:04] #917 closed

[2015-11-17 13:05] emanuil-tolev commented on #917
This should be fixed. I don't think it's a code problem so if this occurs again we will need to look at it in a lot more detail (in the sense of trying to reproduce it, and it could be a number of factors including hardware load and resources, which are notoriously hard to reproduce). This incident (and the news fetch logs we keep) is actually looking like an important data point in an ongoing ana

[2015-11-17 15:01] emanuil-tolev commented on #924
FYI the request (a POST) sends this

[code]

Seems like your hunch is right. Is it possible to send the exact same query facetview2 itself would send? Or rather perhaps, what is preventing us from reusing that query building functionality (since this feature already works by using the same filters and freetext query that facetview uses)?

That might help avoid similar situations and more important

[2015-11-17 17:24] emanuil-tolev commented on #906
Here's the CSV for posterity as I've deleted it now: https://www.dropbox.com/s/hqmkuq3leusdm2y/reapplications_16544951.csv?dl=0

[2015-11-17 17:25] emanuil-tolev commented on #906
original filename: 16544951.csv (which will need to be used if it's restored to appdata/doaj/reapp_csvs ).

[2015-11-17 17:28] emanuil-tolev commented on #906
OK, reapplication should be generated. Find it at https://doaj.org/admin/suggestion/1f4a1b02a98c42d3b85b40bd1fcd1810 . Script output:

[code]

[2015-11-17 17:29] dommitchell commented on #906
Confirmed and thanks!

[2015-11-17 17:29] #906 closed

[2015-11-18 08:04] dommitchell opened #943 "Add new sponsor: AAAS"
Please add a new sponsor and link to http://www.aaas.org/

![aaas-logo-157x52px](https://cloud.githubusercontent.com/assets/5955396/11235632/4b0f4720-8dd3-11e5-9518-030805c478a5.png)

[2015-11-18 10:20] dommitchell commented on #819
Thank you! All good. Until December...

[2015-11-18 10:23] dommitchell commented on #917
Great! Thanks!

[2015-11-18 12:23] Steven-Eardley commented on #943
live the noo

[2015-11-18 18:22] dommitchell commented on #943
Beautiful! Thanks!

[2015-11-18 18:22] #943 closed

[2015-11-19 08:12] dommitchell commented on #830
A database has got in touch and said that some articles are missing. Can you check if this one was one that was removed?

 "Intelligence system of supply chain management of logistic company based on the discrete event, agent and system dynamic simulation models" Vestnik Astrahanskogo Gosudarstvennogo Tehničeskogo Universiteta. Seriâ: Upravlenie, Vyčislitelʹnaâ Tehnika i Informatika, Iss 2, Pp 143

[2015-11-20 14:39] richard-jones commented on #756
There is now a PR in for this

[2015-11-23 10:19] emanuil-tolev commented on #830
Hmmmm. This isn't appearing on the Test DOAJ (I searched by the title, "Intelligence system of supply chain management of logistic company based on the discrete event, agent and system dynamic simulation models" in admin search), which has a dataset before we ran the delete / deduplicate script. In general you can check on Test.

[2015-11-23 10:22] richard-jones commented on #942
Some refactoring tasks:

* Looking at moving to a "business logic" layer for the core, which will allow us to keep separate the main content workflows (e.g. article ingest) from the various ways into the system (e.g. article web form, XML upload, API)

* Re-working the core object models to use the new data-object code we are now using in the API.  There's a lot of improvements we could make here,

[2015-11-23 11:36] dommitchell opened #945 "Sorry your account does not have an associated email address error"
Seeing a few emails with this message in it:

Sorry your account does not have an associated email address

when people trying to reset their own passwords. And all have email addresses associated with them.

EG 1488559x

Do we know why?

[2015-11-23 11:40] dommitchell opened #946 "Too many automated password reset emails getting in stuck in institutional firewalls"
Here's the text:

A password reset request for account '1759667X' has been received and processed.
Please visit http://doaj.org/account/reset/a4e374ce6c3948d49413bc5839375f60 and enter your new password.

If you are the user '1759667X' and you requested this change, please visit that link now and set the password to something of your preference.

If you are the user '1759667X' and you did not requ

[2015-11-23 12:10] emanuil-tolev commented on #946
Oh god. Have you guys worked with copywriters before, e.g. around some marketing / events / OA week / publisher comms...? If you have a competent one of those, that's the fastest way (as they'd have to keep up to date on what goes and what doesn't). Otherwise we can get up to speed on this as we do understand the mechanisms underlying the email ecosystem, but it might take longer. It's a bit of a

[2015-11-23 12:27] dommitchell commented on #945
Another example: 1307234X

[2015-11-23 12:29] emanuil-tolev commented on #946
![password_reset_email_stats](https://cloud.githubusercontent.com/assets/1190172/11336385/c96d9d12-91dc-11e5-8c72-968398320fdd.png)

Deliverability looks alright, but it might not be able to detect the emails being assassinated after they enter the institution's network. Note that because they're plain-text, Mandrill probably can't do click rate and open rate detection (e.g. it can't really be 0,

[2015-11-23 12:31] emanuil-tolev commented on #946
If you're interested in these stats we could give you a separate Mandrill DOAJ account and change over to it (it's free up to 12k emails / month which we've never reached). We set this one up in a bit of hurry back in 2013 when everything was in a bit of a hurry. That's something for #942 to discuss.

[2015-11-23 12:48] emanuil-tolev commented on #945
Wow, that's .. uncanny. Obviously the error is there for really rare circumstances of legacy data and administrative accounts. If it couldn't find the account you'd get (the much more often seen)

[code]

Now the error you've reported is when there *was* an account, but it didn't contain an "email" field. But these accounts do contain an email field. It's my favourite kind of bug, starting with a

[2015-11-23 13:23] emanuil-tolev commented on #945
Hmmm. This actually works on test!

* * *

A password reset request for account '1488559x' has been received and processed.
Please visit http://testdoaj.cottagelabs.com/account/reset/blahblah and enter your new password.

If you are the user '1488559x' and you requested this change, please visit that link now and set the password to something of your preference.

If you are the user '1488559x' and

[2015-11-23 18:05] richard-jones commented on #929
After looking at the EPMC API, it looks like unfortunately we can't get the results to a query ordered by "update date", we can only get them ordered by "publication date".  Since that's no use in terms of the re-start ability of the script, propose that we just have to go through each day per ISSN, and use that as the re-start level of granularity.

Will keep playing with the API and see if any o

[2015-11-23 18:55] #926 closed

[2015-11-23 18:55] #928 closed

[2015-11-24 17:10] richard-jones commented on #708
Made a hotfix PR for this

[2015-11-24 17:35] richard-jones commented on #932
Made a PR for this.  Though only required for the harvester project, it is a minor tweak to the API that may well be suitable for roll out along with that project.

[2015-11-24 17:54] dommitchell opened #949 "ISSN dropdown in metadata upload form shows both ISSNs"
https://doaj.org/publisher/metadata

If a journal has two ISSNs, both of them are shown in both dropdowns in this form.

Only print issns should show in the Print dropdown and only e issns should show in the Electronic dropdown.

Is this agnostic just now because of ISSN discrepancies?

[2015-11-24 18:07] dommitchell opened #950 "Reapplication submitted but not recorded in the system"
https://doaj.org/admin/suggestion/c2c2bba6cef74383bd570687cf00dde1
Application status: Reapplication Pending
and yet the publisher got a confirmation email.

From: <feedback@doaj.org>
Date: 2015-09-01 16:23 GMT-06:00
Subject: Directory of Open Access Journals - reapplication received

Dear Publisher,

Revista en Ciencias del Movimiento Humano y Salud

Thank you for completing your reapplication to

[2015-11-24 21:25] remocrevo opened #952 "Journal facet "Date added to DOAJ" doesn't display correct results"
On the DOAJ website, when you choose the "Journals" facet and then choose a year from the "Date added to DOAJ" facet, the search results are from the year after the chosen year.  For example, if you choose 2014 (the newest option currently), you see only journals with a "Date added to DOAJ" value in 2015.

[2015-11-24 21:44] Steven-Eardley commented on #952
Hi @remocrevo, I'm having trouble replicating the off-by-one issue, and I see over 1200 journals on the public search page added in 2015. Please can you provide a few more details:

* is the issue you've reported on the main search page, https://doaj.org/search ?
* Do you have any particular query in the search box?
* which browser are you using?
* have you tried [clearing your browser cache for t

[2015-11-25 14:26] Steven-Eardley commented on #708
Deployed on live now!

[2015-11-25 14:57] remocrevo commented on #952
Hi @Steven-Eardley, thanks for the quick response! Yes, this is starting at the main search page.  Same results in Firefox, IE and Chrome, all on Windows 7, all after clearing the cache. I'm not doing any search query, only loading the search page and clicking on the two facets.  I'm attaching a screenshot of how the "Date added" facet looks after I click on the "Journals" facet; there is no 2015

[2015-11-25 15:37] greboun commented on #708
Looks good
This one we really needed
Thanks

Dr. Tom Olijhoek
Editor-in-Chief  DOAJ
Support us: www.doaj.org/support

On Wed, Nov 25, 2015 at 3:26 PM, Steven Eardley <notifications@github.com>
wrote:

[2015-11-26 06:43] dommitchell opened #953 "File system error when reading file"
Why would this error be invoked? I presume it is a system error and not an XML error? Account 01013122

![01013122](https://cloud.githubusercontent.com/assets/5955396/11416810/6b259e94-9411-11e5-8880-888a8f2a4985.jpg)

[2015-11-26 06:55] dommitchell commented on #942
Added a lot of detail around what is required for the XML piece.

[2015-11-26 08:03] dommitchell commented on #708
Perfect!

[2015-11-26 08:03] #708 closed

[2015-11-26 11:24] emanuil-tolev commented on #953
This is raised when the file can be ingested but another problem occurs during processing, with file system problems being most likely. It's kind of a "last stand" so it isn't most descriptive (it is most likely a filesystem error in the sense of some OS-level problem of reading the XML file, but there is a chance of something else entirely). Unfortunately for some reason the specifics are not pri

[2015-11-27 16:42] Steven-Eardley commented on #952
Thanks for the extra information. We've done some head-scratching about this, and we reckon we've found a probable cause: our UI was using the JavaScript method```getFullYear()``` which was rendering the threshold date (2015-01-01 0000) relative to the time in your location, which would have been in 2014.

We've changed this to ```getUTCFullYear()```, so you should see the correct dates. Thanks fo

[2015-11-30 12:34] remocrevo commented on #952
It works great!  Thanks for your work on this.

[2015-11-30 12:34] #952 closed

[2015-12-01 09:07] dommitchell opened #959 "Add new order by... option to search"
Users of public journals search should be able to sort by APC, ascending and descending.

http://bit.ly/1PXInww

Please assess and quote for tnm

[2015-12-02 14:05] Steven-Eardley commented on #747
The widget layout for journals (removed tick, APC, subjects, date added)

<img width="552" alt="screen shot 2015-12-02 at 14 01 38" src="https://cloud.githubusercontent.com/assets/1446355/11532712/99b355c6-98fd-11e5-8814-d72f75bc4b6a.png">

[2015-12-02 14:26] dommitchell commented on #890
Actually the old data had a field 'Year in which the journal stopped publishing OA content'. Can this be reused to become Year in which the journal stopped publishing'?

[2015-12-02 14:35] dommitchell commented on #747
This is great!

[2015-12-02 14:42] dommitchell commented on #942
Headings for discussion
1. Documentation for the site (users/troubleshooting/etc.)
2. Article Ingest - metadata form, XML upload, XSD, related to refactoring
3. Reapplication (and its shutdown)
4. Business logic refactoring
5. Core system object refactoring (and how to handle legacy data model)
6. Application form refactoring/layout (may imply model changes)

[2015-12-02 14:52] emanuil-tolev commented on #890
I'd make a new field, as we're getting rid of the old journal records shortly anyway (with reapp shutdown). And we should also get rid of those parts of the admin / editor journal form that deals with the old metadata. This should be a proper part of the record handled in the same way as any other piece of metadata.

[2015-12-03 12:29] dommitchell commented on #924
@emanuil-tolev @richard-jones can you update me on this one? I'd like to get this publisher's articles deleted. Or can you delete them for me?

[2015-12-03 12:33] dommitchell opened #960 "Generate 3 missing reapplication records"
2 records missing for the same account:
Amsterdam Law Forum - 1876-8156
European Journal of Life Writing - 2211-243X
(Account 22115242)

and

1 record missing for:
Technology Interface Journal - 1523-9926
(Account 21578052)

[2015-12-04 10:50] dommitchell commented on #913
Another example of this: https://doaj.org/toc/2300-5866/2/2/2011

[2015-12-04 15:22] dommitchell opened #961 "Sending email to wrong contact name"
There is a bug in the confirmation emails going out for reapplications.

/start/
Dear Fernando César Lima Leite,
Congratulations! Your reapplication for Revista Ibero-Americana de Ciência da Informação has been successful and the journal has been accepted back into DOAJ. Please go to the new journal record and review to check for accuracy. In particular, please check that the ISSN information is c

[2015-12-05 14:47] Steven-Eardley commented on #961
@dommitchell the system is doing the right thing - see my email entitled 'doaj issue 961 - publisher name incorrect'. The account the journal is owned by is named Fernando; you could assign the journal to a different account for Murilo if you like.

[2015-12-07 07:14] dommitchell commented on #961
Thanks! Closing and opening new, separate issue

[2015-12-07 13:05] dommitchell opened #962 "Reapplication accepted email should go to journal contact listed in reapplication record."
Please change it so that when a reapplication is accepted, the confirmation email goes to the Journal Contact listed in the accepted reapplication record (Questions 9 and 10) and *not* the contact in the account or the original application.

[2015-12-07 13:06] dommitchell commented on #961
Now I think about this: where are we pulling the name information from? We don't store that anywhere in the user database....

[2015-12-07 13:27] Steven-Eardley commented on #961
Of the 8074 accounts in DOAJ, 7308 have a name field. You can see the email I mentioned above for a sample of what we store for accounts. Under the normal workflow we create a new account when a journal is accepted, using the contact information from the application form. So we do store the names, but don't have an interface for changing it on existing accounts.

The situation reported in this iss

[2015-12-07 13:30] dommitchell commented on #961
Yah, I am just wondering where those names came from originally. They must have been imported when we migrated in 2012/3. As you say, there is nowhere to change them in the current interface and there is also nowhere that they are displayed:  eg https://doaj.org/account/00015113

[2015-12-07 13:38] Steven-Eardley commented on #961
They continue to come from the application form; the journal contact fields. We just don't display them anywhere else, or allow anyone to change them!

[2015-12-08 12:21] dommitchell opened #963 "Mandrillapp delivery failure"
Is this a capacity issue?

Delivery to the following recipient failed permanently:

[code]

Technical details of permanent failure:
The recipient server did not accept our requests to connect. Learn more at https://support.google.com/mail/answer/7720
[(10) mail.mail136-14.atl41.mandrillapp.com. [198.2.136.14]:25: socket error]

[2015-12-08 13:19] emanuil-tolev commented on #963
The error means that the remote mail server (where the target email account was supposed to be hosted) has failed to respond to the attempt to deliver the mail. I'm not sure why the target is feedback@mail136-14.atl41.mandrillapp.com , that seems like a nonsensical address for DOAJ to be sending mails to.

There shouldn't be any capacity issues as we're covering the Mandrill cost and it's set to a

[2015-12-09 12:19] dommitchell commented on #945
Still getting lots of emails from people where this link isn't working. One or two then get back to me and say they got it working. I don't have the time to pin this down. Closing for now.

[2015-12-09 12:19] #945 closed

[2015-12-09 13:44] dommitchell opened #964 "2619 articles return 500 Internal Server error"
http://bit.ly/1OT479U

These are all article of the license type 'CC by-nc' which is an old license type and shouldn't be on the site. Note that there are 2 CC BY-NC listing under license now:

CC BY-NC (350137)
CC by-nc (2619)

Any idea what is going on?

[2015-12-09 14:00] emanuil-tolev commented on #964
A bit of an idea. It'll crystallise soon enough. cc @richard-jones @Steven-Eardley did we not have to deal with a similar error on article pages before?

If not we'll investigate more thoroughly (though I think we have enough info to replicate). Below is the error log, and below that, the article's JSON record in Elasticsearch so we can replicate locally.

Looks like we might need to escalate that

[2015-12-09 14:03] dommitchell commented on #964
I was also reminded of the metadata migration that you carried out for me where we standardised on the licenses. #241 #242 I think this may be related.

[2015-12-09 14:31] emanuil-tolev opened #965 "Newrelic error detailing and performance metrics off for Live"
Availability monitoring is still on so we know when the app is down (and separately, all the servers). But performance metrics and recent (up to 24h) error details are not available. @emanuil-tolev to investigate and contact Newrelic Support if needed. We do not freeze the newrelic agent version and are running the latest Python data collection agent in a suitable manner, plus Newrelic configurati

[2015-12-09 14:31] emanuil-tolev commented on #965
Also off for the Test DOAJ.

[2015-12-10 10:27] dommitchell opened #966 "Add new sponsor: ISSN"
![issn_logo](https://cloud.githubusercontent.com/assets/5955396/11712981/d27bf38e-9f30-11e5-8156-c6b05d6783b8.jpg)

Link to http://www.issn.org/

[2015-12-10 11:11] emanuil-tolev commented on #966
How meta. Congratulations on landing this sponsorship.

[2015-12-11 15:50] emanuil-tolev commented on #936
From meeting today: actually just take a full backup of the history types and just delete the types.

[2015-12-14 22:22] richard-jones commented on #941
In addition, we're going to need to add an extra field to the "journal" portion of the article model: "issn".

This is so that the journal can provide the article with the issn to use in generating the toc, in the case that the article also contains another issn which isn't known by the journal record.  In that latter case, this can cause the article to provide the incorrect toc url in the search

[2015-12-14 22:33] richard-jones commented on #964
I've put in a PR which might well fix this...

[2015-12-15 09:51] Steven-Eardley commented on #966
Live now

[2015-12-15 11:34] dommitchell commented on #966
Great!

[2015-12-15 11:34] #966 closed

[2015-12-15 15:37] dommitchell commented on #924
Another request to delete by URL: http://bit.ly/1lLW3OT

Can you fix this one soon?

[2015-12-15 16:43] dommitchell opened #968 "Question: journals that supply metadata"
Is there a way, via any of our current connections to DOAJ metadata for someone to be able to tell which journals provide metadata and which don't? ie via OAI, API, etc

[2015-12-15 18:14] dommitchell commented on #953
This was temporary. CLosing

[2015-12-15 18:14] #953 closed

[2015-12-15 18:15] dommitchell commented on #950
I'd like some feedback on this one and reassurance that this isn't widespread.

[2015-12-16 13:59] emanuil-tolev commented on #819
Output:

[code]

[2015-12-16 14:14] dommitchell commented on #819
CLosing

[2015-12-30 12:12] dommitchell commented on #960
Can we have these done asap?

[2016-01-04 08:35] dommitchell commented on #819
Please run this again before COB 4pm UK time 7th Jan

[2016-01-04 12:11] dommitchell commented on #819
Please run this again before COB 4pm UK time 6th Jan

[2016-01-04 13:24] dommitchell commented on #964
@richard-jones did this go live?

[2016-01-04 13:33] Steven-Eardley commented on #964
Assuming @richard-jones meant commit https://github.com/DOAJ/doaj/commit/0165de1e872a9ca333c37b54e4f483b6159ac992 , yes, his changes are live. Are you still seeing the 500 error?

[2016-01-04 13:37] dommitchell commented on #964
Yep, no change: https://doaj.org/article/000c38480c3d4d1383444cf8b24bc85d

[2016-01-04 16:16] emanuil-tolev commented on #819
For my own reference: run ```(doaj)cloo@doaj-app-1:~/repl/production/doaj/src/doaj$ DOAJENV=production python portality/scripts/reappreport.py -o ~/reapp_report_`date +%F_%H-%M-%S`.csv```

[2016-01-04 16:17] emanuil-tolev commented on #819
Output:

[code]

File sent by email.

[2016-01-04 16:19] emanuil-tolev commented on #819
Ah, also, I just realised there's another way to interpret your request - do you want me to run that report again *just before* close of business on 6th Jan? I'll rerun it then if that's the case.

[2016-01-04 16:21] emanuil-tolev commented on #964
Error is (still)

[code]

I believe in this case the problem might be that despite @richard-jones's relevant fix, the data on the article record is simply out of date.

The article references a journal that does not exist - see this extract from the article record I pasted above:

[code]

Neither of these ISSNs exist in the catalogue, not even in the administrative site search. What likely happene

[2016-01-04 16:30] dommitchell opened #970 "Update site to show 2016 copyright"
Please update the site so the footer now reads:

© 2003-2016

[2016-01-04 16:30] Steven-Eardley commented on #964
Now I see that, I recall the work is already scheduled - I think this is part of my task for #941, which I'm doing imminently.

[2016-01-05 06:22] dommitchell commented on #819
Nope, this is perfect! Thank you!

[2016-01-05 06:22] #819 closed

[2016-01-05 08:21] emanuil-tolev commented on #970
Um, shall we just put the current year in there with Python?

[2016-01-05 09:00] dommitchell commented on #970
Yeh just whatever is simpler. 2016 is fine.

[2016-01-05 11:09] Steven-Eardley commented on #921
The fix is live now - you can check that hiding questions will clear the hidden text box.

[2016-01-05 11:09] #921 closed

[2016-01-05 11:13] dommitchell commented on #921
Great! Thank you!

[2016-01-05 11:41] Steven-Eardley commented on #747
This is live now - the widgets are found on https://doaj.org/widgets and can be configured from https://doaj.org/search via the ```share | embed``` button. If you're testing the widget embedding, you can use the following template (a skeleton html page) copy in the widget code, then open it in a browser:

[code]

[2016-01-05 11:45] Steven-Eardley commented on #762
Widgets are introduced on https://doaj.org/features which leads to the widgets page at https://doaj.org/widgets.

There is some specific documentation for the 'controllable widget' - fixed query widget - there. It should contain enough information to understand what it does, and what it's for, with a useful explanation of the configuration instructions.

[2016-01-05 12:27] emanuil-tolev commented on #747
Yeah, that's what I did locally to test it too. So I assume when you tried embedding the live DOAJ one that worked?

I had to split the files per environment (like Nev had done with the simple search one). It is a bit of a premature optimisation, but it does mean we don't worry about how it's served and can focus on optimising the /query endpoint in case the traffic becomes too much for us at any

[2016-01-05 12:28] emanuil-tolev commented on #970
This is live now, it shows the current year as it is in UK time at any given moment.

[2016-01-05 12:35] dommitchell commented on #970
Perfect!

[2016-01-05 12:35] #970 closed

[2016-01-05 13:00] dommitchell commented on #747
When I created a test page and inserted the java code, the journal titles, which should be linked to their respective ToC page had URLs like this:

file:///toc/2043-7129
file:///toc/1944-9771
file:///toc/1996-1944

and so on. Can you fix those?

[2016-01-05 14:05] emanuil-tolev commented on #747
Aah, hmm. I can confirm, didn't notice that. I don't believe it's a change I made @Steven-Eardley (though see commit ref above for full details). Let me know if you're trying to fix it in here, otherwise I might have a bit of time this afternoon or tomorrow morning.

[2016-01-05 14:20] Steven-Eardley commented on #747
I'll look now. Thanks for pointing it out, @dommitchell - I'm sure that it worked at some point!

[2016-01-05 15:14] greboun opened #972 "Hotfixes to application form"
ON HOLD UNTIL REAPPLICATION SHUTDOWN

We would like to see the following changes as listed in #137 prioritized:
as per our discussion on 1/5/2016 'remove' can be replaced by 'Hide from public view'
- Question 47: remove the 'No' option
- Question 51: remove OAKlist. OAKlist has been decommissioned.
-  Question 52: remove 'Other'.
-  Question 54: remove 'Other'.

One more question
could the admin /

[2016-01-06 17:02] Steven-Eardley commented on #747
That's sorted and released. Thanks for testing, @dommitchell!

[2016-01-07 06:53] dommitchell commented on #747
Great! Working well!

[2016-01-07 06:53] #747 closed

[2016-01-07 07:32] dommitchell commented on #762
Great!

[2016-01-07 07:32] #762 closed

[2016-01-07 07:42] dommitchell opened #974 "Add a traceable query string to all URLs in the widget"
We talked about making traffic from the widget traceable. I suggested that all we needed, to be able to track traffic in Google Analytics, was to add ?wid to the end of all URLs generated by the widgets.

I would like some analysis done on this in the next 3 months so that we can have something ready to action in the 2nd quarter of 2016. This is going to be important for us to trace usage and poss

[2016-01-07 07:42] dommitchell commented on #974
Adding @Steven-Eardley to the thread

[2016-01-07 08:02] emanuil-tolev commented on #974
@Steven-Eardley since you fiddled with this bit recently, does that sound like something quick you have time to do? I'll put it on my list otherwise

[2016-01-07 10:53] dommitchell commented on #924
And a third: http://bit.ly/1SBV0xo

[2016-01-07 11:07] dommitchell opened #975 "Change to footer.html"
We had some feedback where someone searching for article content was looking at an abstract and then saw in the footer: 'This work is licensed under CC BY-SA'. He thought that meant that the article was licensed as CC BY-SA. How can we avoid that ambiguity? I suggest:

'This site and the metadata in it is licensed under CC BY-SA'

Thoughts?

[2016-01-07 13:17] dommitchell opened #976 "Feasibility question: controllable widget with button"
This is just a question.

Re #762 how feasible would it be to provide users with a button as well so, if they made their own search then could also embed a simple button - Find similar articles on DOAJ?

I think this is slightly different to the functionality of the controllable widget but am sure if it is in any way related. Thoughts?

[2016-01-07 14:13] Steven-Eardley commented on #976
As it is, the fixed query widget is essentially a container for a set of facetview results. So I can imagine a site having such a button and simply hiding the ```<div>``` until the user wants to see it. I expect this would be feasible in its current state (assuming it doesn't mind being hidden and re-drawn).

Although, I'm not totally sure what you're describing. Maybe you'd like a 3rd sort of wid

[2016-01-07 15:25] emanuil-tolev commented on #924
@richard-jones Looking at the initial search @dommitchell reported a problem about, this is the query that I extracted:

[code]

Now when I ran the article delete script, it said it'd delete 122 articles just like the UI does, but in fact it did not delete anything. I had to add the ```--ignore-paging``` argument (which I added a while back) which strips out the from: and the size: from the query.

[2016-01-07 15:26] Steven-Eardley commented on #975
I agree with you, and I suppose it can be a leap in some cases to realise 'this work' is the DOAJ site itself.

perhaps 'DOAJ site and metadata are licensed under CC BY-SA'? Don't ask me if metadata is plural!

[2016-01-07 15:27] emanuil-tolev commented on #975
:+1: I thought we already had language to that effect, but ok, if it's unclear it's unclear.

[2016-01-07 15:27] emanuil-tolev commented on #924
@dommitchell your three requests above should be handled now.

[2016-01-07 15:33] emanuil-tolev commented on #976
It's one of the main uses we envisioned @dommitchell , except users would have to know how to configure the options to show their articles. We can add a few examples on the widget page to show how to embed DOAJ search results relating to [some phrase], [a subject field of study], [a specific author's exact name]. Is that what you mean?

We kind of have that already via the search page's "embed" fu

[2016-01-07 15:34] emanuil-tolev commented on #976
or an author's name surrounded by double quotes to match the entire name at once.

[2016-01-08 08:17] dommitchell commented on #975
OK, thanks

Let's change it to: 'The DOAJ site and its metadata are licensed under CC BY-SA'

[2016-01-08 08:25] dommitchell commented on #924
Thank you! Can I delete based on a search using URL myself now?

[2016-01-08 08:31] dommitchell commented on #976
Thanks guys. Now I read the user's email again, I think what he was after was a button. A DOAJ button that he could embed on his site that, when clicked, would take people to DOAJ search results. He said:

"The other buttons I use all use a form input process, with the search engine identified as follows:
<form method="get" action="http://www.bing.com" target="_blank">, with an input string for th

[2016-01-08 09:54] emanuil-tolev commented on #924
I haven't changed the code @dommitchell , sorry - just ran your deletes so they don't hang around too long. We still need to find out exactly what in a URL causes it to behave like that.

[2016-01-08 11:07] dommitchell opened #977 "Display bug in journal metadata CSV"
The display in the CSV for subject classifications isn't rendering correctly which is causing problems downstream for librarians and folks using the CSV file for their dbs. AND sometimes classifications are missing.

For example: https://doaj.org/toc/2346-9129 -  Agriculture: Agriculture (General) where a colon (:) means that the second subject is a sub-category of the first.

or https://doaj.org/

[2016-01-08 17:07] richard-jones commented on #924
Note to self: try querying with a URL and see if we can replicate this issue in general, then we will have something to work on for a fix.

[2016-01-08 18:12] emanuil-tolev commented on #976
I see, a simple link. How about using the share functionality of the search page?

1\. go to https://doaj.org/search . Perform a search. I performed one for "Isac Karimi" (with the quotes). Copy URL.
2\. put this into html page:

[code]

3\. Replace the href part with the copied URL.
4\. You have a button that goes to the DOAJ search page looking for "Isac Karimi".
5\. Replace ```Isac%20Karimi```

[2016-01-09 21:27] Steven-Eardley commented on #977
This is live

[2016-01-09 21:29] Steven-Eardley commented on #975
This change is live now

[2016-01-11 16:05] dommitchell commented on #976
Thanks Emanuil! Leaving this one open for now. Ball in my court.

[2016-01-11 16:12] dommitchell commented on #977
Great!

[2016-01-11 16:12] #977 closed

[2016-01-11 16:14] dommitchell commented on #975
Perfect!

[2016-01-11 16:14] #975 closed

[2016-01-13 06:42] emanuil-tolev commented on #960
https://doaj.org/admin/suggestion/7376d52d4f794c5cbc74dbdef6da7af2

https://doaj.org/admin/suggestion/0413b550c157457880cda8735caa6295

https://doaj.org/admin/suggestion/e5cc63c933e34987b660067e2b2ff08f

:)

[2016-01-13 06:43] emanuil-tolev commented on #960
Hey @greboun - going to start assigning issues to you when they are marked ready for review, so you can close them if they look ok. You can also filter by "ready for review" label in the issue list.

[2016-01-13 06:54] emanuil-tolev commented on #950
I had the idea it was perhaps submitted when there was a problem (the one that caused us to expand to 3 servers for reliability), but .. there were no problems within days of that date, so it's not that. Going to have to reproduce this, which will probably be pretty hard.

FYI for @Steven-Eardley and @richard-jones the reapplication record was totally empty and just said "Reapplication Pending" as

[2016-01-13 15:31] dommitchell commented on #960
Thanks! Looking good!

[2016-01-13 15:31] #960 closed

[2016-01-13 15:36] dommitchell commented on #950
I don't want to you to spend time on this that will detract you from other stuff. I just want to know: is there any way of telling whether this was a one-off or if the problem is more widespread?

[2016-01-13 16:01] emanuil-tolev commented on #950
We're investigating the possibility first and foremost that it wasn't related to operations problems with running the site, since I managed to figure out that actually we did have that nasty problem around 2nd Sept! So me and Steve will take a look at the ol' backup for the server that was out of sync at the time. If we do find it there, then we know it was a one-off, and I can give you that reass

[2016-01-15 15:55] emanuil-tolev commented on #950
OK good news: this was definitely, definitely a one-off. The code and application architecture do not make this a systematic or even an intermittent problem.

Steve and I analysed the old dataset I had kept from the split-brain situation on 2 Sept 2015, and we found the missing reapplication. I did do some analysis but not something which could've caught the difference in a record (time constraint

[2016-01-15 16:20] dommitchell commented on #950
OK sounds good! I am reassured that this isn't a huge problem but will definitely be interested in your findings.

[2016-01-18 15:30] emanuil-tolev commented on #935
@richard-jones we wrote this spec thinking that currently history records were only ever written by the system, not queried. Obviously it's quite hard to query a bunch of folders which disappear after a few months on the fly.

It'd be useful to chat about ```portality.view.doaj.toc``` a.k.a. portality/view/doaj.py:178 and ```portality.models.openurl.OpenURLRequest.query_for_vol``` a.k.a. portality

[2016-01-18 15:34] emanuil-tolev commented on #935
This involves

models.history.ArticleHistory.get_history_for(article_id)

[code]

My proposition is to simply delete this method. The way to find old records would be to retrieve them from S3/Glacier (if old enough) and to ```fgrep -r -i <article_id>``` them - not something we'd want to keep around in Python.

[2016-01-19 15:28] greboun opened #980 "Unable to save applications (Springer ?)"
it seems that new applications from Springer cannot be edited and saved
the problem is not in the subject classification absence   filling this out still  lead to error message  problem with the application form

https://doaj.org/admin/suggestion/116b280d55ca4067a449715b1036d0fe
https://doaj.org/admin/applications?source=%7B%22query%22%3A%7B%22filtered%22%3A%7B%22filter%22%3A%7B%22bool%22%3A%7B%22

[2016-01-19 16:03] emanuil-tolev commented on #980
Attempted change of editor group from Tom to German1 and it came up with an error without scrolling to error message.

[2016-01-19 16:04] emanuil-tolev commented on #980
Could be potentially required to assign Associate editor. @greboun testing.

[2016-01-19 16:55] emanuil-tolev commented on #980
This is an invalid data problem from before there was a validator on the field. It's question 31 (put Yes to question 30). I'd say this is TnM probably a couple of hours.

[2016-01-19 16:55] emanuil-tolev commented on #980
@greboun you don't need to check, ew think we've found the problem

[2016-01-20 11:00] greboun commented on #980
Thanks

I can probably handle these applications for the moment  by deleting the
content of Q 31 manually/

TOM

Dr. Tom Olijhoek
Editor-in-Chief  DOAJ
Support us: www.doaj.org/support

On Tue, Jan 19, 2016 at 5:55 PM, Emanuil Tolev <notifications@github.com>
wrote:

[2016-01-20 11:06] greboun commented on #980
deleted N/A in Q31 manually and save worked!

TOM

Dr. Tom Olijhoek
Editor-in-Chief  DOAJ
Support us: www.doaj.org/support

On Tue, Jan 19, 2016 at 5:55 PM, Emanuil Tolev <notifications@github.com>
wrote:

[2016-01-20 13:02] emanuil-tolev commented on #980
Probably, but this will likely happen again - we don't know exactly how many there are that put in invalid data before we put in a fix to make it impossible to put in invalid data... we can hold off on doing anything if you want, but it seems like you'll just run into this again if we don't.

[2016-01-20 13:39] greboun commented on #980
Please Fix ASAP  but if I am blocked in the meantime I will do the manual
trick

TOM

Dr. Tom Olijhoek
Editor-in-Chief  DOAJ
Support us: www.doaj.org/support

On Wed, Jan 20, 2016 at 2:02 PM, Emanuil Tolev <notifications@github.com>
wrote:

[2016-01-26 16:11] greboun opened #981 "Workflow: ability to select multiple records and perform batch operations"
#800

requirements now that give the most advantage
!) batch allocate to group / associate editor
2) batch update status
with just these **two batch operations**  the editorial process would could save a lot of time
could be implemented best according to @richardjones possibility 2:
__ A specific "bulk edit" area, possibly as an expandable page segment on the admin area search interfaces (in a sim

[2016-02-02 17:02] Steven-Eardley opened #982 "Article metadata duplication: bibjson.subject"
Each time `Article.add_journal_metadata()` is run, duplicate subjects are added. They are appended from the journal, rather than checking if they exist first. This has been confirmed in data from the live index.

To fix:
- code change to check for existence in `GenericBibJSON.add_subject()` before append
- write a migration to remove existing duplicates from `Article.bibjson.subject`

[2016-02-02 17:14] Steven-Eardley commented on #941
@richard-jones how much does it matter that keys are unicode strings? Sometimes when ```Article.get_journal_metadata()``` is run, it replaces unicode keys ```[{u'type': u'CC BY', u'title': u'CC BY'}]``` with non-unicode keys from the Journal object ```[{'type': u'CC BY', 'title': u'CC BY'}]```

This is triggering my 'a change has been written' bit, although I think they are unicode when I next ret

[2016-02-02 17:15] Steven-Eardley commented on #941
Related issue to this script: bug fix #982

[2016-02-03 11:25] richard-jones commented on #941
There's no strong need for the keys to be unicode - we don't use any special characters in the keys so they should be pretty much interchangeable between unicode and str.  So, if you want to force it to be one way or the other, that's good with me!

[2016-02-09 11:28] Steven-Eardley commented on #941
Would it be sufficient to change the Article's ```index.issn``` to the new one from ```journal.issn``` when the index is built?

[2016-02-09 12:26] richard-jones opened #983 "Replace ToC Article view with FV2"
Replace existing ToC display, which relies heavily on Volume/Issue metadata to be present in the articles, with a search-based article view.

This will re-use the search-based approach that we have used across the board in DOAJ, by providing an embedded facetview on the Journal ToC page. It will have the following features:

* support the existing URL scheme, including the volume and issue numbers

[2016-02-09 12:28] richard-jones opened #984 "Document article xml upload exceptions and possible causes"
1. List all possible errors the user might see
2. Determine all possible causes for each error (errors may have more than one cause)
3. Define what investigation should be done in the case that an error has more than one cause
4. Define what corrective action can be taken by DOAJ staff or the user to resolve the problem.

Then make the following documentation:

1. DOAJ staff guide - detailed infor

[2016-02-09 12:30] #927 closed

[2016-02-09 12:30] #929 closed

[2016-02-09 12:30] #930 closed

[2016-02-09 12:30] #931 closed

[2016-02-09 12:30] #932 closed

[2016-02-09 12:30] #933 closed

[2016-02-09 12:32] richard-jones commented on #17
Superseded by other issues, closing

[2016-02-09 12:32] #17 closed

[2016-02-09 12:34] richard-jones commented on #904
This is not covered by the continuations estimate, so putting it also under tnm.

[2016-02-09 14:52] richard-jones commented on #941
I'm not sure.  Thoughts below...

We need the journal.issn field to link to a single known issn for the journal, that we guarantee will link successfully, but the index.issn contains all known issns for the article, for searching purposes.  That means, I think, that journal.issn is a string and index.issn is a list.

We need to check that we're not re-using the field in two different kinds of cont

[2016-02-09 15:32] richard-jones commented on #982
This indicates that we need to introduce de-duplication into the bibjson model - putting under tnm, as although a bug is also 18 months old!

[2016-02-10 21:56] remocrevo opened #985 "New article search facet: From a Journal with the DOAJ Seal"
I would like to be able to search for articles only within journals that have the DOAJ Seal. This would provide quick access to full-text searching of the best of DOAJ.  Currently DOAJ provides a journal search facet to limit by the DOAJ Seal, resulting in a URL like this:

https://doaj.org/search?source={"query":{"filtered":{"filter":{"bool":{"must":[{"term":{"_type":"journal"}},{"term":{"index.h

[2016-02-10 22:02] remocrevo opened #986 "Browser "back" and "forward" buttons don't change DOAJ search results"
After choosing various search facets in DOAJ, using the browser's "back" and "forward" buttons do change the URL in the address bar, but don't produce any change in the search results list.  This is true on Windows 7 in Firefox, IE and Chrome.

[2016-02-11 10:58] emanuil-tolev commented on #986
@remocrevo can you paste here:

1/ the results of http://whatsmyuseragent.com/
2/ the final search URL you end up with after selecting the various facets you need

I've tried reproducing your problem with http://browserstack.com and it does appear to work fine with both latest and slightly older (e.g. Firefox 42) versions of the browsers.

[2016-02-11 11:08] emanuil-tolev commented on #985
Articles currently hold a limited set of metadata regarding their parent journals, and the seal is not of one the items unfortunately (which is why your search does not work). However, it is a good idea.

@greboun @dommitchell this will involve a few hours to get a simple migration to add this piece of information to all articles so we could probably add it to TnM if you think it worthwhile. (Unle

[2016-02-11 11:14] richard-jones commented on #985
Yes, it would involve adding the seal information to the journal info synchronising that @Steven-Eardley is working on.

The question is for the DOAJ admins to decide if this is functionality that should be provided, and balance that with the user experience, given there are already a lot of facets for articles (remember we kept the list of facets as short as possible to minimise information overl

[2016-02-11 13:31] remocrevo commented on #985
@richard-jones - I could make use of the API if that were the only option, but the search UI would be much more useful. I'm imagining telling students "Click on this link to DOAJ (which limits to journals with the seal) and search for articles for your research project".

As for the concern of overloading users with too many facets, I currently count 10 facets if I select "Journals", and only 6 if

[2016-02-11 15:27] remocrevo commented on #986
I am on Firefox ESR 38.6.0, but seeing the same behavior in IE 11 and Chrome 48.

User agents are:
Mozilla/5.0 (Windows NT 6.1; WOW64; rv:38.0) Gecko/20100101 Firefox/38.0

Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; rv:11.0) like Gecko

Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/48.0.2564.109 Safari/537.36

Final search URL doesn't seem to matter, as I

[2016-02-11 16:00] emanuil-tolev commented on #986
Oh, sorry, for some reason I'd got it into my head that you meant the fwd/back arrows in the search *results* on /search. You are right of course, it doesn't refresh the results.

The reason the address bar changes is to enable sharing the URL of the current (meaning latest) search, but I can see your point. Currently we just push URLs onto the browsers history for the window with Javascript - I a

[2016-02-11 16:51] richard-jones commented on #924
Ok, tracked this down to incorrect serialisation of the query string in the javascript client.  hotfix PR in.

[2016-02-15 11:04] richard-jones commented on #986
Looks like to support browser buttons we need to use popstate:

http://stackoverflow.com/questions/22751023/history-pushstate-fails-browser-back-and-forward-button

Pinging over to @greboun to determine if this should be looked into futher, and if so, whether under tnm.

[2016-02-15 11:05] richard-jones commented on #985
Assigned to @greboun for review.  Can be included in tnm if required.

[2016-02-15 11:07] richard-jones commented on #981
We've previously estimated on this, so currently filing in a new "batch editing" milestone to be considered at some point in the future.

[2016-02-15 11:09] richard-jones commented on #980
So, we have a manual workaround for this one, but what's the overall state of the issue?  I don't think it affected many records, can we identify them and manually clean them, then close this off?

[2016-02-15 11:19] richard-jones commented on #972
When doing this we need to bear in mind that some applications may have these values set, so we need a migration strategy, or a legacy data strategy.

Propose that we first check to see how many records will be affected, then make a decision what to do.  If those records are rejected, for example, we might just want to delete them.

@greboun with regard to your question - yes, this would be possib

[2016-02-15 11:20] greboun commented on #980
I have manually corrected  applications, seems to be always Springer.
This is no big deal for us So for me CL need not put time in this
Close this off
TOM

Dr. Tom Olijhoek
Editor-in-Chief  DOAJ
Support us: www.doaj.org/support

On Mon, Feb 15, 2016 at 12:10 PM, Richard Jones <notifications@github.com>
wrote:

[2016-02-15 11:21] richard-jones commented on #968
For an individual journal, they can query (via the UI or the API) for articles associated with it.  But there's currently no capability to do a "show me all journals that have articles".

We'd need to create an additional bit of journal data to store that, and keep it synchronised, in a similar way as we do with the articles for journal information.

[2016-02-15 11:22] richard-jones commented on #965
Is this just a temporary reminder?  Can we close it off?

[2016-02-15 11:23] richard-jones commented on #964
Added this to the harvester milestone, as it'll be fixed when the journal info script is fixed.

[2016-02-15 11:24] richard-jones commented on #963
Have we resolved the issues with mandrill, now, so this can be closed off?

[2016-02-15 11:30] richard-jones commented on #959
The challenge with this is that the APCs may be in different currencies, so it's difficult to objectively sort them.

We would need to convert the supplied currency to a standard, EUR/USD probably, /at the time it was paid/, and then we could offer normalised sorting over it.

Otherwise, we'd need to introduce an APC Currency facet first, and only then permit ordering by it when one is selected.

[2016-02-15 11:30] richard-jones commented on #950
@emanuil-tolev @Steven-Eardley - I think we resolved that this was due to the split brain issue; did you need to do any further digging, or can we close this off?

[2016-02-16 12:38] #937 closed

[2016-02-16 12:38] emanuil-tolev commented on #939
Done and running, details emailed.

[2016-02-16 12:38] #939 closed

[2016-02-16 12:38] #938 closed

[2016-02-16 12:38] emanuil-tolev commented on #938
Not needed, https://github.com/buger/gor works.

[2016-02-16 12:40] emanuil-tolev commented on #940
We're running this as a copy of live. Actual backups are running, async scripts are all running (except workflow emails). Leaving open to leave analysis results in here when done.

[2016-02-16 12:41] emanuil-tolev commented on #936
note first try on harvester instance

[2016-02-16 14:03] #980 closed

[2016-02-16 14:05] richard-jones commented on #949
This works this way just because the auto-complete uses a generic "issn" field in the index to do the auto-complete.  To separate the print and electronic issns here we'd need to make some changes to the index structure, and to the auto-complete code.  All very doable, but probably more than a day's work.  Let me know if you want us to put it under tnm.

[2016-02-16 14:07] richard-jones commented on #942
We completed our discussion sessions, and out of it a couple of bits of work emerged:

* documenting the article xml upload errors and resolutions
* a modification to the toc to use a facetview style approach
* A good understanding in the team about the end-of-reapplication process

I'm therefore closing this off, as it doesn't have any follow-up actions required.

[2016-02-16 14:07] #942 closed

[2016-02-16 14:11] richard-jones commented on #924
A fix for this has been deployed, but an error has arisen attempting to delete by DOI stub:

10.3389/conf.neuro

@emanuil-tolev or @Steven-Eardley - anything in the logs associated with this?

In the mean time, I will try to re-create in a local dev environment.

[2016-02-16 14:12] richard-jones commented on #912
Propose to move the fixes to a tnm task - @greboun , @dommitchell can you confirm?

[2016-02-16 14:15] richard-jones commented on #905
I think that would depend on how exactly we wanted to do this.  Right now I'm not sure what I'd do, but a couple of options are:

* for all url fields, duplicate the content of the field into a clickable link below the input box
* for all url fields, have a "copy this link" button, or something similar

Either way, we're looking at some fairly low-level changes to how the form renderers work, so i

[2016-02-16 14:20] richard-jones commented on #889
@Steven-Eardley - could you take a peek at this when you get a moment?  The only thing outstanding is that the icons in the applications in admin have disappeared.  Looks like maybe in a newer version of bootstrap icon-signin isn't present, or something.

[2016-02-16 14:20] richard-jones commented on #882
@emanuil-tolev - is this also related to split brain?

[2016-02-16 14:25] emanuil-tolev commented on #950
Another report from #882

* * *

https://doaj.org/admin/suggestion/6de7441d4c604769bc8931ee0c0f90a9

Publisher submitted reapplication on 2nd Sept and got a confirmation email:

feedback@doaj.org
To
XXXXX
Sep 2 at 12:47 PM
Dear Publisher,

Journal of Knowledge & Health

Thank you for completing your reapplication to DOAJ which has been safely received!

Please save this email as a record of when y

[2016-02-16 14:26] emanuil-tolev commented on #882
Yeah 2nd sept is exactly that. Copying it into the other issue now.

[2016-02-16 14:26] #882 closed

[2016-02-16 14:42] richard-jones commented on #881
Just adding this to the Harvester milestone, as it might be that the journalinfo script will clear this confusion up.  If not, we can look again.

[2016-02-16 15:31] emanuil-tolev commented on #934
@richard-jones harvester appears to be calling on the API quite a bit more often than it seems necessary, as we discussed in the Tue 16 Feb meeting.

E.g. article c0c328246b6a481f83d15619b686a6e0 appears 1571 times in the harvester logs (```cloo@doaj-harvester:/var/log/supervisor$ fgrep c0c328246b6a481f83d15619b686a6e0 harvester-for-doaj-error* | wc -l```) and is version 1571 in Elasticsearch on t

[2016-02-16 15:46] richard-jones commented on #878
This is relatively hard, as only the editor group name, and the editor name is attached to the record.

We could easily make the name a link to the editor/editor group search (just an hour or two's work), but if we want to display the editor email we would need to do one of the following:

1. attach the editor's email to the record directly in the index
2. run a second query for the editor's email

[2016-02-16 15:48] richard-jones commented on #913
@Steven-Eardley - could you track this alongside your work on changing the ToC; probably moving to fv2 will get rid of this issue (see #983 )

[2016-02-16 16:00] emanuil-tolev commented on #934
EPMC URL just before article with ID c0c328246b6a481f83d15619b686a6e0
[code]

[2016-02-16 16:02] emanuil-tolev commented on #934
Same article appears under another DEBUG message with URL
[code]

[2016-02-17 20:31] emanuil-tolev commented on #934
We discovered it was doing what it was supposed to do, but it keeps repeating the last day it did. However it actually ran (with a start date of 1 June 2015) in basically less than a day. So far it appears to have submitted about 60k articles for PLOS, see at http://harvesterdoaj.cottagelabs.com .

[2016-02-18 09:58] richard-jones commented on #857
Have we rolled out this update?

I have removed the bug tag, as this is a long-term maintenance issue, rather than a defect.  I've tagged it tnm to cover the updates required.

Do we need to talk about having a review process for standard external information (such as the XSD dependencies discussed here, plus the country/locale information that we also use)?

[2016-02-18 10:02] richard-jones commented on #781
This is now in

[2016-02-18 10:02] #781 closed

[2016-02-18 10:07] richard-jones commented on #654
I believe this is now handled - can we close?

[2016-02-18 10:25] richard-jones commented on #622
I think this is resolved; reassigning to @dommitchell to close or comment

[2016-02-18 10:30] richard-jones commented on #532
It looks like there's only one of these left now:

https://doaj.org/admin/admin_site_search?source=%7B%22query%22%3A%7B%22query_string%22%3A%7B%22query%22%3A%22df03af1d5dea472eb05a20ad128d0344%22%2C%22default_operator%22%3A%22AND%22%7D%7D%2C%22from%22%3A0%2C%22size%22%3A10%7D

@greboun - assigning to you for a decision as to what should be done.

[2016-02-18 10:32] richard-jones commented on #526
I've removed the bug label, as basically this isn't an issue with the DOAJ, it's an issue with how browsers work.  We'd need to put in additional code to force the browsers to behave the way we want them to.

We have another issue #730 which may partially address this problem.

[2016-02-18 10:33] richard-jones commented on #506
I'm tempted to have a go at this during the Continuations project.  I will look at the feasibility and make a judgement call once the code is underway.

[2016-02-18 10:35] richard-jones commented on #367
This is related to the XML article upload documentation, which I am working on.  That should probably close this.

[2016-02-18 10:37] richard-jones commented on #330
We should look at this after the reapplication shutdown, when we can start to modify the application form again.

[2016-02-18 10:39] richard-jones commented on #296
@Steven-Eardley - a related issue to your journal info update script.  I don't think there's anything new here, except the email to the feedback address.  I'm not sure we actually want to do that for every article - perhaps the script can produce a digest of orphaned articles, and log them or mail them somewhere at the end?

[2016-02-18 10:43] richard-jones commented on #47
We've removed captcha from the site, and we're not going back to it.  There is a suggestion elsewhere to use hidden fields to trap the bots, rather than getting users to validate themselves.  So, I'm going to close this issue off, as no longer relevant.

[2016-02-18 10:43] #47 closed

[2016-02-18 10:54] richard-jones commented on #451
Need to revisit rule (5)

[2016-02-19 12:07] emanuil-tolev commented on #654
Yes

[2016-02-19 12:07] #654 closed

[2016-02-19 12:15] emanuil-tolev commented on #857
Yes

No. I'm not 100% sure I should be modifying the ISO XSD file. We should probably get a newer one and check if "hrv" is in there.

[2016-02-19 15:30] greboun opened #988 "Admin view date applied should change to date (record was) created"
Reaoplications submitted show date appied  and last updated
Date applied should become date record was created   , lst updated can remain last updated
Last updated for reapplication in practice  is in fact  the date that the form was SUBMITTED = DATE APPLIED.
ERGO  Current Date applied ISNOT date applied

![image](https://cloud.githubusercontent.com/assets/12031556/13179758/9d692888-d725-11e5-80b2

[2016-02-19 15:34] emanuil-tolev commented on #988
So Date Applied should be one of:
- time the form was actually submitted (rather the last time the form was submitted by the publisher, since they can edit much as they like until it's picked up by an editor).
- "not applied yet"

[2016-02-19 15:36] greboun opened #989 "Bulk change status of re- applications submitted to 'on hold'"
When we have publishers that look suspicious (possible preadatory)  we need to give their application a special status.
I chose on' hold' for this ,then the journals will be evaluated later on in the year by new editors specialized in dev country applications
I now have already 75 journals where status of all need to be changed from reapplication submitted to on hold,  we like to have a script to

[2016-02-19 15:41] greboun commented on #988
Yes, that is right
Did not think of the angle of publishers editing after subitting which does
not always happen
So often last updated is date applied

Dr. Tom Olijhoek
Editor-in-Chief  DOAJ
Support us: www.doaj.org/support

On Fri, Feb 19, 2016 at 4:34 PM, Emanuil Tolev <notifications@github.com>
wrote:

[2016-02-20 19:46] emanuil-tolev opened #990 "ingest articles script hangs on running - xml upload of articles may not be working"
To check on Monday for me and report back.

Not sure what's going on but it runs, and then doesn't appear to use any CPU time, so it's not busy-waiting. I've temporarily amended the schedule so it runs just once a day at 7pm, since otherwise it starts a new task every half hour and uses up all the memory - eventually reducing DOAJ performance and bringing it down.

[2016-02-23 17:28] emanuil-tolev commented on #824
This is actually a problem - currently over-long abstracts just fail to save (the entire article fails).

[2016-02-23 17:29] emanuil-tolev commented on #824
We need to change the mapping not to do .exact analysis of bibjson.abstract, but this will not be trivial (most probably requiring a reindex of all article data). We have successfully avoided this so far so we'll see how we do it.

[2016-02-23 21:22] richard-jones commented on #824
This issue now has an interim fix - article abstracts are limited to 30000 UTF8 characters.  If an incoming article abstract is longer than that, it will be truncated automatically.  This seemed like the least-worst option - better to accept the article with reduced abstract content than reject it.  Also, in our basic investigation into the issue, the offending abstract was word xml, most of which

[2016-02-29 14:11] emanuil-tolev commented on #990
Resolved last week.

[2016-02-29 14:11] #990 closed

[2016-02-29 15:56] emanuil-tolev commented on #961
This continues to be a problem as "journal accepted" emails are targeted at account.name, but there's no interface to update those names. We've been asked to amend some names already. It would be good to either:

- add an interface to change the names
- stop using account-level names in the journal acceptance process and just email whoever was on the application contact when the journal is accepte

[2016-02-29 15:56] emanuil-tolev commented on #961
Should discuss in meeting tomorrow.

[2016-03-01 15:52] emanuil-tolev opened #994 "Make public UI APC facet more accurate (if possible)"
Investigate if it's possible to include a "no information" value in the "Article processing charges (APCs)" on the public search UI. This is in addition to the Yes/No there right now.

index.has_apc is the field in question. We want "No information" when there is no tick and no bibjson.apc information. We want "No" when there is a tick and there is no bibjson.apc information. We want "Yes" when th

[2016-03-01 15:52] Steven-Eardley commented on #989
Task to do under TNM, write a script "set status by query" which will set an application's status by any ES query, saving a file report consisting of:

```application_id   old_status -> new_status```

[2016-03-01 15:59] emanuil-tolev commented on #961
That won't work, we want to protect the account from having the email/name changed on (re)application so we need to keep using account-level data.

[2016-03-01 16:43] emanuil-tolev commented on #961
Solution under TnM is to:

- allow editing of "account.name" in the "my account" page
    - make sure admins can do it too
    - handles nulls well - there are lots of nulls
- on publisher_application_accepted, publisher_application_editor_assigned, publisher_application_inprogress: email both the account-level email if there is one (with the account-level name, allowing it to be null) **AND** the

[2016-03-02 14:34] emanuil-tolev commented on #934
@richard-jones thinks best start date is 1 Jan 2013 after some investigation.

Also, about

This'd be quite complex to "fix" as the issue is granularity of EPMC date information. Therefore agreed to move running this task to daily cron job rather than supervisor (constant running).

There is one issue which might be a problem without supervisor, it seems to exit on EPMC returning errors - probably

[2016-03-07 11:44] emanuil-tolev opened #996 "Add collapsible groups of DOAJ members to /members static page"
Consortia are already listed on https://doaj.org/members . If help is needed to identify the exact list of consortia if you can't tell by the name (there should be 15 in total), ask @jbarnsby .

Consortia are listed under their respective (main) country where they (chiefly) operate. These are and will continue to be listed by DOAJ admins who edit the /members page. The idea here is to add the abil

[2016-03-07 11:45] emanuil-tolev commented on #996
This has been agreed to proceed under T&M for a few/several hours of work. We need an example (I've asked for one) and probably a stricter estimate just to help guide the work internally to CL, but besides that this should be ready to be picked up.

[2016-03-08 09:32] jbarnsby commented on #996
Consortium example (listed under USA):
Virtual Library of Virginia (VIVA)

Members:
Bridgewater College
Christopher Newport University
College of William & Mary
Eastern Shore Community College
Eastern Virginia Medical School
George Mason University
Hampden-Sydney College
James Madison University
Liberty University
Longwood University
Lynchburg College
Mary Baldwin College
Marymount University
Norf

[2016-03-08 09:38] jbarnsby commented on #996
Example consortium and members added to ticket today.

Best,
Judith

Judith Barnsby
DOAJ Publication Specialist

On Mon, Mar 7, 2016 at 11:45 AM, Emanuil Tolev <notifications@github.com>
wrote:

[2016-03-08 10:55] emanuil-tolev commented on #996
Consortium website: http://www.vivalib.org/

@jbarnsby are we going to want individual members' websites? Though if we do, you don't have to paste them here - you can add them easily after the work is done.

[2016-03-08 10:58] jbarnsby commented on #996
Yes, we'll want to be able to link from each member name to their web site.

Judith Barnsby
DOAJ Publication Specialist

On Tue, Mar 8, 2016 at 10:55 AM, Emanuil Tolev <notifications@github.com>
wrote:

[2016-03-08 15:35] emanuil-tolev commented on #994
Any journal created after 19 Mar 2014 (double check this is what we used for applying tick) OR there is a last_reapplication field.

[2016-03-08 15:42] emanuil-tolev commented on #996
tech note: Instead of using a special class, just apply this code to all lists which have other lists nested inside.

[2016-03-08 15:52] Steven-Eardley commented on #994
from ```settings.py```

[code]

[2016-03-09 09:55] greboun commented on #994
When can this be implemented?
This determines when I cangive the info to Peter Suber and post an update
on the DOAJ Blog

THNX

TOM

Dr. Tom Olijhoek
Editor-in-Chief  DOAJ
Support us: www.doaj.org/support

On Tue, Mar 8, 2016 at 4:52 PM, Steven Eardley <notifications@github.com>
wrote:

[2016-03-09 10:00] emanuil-tolev commented on #994
Hey @greboun

TnM issues can be prioritised within all TnM tasks, but TnM tasks themselves rarely have a deadline on their own, it's generally (if the task is top priority, then whenever a developer starts working from the TnM queue again). We're looking at when that might be happening in the next few weeks though and I'll tell you shortly.

[2016-03-14 16:22] emanuil-tolev opened #999 "Space at the end of publisher name"
![doaj-mdpi-listed-twice](https://cloud.githubusercontent.com/assets/1190172/13751085/620f60d4-ea00-11e5-80a2-91ccecc8611c.png)

Submitter says:

---

search query: https://doaj.org/search?source={%22query%22%3A{%22filtered%22%3A{%22filter%22%3A{%22bool%22%3A{%22must%22%3A[{%22term%22%3A{%22_type%22%3A%22journal%22}}]}}%2C%22query%22%3A{%22query_string%22%3A{%22query%22%3A%22%22mdpi%20ag%22%22%2C%

[2016-03-15 15:26] emanuil-tolev commented on #999
@greboun Do you think is this important enough to include in T&M right now, or should we wait until a more general data cleanup project? There are 19 open issues labelled data cleanup in the tracker atm.

[2016-03-15 16:29] emanuil-tolev commented on #984
@greboun @richard-jones see new version of the docs on the test server: https://testdoaj.cottagelabs.com/publishers#failed (and section below that one).

[2016-04-04 13:03] emanuil-tolev opened #1001 ""Reapplications have shut down" page"
Instead of 404 Not Found.

[2016-04-04 13:56] emanuil-tolev commented on #1001
Use this text (approved by email)

[2016-04-04 14:01] #737 closed

[2016-04-04 14:01] #738 closed

[2016-04-04 14:01] #740 closed

[2016-04-04 14:01] #743 closed

[2016-04-04 14:01] #749 closed

[2016-04-04 14:01] #750 closed

[2016-04-04 14:01] #751 closed

[2016-04-04 14:01] #754 closed

[2016-04-04 14:01] #756 closed

[2016-04-04 14:02] #935 closed

[2016-04-04 15:49] Steven-Eardley commented on #983
@richard-jones @emanuil-tolev, what is the difference between the two approaches to creating a facet for year / month:

The existing method for year is a histogram made from the timestamp in the index.
[code]

I've replaced this with a simple terms facet that comes from the bibjson string year. This has helped because I have to enable and disable facets using their field, and if I use another hist

[2016-04-04 16:13] emanuil-tolev commented on #983
The main difference I can see is your data is coming from 2 different sources. Index.date may have been quite heavily sanitised as opposed to bibjson.year .

[2016-04-05 15:17] emanuil-tolev commented on #984
@greboun is this ready to release to live? Have a look, feel free to share the link in the comment above with the DOAJ team...

[2016-04-05 15:18] richard-jones commented on #984
@greboun - here are the links you need to follow to review:

Public documentation for end-users: https://testdoaj.cottagelabs.com/publishers#failed

Troubleshooting for DOAJ admins - https://github.com/DOAJ/doaj/blob/develop/docs/articlexml/TROUBLESHOOTING.md

[2016-04-05 15:21] #916 closed

[2016-04-05 15:53] Steven-Eardley opened #1003 "More facetview icon issues"
We override the facetview2 theme's render function for terms filters so that we can provide a blue fontawesome close icon; the same needs to be done with a histogram filter.

From the (current live) public search page, notice the cross is white for 'year':
<img width="664" alt="screen shot 2016-04-05 at 16 48 55" src="https://cloud.githubusercontent.com/assets/1446355/14288446/a7bf08d2-fb4e-11e5-9

[2016-04-05 15:54] Steven-Eardley commented on #1003
Will fix along with Toc work #983 which also uses histograms filters.

[2016-04-05 16:59] Steven-Eardley commented on #983
From meeting: using histogram has some validation and normalisation advantages - duplicate the ```index.date``` field as a workaround for facetview2 considering fields as IDs, preventing two facets on same field.

[2016-04-11 12:35] emanuil-tolev opened #1005 "Reapplication instructions review"
@greboun the home page says "All journals that were accepted into DOAJ before March 2014 are now required to reapply. If you have a journal indexed in DOAJ, please log into your Publisher Area and follow the instructions."

It should probably not say that. Or we can keep it till end of April if you want.

It'd probably also be wise to review the rest of the site for reapplication text. If that's d

[2016-04-11 13:50] greboun commented on #1005
Hi Emanuil

I was checking that phrase too a short while ago, and think it should be
deleted
Instead I suggest we write
   "All journals that were accepted into DOAJ before March 2014 and failed
to reapply before the deadline of march 31,2016 will be removed from DOAJ
by May 1, 2016. If you did not reapply but you still want your journal  to
remain listed please contact  us at feedback@doaj.org me

[2016-04-12 12:33] richard-jones opened #1006 "Archive off journals that have not reapplied at all"
1. Find all applications where reapplications status is "pending"
2. For each of those applications, remove the journal identified by "current_journal"
3. Remove each of those applications
4. Output a list of the journals that are being removed

[2016-04-12 12:34] richard-jones commented on #1006
To be run in the first few days of May, after the reapplication shutdown

[2016-04-15 08:52] richard-jones commented on #890
I have now added a field called "discontinued_date", which will hold this information.  I haven't tried to populate it from the old data, though.  I'll investigate the feasibility of that.

[2016-04-15 16:13] richard-jones commented on #764
Adding this to the continuations project to do under that milestone, as it will fit nicely with the "Suggest a Continuation" feature

[2016-04-15 17:49] greboun commented on #764
You are right!
Thanks

Tom
On 15 Apr 2016 6:13 p.m., "Richard Jones" <notifications@github.com> wrote:

[2016-04-18 09:55] emanuil-tolev opened #1008 "Another broken icon on admin interface"
Probably broken by the FontAwesome upgrade we had to do a long while back. We've caught all the public instances I think but this is on the Applications page for admins e.g.: https://doaj.org/admin/applications?source=%7B%22query%22%3A%7B%22query_string%22%3A%7B%22query%22%3A%2219167245%22%2C%22default_operator%22%3A%22AND%22%7D%7D%2C%22from%22%3A0%2C%22size%22%3A10%7D

Each application is suppose

[2016-04-18 15:25] richard-jones commented on #840
There are a number of complications in showing a link to the replacing journal in the search interface:

* The journal only knows the ISSN of the replacing journal, so we can't display something that meaningful to the user.  To display more than ISSN we'd either need to do a separate query from the UI (painful and expensive) or pre-load that data into the journal record

* A journal may know the I

[2016-04-18 15:57] richard-jones commented on #890
@dommitchell - I've had a look at the data, and there are 253 journals which have the fiend bibjson.oa_end.year.  I'm not sure whether ceasing to produce OA is the same as being discontinued - is that always the case?  If so, I could use this field where it exists to populate the new discontinued_date field.

[2016-04-19 09:34] dommitchell commented on #890
Hmm, no. A journal may still continue but no longer be open access.

These 253 journals with an oa_end year: this is old data right? Aren't we getting rid of those?

[2016-04-19 13:36] richard-jones commented on #506
I did not do this as part of the continuations project - we need to put in place a central date/time service for the app, and migrate all the code over to it.  Seemed to cut too much across the other refactoring, so I've left it.

[2016-04-19 13:37] richard-jones commented on #890
Ok, in which case I think that we can't re-use that data to set the discontinued_date.

I can't remember what the status of the oa_end field is, but we are still holding the old data, and no plans to actually clear it out at our end, but I don't think it's being surfaced anywhere.

[2016-04-19 13:45] dommitchell commented on #988
I need to discuss this with Tom. Please do nothing here for now. ON HOLD.

[2016-04-19 13:45] #988 closed

[2016-04-21 15:51] richard-jones commented on #904
I've now written the script for this, and submitted a PR

@emanuil-tolev - I've assigned to you, as it needs merging and running on live.  I'll leave it to you and @Steven-Eardley to decide who actually does it.

Probably worth merging and deploying that PR before merging the continuations work down

[2016-04-21 15:56] Steven-Eardley commented on #904
PR for this #1010 and a doc change PR #1007 can be merged and run before continuations. I'm currently running article migrations, so will let you know when this can be done.

[2016-04-21 16:23] richard-jones commented on #1006
Note: unsubmitted reapplication status is actually "reapplication"

[2016-04-21 16:32] richard-jones commented on #1006
I've created a PR for this: https://github.com/DOAJ/doaj/pull/1011

Note that as this is a destructive script, we need to run it in a recent clone of live on the test server before deploying it to production.

In terms of the output, this produces a CSV which contains a list of all the journals (with issns, ids, and owner information) which are taken from in_doaj=True to in_doaj=False.  This means

[2016-04-22 10:21] emanuil-tolev commented on #1006
And we want to do this asap after 30 Apr. We should probably test this next week eh.

[2016-04-22 10:39] richard-jones commented on #924
I have looked a bit further in to this but have made no headway.  It is our feeling that this is another timeout issue, and can only be resolved by the addition of a back-end aysnchronous processor for these kinds of tasks.

[2016-04-22 12:21] Steven-Eardley commented on #1003
Fixed, deployed.

[2016-04-22 12:21] #1003 closed

[2016-04-22 12:25] Steven-Eardley commented on #904
This has been deployed to live. When ready, it will be run with:
```python portality/scripts/not_in_doaj_with_articles.py -o <output file path>```

[2016-04-22 12:27] Steven-Eardley commented on #904
@richard-jones this looks like it's related to the number of articles that are about to be deleted by ```article_cleanup_sync.py``` - wasn't that already counting these? (I'll see if the numbers are the same!)

[2016-04-25 04:31] aqsazaid commented on #56
heloo sir can any one guide me which type of xml is uploaded on DOAJ and do we need specific software for it?

[2016-04-25 09:00] dommitchell commented on #56
@aqsazaid please read here: https://doaj.org/features#xml_upload

[2016-04-25 09:08] dommitchell commented on #904
Deleted? Or simply removed?

[2016-04-25 17:08] Steven-Eardley commented on #904
Deleted - a bulk delete operation, see #941

[2016-04-26 03:48] aqsazaid commented on #56
i read this file and a as it is copy from this and generate a xml file but i find this error"File could not be validated against a known schema "

[2016-04-26 07:54] dommitchell commented on #56
@aqsazaid there is something fundamentally wrong with your xml file. If you have an email address I can email you a sample file. Send an email to feedback@doaj.org and mark it for my attention (Dom) and I will email you back.

[2016-04-26 07:55] dommitchell commented on #904
Ah yes, this is article delete. All good.

[2016-04-26 14:13] Steven-Eardley commented on #904
Ah! yes! this is a journal script. All good - my question is answered.

[2016-04-26 14:58] #721 closed

[2016-04-26 15:06] emanuil-tolev commented on #961
Rolled out - should be possible to edit name, and we responded to DOAJ team over email for this.

[2016-04-26 15:06] #961 closed

[2016-04-27 04:09] aqsazaid commented on #56
hello sir i sent u email.. waiting for your resonse

Date: Tue, 26 Apr 2016 00:54:57 -0700
From: notifications@github.com
To: doaj@noreply.github.com
CC: engr_aqsa07sw@hotmail.com; mention@noreply.github.com
Subject: Re: [DOAJ/doaj] A sample XML file? (#56)

@aqsazaid there is something fundamentally wrong with your xml file. If you have an email address I can email you a sample file. Send an emai

[2016-04-27 12:52] dommitchell commented on #1006
@emanuil-tolev @richard-jones Can you provide us with the exact date and time that you will remove the journals so that we can put a message out to the community?

[2016-04-27 13:03] emanuil-tolev commented on #1006
That's a good question - I suppose originally this was intended to be 1 May (since the reapps are open 21-30 April) but that's Sunday... and we're at a conference 2-5 May. We could run the removal 2 May if there is an urgent need to do it that I don't see. If there's no urgent need I'd recommend 6th or 9th May? Probably best 9th (Mon).

[2016-04-27 13:06] dommitchell commented on #1006
9th May works for us, what time please?

[2016-04-27 13:13] emanuil-tolev commented on #1006
Hmm, how about 11am UK time?

[2016-04-28 08:13] aqsazaid commented on #56
record was uploaded but duplicate example is also updated in current issue ..   to delete two records can u help me

Date: Tue, 26 Apr 2016 00:54:57 -0700
From: notifications@github.com
To: doaj@noreply.github.com
CC: engr_aqsa07sw@hotmail.com; mention@noreply.github.com
Subject: Re: [DOAJ/doaj] A sample XML file? (#56)

@aqsazaid there is something fundamentally wrong with your xml file. If you h

[2016-04-28 08:22] aqsazaid commented on #56
any one please

[2016-04-28 09:51] Steven-Eardley commented on #913
Yes, I believe the fv2 ToC has fixed this - see https://testdoaj.cottagelabs.com/toc/2300-5866?source=%7B%22query%22%3A%7B%22filtered%22%3A%7B%22filter%22%3A%7B%22bool%22%3A%7B%22must%22%3A%5B%7B%22term%22%3A%7B%22bibjson.journal.volume.exact%22%3A%22VIII%22%7D%7D%2C%7B%22term%22%3A%7B%22index.issn.exact%22%3A%222300-5866%22%7D%7D%5D%7D%7D%2C%22query%22%3A%7B%22match_all%22%3A%7B%7D%7D%7D%7D%2C%22

[2016-05-02 07:01] emanuil-tolev commented on #994
This is a bit more complex than I thought. The issue is that right now the APC facet is over the index.has_apc field, which is a true/false field. What we want is to essentially change the facet so that it derives information from two fields: the tick, and index.has_apc .

When I wrote the original post / proposal, I was thinking of this in terms of "do we even have the necessary information to an

[2016-05-02 07:05] emanuil-tolev commented on #994
@greboun I realise I did advise you it would be better to do a proper change rather than one-off numbers. At the time I wasn't sure whether we were really going to remove those journals or not so soon (or whether we were in for another 6 months before removing them), in which case a facet change would have made sense. In this case, since the change would be rendered moot by modifying the catalogue

[2016-05-02 07:38] emanuil-tolev commented on #994
cc @richard-jones @Steven-Eardley to review query and rationale:

Query:
[code]

Results:
[code]

Journals with APCs: 1,376
Journals without APCs: 2,479
Journals missing APC information: 11,368

I know from elsewhere the journals we're about to remove (i.e. ones that have completed reapplication) are not that many, they're more in the 4-6k range. So what's going on with so many missing their APC i

[2016-05-02 07:41] emanuil-tolev commented on #994
I suppose that means my paragraph on whether to make the APC facet more accurate also needs reconsidering:

More accurately, the facet won't become correct on 9 May, but it'll become more and more correct as all reapplications are processed. On an unrelated note, we should consider what we do with journals who reapplication is rejected after 9 May - in theory their old records should also be withd

[2016-05-02 08:07] greboun commented on #994
Let me recuperate
As I see it the new journals accepted and the reapplications accepted have the right info on APC, either yes or No +the amounts
The journals that will be removed (reapplications pending) have No meaning no info
The journals rapplications submitted have No meaning No information (until evaluation completed)
So the **current** facet No will become more accurate over time.
I still w

[2016-05-02 12:53] dommitchell commented on #1006
Yes, that works well.

Just to confirm: the journals will be removed on 9th May at 11am UK / 12am CET.

Thanks!

[2016-05-02 13:59] dommitchell commented on #56
Please send an email to dom@doaj.org with a **clear** description of what your problem is. Thanks!

[2016-05-02 14:02] dommitchell commented on #913
Great!

[2016-05-02 14:02] #913 closed

[2016-05-02 14:06] dommitchell commented on #983
- please change 'Table of Contents' to 'TableS of Contents'

And a cheeky one: is it a lot of work to add the share/embed button?

[2016-05-02 14:12] dommitchell opened #1013 "Journals whose reapplication is rejected after 9th May"
Just adding this here for the record. From #994 :

@emanuil-tolev said:
On an unrelated note, we should consider what we do with journals whose reapplication is rejected after 9 May - in theory their old records should also be withdrawn immediately (since that's what would have  happened to those journals who did not reapply at all).

[2016-05-02 14:15] dommitchell commented on #984
All good. Can be made live.

[2016-05-02 14:15] #984 closed

[2016-05-02 14:17] dommitchell commented on #890
@emanuil-tolev said in Dec:
I'd make a new field, as we're getting rid of the old journal records shortly anyway (with reapp shutdown). And we should also get rid of those parts of the admin / editor journal form that deals with the old metadata. This should be a proper part of the record handled in the same way as any other piece of metadata.

I think we should follow that approach.

[2016-05-04 08:38] dommitchell commented on #517
We would like to have DOAJ moved off the Google Java services before 15th June. Please comment.

[2016-05-04 10:16] dommitchell commented on #994
Note to self.
http://bit.ly/1TtyFyX - APC counts
versus
http://bit.ly/1W8wN5g - APC counts.

[2016-05-05 05:57] emanuil-tolev opened #1014 "DOAJ news feed script error"
[code]

cc @richard-jones @Steven-Eardley .

Not important unless new news items are not showing up (but they appear to be).

[2016-05-08 15:23] akxlr opened #1015 "Question: API returns blank articles list"
Hi, I hope it is ok to ask about your API here. I am trying to get a count of articles for each OA journal in the DOAJ database. I have noticed that a lot of queries for articles come up empty (e.g. https://doaj.org/api/v1/search/articles/issn%3A1932-6203, which is PLoS one). Is this because the data doesn't exist, or is there something wrong with my query? Thanks!

[2016-05-09 11:14] emanuil-tolev commented on #1006
Test run succeeded, sorry for the delay - didn't expect it to take quite this long. Running in live.

[2016-05-09 11:20] dommitchell commented on #1006
When will the home page update?

[2016-05-09 11:33] emanuil-tolev commented on #1006
It updates about every 30 min. It's not a regular job - it self-checks how out of date it is for each user that requests the homepage. Keep in mind the archival script may take more than 30 min to run. In that case, an interim number of journals (interim = however far the script got on with removing) until another 30 min pass.

All that means the home page should stabilise on the final number of j

[2016-05-09 11:47] dommitchell commented on #1006
Great! One more question:

- we know there are more reapp records pending than journals that will be removed because we have removed a whole load of journals since the reapps were generated. Where criteria (1) and (2) above aren't met:
Find all applications where reapplications status is "pending" - YES
For each of those applications, remove the journal identified by "current_journal" - NO, alread

[2016-05-09 15:13] emanuil-tolev commented on #1006
It might be wise to discuss this at the meeting tomorrow since it is (appears to be?) kind of complicated to describe here - adding it to the agenda now.

[2016-05-09 15:16] emanuil-tolev commented on #1015
PLOS metadata is not in DOAJ (yeah, I know :) ). However, we've been running a project to harvest it all from europepmc.org and this project has passed the testing phase - we expect to get all the PLOS metadata very very soon!

[2016-05-09 15:18] emanuil-tolev commented on #1015
Your query seems correct, other than that. The public search interface at https://doaj.org/search should return the same results as the API (at least as far as data selection is concerned) so if you want to check if a particular ISSN has articles in DOAJ, just type it in there.

Here's an example for PLOS ONE which you've given in your question: http://bit.ly/1ZxbHLr

As you can see there's only 1

[2016-05-09 15:18] #1015 closed

[2016-05-09 15:20] akxlr commented on #1015
That makes sense, thanks for the quick response!

[2016-05-11 07:58] dommitchell opened #1016 "Public search returns results from Admin Notes"
http://bit.ly/1TQ8J35

3rd result down is an Indian journal. Only mention of PLoS is in our internal notes. https://doaj.org/admin/journal/8eb80b89f33f43c7b6a259b78ef07a4b

These should not be indexed in public engine. Please correct

[2016-05-11 10:51] greboun commented on #994
Concerning the issue of having a new facet in the UI       WE STILL NEED THIS
What Peter Suber (and me too)  wants is to be sure that all the information  DOAJ displays is correct
Meaning that
 APC **No**  there is no APC
APC **Yes**  there is an APC
APC   **no information**     we do not have the info yet

This means that we still need the facet showing no information for journals where the reapp

[2016-05-12 06:56] dommitchell commented on #994
@greboun Thanks! That helps.

@emanuil-tolev we do still need to make the distinction

Yes! However, it is misleading now and that is causing problems. How many journals charge APCs is *highly* political and much debated. People are looking to DOAJ to provide an indication which we can do with some accuracy, only not right now. At the moment, we lump together 'no information' (today that is all th

[2016-05-13 09:18] richard-jones commented on #839
There was a UX oddity on the test server whereby the user would be presented with a link to a previous or subsequent journal, and on clicking on that journal would be presented with an error/not found page.

Actually, the not found page was the correct response, as the journal was marked in_doaj=False.

I have modified the ToC renderer to not provide links (only titles and issns) for journals whic

[2016-05-13 09:21] richard-jones commented on #838
The continuations facets have not been working on the test server, as they create a facet over a field which does not have any data in it yet.  This means that there's no mapping in the index for that field, which in turn throws an error when you query it.

I've fixed this by adding a migrate script to push a mapping update - that will be in an upcoming PR.

[2016-05-13 09:21] richard-jones commented on #836
Complete.  No review of this required.

[2016-05-13 09:21] #836 closed

[2016-05-13 09:22] richard-jones commented on #835
Complete.  No review of this required.

[2016-05-13 09:22] #835 closed

[2016-05-16 13:37] dommitchell commented on #1016
Or assign @emanuil-tolev

[2016-05-16 14:10] dommitchell opened #1019 "Ensure test site stays on between 20/6 and 23/6"
We are having a training meeting over 4 days and we will be relying on the testdoaj site as a training site. Can you ensure that it remains up and available for these 4 days? 20th June to 23rd June inclusive

[2016-05-16 15:21] richard-jones commented on #1019
We can try, but in general you should view the test site as something internal to the development projects - often it is running brand-new code (which is automatically deployed from the development branch of the code), and on much smaller resources than the live site, so it can't be considered "stable".  Additionally, outside of development projects it may be suspended, as it is paid for from deve

[2016-05-17 07:06] dommitchell commented on #1019
I think we discussed before that we could use the test site as a training area on the understanding that it may not be available at times or show a different version of the DOAJ than the live one. I think we're OK with that. It was really just a note to ask that should you have the urge to take it down during those 4 days, please don't :)

[2016-05-17 07:29] dommitchell commented on #837
How do I see the different subject line?

[2016-05-17 07:36] dommitchell commented on #838
Looking good!

[2016-05-17 07:36] #838 closed

[2016-05-17 07:40] dommitchell commented on #839
Not sure this is working correctly. If I look at https://testdoaj.cottagelabs.com/toc/2338-5510 I see the correct articles displayed for this version of the journal.

If I click on the continuation link, https://testdoaj.cottagelabs.com/toc/1978-3043, I see the same articles; those from the previous incarnation of the journal.

[2016-05-17 07:51] dommitchell commented on #840
It seems that all journals that have the Discontinued tag have a Date Added to DOAJ date of 27th April which I presume is when this went live on the site. I hope that this won't be replicated to the live site? The Date added to DOAJ date must not be touched. http://bit.ly/1TFMquj

[2016-05-17 07:59] dommitchell commented on #890
I added a Ceased publication date to https://testdoaj.cottagelabs.com/admin/journal/0023aaeb7bda4c5ea314e8c1b830d024. I expected to see a new line in the search entry in the Admin view (Ceased publication) or the Discontinued flag appear but it didn't. It does in the public view.

[2016-05-17 08:01] dommitchell commented on #904
So I am unsure now what has been done here. I wanted a list of journals that have article metadata associated with them but are not in DOAJ. NOT those journals removed because they never submitted a reapplication but those journals that have been removed at some point between March 2014 and now where article metadata is associated with that journal.

Is that what has been done?

[2016-05-17 12:57] emanuil-tolev commented on #517
Hiya @dommitchell an update here, I'm looking into the details here, but for an overall plan, I think the one I wrote a few months ago is still pretty good: https://github.com/DOAJ/doaj/issues/517#issuecomment-71444213 .

[2016-05-17 12:59] emanuil-tolev commented on #517
It would be nice to be able to test whether the changes are actually successful or not for your use case though. I will test using Chinese proxies, which are hard to find (in a working state). But the only way to guarantee your new addition to the team will be able to access the site is to actually have them try - maybe have them try testdoaj.cottagelabs.com before we make the changes, and after.

[2016-05-17 14:25] greboun commented on #517
We have actually hired xin bi  who has signed his contract
You can ask him on site accessibility
xin.bi@xjtlu.edu.cn

Tom
On 17 May 2016 3:59 p.m., "Emanuil Tolev" <notifications@github.com> wrote:

[2016-05-17 14:44] emanuil-tolev commented on #994
Continue with implementing facet with logic from https://github.com/DOAJ/doaj/issues/994#issuecomment-216124035

[2016-05-17 14:55] dommitchell commented on #517
If Xin's institution doesn't experience problems with Google then Dom will find someone else.

GA problem will take 2nd place to the other fixes.

[2016-05-17 14:58] dommitchell commented on #1006
This one has been answered.

[2016-05-17 14:58] #1006 closed

[2016-05-19 08:59] dommitchell opened #1022 "Question: add us to your address book"
How would DOAJ facilitate an 'add us to your address book' functionality via the automated emails that go out to users, OR via Mailchimp?

[2016-05-19 09:05] dommitchell opened #1023 "Question: could we suggest an account to associate an application to?"
Problem: we don't always spot that an application is from an account in DOAJ thta already has multiple journals allocated to it. This means we end up creating duplicates, leading to redundancy and confusion for the users.

Question: is there any way the system could intelligently suggest the 'best fit' account number for the application, based on publisher name? Or something.

A bit of lateral thi

[2016-05-19 09:07] dommitchell commented on #406
I'd like to exhume this one. As we take on more and more people, the weaknesses in the sytem are going to become more problematic.

This one could produce all sorts of duplicates, errors etc.

@richard-jones how would the last option you describe above work?

[2016-05-20 06:15] aqsazaid commented on #56
hello sir,

sir i want to create web API for my publication site, do u have any idea related to it? can u guide me step  by step...or just giving me a road map

[2016-05-20 12:49] dommitchell opened #1024 "Add new sponsor: Springer Nature"
Please add this logo:
![sn_logo_cmyk_resized](https://cloud.githubusercontent.com/assets/5955396/15428115/d54016e8-1e99-11e6-83e9-38dbf77ce67a.jpg)
and link to http://www.springernature.com/gp/group/aboutus

and remove these 3 logos:
Biomed Central
Nature Publishing Group
Springer

[2016-05-21 07:55] richard-jones commented on #1019
Ah, ok, no problem - we definitely won't take it down on those days :)

@emanuil-tolev - just leaving this assigned to you to remind ourselves.  After 23rd June we can just close off.

[2016-05-21 07:56] richard-jones commented on #1016
Ok, interesting, I'll look into it.  I believe I know what's happening, but I'm not actually entirely sure what the fix is.

[2016-05-21 07:59] richard-jones commented on #934
I think this is all resolved now, at least in terms of the short-term approach.  If we start to do the Harvester at scale we may need to revisit, but we know what's required when we do, so closing this off.

[2016-05-21 07:59] #934 closed

[2016-05-21 08:05] richard-jones commented on #904
This issue covered the development of a script which outputted the following: " journals that are NOT in DOAJ and which have articles associated with them".

There is a separate issue #1006 which covered the removal of journals which did not reapply, and which also output a CSV, detailing the journals which were removed by that process.

Both of these have been done now, so you should have all the

[2016-05-21 08:07] richard-jones commented on #890
Ah, ok, we didn't make any changes to the admin search results (only the facets).  Easy to add.

[2016-05-21 08:10] richard-jones commented on #837
I think the emails are going into the mailtrap, so you'll need to log in there and take a look at the test emails you send.

@emanuil-tolev - does @dommitchell have access to the mailtrap for the test server?

[2016-05-21 08:11] richard-jones commented on #764
Hi @dommitchell - you've assigned this one back to me, but I'm not sure what action to take.  Is this related to the question on #837 ?

[2016-05-21 08:13] richard-jones opened #1025 "Create a continuation adds blank issns or 0000-0000 to new record's issn list"
(On test only)

[2016-05-21 08:35] richard-jones commented on #1016
I've looked into this, and there are a couple of solutions:

1. Make some changes to the ES mappings and the behaviour of the free_text search.

This is the reference: https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-all-field.html

We need to modify the mappings and re-index.

2. Move the storage of notes to a separate index.  This would involve some changes to the admin fo

[2016-05-21 11:01] richard-jones commented on #994
I've created a hotfix PR which implements this functionality.

I'm also in the process of porting the new behaviour over to the continuations branch (so for the time being, the behaviour on the live site will be newer than the behaviour on the test site).

[2016-05-21 11:17] richard-jones commented on #840
Ah, ok, good point/question.

These journals which are marked as "Discontinued" have been created from history records in other journals (if you go into their ToC you should see that they all specify "subsequent titles").

So,their date added to the DOAJ is the day that we ran the script, because before that they were not explicitly in the DOAJ.

The question, then, is what /should/ the date be fo

[2016-05-21 11:25] richard-jones commented on #840
Oh, also, I notice that the created date for the history records is probably when we migrated from the last version of DOAJ, so might be equally un-meaningful as the current date.  We don't have any other source of date information for those records, though.

[2016-05-21 13:53] richard-jones commented on #839
I can see what the problem here is, but I'm not yet sure why.  The article has the issns from all of the journal continuations in its index.issns field, which is causing it to match in both contexts.  The ToC page itself is doing the right thing, and the article's actual bibliographic record is correct, so I suspect something to do with the article_cleanup_sync script, which is next on my list of

[2016-05-21 13:58] richard-jones commented on #890
This is in the next PR for continuations fixes

[2016-05-22 09:59] richard-jones commented on #839
I've reviewed the script, and I think that all that's happened here is that the article_cleanup_sync script has not been run on the test server since the continuations migration has been done.

@Steven-Eardley - could you run your script on the test machine, and then we'll review?

[2016-05-23 06:48] dommitchell commented on #985
Please go ahead and add a Seal facet to the articles selection. Added to tnm.

[2016-05-23 06:50] dommitchell opened #1030 "Migrate DOAJ Seal facet to Admin view"
There is currently only a Seal facet in the public view. It would be beneficial to have one in the Admin view.

I am aware that there is a larger piece of work here to upgrade the admin view completely.  I'd like your opinion on doing just the Seal facet for now.

[2016-05-23 06:55] dommitchell commented on #904
OK, thanks for the clarification. I *didn't* get the output from this one.

[2016-05-23 06:58] dommitchell commented on #837
I am still confused. I do not see the different path specifically for suggesting a continuation, or is that not what you mean. It is this that is confusing me:

Different subject line to what? Am I supposed to see a feedback form that says Suggestion of a continuation?

[2016-05-23 06:58] dommitchell commented on #764
Yep, closing this one as we are discussing #837 over there.

[2016-05-23 07:10] dommitchell commented on #890
In the journal record, http://testdoaj.cottagelabs.com/admin/journal/0fb09e308a9343e997bbb7374569e02e, please change 'Date this Journal was discontinued, in the form YYYY-MM-DD' to 'Date this Journal was discontinued, or ceased publication YYYY-MM-DD.'

[2016-05-23 07:37] dommitchell commented on #837
Feedback (text changes):

On a journal homepage, http://testdoaj.cottagelabs.com/toc/0974-9322 change 'Subsequent title(s):' 'Continued by:'
Change 'Previous title(s):' to 'Continues:'
Change the order so that 'Continues' always appears above 'Continued by'.

In the journal form, http://testdoaj.cottagelabs.com/admin/journal/0fb09e308a9343e997bbb7374569e02e in the Continuation information section,

[2016-05-23 07:53] dommitchell commented on #840
So they had no 'Date Added to DOAJ' originally?

So any journal that was previously removed but is then added back in by us because it is a continuation, will get this date? Or are these the journals where a continuation existed already and if someone typed in their ISSNs they were taken to the newer incarnation of the journal?

I am unclear on this. Why don't they have an original Date added to D

[2016-05-23 10:35] emanuil-tolev commented on #1024
This is rolled out on live.

[2016-05-23 12:14] dommitchell commented on #1024
Smashing!

[2016-05-23 12:14] #1024 closed

[2016-05-24 13:04] dommitchell opened #1031 "Add PLoS One to the testdoaj site"
The journal PLoS One is missing from the DOAJ site. Can you add it so I can see what the Tables of contents look like? Possible?

[2016-05-24 13:52] dommitchell commented on #994
This is live on the site now. Was that intended? http://bit.ly/1OWggxW

[2016-05-24 14:06] emanuil-tolev commented on #1031
It's just not "in doaj", seems to be there in the admin area: http://testdoaj.cottagelabs.com/admin/journals?source=%7B%22query%22%3A%7B%22query_string%22%3A%7B%22query%22%3A%22plos%22%2C%22default_operator%22%3A%22AND%22%7D%7D%2C%22from%22%3A0%2C%22size%22%3A10%7D

[2016-05-24 14:06] dommitchell commented on #994
Looking good! Closing.

[2016-05-24 14:06] #994 closed

[2016-05-24 14:10] dommitchell commented on #1031
Great! But bad gateway: http://testdoaj.cottagelabs.com/admin/journal/2fdf1470373343b7bd4f825179c685f5/activate

[2016-05-24 14:11] Steven-Eardley commented on #839
Run now. That took a loooong time.
[code]

[2016-05-24 14:13] emanuil-tolev commented on #1031
Ah ... it's got loads and loads of articles associated, so that endpoint is taking too long.

[2016-05-24 14:26] emanuil-tolev commented on #517
The non-Google Analytics stuff is all rolled out now, so we can ask testers to tell us what they see and if they can access /search etc.

[2016-05-24 14:30] dommitchell commented on #1016
Has been a bug since Sept 2013.

[2016-05-24 14:37] dommitchell commented on #1016
CL will investigate this first and then get back to us.

[2016-05-24 14:38] emanuil-tolev commented on #1016
Preference for option 1 overall.

[2016-05-24 14:42] dommitchell commented on #840
OK to go ahead. We clarified on the call. TO BE REVIEWED.

[2016-05-24 14:48] dommitchell commented on #280
Notes from the call: might be able to do a script, DM will test. Maybe leave until after continuations go live

[2016-05-24 15:24] dommitchell opened #1032 "Adjust the text in the tooltip on APC facet"
Re #708 can you delete 'The data here may not be complete.'?

Fairly urgent if poss?

[2016-05-24 15:48] dommitchell commented on #837
@richard-jones feedback in the comment above now updated and ready to go.

[2016-05-24 15:48] Steven-Eardley commented on #904
*Github doesn't support CSV?*

@dommitchell the script was run on live; 2080 journals are not in DOAJ but have articles. Attached is a zip with the csv.

[20160524_not_in_doaj_with_articles.csv.zip](https://github.com/DOAJ/doaj/files/279883/20160524_not_in_doaj_with_articles.csv.zip)

[2016-05-25 07:25] dommitchell commented on #904
Crazy huh??

Thank you. All good here!

[2016-05-25 07:25] #904 closed

[2016-05-25 08:46] dommitchell opened #1033 "Article overwriting not working again: causes duplication"
http://bit.ly/1OIORdZ
http://bit.ly/1sMN7fI

I asked the publisher to correct some broken characters and the new versions didn't overwrite the old version as it should have. Can you investigate?

[2016-05-25 08:54] dommitchell commented on #837
I realise my feedback is probably attached to the wrong issue but at least its all in one place.

[2016-05-25 08:58] dommitchell commented on #837
Upon submitting feedback the confirmation contains HTML tagging:

<strong>Thank you!</strong> Your message has been sent, we'll get back to you as soon as we can.

Please remove that HTML tagging and change the text to read:
Thank you for your feedback which has been received by the DOAJ Team.

Still unsure how to test this. I have looked in Mailtrap and can see that the Subject header is: Message

[2016-05-25 10:02] dommitchell commented on #517
Feedback from the library at the Chinese National Academy of Science:
I am glad to tell you that now my library can access DOAJ successfully and the results of your tests are correct. But, as your understanding, up to that point the majority in China did not use DOAJ because of its Google-hosted javascript services.

Hurray!

[2016-05-25 10:02] #517 closed

[2016-05-26 14:09] richard-jones commented on #1025
resolved

[2016-05-26 14:09] #1025 closed

[2016-05-26 14:13] richard-jones commented on #1030
It's no problem to add the Seal facet from a technical point of view, but there is a slightly wider infrastructure question we should raise just before doing it.

The test server is only just holding up under the weight of the data and the queries, and one of the areas that suffers is the admin area, because the number of facets available.  Infrastructure (especially test) shouldn't really guide u

[2016-05-26 14:16] richard-jones commented on #890
Removing the day value is hard, because this will break the date handling.  Can you just set the day to 1st of the month?

We can change the display of dates to only use the year and month values easily enough.

In the mean time, though, I will make the small text alteration

[2016-05-26 14:19] dommitchell commented on #890
Sounds like a plan!

[2016-05-26 14:25] richard-jones commented on #837
I've made the text change for the next PR

With regard to testing the subject line, I realised that I was misleading.

There are 2 things that vary depending on the context of the email:

1/ If the email is sent from a link on a ToC, then the message body is pre-populated with some useful context information, like "More information on journal 'Open Thermodynamics Journal' (ISSN: 1874-396X)".  The

[2016-05-26 14:38] richard-jones commented on #1033
I've had a quick poke around the tests to make sure that url and doi matching are working, and everything seems to be in order.

Can you give me a bit more detail on what the publisher was doing?  Is this a bulk XML upload, or an individual article metadata entry, or API request?

Is there any chance they can send us the source XML data, if it was an upload?

[2016-05-26 14:58] dommitchell commented on #837
Ah-ha! Now I understand. Great. In that case I have tested the email function. Shall look forward to the text changes.

[2016-05-26 17:20] richard-jones opened #1034 "Bug on save on test server (continuations)"
2016-05-25 13:49:43,496 - portality.core - ERROR - Exception on /admin/suggestion/3c8614f738544c36b40ec00181f858a9 [POST]
Traceback (most recent call last):
  File "/home/cloo/repl/test/doaj/local/lib/python2.7/site-packages/flask/app.py", line 1687, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/cloo/repl/test/doaj/local/lib/python2.7/site-packages/flask/app.py", line 1360,

[2016-05-27 08:30] richard-jones commented on #837
Ok, I've now made the other text changes from the comment higher up.  PR for continuations due a bit later today, once I've looked at #1034 to see if I can reproduce/fix.

[2016-05-31 10:02] dommitchell commented on #1030
You can remove the journal title facet and replace it with the Seal. Thanks!

[2016-05-31 11:46] dommitchell commented on #1034
I was adding and removing issns from the edit journal form, eg: http://testdoaj.cottagelabs.com/admin/journal/0023aaeb7bda4c5ea314e8c1b830d024

I didn't click 'Allow incomplete form' which returned the usual, expected warnings. By then clicking 'Allow incomplete form' I get the http://testdoaj.cottagelabs.com/admin/journal/0023aaeb7bda4c5ea314e8c1b830d024#first_problem :
Internal Server Error
The

[2016-06-07 06:57] dommitchell commented on #517
More feedback:
It works well in Guangdong province.
This site works well in Shanghai as well, with out using VPN. So generally I would be rather confident to conclude it works well in China.

[2016-06-07 11:33] dommitchell opened #1035 "Please add links to Groups to API page"
Please add a link to the 3 API groups that you created to https://doaj.org/api/v1/docs

[2016-06-07 12:25] dommitchell commented on #1033
User account 1110662x, and they used XML upload feature. Files emailed to you.

[2016-06-07 14:02] emanuil-tolev commented on #1035
Gosh, sorry, I thought I'd done this ages ago! I had a local branch but I
think what happened is something urgent came up, and I forgot to push up
this small text addition. I'll add it tomorrow.

On 7 June 2016 at 12:33, dommitchell <notifications@github.com> wrote:

[2016-06-07 14:11] dommitchell commented on #1013
No longer relevant

[2016-06-07 14:11] #1013 closed

[2016-06-07 14:27] dommitchell commented on #1022
Dom to find example.

[2016-06-07 14:35] dommitchell commented on #1022
Here is an example, from an email generated by MailChimp. Seems it generates a VCARD:

Copyright © 2016 Blha Blah Records, All rights reserved.
You have previously been a customer at Northern Star Records.
Our mailing address is:
blah blah blah

Add us to your address book: http://northernstarrecords.us1.list-manage.com/vcard?u=9dbe9e9ac81502824d450a935&id=3720d5501d

[2016-06-07 14:37] dommitchell commented on #1023
Dom to find older issue.

[2016-06-10 21:06] richard-jones commented on #1033
Ok, I've found out what's going on and provided a hotfix.

The issue was that for accounts with >1024 issns associated with them, deduplication was failing due to a technical error with the deuplication query.

@dommitchell - while we get this deployed, the advice in the mean time is for all very large accounts to avoid uploading updates

[2016-06-11 17:47] richard-jones commented on #1034
Pinned this down to a bug in the datify coerce function, which is now resolved and PR submitted #1038

[2016-06-13 07:29] dommitchell opened #1039 "Inaccuracy in OAi-PMH"
Please asses this one for tnm. Would this be an easy thing to enhance the accuracy of? What are our options?

From a user:
/start/
I noticed that article records in Dublin Core OAI Article format (OAI_DC) include the dc:rights element. According to the documentation this is “the journal's content re-use policy. Will be one of the Creative Commons licences”.

Many OA journals offer authors a choice

[2016-06-13 09:48] emanuil-tolev commented on #1039
Previously DOAJ has not held article-level licence information. I suppose that's the major decision to make rather than a technical challenge - either start accepting and holding such information, or make it clear the current field is journal-level only.

[2016-06-13 10:16] emanuil-tolev commented on #1033
The hotfix is deployed. Not 100% sure how this is to be reviewed.. have one of the affected accounts upload (a small number of articles) again and see if no dupes occur?

[2016-06-13 11:01] emanuil-tolev commented on #1022
I think we can just have a vcard since the feedback@doaj.org address is known. What do you think of this one? (Not sure how you're seeing/viewing them, I just read them as text files - but it's probably more useful to try it in Outlook or something.)

[doaj.vcf.zip](https://github.com/DOAJ/doaj/files/311654/doaj.vcf.zip)

I just used http://vcardmaker.com/ to make this one.

Then once we have a re

[2016-06-13 13:22] dommitchell commented on #1022
I think that this is all that is needed. Perfect!

[2016-06-13 13:24] dommitchell commented on #1033
Asking HIndawi...

[2016-06-13 13:26] dommitchell commented on #1034
Tested. Works!

[2016-06-13 13:26] #1034 closed

[2016-06-13 13:28] dommitchell commented on #1039
Right! That's a bigger issue

How could we do that in the context of the feed? Just through documentation? Not actually in the feed itself?

[2016-06-13 13:46] emanuil-tolev commented on #1039
Good question. cc @richard-jones who's written and ingested a lot of OAI feeds.

[2016-06-14 11:39] dommitchell commented on #1033
Hindawi confirms that this has worked

[2016-06-14 13:58] emanuil-tolev commented on #1035
https://doaj.org/api/v1/docs#intro_help

[2016-06-14 13:58] #1035 closed

[2016-06-14 14:20] #735 closed

[2016-06-14 14:25] dommitchell commented on #840
Seen in test. Closing

[2016-06-14 14:25] #840 closed

[2016-06-17 08:18] dommitchell commented on #1031
Hi @emanuil-tolev it looks like we missed one: https://europepmc.org/search?query=1555-5887

[2016-06-17 08:22] emanuil-tolev commented on #1031
If you're talking about PLOS data on live, yes, I noted in an email that we are missing one journal - the PLOS clinical trials journal. There isn't even a record for it. I think you'd need an application and approval for it first?

(Just for clarity, this specific issue is about making a modification to PLOS ONE journal record on the test site since hitting Put in DOAJ takes too long (since it's a

[2016-06-17 08:23] emanuil-tolev commented on #1031
Once that is done and the journal record in "in DOAJ" and associated with the PLOS account, the harvester should I think pick it up automatically next morning.

[2016-06-17 08:28] dommitchell commented on #1031
Ah yes! Thanks. (Sorry for polluting this issue!)

[2016-06-17 11:45] emanuil-tolev opened #1040 "Large XML file uploads"
A publisher account is uploading files large enough that it makes the article ingest script run for longer than 30 min. This has happened 2 days in a row and I think it's time we were better prepared for it.

As a result of these uploads multiples of the script can start, causing increased resource use and eventually instability if not taken care of manually. Once every 24h at the moment.

Present

[2016-06-17 19:16] emanuil-tolev commented on #1040
Right, so it took 5h to do the "manual" run today, a fair bit more than 30 min. I've set the article ingest job to run every 24h now instead of every 30min till we find a better solution.

[2016-06-19 09:18] dommitchell commented on #1040
Thanks Emnauil. I have a feeling that this bulk uploading will not be a continuous problem but it is because Hindawi are doing a one-time correction to a load of corrupt article metadata. I think the steps that you have taken to change this to 3am every day are going to cause more trouble than good because we'll get loads of queries from other publishers wondering where their content is. Can you l

[2016-06-19 10:55] dommitchell opened #1041 "Quick fix? Please add a target to Seal box in Application form"
https://doaj.org/application/new

We need to refer to the Seal criteria. Can you add #Seal to https://doaj.org/application/new targeting 'The qualifiers for the DOAJ Seal'

[2016-06-19 11:09] dommitchell opened #1042 "Removing a journal from DOAJ isn't removing articles too"
http://bit.ly/1ZZYzz4

and

http://bit.ly/24YS54w

This is the 2nd example. Both journals were removed automatically by CL after the closure of reapplication process: Can you check that these journals' articles were automatically removed as well?

[2016-06-20 11:27] emanuil-tolev commented on #1040
This happened more than once and the files were uploaded in the same minute on two different days - hence why I assumed there'd be more uploads like that to come.

There's no way (currently) to separate [a few of these large Hindawi XML files] from [lots of these quick small XML files]. If there are super large ones then it can't run every 30 min. It also can't run in parallel, i.e. we can't have

[2016-06-20 13:01] emanuil-tolev opened #1043 "Get eLife article metadata"
Just an idea, maybe a potential harvesting target for the future. I see eLife as a journal is already in the DOAJ.

I read in a blog post that they publish all their articles in XML form on github:

XML: https://github.com/elifesciences/elife-article-xml/tree/master/articles
Sample: https://github.com/elifesciences/elife-vendor-workflow-config/blob/master/elife-kitchen-sink.xml
Tools to help parsi

[2016-06-21 13:01] #622 closed

[2016-06-21 13:07] dommitchell commented on #837
All reviewed and ready to go live! Thanks!

[2016-06-21 13:07] #837 closed

[2016-06-21 13:08] dommitchell commented on #839
+Looking good!

[2016-06-21 13:08] #839 closed

[2016-06-21 13:09] dommitchell commented on #890
All good!

[2016-06-21 13:09] #890 closed

[2016-06-21 17:23] emanuil-tolev commented on #1042
Should be resolved shortly after deploy on Thu 23 Jun 2016 as orphaned articles will be updated.

[2016-06-23 09:34] dommitchell opened #1044 "Install provenance tracking"
As we have opened up the site to the ambassadors, we need to become cleverer about how we monitor who is doing what.

We would like to install provenance tracking. If it is feasible to do this, we would need to have it installed fairly soon.

Can I have your thoughts on the feasibility and timing please?

[2016-06-23 12:00] dommitchell opened #1045 "Add distinction for Reapplication records. Facet?"
We need a new facet in admin to distinguish between reapplications and applications.

Priority please.

[2016-06-23 13:17] Steven-Eardley commented on #1041
fixed quick. https://doaj.org/application/new#seal

[2016-06-23 17:32] emanuil-tolev commented on #1045
@richard-jones @Steven-Eardley maybe based on whether there is a linked journal record present? Don't recall if "reapplication" is directly recorded as an attribute anywhere. Sounds like it might have to be made one. index.reapplication: false | true .

[2016-06-23 17:34] dommitchell commented on #1041
Fab!

[2016-06-23 17:34] #1041 closed

[2016-06-27 09:21] dommitchell commented on #1001
@emanuil-tolev can this one be closed?

[2016-06-27 09:25] dommitchell commented on #730
Closing for now

[2016-06-27 09:25] #730 closed

[2016-06-27 09:29] dommitchell commented on #343
@emanuil-tolev I'd like an update on this one please. Specifically: is there anything that you did on #994 that makes this one easier and less time consuming to tackle?

[2016-06-27 09:38] dommitchell commented on #1031
Closing this for now as we don't need PLOS in the test site.

[2016-06-27 09:38] #1031 closed

[2016-06-27 09:39] dommitchell commented on #1019
Done

[2016-06-27 09:39] #1019 closed

[2016-06-27 09:40] dommitchell commented on #976
Closing as not pressing

[2016-06-27 09:40] #976 closed

[2016-06-27 09:41] dommitchell commented on #974
@Steven-Eardley please revisit this one.

[2016-06-27 09:42] dommitchell commented on #964
@Steven-Eardley can this one be closed now?

[2016-06-27 09:43] dommitchell commented on #963
@emanuil-tolev can this be closed?

[2016-06-27 09:43] dommitchell commented on #959
Leaving for now

[2016-06-27 09:43] #959 closed

[2016-06-27 09:44] dommitchell commented on #950
Closing

[2016-06-27 09:44] #950 closed

[2016-06-27 09:45] dommitchell commented on #949
@richard-jones I imagine that there are advantages to having the ISSNs separated in the index right?

[2016-06-27 09:46] dommitchell commented on #946
Closing

[2016-06-27 09:46] #946 closed

[2016-06-27 09:47] dommitchell commented on #905
@greboun any feeling for the priority of this one?

[2016-06-27 09:49] dommitchell commented on #889
I'd like this one fixed please. It's low priority but too old to still be open! @richard-jones @Steven-Eardley

[2016-06-27 09:49] #773 closed

[2016-06-27 09:50] dommitchell commented on #684
Just adding this to the other OAI stuff under tnm. Don't think this would be tnm though, right?

[2016-06-27 09:50] dommitchell commented on #681
Closing

[2016-06-27 09:50] #681 closed

[2016-06-27 09:52] dommitchell commented on #639
Closing for now.

[2016-06-27 09:52] #639 closed

[2016-06-27 09:52] #634 closed

[2016-06-27 09:56] Steven-Eardley commented on #964
I'm still seeing the issue after the release, and running the script that should fix it. Needs to be investigated some more.

[2016-06-27 09:56] dommitchell commented on #631
@richard-jones Was this information included in the XML info you released onto the site? I don't see it here: https://doaj.org/features or here: https://doaj.org/publishers and it was supposed to be part of #984

[2016-06-27 09:57] dommitchell commented on #620
Closing

[2016-06-27 09:57] #620 closed

[2016-06-27 09:58] dommitchell commented on #593
This can be closed now right?

[2016-06-27 09:59] dommitchell commented on #1044
Linking this to #544 as I think there are related, right?

[2016-06-27 10:00] dommitchell commented on #473
This is now irrelevant. Closing

[2016-06-27 10:00] #473 closed

[2016-06-27 10:00] dommitchell commented on #463
Closing as reapplications are closed

[2016-06-27 10:00] #463 closed

[2016-06-27 10:01] dommitchell commented on #383
Is this part of #1044 ? Will that help this?

[2016-06-27 10:01] #367 closed

[2016-06-27 10:02] dommitchell commented on #289
Closing

[2016-06-27 10:02] #289 closed

[2016-06-27 10:06] dommitchell commented on #983
Hi Steve, what's the latest on this one?

[2016-06-27 10:06] dommitchell commented on #1005
I changed this. Closing

[2016-06-27 10:06] #1005 closed

[2016-06-27 10:07] dommitchell commented on #878
Closing for now

[2016-06-27 10:07] #878 closed

[2016-06-27 10:08] dommitchell commented on #31
I'd like an update on this one please.

[2016-06-27 10:09] Steven-Eardley commented on #983
The main body has been released! the extra dev work for the share / embed hasn't been done yet

[2016-06-27 10:17] dommitchell commented on #830
@richard-jones @emanuil-tolev #1033 made some related changes to article overwriting and it's possible that until it was fixed, new duplicates were introduced into the system. I'd like a new audit done a la #915

[2016-06-27 14:08] richard-jones commented on #1039
Consider moving the rights information to provenance: http://dublincore.org/documents/dcmi-terms/#terms-provenance

[2016-06-27 14:10] richard-jones commented on #1030
Also put the seal in the result display

[2016-06-27 14:29] dommitchell commented on #661
Closing, no longer an issue.

[2016-06-27 14:29] #661 closed

[2016-06-27 14:33] richard-jones commented on #406
We're agreed that we want to go with my 4th option above

[2016-06-27 14:45] dommitchell commented on #1044
Dom to create list of what we want to report on.

[2016-06-28 09:18] dommitchell commented on #1042
Closing!

[2016-06-28 09:18] #1042 closed

[2016-06-28 09:36] Steven-Eardley opened #1047 "Send result of article cleanup script to s3"
It contains the IDs of deleted articles, so a record should be kept long-term.

[2016-06-28 11:17] dommitchell commented on #1044
***DRAFT, not complete***

As requested, some examples of reports that we would like to see:

- number of records (apps or reapps) touched by one user
- number of records fully processed to a conclusion by a user
- number of records (apps or reapps) touched by an editorial group
- number of records (apps or reapps) processed to a conclusion by an editorial group
- number of applications added per

[2016-06-28 14:24] #739 closed

[2016-06-28 14:25] #744 closed

[2016-06-28 14:25] #745 closed

[2016-06-28 14:25] #746 closed

[2016-06-28 14:25] #752 closed

[2016-06-28 14:25] #757 closed

[2016-06-28 14:25] #758 closed

[2016-06-28 14:25] #759 closed

[2016-06-28 14:25] #760 closed

[2016-06-28 14:25] #767 closed

[2016-06-28 14:25] #768 closed

[2016-06-28 19:00] emanuil-tolev commented on #1016
Option 1 try maybe do with zero downtime option here https://www.elastic.co/blog/changing-mapping-with-zero-downtime#_reindexing_your_data_with_zero_downtime . Note still quite hard but that's kinda inevitable with changing a structural/mapping thing like this.

[2016-07-05 09:17] emanuil-tolev commented on #1032
@dommitchell just to confirm you still want this text deleted - I know we've discussed APCs after this issue was opened as well.

[2016-07-05 09:24] emanuil-tolev commented on #1045
Any reasons *not* to do this, or to not do it in a particular way (e.g. a new field in the index part of each application record)?

[2016-07-05 09:50] emanuil-tolev commented on #1045
@dommitchell @greboun are we happy with an "Application type" facet with currently 2 values: "reapplication" and "new application"?

[2016-07-06 14:50] Steven-Eardley commented on #983
@dommitchell the share/embed button has been added - visible now on live.

[2016-07-06 14:52] Steven-Eardley commented on #941
Completed, and released with Continuations.

[2016-07-06 14:54] Steven-Eardley commented on #296
Issue superseded by #941, and the script checks orphaned articles, deletes them, and logs their IDs to file.

[2016-07-06 14:54] #296 closed

[2016-07-09 15:37] richard-jones commented on #1016
Taking this out of tnm, and will do a separate assessment of the work

[2016-07-09 16:13] richard-jones commented on #290
I believe we've already removed orphaned articles, but we need to check on the status of that.

If we haven't, what action is required?  The only thing I could think to do would be to gather the issns of articles that are orphaned, so that DOAJ admins can check what action should be taken.

Given the age of this issue, I suspect it is superseded.

[2016-07-09 16:35] richard-jones commented on #195
I'm slightly unclear what we have decided to go for here.  We have talked about an "html cleaning" exercise, but I'm not sure what we should actually do under that heading - we could try stripping known HTML tags, but this might have unforseen consequences (like, if the abstract specifically talks about HTML, or if there are legitimate scientific uses of the same notation).

My inclination is just

[2016-07-09 16:41] richard-jones commented on #50
Has this issue resolved itself?  I can't see any problems on the linked page.

If not, how do we resolve?  Do we just want to look for those kinds of characters and strip them from the data?

[2016-07-09 16:57] richard-jones commented on #1044
Proposing that we add a new index type, called "provenance" or similar, which contains objects of the following structure:

[code]

[2016-07-09 17:27] richard-jones opened #1049 "Proposed new layout for Application form"
When we do the application form work, we should strongly consider changing the layout, as the complexity of the form and the 2 column layout are pulling at each other (IMO).

Suggest instead:
- A single column layout, allowing us to use wider form-controls
- Keep the current segmentation, and make those segments collapsible
- Have an overall progress bar at the top, and individual segment progress

[2016-07-11 09:37] dommitchell commented on #1032
Yes please! Thanks!

[2016-07-11 09:39] dommitchell commented on #1045
@emanuil-tolev Yep!

[2016-07-11 09:53] dommitchell commented on #983
Nice!

[2016-07-11 10:52] dommitchell commented on #290
I agree. This sounds sensible. Hopefully, this is superseded.

[2016-07-11 11:03] dommitchell commented on #195
I think we should go ahead and strip out known HTML tags. Common ones only, such as: bold, italic, para, break. Would it be possible to do a count and get a breakdown of how bad the problem is first? They are hard to search for.

[2016-07-11 11:10] dommitchell commented on #195
Found one: https://doaj.org/article/613a262efa404309a42e8d19bde50879

[2016-07-11 11:11] dommitchell commented on #195
This journal in particular seems to have problems with " "> https://doaj.org/toc/2074-7705

[2016-07-11 11:15] dommitchell commented on #50
It seems that many have been fixed by the UTF change.

Also, browsers seem to be handling these things better?? Possible?

There are still anomalies but not diacritic ones. Again, it would be helpful to ascertain the size of the problem. Something you can do?

[2016-07-11 11:19] dommitchell opened #1050 "Add new sponsor: APS"
![apsresize](https://cloud.githubusercontent.com/assets/5955396/16729041/48a20d6e-476a-11e6-9a5d-288e63ee64eb.jpg)

and link to https://www.aps.org/

[2016-07-11 12:20] dommitchell commented on #983
The shortener isn't present: https://doaj.org/toc/2383-4544. When you click on Share, there is no option to shorten the URL. Is that a separate piece of functionality?

[2016-07-11 12:36] Steven-Eardley commented on #983
It is - it was originally written hard-coded to doaj.org/search. That'll need reworking if it is to be re-used for this page.

[2016-07-11 12:41] emanuil-tolev commented on #983
Is there a need to shorten these URLs? They appear to be more readable and not much longer than bit.ly's own.

[2016-07-11 12:41] emanuil-tolev commented on #983
Oh, unless you select options to modify what you're viewing on the ToC page of course - ignore me.

[2016-07-12 07:53] #983 closed

[2016-07-12 07:54] dommitchell opened #1051 "Add the URL shortener functionality to Share button on ToCs"
As per https://github.com/DOAJ/doaj/issues/983#issuecomment-231721859, we should reproduce the URL shortener on ToCs too.

[2016-07-12 14:41] dommitchell commented on #1044
I notice that in Section B above I didn't add a desired common denominator, that we should be able to break everything down by country, eg number of journals added per month per country, number of article added per year per country, etc. Does that add a complicated layer?

[2016-07-12 14:56] dommitchell commented on #290
Every time the articvler synchroniser runs it would throw out an orphan . No longer relevant

[2016-07-12 14:56] #290 closed

[2016-07-12 14:56] dommitchell commented on #195
ET and RJ will discuss and ascertain size of problem.

[2016-07-12 15:00] richard-jones commented on #135
https://doaj.org/search?source=%7B%22query%22%3A%7B%22query_string%22%3A%7B%22query%22%3A%22AVRUPASI%E2%80%99NIN%22%2C%22default_operator%22%3A%22AND%22%7D%7D%2C%22from%22%3A0%2C%22size%22%3A10%7D

https://doaj.org/search?source=%7B%22query%22%3A%7B%22query_string%22%3A%7B%22query%22%3A%22AVRUPASI%27NIN%22%2C%22default_operator%22%3A%22AND%22%7D%7D%2C%22from%22%3A0%2C%22size%22%3A10%7D

[2016-07-12 15:06] richard-jones commented on #50
This is some kind of problem with the CSV export:

 Journal für Klinische Endokrinologie und Stoffwechsel
  Journal fÃ¼r   Klinische Endokrinologie und Stoffwechsel

[2016-07-13 09:38] dommitchell opened #1052 "Automated emails are encoding URLs in the body of the text"
For example:

I want to harvest articles on Library and Information Science using PKP Harvester. I have noticed that base url is http://email.doaj.org/c/eJwtjTsOwyAQBU8DndHyW5yCIk3uscASk1gCIe6v2FKkV0wxo1eitbok2aIBjRAAtXfBotI7IijvDYBwUDp9Nhpj0_KITldwHPgBlDJjrq4Wtsknosx1D_KMx1pD2Kcwr2t3rPp8X9ipKZqr5ZOVnLEyl0T5-3-4pR9ClSrq However, I am unable to workout how to download articles from selected journal

[2016-07-13 14:12] dommitchell opened #1053 "Quick Fix? Inconsistency on Journal ToC re wording"
https://doaj.org/toc/2044-6055

'Does the author retain copyright?' should read 'Does the author retain *unrestricted* copyright?'

[2016-07-13 14:59] dommitchell opened #1054 "Change wording on XML upload confirmation message"
"File successfully uploaded - it will be processed shortly" should be changed to:

"File uploaded and waiting to be processed. Check back here for updates."

It's misleading as it is because people think that the articles have processed successfully.

[2016-07-13 20:52] emanuil-tolev commented on #1052
Sorry, what?

Which automated email are we talking about? And what does information in a DOAJ-originating email have to do with harvesting articles via OAI (or in any other way)?

[2016-07-13 21:54] emanuil-tolev commented on #1040
For future ref: we ended up doing a 3am and 3pm run, so every 12h.

This has now been reversed after confirmation from Hindawi that their retrospective updating is complete. We are back to ingesting XML article metadata every 30 minutes.

[2016-07-13 21:54] #1040 closed

[2016-07-19 06:50] dommitchell commented on #1050
@emanuil-tolev can you do this Steve's absence?

[2016-07-19 06:53] dommitchell commented on #631
This when you can. You said it would be easy to drop this stuff in.

[2016-07-19 08:24] emanuil-tolev commented on #1050
Yes, no problem. I think you wanted static pages released as well, will do today.

[2016-07-19 12:27] dommitchell commented on #1052
Sorry for not being clear. Forget the OAI thing.

All emails coming to feedback@doaj.org ar ehaving any email encoded. Here is another example:

1. The new home page for the journal is http://email.doaj.org/c/eJwtzDEOwyAMQNHTwBaEITVhYMjSexjsNGkrEQHt-Zuh0p_e8Dl5D5z1kZwFtAGCXXxw0bjoozMBL1Gz5UrPic5zAr0ngoC4OEHACLBxYQJGtBI8zlJu-p32MU7lV-XuV02-Rx9Us4xuPmSk65Y2Ec5UXv-5qe3xAyroKII

We don't need URLs in

[2016-07-19 12:57] emanuil-tolev commented on #1052
Oh gosh, are you saying emails that are coming into the DOAJ feedback@ inbox, written manually by members of the public (or the research community) are having URLs encoded?

That should certainly not happen.

[2016-07-19 14:32] dommitchell commented on #1052
The ones you emailed aren't encoding.

But it's any URL submitted via the contact form.

![contact](https://cloud.githubusercontent.com/assets/5955396/16953671/375149c0-4dce-11e6-864c-0c170dcc2ab7.jpg)
![contact2](https://cloud.githubusercontent.com/assets/5955396/16953689/51e6389a-4dce-11e6-8447-73b91f3d9bd4.jpg)

[2016-07-19 14:39] emanuil-tolev commented on #1052
Ah. But those are emails automatically sent by the DOAJ system...

[2016-07-19 14:45] richard-jones commented on #343
@dommitchell - we've been having another think about this in the light of #994 .  We /could/ use the same approach here as we did there, but it would have consequences.  If we did it that way, we would be able to offer you /another/ facet, which was something like:

+ Has Editor Group
  Yes (100)
  No (50)

But this would necessarily be another facet, and not part of the "Editor Group" facet.

How

[2016-07-19 14:47] emanuil-tolev commented on #1052
OK, we can turn off click tracking (and therefore URL encoding) for certain emails of our choosing. We should do this for emails sent via contact form. I'll have to dig a bit to get an estimate of how long, it mostly depends on the flexibility of the email sending utility function we have, and the library it uses underneath. We need to include a new header when sending emails to Mailgun, our curre

[2016-07-19 16:24] emanuil-tolev commented on #1050
Should be live in 2 min

[2016-07-19 16:24] emanuil-tolev commented on #1054
Should be live in 2 min

[2016-07-19 16:26] emanuil-tolev commented on #1032
Should be live

[2016-07-19 16:41] emanuil-tolev commented on #1052
Thought it'd be best to add a simple recap of this issue so far.

It is not a bug, it's the system sending automatic emails (with click tracking and opens tracking turned on).

This behaviour is a bit unintuitive since it relates to emails destined for DOAJ staff. This is despite the emails being "outbound" from a purely technical perspective - the system is sending email to somebody, and doesn't

[2016-07-20 08:49] dommitchell opened #1055 "Send harvester out for Springer/BMC/Nature journals, eLife, PeerJ"
Can you quote me for how much it would cost to go and collect article metadata from Europe PMC for account 14712385? http://bit.ly/2abfJI3

Total number of journals in DOAJ is 510

And eLife? Account 2050084X
And PeerJ? Account 21678359

[2016-07-20 08:50] dommitchell commented on #343
This is clunky but ideal for what we need! Thank you! OK to go ahead as you suggest.

[2016-07-20 08:50] dommitchell commented on #1054
Great!

[2016-07-20 08:50] #1054 closed

[2016-07-20 08:51] dommitchell commented on #1053
Fantastic!

[2016-07-20 08:51] #1053 closed

[2016-07-20 08:52] dommitchell commented on #1032
Perfect!

[2016-07-20 08:52] #1032 closed

[2016-07-20 08:52] dommitchell commented on #1050
Smashing!

[2016-07-20 08:52] #1050 closed

[2016-07-20 09:28] dommitchell commented on #811
@Steven-Eardley @emanuil-tolev Can you let me know when this went live to the site? I am interested in knowing how long records that have 'Never' against their Last Updated date have been that way.

[2016-07-20 09:42] Steven-Eardley commented on #811
I think it was the 16th October 2015 - it's in https://github.com/DOAJ/doaj/releases/tag/2015-10-16_1615T_workflow_and_api_phase2_release

[2016-07-20 09:46] dommitchell commented on #811
Genius. Thank you!

[2016-07-20 09:46] #811 closed

[2016-07-20 11:14] dommitchell opened #1056 "Question: Journal CSV - add 3 columns"
How feasible would it be to add two columns to the journal csv:
- number of articles uploaded to DOAJ?
- date of last update?

From a user:
DOAJ offers a very useful list of indexed journals in CSV format. However, the journal ID field, which would be very handy to link databases, is missing. It would be convenient to be able to add this ID to a database of journals to making linking with the DOAJ

[2016-07-26 17:42] emanuil-tolev opened #1058 ".pull and .save enhancements to integrate better with data objects"
1. pull

[code]

Don't swallow all exceptions: either don't swallow any at all (letting the respective page crash if the pull failed - not unreasonable if the pull is for the main item to display on the page!), or only swallow network exceptions (socket layer and requests).

2. save

This currently doesn't check if the object to be saved conforms to the data schema, which is however applied on .pu

[2016-07-29 09:22] richard-jones commented on #786
The exact reason for this has eluded me - it seems that there's some kind of issue with how dates are handled in statistical and terms facets which causes them to be different from the values actually stored, with regard to the time zone.  Basically, the earliest date was being reported as an hour later than the actual earliest date, causing a mismatch in the results.

I've altered the query to ge

[2016-07-29 09:37] richard-jones commented on #1039
Done in upcoming PR

[2016-07-29 12:15] dommitchell commented on #23
Am thinking of closing this one because, much of this data will be cleaned up as we process and accept reapplications back into DOAJ. I am right, right?

[2016-07-29 14:14] emanuil-tolev commented on #23
As long as there are two or more distinct values representing the same licence, I wouldn't close it. You are right that it should get a lot better with controlled vocabs now in use.

[2016-07-29 15:38] emanuil-tolev commented on #889
All icons in facetviews should be fixed now

[2016-07-29 15:39] emanuil-tolev commented on #1045
This should be available on live now.

[2016-07-29 15:39] emanuil-tolev commented on #1045
(and on test)

[2016-08-01 08:16] dommitchell commented on #1045
Smashing!

[2016-08-01 08:20] dommitchell commented on #23
Richard, removing this one from Data Cleanup.

[2016-08-01 08:21] dommitchell commented on #889
Great!

[2016-08-01 08:21] #889 closed

[2016-08-02 09:00] dommitchell opened #1060 "Duplicate journal entries: unable to load XML without deleting articles"
Sometimes we have two journals entries in DOAJ because a new application was accepted in place of the reapplication record and the old original record remains. You will remember that we cannot have two records with the same ISSN in DOAJ; it breaks the ToC pages and returns an error. Our solution has always been to take the old journal out of DOAJ and accept the new record (and simply reject the re

[2016-08-02 14:30] dommitchell commented on #1060
Notes from the call today: it is possible to call a delete that removes the journal record only but just now a delete call removes everything.

In the emeantime, use ISSN xxxx-xxxx

[2016-08-02 14:31] dommitchell commented on #1056
No reason why this shouldn't work but will take longer to generate CSV.

[2016-08-02 14:38] dommitchell commented on #1055
From the call: could be a lot of content. Requires an update of the configuration and a re-triggering of the fresh import script.

[2016-08-03 11:30] dommitchell opened #1061 "Please create outputs for the following queries"
All journals with the status 'Rejected'. Should include: Title, ISSN, Date applied, Last updated date and, if possible, the Notes for the following countries or group of countries:
1) India

2) Latin America:
Argentina
Bolivia
Brazil
Chile
Colombia
Costa Rica
Cuba
Dominican Republic
Ecuador
El Salvador
French Guiana
Guadeloupe
Guatemala
Haiti
Honduras
Martinique
Mexico
Nicaragua
Panama
Paraguay
Pe

[2016-08-03 16:08] Steven-Eardley commented on #1030
Are we talking both facetviews, ```admin.journalarticle.facetview.js``` as well as ```admin.journals.facetview.js```? Or would you like to pick a favourite?

Just out of interest, why do we have both?

[2016-08-04 10:20] dommitchell commented on #800
Quote received from Richard.

[2016-08-08 12:30] dommitchell opened #1062 "Add Seal to Hindawi records"
Is it possible to:
- automatically change the answer to Qu 51 to Sherpa/Romeo; and
- automatically add the DOAJ Seal to all accepted Hindawi records that have the Tick? That's about 394 journals at the time of writing: http://bit.ly/2aG0WsK

Can you quote for this?

[2016-08-08 13:16] dommitchell commented on #1033
Leaving this here as I htink that this has become an issue again: http://bit.ly/2aGmhzG

These 10 articles are identical to their 10 predecessors.

[2016-08-09 09:45] dommitchell opened #1063 "Quick question: marathi"
Can the web site display marathi?

Do you know if Wordpress can?

[2016-08-09 10:27] emanuil-tolev commented on #1063
The language, right? Yes, we should have no problem. And if we do it should be fixable.

It should be able to, yes, esp. if a new version (like hosted by wordpress.com or another WP hosting service).

[2016-08-09 10:28] emanuil-tolev commented on #1063
Tbh I'd just try it, copy some lines in Marathi from the web into WP.

[2016-08-09 16:45] Steven-Eardley commented on #1033
It seems there are two identical versions which were created at different times on the same day.

https://doaj.org/admin/admin_site_search?source=%7B%22query%22%3A%7B%22filtered%22%3A%7B%22filter%22%3A%7B%22bool%22%3A%7B%22must%22%3A%5B%7B%22term%22%3A%7B%22_type%22%3A%22article%22%7D%7D%5D%7D%7D%2C%22query%22%3A%7B%22query_string%22%3A%7B%22query%22%3A%222466%5C%5C-3913%22%2C%22default_operator%2

[2016-08-10 12:47] dommitchell commented on #235
Users experiencing similar issues with this again. Can you check newrelic and let me know?

"We have tried to response the below set.
https://doaj.org/oai.article?verb=ListIdentifiers&metadataPrefix=oai_dc&set=RE9BSjpJbnRlcm5hbCBtZWRpY2luZQ~~

The number of identifiers supposed to be (as listed below) 44264,  but in actual we are getting  only 300 identifiers.  Can you please help us here?

{<resu