[2015-01-16 15:37] emanuil-tolev commented on #515
The most recent changes to static pages have been rolled out to live too.

[2015-01-16 15:45] dommitchell commented on #469
All good!

[2015-01-16 15:45] #469 closed

[2015-01-16 15:54] dommitchell commented on #440
Looking good!

[2015-01-16 15:55] dommitchell commented on #515
Smashing! Thank you!

[2015-01-16 15:56] #440 closed

[2015-01-16 16:06] dommitchell commented on #463
Cancelled

[2015-01-19 10:08] richard-jones commented on #396
@emanuil-tolev - when the reapplication has been initialised, please unassign and add to Reapplication Shutdown milestone

[2015-01-19 10:16] richard-jones opened #525 "blank out certain questions in the csv"
If possible, don't put in default values of No policy in place and No for q13, q16, q23, q26, q35, q49. This will force users to fill them in as they're required.

RJ: unfortunately, for each of these questions, omission of a field means "No", and presence of a field means "Yes". So it is impossible to tell the difference between a deliberately missing field, and a field that has not yet been comp

[2015-01-19 10:19] richard-jones opened #526 "Chrome scrolling issue (bug in external software)"
Chrome issue - when you submit a form, it remembers the position of the page you were on (i.e. vertically, where you were exactly). From then on when you open that page it will always scroll to that position. Even if you submit the form again from the top of the page, it will always scroll back down to where you FIRST where. This is some kind of botched usability feature.

This could be a problem

[2015-01-19 10:50] dommitchell commented on #525
Questions to be blanked:
Does the journal have article processing charges (APCs)?
Does the journal have article submission charges?
Does the journal have a waiver policy (for developing country authors etc)?
What digital archiving policy does the journal use?
Which article identifiers does the journal use?
Please select the review process for papers
With which deposit policy directory does the jou

[2015-01-19 10:55] richard-jones commented on #450
@dommitchell - we didn't follow up on the contents of the error messages in today's meeting.  Was there any further feedback on this from the testers?

[2015-01-19 10:56] richard-jones commented on #461
@dommitchell - another one: we didn't follow up on the contents of the error messages in today's meeting. Was there any further feedback on this from the testers?

[2015-01-19 10:58] richard-jones commented on #476
@dommitchell - after looking at the csv you sent me, I couldn't see any issues.  It looked like one downloaded from the site, and it opened fine.  I think that the documentation is the only way to tackle this particular issue, though.  Let me know if there's anything more you want me to look at.

[2015-01-19 11:58] emanuil-tolev commented on #525
I assume this should only be blanked if we have no data. If we actually have data on this in store there's no need to blank the question as no confusion can arise between "No policy" and "DOAJ doesn't know what policy there is".

[2015-01-19 12:00] emanuil-tolev commented on #525
Actually this should already be blank if no policy is present, and a comma-separated list of the policies otherwise. I can't see anything in the code that would output "No policy" in the event of missing data. I'll double check with an actual spreadsheet but leaving this one alone for now.

[2015-01-19 12:03] emanuil-tolev commented on #525
Same here, this should either be empty or a list of the identifiers, no other option seems possible.

[2015-01-19 12:07] emanuil-tolev commented on #525
There isn't anything that we're doing to convert the answer to None, but I think there might be a clash between the Python programming keyword None and the human word "None" which is a valid option. Have now taken care to *blank* the question and only put "None" when it was actually selected.

[2015-01-19 12:09] emanuil-tolev commented on #525
Again, this should already be blank if no policy is present, and a comma-separated list of the policies otherwise. I'ma review this since either I'm missing something or the 3 questions with this problem shouldn't have wrong "default" answers, they should be correct in all cases. (blank == no info, comma-sep list otherwise)

[2015-01-19 12:10] dommitchell commented on #461
Closing. Have added specific notes to documentation

[2015-01-19 12:10] #461 closed

[2015-01-19 12:16] dommitchell commented on #525
These are all new questions if I remember correctly and every reapplication I have looked at has these filled to 'No,', 'None' or 'No policy in place' which looks to me as if the form is defaulting to it. How is this being prepopulated? Can you find an example where these questions are answered with any other value?

[2015-01-19 12:18] emanuil-tolev commented on #525
OK, so that's what shouldn't happen. It doesn't look like the code is doing this, but clearly it seems to be (or it was) doing it at one point. I'm investigating this atm using the sheets on the test server, and I may regenerate one of the test accounts too.

[2015-01-19 12:20] emanuil-tolev commented on #525
Hm, where is this value coming from..

[2015-01-19 12:26] emanuil-tolev commented on #525
Alright, got it, so the crosswalk from an application record into an application WEB form puts that in. So when "No policy in place" appears in the CSV it needs to be specifically blanked out. Same for the other 2 cases, except it's just the word None then. Fixing now.

[2015-01-19 12:39] emanuil-tolev commented on #525
Note:
1/ I'll only blank this if it's a No. A Yes is unambiguous here, and it will look quite strange to have an APC currency and a blank field for the main question.

* * *

Note specifically for these:

2/ Not blanking the associated URL and currency fields, there's no confusing default values that could go in there and make our lives difficult.

[2015-01-19 12:45] emanuil-tolev commented on #525
This one's been fixed along the way, latest sheet correctly list a blank.

[2015-01-19 12:52] emanuil-tolev commented on #525
Er, all the CSVs have Yes for all the journals here. I'm going to switch one of the test journals to No and regenerate its reapplication.

[2015-01-19 12:56] emanuil-tolev commented on #525
Oopsie. Bug caught. They're all set to Yes even when the DOAJ (and its user interface) clearly state the journal has no processing charges.

[2015-01-19 13:01] emanuil-tolev commented on #525
Because "False" == True ;). obj2form returns strings, not python objects.

[2015-01-19 15:13] emanuil-tolev commented on #525
I have regenerated the reapps on the test server, but noticed that actually more questions had this problem (like, it doesn't make sense to say that no journals embed the license info in their pages - we just don't know, let's not assume ;)). So as soon as #528 is merged and deploys, I'll mark ready for review again.

[2015-01-19 15:20] dommitchell commented on #416
@emanuil-tolev  Can we work these into a future round of updates? (I'm not suggesting today's!)

[2015-01-19 15:22] emanuil-tolev commented on #416
Changing the description just on the web form is ok. Changing the question text though .. is this only on the web form, or should the question change in the csv too?

[2015-01-19 15:29] dommitchell commented on #416
This is only changes to the help text, NOT the questions themselves.

[2015-01-19 15:33] emanuil-tolev commented on #416
Ah yeah, sure. Is this kind of a hotfix thing that gets published asap like the static pages, or in any particular upcoming project? Or is that what you're asking :)? Yeah, happy to change q descriptions if this issue is not attached to a project. I'll put it on my todo and probably good to add to next meeting's agenda.

[2015-01-19 15:54] dommitchell commented on #416
Yup, this isn't attached to any project. Thanks!

[2015-01-20 06:50] dommitchell opened #529 "Unable to assign applications without filling in the 2 new questions 14 and 18"
https://doaj.org/admin/suggestion/678a3a49d78c45bbaa468ed5b22fa000#first_problem

![bug](https://cloud.githubusercontent.com/assets/5955396/5813160/035057c8-a079-11e4-8579-09e58a82d467.jpg)

This needs to be bypassed since no applications between 19th March 2014 and 19th Jan 2015 will have this info provided.

ManEds should be able to assign an application to to a group, and editors should be able

[2015-01-20 09:37] richard-jones commented on #529
I can think of a couple of quick ways that we might do this:

1. allow validation of the application form to be disabled by maneds (in a
similar way to journals)
2. make it so that this field is not required for maneds, but required for
everyone else

Either of these would be about 0.5 days extra work, I'd guess.

We did previously discuss having (1) on the application form, and decided
against it

[2015-01-20 09:49] dommitchell commented on #529
Unable to reject any old applications either. This is causing us serious problems.

[2015-01-20 11:05] emanuil-tolev commented on #529
custom validator that does not prevent submission (clears errors from the field) if the current user is a managing editor, but only if the field is empty?

[2015-01-20 13:17] dommitchell commented on #386
Still just thinking aloud here. How about just a prompt? Keep the UI exactly as it is but if someone clicks Unlock and Close without saving changes, they get a prompt that says: 'There are unsaved changes on this page. Continuing will close this record without saving your changes. Do you wish to continue?'

[2015-01-20 14:13] dommitchell commented on #203
Transferring to #520

[2015-01-20 14:13] #203 closed

[2015-01-20 14:14] dommitchell commented on #442
Transferred to #520

[2015-01-20 14:14] #442 closed

[2015-01-20 17:09] richard-jones commented on #529
I've taken the following approach:

* implement a new form which extends from the JournalInfo form
* override the fields that are currently required with fields which are optional
* compose the managing editor and editor forms using this JournalInfo sub-class, rather than the standard JournalInfo

This has the effect that both these fields are optional for managing editors and editors, but still c

[2015-01-20 17:09] richard-jones commented on #529
@dommitchell - just assigned to you, but you won't be able to review in live for a short while.

[2015-01-20 17:40] dommitchell commented on #529
Just acknowledging that I've seen this. Will review later. Thank you for the fast turnaround.

[2015-01-20 18:02] richard-jones commented on #529
No probs.  Can confirm this is now live.

[2015-01-21 08:09] dommitchell commented on #450
Not from the testers, no but I'm still concerned that there is no connection at all between the csv and the codelists. I think I'm trying to cut down on emails to us but happy to leave this for now and come back to it if need be. Leave open but will remove from this project.

[2015-01-21 15:21] dommitchell opened #531 "[u'...'] appearing on journal homepages"
https://doaj.org/toc/0d518f1f25fa4de8a94bdc9345ac9897

Archiving Policies: CLOCKSS, Portico, [u'A national library', u'British Library']

[2015-01-22 09:42] emanuil-tolev commented on #324
This was run on Monday, 19th Jan 2015.

[2015-01-22 09:42] #324 closed

[2015-01-22 09:43] emanuil-tolev commented on #493
Yeah, used the script every which way by now, closing this enhancement.

[2015-01-22 09:43] #493 closed

[2015-01-22 10:44] emanuil-tolev opened #532 "4 journals don't have an owner set?"
Found out during reapplication init (still in progress). Need to go back and investigate which ones. And why.

[2015-01-22 10:56] emanuil-tolev commented on #525
This was approved and has been deployed to live and the reapp generated, so closing this issue.

[2015-01-22 10:56] #525 closed

[2015-01-22 10:56] emanuil-tolev commented on #410
Closing this, everything important was done.

[2015-01-22 10:56] #410 closed

[2015-01-22 12:35] dommitchell commented on #306
Something strange has happened. The number of rejected applications has gone down to 1 and yet:

I should have spotted this in testing but the very absence of rejections in the facet meant I didn't notice that the rejected facet was missing (which means there were none, right?)

[2015-01-22 13:00] emanuil-tolev commented on #306
@dommitchell they were all gone when we did it. This one was maybe rejected just now? What does its record say :)?

Also yes, if there are no rejected apps the facet value will disappear. Maybe something to consider upgrading (getting the ability to have 0-val choices in facet) in the public view of data that's coming up.

[2015-01-22 13:14] dommitchell commented on #306
Sure but my point is, I didn't think you were removing them until later:

[2015-01-22 13:18] emanuil-tolev commented on #306
Yep, except that it was then agreed to remove them now. I can't quite recall the issue /cc @richard-jones ?

We've got an archive of them, so what we can do:
1. restore them if you need them
2. don't restore them and wait to see if you do have a need for them :)

[2015-01-22 13:30] dommitchell commented on #529
Can you remove the lines 'This field is optional for editors and managing editors only' under 14 and 18 please?

[2015-01-23 13:36] dommitchell commented on #416
@emanuil-tolev If I had a priority, can you make this change asap? ;)

Add one extra word to Question 30: 'Does the journal provide article download statistics?'

[2015-01-23 14:44] emanuil-tolev commented on #416
OK, pull request in for the changes above. Only really minor text changes so done.

[2015-01-23 14:45] emanuil-tolev commented on #416
Will switch to ready for review once the PR is reviewed and I've rolled out the changes.

[2015-01-23 14:48] richard-jones commented on #416
Actually, if we're making text changes to the application form, there's
another issue that we should do at the same time #529

Haven't had a chance to look at it yet, though

[2015-01-23 14:53] emanuil-tolev commented on #529
Got that now too, will say in here when it's been rolled out.

[2015-01-23 14:54] emanuil-tolev commented on #416
It's just deleting 2 descriptions, done.

[2015-01-24 16:16] richard-jones opened #534 "Remove some values from the public results display"
REMOVE:
X Provider
X Date added to DOAJ
X Journal Country,
X Started publishing Open Access content in:

[2015-01-24 16:16] richard-jones commented on #161
Note that the removal will also be done as part of the priority work in #534

[2015-01-24 16:56] richard-jones opened #535 "Upgrade ES version to 1.4"

[2015-01-24 17:00] richard-jones opened #536 "Upgrade all search interfaces to facetview 2"
- [x] Public search
- [x] Admin Applications
- [x] Admin Journals
- [x] Admin users
- [x] Admin site search
- [x] Admin Editor Groups
- [x] Editor Group Journals
- [x] Editor Group Applications
- [x] Editor/Associate Editor Journals
- [x] Editor/Associate Editor Applications
- [x] Publisher Journals
- [x] Publisher Reapplications

[2015-01-24 17:01] richard-jones opened #537 "Shortened facetview display for journals"
In the search interface, produce a journal-specific short-view, similar to the article view #538

[2015-01-24 17:01] richard-jones opened #538 "Shortened facetview display for articles"
- [ ] change 'Published in' to 'Journal' and hyperlink to journal's home page in DOAJ.

[2015-01-24 17:02] richard-jones opened #539 "New/updated facets required in Public Search interface"
- [x] change facet label 'Publication charges' to 'Article processing charges (APCs)'
- [x] change facet label 'Journal language' to 'Language of full text'

*Natural state*
- Journals or articles: Journals, Articles. Fixed ordering.
- Subject (?) - unsure of how this one behaves when we add the subject browser. Do we remove this altogether? Can we discuss?
- Article processing charges (APCs): Yes

[2015-01-24 17:03] richard-jones opened #540 "Single article landing page"
* includes embedded metadata
* links to OpenURL work

[2015-01-24 17:03] richard-jones opened #541 "Improved cacheing of ToC pages"
In the first instance @markmacgillivray to review the current situation and make a recommendation to whether to cache the output html instead of the data, or to attempt to generate the pages by query in real-time.  Then decide who is responsible for actually developing the changes.

[2015-01-24 17:04] richard-jones opened #542 "OAI DC metadata review"
- [x] repoint dc:identifier to journal toc
- [x] repoint dc:identifier to article page (which doesn't yet exist)
- [x] On article OAI data, put link to journal TOC page in dc:relation

[2015-01-24 17:24] richard-jones commented on #145
@markmacgillivray - I'm assigning this to you to start with just because it relates to the ToC pages cache review #541 .  Continuations also need to be supported here, which may increase the complexity somewhat, especially if generating the ToCs on the fly.

[2015-01-24 17:27] richard-jones commented on #125
@markmacgillivray - another one for you in the ES upgrade process.  What is your preferred approach?  From the discussion I see:

* custom mapping for that field, which strips punctuation and accented characters
* custom document field (e.g. index.alpha_title) which has punctuation and accented characters removed before save

My gut instinct is for the latter, because then this behaviour is encode

[2015-01-24 17:28] markmacgillivray commented on #145
What is a continuation?
On 24 Jan 2015 17:25, "Richard Jones" <notifications@github.com> wrote:

[2015-01-24 17:28] richard-jones commented on #58
Me to check this issue, and close if resolved

[2015-01-24 17:29] richard-jones commented on #54
cf #125 - @markmacgillivray assigning to you for analysis

[2015-01-24 17:30] richard-jones commented on #12
@markmacgillivray - need to take this into account for ToC generation

Otherwise, also see #178 - probably some crossover.

[2015-01-24 17:38] richard-jones commented on #145
I can go over this in detail probably on a call at some point, but in outline:

When a journal changes its name, it usually gets a new ISSN.  This means "the same" journal now has a new identifier, and this is a "continuation" of the old version of the journal.

At the moment we have a single Journal object which represents all the versions of the journal, and we have a "history" field in which th

[2015-01-24 17:56] richard-jones opened #543 "Upgrade facetview2 for ES 1.x"
probably this will work out of the box, but will need a bit of testing

[2015-01-24 20:24] Steven-Eardley commented on #543
I think it might require a wee bit more work - some of the notation has changed, e.g. facets / aggregations.

[2015-01-26 09:10] dommitchell commented on #125
@richard-jones

You don't mean stripped out upon submission of data do you? We absolutely want to retain the accents and punctuation in the metadata.

[2015-01-26 09:17] dommitchell commented on #17
@richard-jones is this linked to #145 and the PVOD project?

[2015-01-26 09:17] dommitchell commented on #25
@richard-jones should this be in the PVOD project?

[2015-01-26 09:18] dommitchell commented on #51
@richard-jones  Isn't this part of PVOD project?

[2015-01-26 09:23] dommitchell opened #544 "Time delimiters needed for reporting and analysis"
As the data grows and changes, it's becoming increasingly more important to be able to analyse the dataset with time delimiters. Examples of these would be:
- year added to DOAJ
- year removed from DOAJ
- number of articles added year on year
- number of articles added per month
- number of journals added/removed per month
- applications received since [DATE]
- journals added since [DATE]

I'm env

[2015-01-26 09:25] dommitchell commented on #416
Should I review this anywhere?

[2015-01-26 09:50] dommitchell commented on #137
@emanuil-tolev I've just unchecked 'Add CC BY NC-SA (question 47)' as it hasn't actually been done. Or have I missed it somewhere?

[2015-01-26 09:57] richard-jones commented on #17
It is related, but this refers more to the management of continuations, which we haven't included in PVOD.

[2015-01-26 09:57] richard-jones commented on #125
Nope - just stripped in the indexed/searchable data, so that we can search/browse over it

[2015-01-26 10:09] dommitchell commented on #306
DM to speak to team today.

[2015-01-26 10:13] #515 closed

[2015-01-26 10:25] dommitchell commented on #517
Maybe DOAJ needs to join CERNET? http://en.wikipedia.org/wiki/CERNET

[2015-01-26 10:46] emanuil-tolev commented on #137
should probably discuss in a meeting, doesn't seem to have been put in any specific milestone yet, and some of them do need more work than just changing text

[2015-01-26 10:47] emanuil-tolev commented on #416
should be ready for review on live!

[2015-01-26 10:48] emanuil-tolev commented on #529
yep, ready for review on live

[2015-01-26 10:58] emanuil-tolev commented on #517
some tech notes on what to fix:

- [ ] change external JS provider so it's not Google (just make sure it's an equally good one..)
- [ ] serve jQuery and all the external JS files locally if they're not defined after trying to load them externally - there is a standard pattern for this
- [ ] serve google analytics via a server-side route (like doaj.org/backup_ga) if it's not defined after trying to

[2015-01-26 10:58] dommitchell commented on #529
Looking good!

[2015-01-26 10:58] #529 closed

[2015-01-26 11:00] dommitchell commented on #416
Looking good.

[2015-01-26 11:00] #416 closed

[2015-01-26 11:18] dommitchell commented on #537
@richard-jones what's this one?

[2015-01-26 11:21] richard-jones commented on #537
Just updated the description - there will be different views for articles and journals - this will allow us to customise to the specific data each one holds, but also help make a clearer distinction for the user when browsing.

[2015-01-27 08:26] dommitchell opened #545 "Email character limit too short in Users"
We have email addresses of more than 35 characters. Please increase this limit to 45.

![email](https://cloud.githubusercontent.com/assets/5955396/5915481/8ba137a4-a606-11e4-84a8-5180944b0e56.jpg)

[2015-01-27 08:43] dommitchell opened #546 "Tracking a missing application"
Are you able to track what happened to a specific application? We lost one and we think it was when the Reapplication process was switched on but we're not sure if the two are related.

The journal is "Journal of Engine Research" (http://test.doaj.cottagelabs.com/admin/suggestion/cdb4da2f019245969bc08687f8bd1148 - still here in test) and it was assigned to the Farsi1 group of editors.

How old is

[2015-01-27 09:17] emanuil-tolev commented on #546
We wouldn't be able to see it if it's been deleted, otherwise we can hunt around for it to see if it's been renamed for example. You can do the same from the admin search of course. The data on test seems to be from 19 Nov 2014 (modified by initialising the reapplication process on test of course, but the original data is from the morning of 19 Nov 2014).

This application would have been deleted

[2015-01-27 09:25] emanuil-tolev commented on #546
Yeah, it's in there @dommitchell .

[code]

[2015-01-27 09:26] emanuil-tolev commented on #546
This is the crux I think :)

"date": "2014-12-22T19:49:18Z",
"note": "RZ: Thanks for the review.\r\nI've chosen to reject it as there are still no license terms available.\r\n"

[2015-01-27 09:26] emanuil-tolev commented on #546
(```\r\n``` is a new line. Windows-style, to be precise.)

[2015-01-27 10:15] #546 closed

[2015-01-27 10:17] dommitchell commented on #306
Based on #546 I wonder if it possible to reinstate all applications back to March 2014 so that we have all of the most recent ones? I think there is too much discussion around some records for them to simply be wiped *unless* we can find some way of DOAJ accessing them in a JSON reader offline. In that case, we could have them our selves somewhere. Thoughts?

[2015-01-27 10:22] emanuil-tolev commented on #306
A JSON reader wouldn't let you search very easily I don't think. Imagine reading 22 MB of XML. There are XML editors, but which of them will let you search and fetch just the record you need easily, not to mention ease of reading it (better with JSON, but still). So yes, can restore all apps with created_date after 01 March 2014.

[2015-01-27 11:51] dommitchell opened #547 "All reapplications have the same Applied date"
http://bit.ly/1y2PHtt

Is it the Last updated date we should be sorting on if we want to reach those journals that reapplied first?

Shouldn't the Date applied date be generated when they submit there reapplication?

[2015-01-27 14:56] dommitchell opened #548 "Assigning journal to Editor Group invokes Bad Gateway"
https://doaj.org/admin/suggestion/0281894b53cc4196b4bf6404cbe0c4d2#first_problem at 15.54pm (14.54 UTC)

![gate](https://cloud.githubusercontent.com/assets/5955396/5920452/ef42d674-a63c-11e4-806f-344060f59901.jpg)

It's happened to me 3 times now.

I'm opening applications that are already in progress and assigning them to Editor group 'Dom's group'. If I hit back on my browser, unlock and close t

[2015-01-27 15:06] emanuil-tolev commented on #548
Does it hang there for 30s (or so) before showing you this 502 Bad Gateway screen?

[2015-01-27 15:08] emanuil-tolev commented on #548
Yeah, something weird is going on. https://rpm.newrelic.com/accounts/526071/applications/3171791/transactions#id=540963092 the application admin page has suddenly started taking 30s to load (and timing out).

[2015-01-27 15:12] emanuil-tolev commented on #548
Nothing helpful in the server logs, just an indication from the Newrelic daemon that the DOAJ app has timed out. Strange way for it to time out though, something seems to have called sys.exit - maybe not our own code, but the point is it seems the interpreter is shutting down. I'm sure it's only a symptom of what the problem actually is :). Will try locally now.

[2015-01-27 15:15] emanuil-tolev commented on #548
OK, so naturally I can't reproduce it with a random application from Staging (using same code as Live), otherwise life would be too easy.

[2015-01-27 15:17] emanuil-tolev commented on #548
Hahah, it only seems to happen to "Dom's group" @dommitchell :). I tried assigning that application you have in the original post to English1 and it worked. Switch back to Dom's group, booom.

[2015-01-27 15:19] emanuil-tolev commented on #548
Hm, I made "Dom's group" on staging (using the current live code) and assigned an application to it. But it worked :(. So still can't reproduce it..

[2015-01-27 15:21] emanuil-tolev commented on #548
I am even more confident it's "Dom's group" that causes this, and that it does not happen at random times. I just assigned that application to 5 different editor groups and Dom's group broke the page again. But only on live.

[2015-01-27 15:40] emanuil-tolev commented on #548
It's something to do with the email. @dommitchell I forgot an email was sent every time an application was reassigned, I might have emailed the editors of all the English groups and the editor of Arabic 1. My apologies to all of them - I was in a bit of a rush to get the problem fixed. More discipline should be used and tested only done on the staging environment next time (so copy over all the re

[2015-01-27 15:42] dommitchell commented on #548
Could it be because I changed the name of the group just now?

[2015-01-27 16:00] emanuil-tolev commented on #548
No .. something's wrong with your email on live. You don't have one set. Go set one?
This must be because we created your account manually (not via the form you guys have now) so you got a username and a password, but not an email address.

[2015-01-27 16:02] emanuil-tolev commented on #548
I've submitted some code for review which will make sure users get a nice message if this happens, with a magic number to give us so we can track down the error in the logs. And of course I also make sure in that code that it no longer crashes and burns when no email is specified. When it's reviewed and rolled out I'll update here.

[2015-01-27 16:11] emanuil-tolev commented on #548
The fix has been rolled out @dommitchell . If you have not yet set your email address, go try reassigning the application to another group and then to Dom's group. You'll see the new error message and the page won't break.

Otherwise fix is by going to your account and setting yourself an email address :). Feel free to close if that works out OK.

[2015-01-27 16:25] dommitchell commented on #548
Hmm, it's caching. Which page do I need to reload to stop that?

[2015-01-27 16:31] emanuil-tolev commented on #548
What do you mean? Caching shouldn't matter for this. If you're assigning Dom's group after it's already got Dom's group then nothing will happen, no email will fire, so no error will occur. You've got to assign it to a different group I'm afraid - feel free to make another test editor group.

[2015-01-28 08:19] #548 closed

[2015-01-28 08:53] dommitchell opened #550 "Fine tune searching on ISSN: ISSN should be treated as a single entity"
A search on ISSN 1818-1023 returns 142 articles
https://doaj.org/search?source={%22query%22:{%22filtered%22:{%22query%22:{%22query_string%22:{%22query%22:%221818-1023%22,%22default_operator%22:%22AND%22}},%22filter%22:{%22bool%22:{%22must%22:%5B{%22term%22:{%22_type%22:%22article%22}}%5D}}}}}

I know that the publisher, Instituto de la Familia Guatemala, of 1818-1023 has published 137 articles onl

[2015-01-28 08:54] dommitchell opened #551 "Request to delete articles: Revista Internacional de Psicología"
Please delete all articles from Revista Internacional de Psicología

http://bit.ly/1uzXjSS

[2015-01-28 09:09] dommitchell opened #552 "Add new sponsor logo"
Linked to http://www.qscience.com

![qscience](https://cloud.githubusercontent.com/assets/5955396/5935857/90df882c-a6df-11e4-96cf-e102eef3057c.gif)

And update the static pages, please.

[2015-01-28 09:12] richard-jones commented on #550
In the default search box anything you enter in there is interpreted as non-specific text, analysed and searched across the whole dataset.  So the text (issn in this case) will be tokenised (broken on the "-") and matched across all searchable fields in all documents, so actually if "1818" appears somewhere else (say the article page number), it will also return.

If you want to explicitly search

[2015-01-28 09:29] #550 closed

[2015-01-28 11:28] dommitchell opened #553 "Article short view: changes"
- [ ] change 'Published in' to 'Journal' and hyperlink to journal's home page in DOAJ.

[2015-01-28 11:29] dommitchell commented on #553
@richard-jones can we add this to the PVOD, you think?

[2015-01-28 12:50] dommitchell commented on #473
@richard-jones I'd really like to get this one done soon. The form is causing problems as it is now.

[2015-01-28 19:52] Steven-Eardley opened #554 "Object for OpenURL requests"
Create an object to represent an OpenURL 1.0 request using the ```journal``` schema.

[2015-01-28 19:54] Steven-Eardley opened #555 "Parser for OpenURL journal schema"
Write a parser for the OpenURL 1.0 schema for journals which takes the request string, validates the preamble and builds an object (see #554) to represent the query. Many tests.

[2015-01-28 19:55] Steven-Eardley opened #556 "Translate 0.1 requests"
Write a translator from legacy 0.1 syntax to the 1.0 request syntax, in order to give a redirect. Also some tests.

[2015-01-28 19:56] Steven-Eardley opened #557 "Query ES index with OpenURL"
Add a class for handling the ElasticSearch queries, which takes a parsed OpenURL object and returns an identifier and type.

[2015-01-28 20:01] Steven-Eardley opened #558 "New OpenURL endpoint"
Create endpoint for OpenURL at ```/openurl```.
* This should give the request string to the parser (see #555) for analysis.
  - To handle the legacy 0.1 syntax, hand off to a function (#556) to translate into 1.0 syntax and give a 301 (permanent redirect) response.
* Using the object from the parser, query the index (#557), and display page of result.
* If no result or malformed URL, return 400 (b

[2015-01-28 20:04] Steven-Eardley opened #559 "Article results page"
Article page for article query - related to PVOD, see #540

[2015-01-28 20:04] Steven-Eardley opened #560 "OpenURL documentation"
Documentation for OpenURL work as required.
* How-to for using OpenURL 1.0 with DOAJ

[2015-01-29 09:59] richard-jones commented on #547
Date Applied is the "created date", so it is generated when the record is created, which is the date the reapplication began.

[2015-01-29 09:59] richard-jones commented on #547
This may relate to our discussion about provenance data from yesterday.

[2015-01-29 10:00] #507 closed

[2015-01-29 10:04] richard-jones opened #561 "Strip illegal unicode xml characters"
Some unicode characters are not permitted in xml, and xml libraries don't strip them by default.

See: http://stackoverflow.com/questions/1707890/fast-way-to-filter-illegal-xml-unicode-chars-in-python

[2015-01-29 10:12] dommitchell commented on #547
OK, I understand now. I think 'Date submitted' would be more helpful here. Yes, maybe a provenance thing.

[2015-01-29 10:12] #547 closed

[2015-01-30 08:41] dommitchell commented on #539
Note to self: affiliation

[2015-01-30 14:13] dommitchell opened #562 "Update link at top of public application form"
I can't find the file to update this myself. Can you change the link under 'created a spreadsheet version of the form' from http://doaj.org/faq#application to http://doaj.org/publishers#application

Also, let me know where I can access this please.

[2015-01-31 10:11] dommitchell commented on #562
Sorry, I need to bump this up in priority.

[2015-02-02 10:14] dommitchell commented on #562
https://github.com/DOAJ/doaj/blob/static_pages/portality/templates/formcontext/public_application_form.html

[2015-02-02 10:23] dommitchell commented on #553
Transferred to #538

[2015-02-02 10:23] #553 closed

[2015-02-03 09:03] dommitchell commented on #552
@emanuil-tolev can you do this once you are back from the conf?

[2015-02-03 09:59] emanuil-tolev commented on #552
yep sure (am back but due to start a few meetings so may be rolled out a bit later today)

[2015-02-03 10:43] emanuil-tolev commented on #562
@dommitchell @Steven-Eardley has made a hotfix for this. We'll release it in 15 min.

[2015-02-03 11:50] Steven-Eardley commented on #562
This hotfix is rolled out to live.

[2015-02-03 13:53] Steven-Eardley commented on #552
Ready for review on live, including static changes.

[2015-02-03 14:22] #552 closed

[2015-02-03 14:23] #562 closed

[2015-02-03 14:58] richard-jones commented on #501
Now the APC field is always displayed along with the URL, and then the currency/cost is displayed if available.

This can also handle legacy records where the URL is not available, so will work throughout the transition of the reapplication.

[2015-02-03 15:08] dommitchell commented on #343
@emanuil-tolev  Need to come back to this one. As ManEds are working through the back log, they cannot currently see all applications that are NOT allocated to someone and they need to be able to do this. Is there a way we can surface this info?

Have updated the original stub.

[2015-02-03 15:23] emanuil-tolev commented on #343
Let me ask a technical question before answering that with definite options on what to do.

@richard-jones were you going to upgrade facetview to v2 in pvod project?

[2015-02-03 18:04] richard-jones commented on #534
I notice that Journal Country isn't a field, but Country of publisher is, but is covered by the other PR.  @dommitchell - let us know if you meant something different.  Otherwise all looks good, will merge in a moment.

[2015-02-04 10:50] dommitchell commented on #534
This was correct.

Yeh, sorry this one's a bit old. The other PR covers it.

Looking good on test.

[2015-02-04 12:15] Steven-Eardley commented on #286
@dommitchell you can see this on test just now. We'll be rolling out the issues in the PVOD priority milestone as a set once they're all closed.

[2015-02-04 12:30] dommitchell commented on #286
Yup, all good.

[2015-02-04 12:30] #286 closed

[2015-02-04 12:33] dommitchell commented on #534
Is there any way we can change 'Journal Country' in the application view to be 'Country of publisher' as well?

http://test.doaj.cottagelabs.com/admin/journals?source={%22query%22:{%22match_all%22:{}}}

[2015-02-04 14:12] richard-jones commented on #534
@Steven-Eardley - do you want to look at that last tweak, or shall I?

[2015-02-04 14:30] dommitchell commented on #501
Two tweaks
Lose the space between the currency and the amount? It looks confusing. Or do you have any other suggestions to make it more obvious that it's a currency value?
Change APC to: "Author Processing Charges (APCs)"

[2015-02-04 14:40] Steven-Eardley commented on #534
I'll get right on it.

[2015-02-04 15:26] Steven-Eardley commented on #534
@dommitchell Just to clarify -

There are various places the string 'Journal Country' remains.
* admin_journals_and_articles.js - the administrative site search
* associate_journals.js - editor
* associate_suggestions.js - editor
* group_journals.js - editor
* group_suggestions.js - editor
* journals.js - admin
* reapplications.js - admin
* suggestions.js - publisher

Do you only want the text cha

[2015-02-04 15:33] dommitchell commented on #534
I'd like to change them all please. Sorry, I hadn't accounted for all the diff instances.

[2015-02-05 08:57] dommitchell opened #568 "Some links in search should open in new window"
I'd like advice from a UI perspective on the following.

All links in ALL article and journal views should open in a new tab. For example:

- an article's in search
- links to the full text (not sure what to do about direct links to PDFs?) in search
- any links in search
- any links in ToCs http://doaj.org/toc/7d262e2136824812993dcfa9975e5a7e
- all journal home page URLs
- all links on a journal h

[2015-02-05 09:00] Nimphal commented on #568
From a UX perspective this is generally considered bad practice as it
breaks the flow of information. A link goes somewhere, that's its purpose.
Making it open in a new tab forces a behaviour on the user, disregarding
their desires. I'd advise against.
On Feb 5, 2015 8:57 AM, "dommitchell" <notifications@github.com> wrote:

[2015-02-05 09:05] dommitchell commented on #568
Thanks! Does the same apply to search results in general? I mean, to facilitate users coming back to their search results?

[2015-02-05 09:39] dommitchell commented on #353
@emanuil-tolev Hi this is your reminder! Publisher is happy to go ahead.

[2015-02-05 09:48] Nimphal commented on #568
Particularly Facetview search creates a unique link of your search, so even
if a user clicks a links and goes away, they can navigate back to their
original search using the browser back button. I would encourage to leave
the 'open in new tab' behaviour to the user, rather than imposing it on
them.

2015-02-05 9:05 GMT+00:00 dommitchell <notifications@github.com>:

[2015-02-05 10:17] emanuil-tolev commented on #353
OK, just to confirm - delete all articles belonging to the journals listed above. Initially you've said "belonging to account X" so might be worth double checking the account hasn't acquired any new journals in the meantime that we would also have to remove the article data for.

[2015-02-05 12:07] dommitchell commented on #353
Yes, all articles for this account. @richard-jones has asked me to provide those search syntaxes for these types of requests but yes, all articles works too.

[2015-02-05 12:20] emanuil-tolev commented on #353
Yes, the search URLs are important, that's all fine. I was just asking you if the list is still exhaustive since I can see the issue is a few months old - are there any more articles from this account you'd like deleted or are the search URLs above showing all the relevant articles?

[2015-02-05 12:32] dommitchell commented on #353
Ah! I understand now. Yes, all good to go! The URLs are relevant.

[2015-02-06 16:59] emanuil-tolev commented on #516
Initially I had the idea of doing this via an asset manager, but we can just change the links we generate and it will be a very effective cache buster! See 2 example links above.

[2015-02-06 18:56] Steven-Eardley commented on #534
@dommitchell this can be reviewed on the test server now.

[2015-02-08 06:04] dommitchell opened #569 "Page doesn't return to top"
Using the navigation arrow at the bottom of search results takes you to the bottom of the next results. So clicking on http://doaj.org/20 returns you to the bottom of http://doaj.org/30

I'm predominantly using
Mozilla/5.0 (Windows NT 6.3; WOW64; rv:35.0) Gecko/20100101 Firefox/35.0

but is an issue in Chrome and IE too as well.

[2015-02-08 06:07] dommitchell opened #570 "Support DOAJ button in IE is grey"
Can you change the support doaj button to orange? It's invisible as it is now.
Mozilla/5.0 (Windows NT 6.3; WOW64; Trident/7.0; MASMJS; rv:11.0) like Gecko

![button](https://cloud.githubusercontent.com/assets/5955396/6095529/19b6b2c2-af61-11e4-82d8-bff0dee9c3fb.jpg)

[2015-02-08 21:24] richard-jones commented on #501
What I've done is remove the space and reverse the order of the price and currency, so it would come back as, for example:

27GBP

[2015-02-08 21:27] richard-jones commented on #569
When we upgrade to fv2, I'll add a scroll-to-the top callback on the prev/next buttons

[2015-02-08 21:28] richard-jones commented on #570
huh, weird.  Looks fine on my browser.  @emanuil-tolev can you replicate on browserstack?

[2015-02-09 09:44] dommitchell commented on #501
And this: Change APC to: "Author Processing Charges (APCs)"  please

[2015-02-09 09:49] richard-jones commented on #501
Yup, that is also done.  Code is currently in PR, will be out on the test server when it is merged.

[2015-02-09 09:54] dommitchell commented on #534
Looking good!

[2015-02-09 09:54] #534 closed

[2015-02-09 10:16] Steven-Eardley commented on #501
Merged pull request #571 for this now

[2015-02-09 10:32] richard-jones commented on #343
Yup, we are upgrading to fv2 during pvod.

Spoke about this during today's meeting.  I will have a look at the shape of the query that will return the results, and then we can consider how this would go into the interface.

@dommitchell - if you could outline the criteria that you'd be interested in initially, that will give me a handle on the problem to work with.

[2015-02-09 10:40] dommitchell opened #572 "Add new status to Associate Editor workflow"
Add new Application status, for all roles, 'On Hold'. Visible for applications and reapplications.

[2015-02-09 10:41] dommitchell commented on #520
On hold transferred to #572

[2015-02-09 10:43] emanuil-tolev commented on #343
@richard-jones good to remember in that case about https://github.com/DOAJ/facetview - a fork of facetview (v1) modified for DOAJ purposes. This is what changed between original facetview1 and DOAJ facetview1: https://github.com/DOAJ/facetview/compare/doaj_version .

I'd recommend *not* maintaining a DOAJ-specific fork this time of course. And it should not be needed, with support for "themes".

[2015-02-09 10:45] dommitchell commented on #343
As per our call today, the criteria would be a way to display:

All applications or reapplications, of any Application status, that have not been assigned to an editorial group.

[2015-02-09 10:55] emanuil-tolev commented on #570
yep, will check now

[2015-02-09 11:00] dommitchell commented on #531
@richard-jones Just raising the profile of this one as I have just seen it in test too: http://test.doaj.cottagelabs.com/toc/94abf8e0c1414777b726fab5747d80aa

Archiving Policies: [u'Other', u'CrossRef'] (http://www.jpsionline.com/archive.php)

[2015-02-09 11:01] dommitchell commented on #501
Looks good!

[2015-02-09 11:15] emanuil-tolev commented on #570
yeah, it's broken, I'll submit a hotfix in a sec

[2015-02-09 11:40] emanuil-tolev commented on #570
And by "submit" I meant I'll deploy a hotfix..

Should be OK now @dommitchell .

[2015-02-09 12:17] dommitchell commented on #570
Yup, fixed!

[2015-02-09 12:17] #570 closed

[2015-02-09 12:40] emanuil-tolev commented on #53
I've tested on browserstack.com, IE9 works fine. This is some kind of problem related to access from China again. @dommitchell add any further details you get (from this person) to #517 .

[2015-02-09 12:40] #53 closed

[2015-02-10 14:29] dommitchell opened #573 "Unable to delete article"
Article appears on journal ToC page: https://doaj.org/toc/ed39a6dfebf2414c8557c246898ab9a3/16-1 (Presentación, Diana Lan) but is not available in Journal and Articles Admin view to delet: http://bit.ly/1CdhlWj

Can you remove it for us?

[2015-02-10 15:03] emanuil-tolev commented on #573
This is the article: http://bit.ly/1vC6vMG

I found it by putting in double quote, the full-text url to the pdf listed on the toc page, followed by another double quote into the omni-search box.

```"http://media.wix.com/ugd/59a6db_fd0ce8f631cf43ad9d1f45ed669946d8.pdf"```

[2015-02-10 15:06] emanuil-tolev commented on #573
Reason it was not appearing is maybe because of the ISSN you had specified in your query. The only one in the article record is 1853-4392.

[2015-02-10 15:28] emanuil-tolev commented on #573
@dommitchell forgot to say I didn't delete it - since I could find it I thought it was better you tried to delete it, make sure it all works :).

[2015-02-11 08:12] dommitchell commented on #573
Thanks @emanuil-tolev !
@richard-jones is this task already done #451 ? How can the publisher have uploaded an article with only one ISSN when the journal record has two present?

[2015-02-11 10:22] dommitchell commented on #97
@richard-jones question: would it be technically possible for the 'Publication charges' facet to report on both the APC data and the submission charges data? All under the same facet?

[2015-02-11 10:53] dommitchell commented on #353
@emanuil-tolev hi, can this be done today?

[2015-02-11 10:54] dommitchell opened #574 "Questions 14 and 18, make them optional for AssEds"
Can you make questions 14 and 18 optional? It's causing problems.

[2015-02-11 10:56] emanuil-tolev commented on #574
Ouch. In the spreadsheets too, I imagine?

[2015-02-11 11:04] dommitchell commented on #574
@emanuil-tolev I don't think so (but am not sure) because the publishers have to submit the CSV and therefore have the chance to add the information to the web sites and provide the URLs BEFOREHAND.

This problem is caused specifically by those applications that were submitted between March 2014 and when we added the two new questions in January. Because I made the URL fields compulsory, people ar

[2015-02-11 11:15] emanuil-tolev commented on #574
You mean publisher staff or our editors?

[2015-02-11 11:25] dommitchell commented on #574
Specifically AssEds. Sorry. Should have been clearer. See #529 which basically the hotfix that I requested

[2015-02-11 11:40] emanuil-tolev commented on #574
Aha! So #529 did it for managing editors but it is now needed for associate editors (and normal editors) as well /cc @richard-jones .

[2015-02-11 16:31] dommitchell opened #575 "Article with publications dates 'undefined'"
There are articles with nonsensical publication dates: http://bit.ly/16THdxW

Either the year is mangled, as seen in the facet, or the Date of publication line in the search results shows '0000 undefined' and the year is set as (0000) in the 'Published in...' line.

Needs to be fixed.

011 (1)
1013 (1)
1111 (1)
1203 (1)
2'00 (1)
20-1 (1)
2016 (1)
2077 (1)
2100 (1)
2112 (1)
212 (1)
2333 (1)
2912 (1

[2015-02-11 19:28] emanuil-tolev commented on #353
sorry, didn't see this email - yes, will do asap

[2015-02-12 07:57] dommitchell commented on #353
OK, thanks. Today would be great. The publisher was asking.

[2015-02-12 18:31] emanuil-tolev commented on #353
Done now.

[2015-02-12 18:39] emanuil-tolev commented on #522
Done!

Added ISSN field. (So the query will only look in the ISSN field.) to avoid potentially deleting other things.

[2015-02-12 18:40] emanuil-tolev commented on #353
Added ISSN field to this one so we don't delete sth. else by accident.

[2015-02-12 18:41] emanuil-tolev commented on #477
Done.

[2015-02-12 18:44] emanuil-tolev commented on #551
Done. Dom, I clicked on the "ISSN" field first. That way 137 were deleted. If you just search for the ISSN across all metadata, 142 show up. Let me know if you need the other 5 deleted too (or you could delete using admin interface).

[2015-02-13 07:43] dommitchell commented on #470
http://doaj.org/search?source={%22query%22:{%22filtered%22:{%22query%22:{%22query_string%22:{%22query%22:%221658-3175%22,%22default_field%22:%22index.issn.exact%22,%22default_operator%22:%22AND%22}},%22filter%22:{%22bool%22:{%22must%22:%5B{%22term%22:{%22_type%22:%22article%22}}%5D}}}}}

[2015-02-13 07:45] #551 closed

[2015-02-13 07:46] #477 closed

[2015-02-13 07:49] #353 closed

[2015-02-13 07:50] #522 closed

[2015-02-13 07:59] dommitchell opened #576 "Delete all users accounts that have no journals"
Please run a query and delete all user accounts that have no journals associated with them

[2015-02-13 08:00] dommitchell opened #577 "How many journals/applications have submission charges?"
Can you run a query to tell me how many journals and applications have submissions charges? (Question 17 on application form)

[2015-02-13 08:54] dommitchell commented on #306
@emanuil-tolev Can we do this? All applications with created date after 14 March 2014.

[2015-02-13 08:57] emanuil-tolev commented on #306
Ah, yes, the final decision was to restore. I'll see if I can do today (otherwise probably just Monday at worst) so either way you'll get the reference materials soon :). And thanks for clarifying the condition.

[2015-02-13 09:03] emanuil-tolev commented on #470
Done! (again)

[2015-02-13 09:51] #470 closed

[2015-02-13 10:03] richard-jones commented on #574
Ok, so just to be clear, so I do the right thing here:

1. remains required in public application form, publisher's reapplication form, publishers CSV
2. Is not required for managing editors, editors and associate editors

@dommitchell - if you could confirm, I'll get on it.

[2015-02-13 10:08] richard-jones commented on #543
First signs look good.  I have set up an fv2 locally running over a 1.4 ES and everything seems to behaving.  Next I need to make a (partial) clone of the DOAJ data in my local 1.4 system so that I can check everything is working over our data as it currently stands.

[2015-02-13 10:35] dommitchell commented on #574
@richard-jones that is correct. Thank you!

[2015-02-13 12:48] richard-jones commented on #343
I've taken a look into the form of the query to do this, and am happy that we can create these queries.  The only thing is that doing it within the current search framework isn't possible - we will only be able to do it with the new version of facetview.

Even then, it is moderately tricky to work this into the UI, so it would be a good few days work, I'd anticipate.  But, we'd actually be solving

[2015-02-13 12:52] dommitchell commented on #501
please "Author Processing Charges (APCs)" to "Article Processing Charges (APCs)" My mistake!

[2015-02-13 14:47] dommitchell opened #578 "Publisher CSV stuck in submission"
Account 14248220.

CSV uploaded stuck at In submission

![mdpi](https://cloud.githubusercontent.com/assets/5955396/6210555/397642be-b5d1-11e4-8a38-91b1a8bb92da.png)

[2015-02-13 16:13] richard-jones commented on #531
Fix applied and PR made - should be rolled out to live shortly.

[2015-02-13 16:13] richard-jones commented on #574
Ok, fixed and added to PR - should be rolled out to live shortly.

[2015-02-13 16:14] richard-jones commented on #501
done in PR, will be live shortly

[2015-02-13 18:00] Steven-Eardley commented on #531
On live now.

[2015-02-13 18:01] Steven-Eardley commented on #501
Ready on live.

[2015-02-13 18:02] Steven-Eardley commented on #574
on live

[2015-02-16 09:17] #501 closed

[2015-02-16 09:18] #531 closed

[2015-02-16 09:26] richard-jones commented on #32
Superseded by #542

[2015-02-16 09:26] #32 closed

[2015-02-16 09:27] richard-jones commented on #561
Do this as part of the OAI-PMH metadata review. #542

[2015-02-16 10:43] dommitchell commented on #343
Needs to wait until the new facet view is in place.

[2015-02-16 10:51] emanuil-tolev commented on #578
The task wasn't running when the new server was set up, slight oversight. Corrected now, it should work. We have received 7 CSV upload attempts (could be all from the same publisher, hence "attempts"). These should all be processed now, in order of uploading I believe.

[2015-02-16 10:57] emanuil-tolev commented on #578
Hm, all of them seem to have failed with various errors. Emails would have been sent out now.

[2015-02-16 11:14] dommitchell opened #580 "Generate query for 'no edgroup'"
Please generate a list of all applications received, with status 'pending' or 'in progress' that have not been assigned to an editorial group.

What format will the list be in? Just thinking about how useable it will be for going through the records in DOAJ

[2015-02-16 15:06] dommitchell opened #581 "Keywords duplicated as Subjects in Applications"
Not sure this has always been like this but 'Keywords' in application records are duplicated as 'Subjects'. eg: https://doaj.org/admin/applications?source={%22query%22:{%22match_all%22:{}},%22sort%22:%5B{%22suggestion.suggested_on.exact%22:{%22order%22:%22desc%22}}%5D}

Applications don't have Subjects assigned so these values are being erroneously generated

[2015-02-16 17:31] #578 closed

[2015-02-16 18:42] dommitchell commented on #343
I think (1) would be more intuitive here so we'd like to go for that if possible.

[2015-02-16 18:52] dommitchell commented on #330
@emanuil-tolev this is old and can be closed right?

[2015-02-16 18:55] dommitchell opened #582 "Application form: text changes"
This is the task for Application Form text changes. Not to be confused with #137 which is functionality changes

- [x] Question 26: please change Help text to 'This field is optional if you selected "No policy in place".'
- [x] Question 27: change question text to 'Does the journal allow software/spiders to automatically crawl the journal content (also known as text mining)?'
- [x] Question 36: ch

[2015-02-16 19:44] #356 closed

[2015-02-17 12:23] emanuil-tolev commented on #330
I think it can, we cleared this up a while ago in meetings. Do *you* have any questions around it :)? If not, feel free to close.

[2015-02-17 12:28] dommitchell commented on #221
Closing this as nothing has come back from original enquirer

[2015-02-17 12:28] #221 closed

[2015-02-17 12:29] dommitchell commented on #153
This is now redundant due to API development.

[2015-02-17 12:29] #153 closed

[2015-02-17 12:32] dommitchell commented on #135
Referencing issue #195 for the record.
@richard-jones Will this actually be fixed by @markmacgillivray 's work on #125 ?

[2015-02-17 12:34] dommitchell commented on #196
This is the same problem as #144 . Have closed that issue

[2015-02-17 12:35] dommitchell commented on #144
Transferred to #196

[2015-02-17 12:35] #144 closed

[2015-02-17 12:40] dommitchell commented on #100
@markmacgillivray once we have moved to two servers, would load still be an issue?

[2015-02-17 12:44] dommitchell commented on #451
We established that a journal may have two ISSNs and article metadata only one, and a successful upload will take place
BUT
An article may not have two ISSNs and a journal only one. A failure will result.

Is this something that we can work into one of the coming development cycles? Also, are there knock-on effect of this for people collecting our metadata via OIA, OpenURL, the CSV etc?

[2015-02-17 12:46] dommitchell commented on #386
CLosing and moving to #137

[2015-02-17 12:46] #386 closed

[2015-02-17 12:49] dommitchell commented on #473
Just wondered if this was an easy change?

[2015-02-17 12:54] #568 closed

[2015-02-17 12:54] #573 closed

[2015-02-17 12:57] dommitchell commented on #97
Transferred to #539

[2015-02-17 12:57] #97 closed

[2015-02-17 12:58] #574 closed

[2015-02-17 15:17] dommitchell opened #583 "CC BY-NC-SA appears as a facet option but has dropped off the application form"
http://doaj.org/search?source={%22query%22:{%22match_all%22:{}}}

CC BY (609848)
CC BY-NC (319462)
CC BY-NC-ND (115356)
CC BY-NC-SA (57116)
CC BY-SA (9830)
CC BY-ND (7530)
Not CC-like (2154)
None (814)
Publisher's own license (252)
CC-BY-NC-SA (33)

Note the "duplication" of CC BY-NC-SA, one with a hyphen, one without. So I opened up the journal record with the hyphen: https://doaj.org/admin/journ

[2015-02-17 16:26] dommitchell commented on #161
Updated task description with our final wishes for the journal short view

[2015-02-17 16:32] dommitchell opened #584 "New/updated lines required in public Article "short view""
Public article short view is the way that an article record is represented in search results for the public.

- Title: linked to full text
- Journal: linked to journal ToC page (long view)
- Citation: Date, Vol, Iss, Page
- DOI
- Journal license: Image or text | URL
- Abstract: expand/collapse

[2015-02-17 16:44] dommitchell opened #585 "New/updated layout required in public Journal "long view""
FINAL VERSION

![long_view](https://cloud.githubusercontent.com/assets/5955396/6636417/530b6242-c970-11e4-8fdc-1402b07fc5d9.jpg)

[2015-02-24 11:09] dommitchell commented on #583
@emanuil-tolev can you look into this?

[2015-02-24 13:59] dommitchell opened #586 "OAI-PMH bug?"
I have tried to download metadata from DOAJ's OAI PMH server using a standard Python OAI package (version 2.4.4) but it failed each time. Please see the traceback:

Traceback (most recent call last):
  File "./download_oaipmh.py", line 117, in <module>
    download_oaipmh(base_url, output, prefix, sets)
  File "./download_oaipmh.py", line 84, in download_oaipmh
    for recno, rec in enumerate(reco

[2015-02-24 14:19] richard-jones commented on #586
Hm, not sure - could also be a bug in the client, difficult to tell without looking at both.  I just hit:

http://doaj.org/oai.article?verb=ListRecords&resumptionToken=eyJtIjogIm9haV9kYyIsICJuIjogMTM0NDAwfQ==

Which is the page it refers to, and it renders fine in my browser.

To know more we'd have to set up a new test with this client and run it until we find an error, and then we'd have somewhe

[2015-02-25 08:08] dommitchell commented on #586
Could 'bad' inverted commas be breaking this?

(häufig  auch als medizinisch unerklärte Symptome bezeichnet

[2015-02-25 11:21] richard-jones commented on #586
Could be - if the problem is on our side, certainly my guess is it is an illegal character issue.  We already do quite aggressive "safety" checking on the strings that go into the XML feed, but I also I did raise an issue recently for looking at legitimate unicode characters that aren't supposed to be in XML: #561 - they don't break the outgoing XML, but some readers may throw an error if they enc

[2015-02-25 19:58] emanuil-tolev commented on #306
Hi @dommitchell all difficulties have been resolved and rejected applications restored.

[2015-02-26 09:50] dommitchell commented on #306
@emanuil-tolev Hi! We seem to have restored all applications from 2004 onwards rather than applications with a created date after March 2014.

[2015-02-26 09:52] dommitchell commented on #581
@richard-jones any thoughts on this one?

[2015-02-26 09:54] emanuil-tolev commented on #306
@dommitchell ah .. hm. The archive must have been all the rejected ones rather than throwing away only some of them. Can you find the data you need like this?

[2015-02-26 10:01] dommitchell commented on #306
Yep

[2015-02-26 10:01] #306 closed

[2015-02-26 10:13] richard-jones commented on #581
I guess some applications do have subjects, as they are assigned by editors prior to conversion to a journal?

But either way, yes, this is weird - we are going to change all these interfaces in PVOD, so I'll add that to that milestone, and we'll resolve it as we go along, if it's not too urgent?

[2015-02-26 11:26] richard-jones commented on #178
* Embedded metadata for the ToC pages (use meta tags)
* Urls should contain the journal title (but not have any effect on the routing otherwise)
* Queries for the ISSN should redirect to the canonical url
* Update search interface to point to correct url

[2015-02-26 15:32] dommitchell commented on #581
@richard-jones  Do you mean that subjects should be added AFTER an application is accepted as a journal?

[2015-02-26 17:38] richard-jones commented on #581
No no, I mean that while something is an application, the subjects get set, so there will be some applications that have subjects and some that don't.

[2015-02-27 08:47] dommitchell opened #589 "Priority: numbers of applications received and rejected"
We need some figures for an interview:

How many applications have we received through the new application form?

How many of those have been rejected?

Can we get those by Monday?

[2015-02-27 09:27] emanuil-tolev commented on #589
@dommitchell we could delete all rejected apps that were created before 19 March 2014 ( #306 ) easily - I think you were saying yesterday in #306 that the data older than that is actually not of any use to you? Then you could track these numbers at all times.

(Not that I don't want to run the queries but you're going to need to know this again shortly ;).)

[2015-02-27 10:13] dommitchell commented on #589
@emanuil-tolev yep, ok. Thanks

[2015-02-28 10:59] dommitchell opened #590 "Generate reapplication records"
Please generate a reapplication for:
- [x] 2316-9834 ID: 632e1560c93f4efca995ba1cae489f0e
- [x] 0718-4654 ID: 838c2a593bd446faa62be0b6a0a81b14
- [x] 1280-9551 ID: 07431fb3126242bcafd007840cab3087
- [x] 1404-4013 ID: 526e77f7f6414acab743bf641ffeb920

[2015-03-02 09:03] emanuil-tolev commented on #589
This has been done. Currently on a train so will be able to answer queries tomorrow but it all looks to have gone OK. All applications created before 14 March 2014 (date from #306) are gone so you'll be able to count properly. We've got backups of course and happy to restore records if there's been a mistake.

[2015-03-02 12:48] richard-jones commented on #586
@emanuil-tolev - did we confirm yet whether the proposed fix worked on staging?

[2015-03-02 12:49] #543 closed

[2015-03-02 17:41] #589 closed

[2015-03-02 19:15] richard-jones commented on #536
The migration on all facetviews in use has now been done, and everything looks good.  Pending sorting out the test server before this can be reviewed by anyone outside a dev environment.

[2015-03-03 17:27] dommitchell opened #591 "The status 'Rejected' should only be available to Managing Editors."
The status 'Rejected' should only be available to Managing Editors.

Can I sneak this into the PVOD? Editor's using this is causing us workflow problems.

[2015-03-05 18:59] richard-jones commented on #58
Ok, this bug was very much active, but I believe I've squashed it.

The problem was that the code which escaped query strings for elasticsearch wasn't doing ALL special characters - it was missing quite a few, including "/".  It also never attempted to unescape query strings coming in via the URL bar.

The fix I've put in escapes almost all es special chars (except * and "), and also checks that "

[2015-03-05 19:08] richard-jones commented on #161
A couple of comments on the desired display:

* Keywords - are these sufficiently informative to users to be on the search page?  We could just put them on the ToC.  I'm concerned that they'll take up space without adding much.

* Article Metadata - unfortunately, we can't display this on the search results page, as it would mean issuing a second query for each record being displayed.

[2015-03-05 19:15] emanuil-tolev commented on #586
Nope, it didn't work actually. I did mention it but there was a lot we talked about so .. :). Should have updated the issue, sorry.

[code]

I'm going to rerun it again, since the one on Test succeeded on the 3rd attempt.

[2015-03-05 19:40] emanuil-tolev commented on #586
Fix deployed to live, let's see.

[2015-03-05 19:41] emanuil-tolev commented on #586
Reassigned to you @richard-jones - do we need to do anything else except go back to original asker and inform them to try again?

[2015-03-05 20:05] emanuil-tolev commented on #137
added now, check https://doaj.org/admin/journal/ff2069d96721495789b6da721d7f2b7a

[2015-03-05 20:05] emanuil-tolev commented on #583
This https://doaj.org/admin/journal/ff2069d96721495789b6da721d7f2b7a was the only journal with this license. Should be updated now.

[2015-03-05 20:06] emanuil-tolev commented on #583
Also form has been updated live!

[2015-03-05 20:11] emanuil-tolev commented on #583
Also the 32 articles have had their journal info part updated so the license will be CC BY-NC-SA instead of with the dash CC-BY-NC-SA. Gone from facet now.

[2015-03-06 05:40] dommitchell opened #593 "Script to remove orphaned reapplications"
We have received a lot of data lately from an aggregator. This shows that many journals need to be removed from DOAJ because they fail to meet our guidelines. We have started removing them.

Can you run a script that will remove all reapplications that have no journal in DOAJ?

[2015-03-06 05:41] dommitchell commented on #586
Got this. Will ask asker to try again

[2015-03-06 08:20] #583 closed

[2015-03-06 09:47] emanuil-tolev commented on #12
Need to check today about the status of article pages since they are required before we put metadata on them :). @Steven-Eardley ?

[2015-03-06 10:07] Steven-Eardley commented on #12
It'll be started in the next week or so; the current plan is to shoehorn the same list of fields from the public search results into a modified copy of the journal TOC template.

How would you like the meta tags included?

[2015-03-06 13:50] emanuil-tolev commented on #586
Also FYI it did complete on Staging without connection resets. So it finished both on Test and Staging yesterday.

[2015-03-06 13:51] emanuil-tolev commented on #12
Not sure yet, will be investigating here what ones we need and what we can do (like can we do Keywords based on a bit of simple ES text mining, what tags are best currently for Google and other engines, can we autowrite a Description..). All this will happen in parallel to article pages being developed. Once the article pages are up just say :) and I'll add the meta tags we've come up with.

[2015-03-06 15:28] emanuil-tolev commented on #178
We should use subject and keywords in the meta keywords tag. + a few generic ones like DOAJ

[2015-03-06 15:31] emanuil-tolev commented on #542
Simple / Basic DublinCore - just check if the 15 fields are populated appropriately with the data we have

[2015-03-06 15:32] emanuil-tolev commented on #180
Make sure to use xml escaping stuff that @richard-jones did for OAI. Use settext() instead of .text=

[2015-03-06 15:39] richard-jones commented on #593
Yup, we will be able to do that.  We can revisit towards the end of the reapplication process.

[2015-03-06 15:40] richard-jones commented on #590
Did this account/journal not get its reapplications generated when we initialised it?

[2015-03-06 15:43] richard-jones commented on #590
It's possible that it was in_doaj=False when the reapplication started, in which case it wouldn't not have got one.  Is that what happened?

[2015-03-06 15:46] emanuil-tolev commented on #577
In Public View of the Data there will be a review of facets and APC should be reviewed, so you'll get a count soon(ish) I hope! Currently a bit hard since both the old and new APC structure exist.

[2015-03-06 18:59] richard-jones commented on #584
Just a couple of comments about this:

* Title - I think the link should be to the article page that we're also building, so it is consistent with the journal display.  We should also have the fulltext link in the short display, though.

* Abstract - given that this is the shortened view, are we certain we want the abstract, still?

[2015-03-07 08:38] richard-jones commented on #180
There's a bit more to this, too, that I'd forgotten to put down here.

We will also need to update the metadata formats response, since now we support more than oai_dc but only for the article.

If you want to assign this to me, @emanuil-tolev, when you have done the XML export, I can update the list of metadata formats - would be quicker than me explaining what that means, and how to do it :)

[2015-03-07 10:37] richard-jones commented on #584
I've done a first pass on this, which we can review when the test server is up again.

[2015-03-07 10:38] richard-jones commented on #561
This is definitely working, though it remains to be seen if that was actually the error causing #586.  Either way, I will close this off.

[2015-03-07 10:38] #561 closed

[2015-03-07 10:40] richard-jones commented on #584
Note, that one of the things that I've done is add a speculative link to the article pages - which don't exist yet.  When #540 is complete, we will need to make sure the links work.

[2015-03-07 10:41] richard-jones commented on #538
I think this issue is superseded by #553

[2015-03-07 10:41] #538 closed

[2015-03-07 10:42] richard-jones commented on #161
I've now done a preliminary implementation of this view.  Will be ready to review when the test server is available again

[2015-03-07 10:43] richard-jones commented on #537
Superseded by #161

[2015-03-07 10:43] #537 closed

[2015-03-07 10:45] richard-jones commented on #71
In the new version of facetview, the help button "?" has been removed, because it was far too technical for end users.  Therefore, for this issue what we should consider is what on-page/hover text help we should provide; most of the buttons already provide hover-text, so we just need to review that.  Then, do we need any additional text permanently displayed on the page to help users?

[2015-03-07 10:48] richard-jones commented on #67
In the current preview version of the journal display, I have just displayed the subjects as a list in whatever order they have been stored.  This might not meet our requirements, but I'm unsure what the "right" solution is.

The only thing that I have in my head is that we could put the subjects in an expand/collapse block like we do with the article abstracts, and within that block show the subj

[2015-03-07 10:56] richard-jones commented on #51
Ok, so we're at a point where we need to decide how to do this.

I'd be happy to create a new index type which offered "short" urls, and stored, in return, a serialised query string.

The only challenge would be creating a shortened url which we could generate reliably and uniquely.  Like uuid.uuid4() but much shorter.

Any thoughts?

[2015-03-07 11:00] richard-jones commented on #28
Plan for this is to have a page which lays out the full subject tree in a fairly linear fashion (probably not navigable like on the admin review pages), and which links through to the search results.

[2015-03-07 12:21] markmacgillivray commented on #51
I already made a url shortening separate service. I could install it on the
infrastructure if you want. I'll find the code... It was years ago.
On 7 Mar 2015 10:56, "Richard Jones" <notifications@github.com> wrote:

[2015-03-07 13:03] markmacgillivray commented on #51
Let me know if you do want this, I will buy a generic short domain for use on the shortener. I fancy clbs.xyz. Then we can use it to shorten any URL on any service. Keeps other service indexes/databases cleaner too. If the shortened url should still show doaj, then a proxy to the shortening service can just be written into the doaj nginx config - say doaj.org/u/SHORTID would go to clbs.xyz/SHORTID

[2015-03-09 08:40] richard-jones commented on #585
see also #145 and #454

[2015-03-09 09:01] richard-jones commented on #150
This should have been fixed by the upgrade to fv2

[2015-03-09 09:30] dommitchell commented on #593
How easy is it to do on a regular basis? We remove journals continuously for a variety of reasons.

[2015-03-09 09:31] dommitchell commented on #590
The journal had been mistakenly removed from DOAJ. Any journals that are put back into DOAJ do not automatically get a reapplication.

[2015-03-09 09:40] dommitchell commented on #314
Can you re-run this for me after #593 has been done?

[2015-03-09 09:42] dommitchell commented on #577
@emanuil-tolev this isn't APCs but submission charges, which is a new question. APCs is question 13.

[2015-03-09 10:36] richard-jones commented on #51
Decision: use bit.ly from search page, on request by user

http://dev.bitly.com/get_started.html

[2015-03-09 10:41] richard-jones commented on #67
Use only subject.terms for display, where subject.schema=LCC

[2015-03-09 10:53] dommitchell commented on #71
DM to review this once the new interface is up.

Change default from OR to AND.

[2015-03-09 10:53] richard-jones commented on #71
Decision: switch the default operator to AND to reduce search results

[2015-03-09 10:59] dommitchell commented on #593
Dom to test

[2015-03-09 11:35] richard-jones commented on #539
Some comments on the facets as I work through them the first time (will update as I go):

* APC: Yes/No - this is now a bit tricky, as there is no "there is an apc" field; we know there is an APC based on whether there is an apc_url, but this can't be trivially faceted on.  We would probably want to add to the "index" portion of the object an APC Yes/No field.

[2015-03-09 14:14] emanuil-tolev commented on #539
From meeting: overall support for showing different facets for journals and articles, with fewer facets shown at initial search.

[2015-03-09 14:30] richard-jones commented on #539
I have an alternative proposal for the layout of the facets.  It is motivated by the discussion we had earlier about performance and user behaviour.  A lot of the facets listed in the main issue, while clear properties of a journal/article, may not actually be useful for end-user discovery of content.  Will users, for example, really search for journals based on whether they have a waiver policy o

[2015-03-09 16:47] dommitchell commented on #580
@richard-jones could you do this one? I think you said it was fairly straight forward? It would help us tackle our current backlog

[2015-03-09 17:23] dommitchell opened #595 "Examples of OpenURLs that must be managed"
After today's call, I thought it might be helpful to provide this list, extracted from Google Analytics. You can see that there are no hyphens in the ISSNs. Hopefully, some of these may point out other "uses cases" too. I have access to hundreds of sample URLs so let me know if you need more.

/doaj?func=openurl&genre=journal&issn=15196186
/doaj?func=openurl&issn=18581447&genre=journal
/doaj?func=

[2015-03-10 07:32] dommitchell commented on #145
@richard-jones here's an interesting question: should a publisher fill in a reapplication for a journal that has a continuation? A publisher has got in touch and is wondering whether she should just delete the column from the CSV file.

[2015-03-10 08:59] dommitchell commented on #438
@richard-jones can we squeeze this one into the PVOD?

[2015-03-10 16:18] richard-jones commented on #539
I've done an implementation of my proposal above, which will be ready for review once the test server is ready and my PR merged.

[2015-03-10 16:23] richard-jones commented on #159
I've now implemented a default display of descending year.

Though, note, this is actually an alphabetical listing, not a numerical listing, on account of the "year" field in the XML also being essentially free text.  The consequence is that there are some articles with odd years, like 2103 or 2!

Will be ready for review when the test server is ready and my recent PR has been merged.

[2015-03-10 16:27] richard-jones commented on #145
So, we have asked them to reapply for a journal that has since been replaced by a new one under a new ISSN in the real world, but for which the DOAJ does not yet have the continuation registered?

Answer in several parts:

* They could still fill in the reapplication, as long as they don't change the ISSN.  Not sure if this would be the right thing to do, though
* We can record continuations yet,

[2015-03-10 19:43] dommitchell opened #597 "Add new sponsor logo - Neurensics - update static pages"
Please add Neurensics to the sponsors page and home page.

![neurensics](https://cloud.githubusercontent.com/assets/5955396/6583721/42e00faa-c766-11e4-8c36-3ceebafb6886.jpg)

and link to http://www.neurensics.com/en/

Please update the static pages

[2015-03-11 09:46] dommitchell opened #598 "Staging URLs appearing in Google search"
5th one down. Neither staging nor test should appear in Google

![staging](https://cloud.githubusercontent.com/assets/5955396/6593793/cf415bdc-c7db-11e4-8324-7f3b6719c3b7.jpg)

[2015-03-11 09:54] emanuil-tolev commented on #598
Hm, strange. I've no idea how they've indexed that. I can't tell them what to index though :). But I might be able to tell them not to index something, I'll check the various ways of doing that.

Maybe we'll need to put up a basic authentication shield so only humans with a simple user and password combo can see test and staging. I assume this OK with you?

[2015-03-11 10:44] Steven-Eardley commented on #598
Do we use a ```robots``` file to determine crawler access? Making test and staging stricter than live should help.
http://en.m.wikipedia.org/wiki/Robots_exclusion_standard

[2015-03-11 10:47] emanuil-tolev commented on #598
Don't think we serve a specific one. But yes, this will be the solution unless I can somehow tell Google just not to crawl and never index this and this URL (which we can prove we own). I didn't want to introduce more environment-specific differences in the repo at first if possible :).

[2015-03-11 12:04] richard-jones commented on #51
I've implemented a connection to bit.ly which handles shortening urls for doaj search queries only (necessary to prevent potential abuse of our bit.ly account to shorten arbitrary urls).

When the PR is merged and the test server is up this can be reviewed.

To see a URL being shortened:

1. click on the new "share" link
2. click on "(shorten url)"

This is a few clicks before the user gets the UR

[2015-03-11 15:27] Steven-Eardley commented on #597
Merged PR but deployment pending, see #599.

[2015-03-11 15:58] dommitchell commented on #585
@richard-jones @markmacgillivray Sorry. I am behind on this. Will upload a finalised mock-up first thing tomorrow. Here are my thoughts in the meantime. Let me know if you hear alarm bells.

![journal_long_view_draft](https://cloud.githubusercontent.com/assets/5955396/6600430/d4d34f5e-c80f-11e4-8a78-bf3be6fc961d.jpg)

[2015-03-11 16:01] Steven-Eardley commented on #585
It has occurred to me that changes here will affect my article page design too.

[2015-03-11 16:04] dommitchell commented on #585
Note to self: I need to think about pushing article content down the page. No show/reveal in this mock-up

[2015-03-11 16:30] emanuil-tolev opened #600 "Strange query being sent on accessing homepage"
Noticed while doing hotfix to include a new sponsor

[2015-03-11 11:40:11,915][DEBUG][action.search.type       ] [Bizarnage] [doaj][1], node[7bV8nWopQtmTbx5PtZ0hPQ], [P], s[STARTED]: Failed to execute [org.elasticsearch.action.search.SearchRequest@580677a6] lastShard [true]
org.elasticsearch.search.SearchParseException: [doaj][1]: from[-1],size[-1]: Parse Failure [Failed to parse source [{"sort":

[2015-03-11 16:57] emanuil-tolev commented on #597
Rolled out. Thanks @Steven-Eardley . Feel free to use the deploy_live task in the sysadmin fabric script for DOAJ (it just takes a tag name) to roll out minor hotfixes to live. The new infrastructure won't be in use for live DOAJ until about a month from now, so the fabric script should work till then.

@dommitchell ready for review :) (with static_pages changes in)

[2015-03-11 17:05] emanuil-tolev commented on #598
I've a solution (password-protecting) but my main internet connection's down, currently awaiting repairs, and the mobile is making it very difficult to do anything over the secure link required to implement the password thing. I'll try this tomorrow. (+ I'll need to figure out exactly how to ask google to remove the already indexed pages from the search results, I don't fancy removing them one by

[2015-03-11 17:35] dommitchell commented on #597
Smashing! Thank you both!

[2015-03-12 12:34] richard-jones commented on #581
Across the board there has been some confusion between Subjects, Keywords and Classifications.  I have done the following to make things clearer:

* In the public search interface, the term "Subject" is used, and the values of this field are the LCC subject classification names, as a list.  There is no mention of LCC itself, though.
* In all other search interfaces, the term "Classification" is us

[2015-03-12 13:15] dommitchell commented on #597
Sorry. Sponsor has asked we change link to http://www.neurensics.com/. Thanks!

[2015-03-12 14:13] richard-jones commented on #569
I've added a scroll-to-top feature on use of the next/previous buttons now, will be out in the next PR

[2015-03-12 14:44] richard-jones commented on #123
I've re-written the pager using a more bootstrap approach.  It will still wrap on a screen that is too small, but it will do so less brokenly.

[2015-03-12 14:46] richard-jones commented on #67
This is basically the same issue as #581 which should now be resolved.

[2015-03-12 17:33] emanuil-tolev commented on #598
... this has been obsoleted by the fact staging.doaj.cottagelabs.com no longer works (redirects to cottagelabs.com) due to the new infrastructure slotting into place. We won't have staging for a little while so this should not be an issue. However @dommitchell I'll leave this issue open so we can *remember* to lock test and staging with a password.

[2015-03-12 17:34] emanuil-tolev commented on #598
@richard-jones added to PVOD project milestone just so we don't forget to do it (and that's likely the next project that will use test and staging servers).

[2015-03-12 19:12] richard-jones commented on #536
ok, all looks good.  Nothing really to test here, so closing.

[2015-03-12 19:12] #536 closed

[2015-03-12 19:14] richard-jones commented on #71
All I've done is switch the default operator - let me know if that's sufficient for improving the results.

Also, note that I've only done this on the public search - the admin/editor/publisher searches still us OR as the default operator; let me know if you also want them switched.

[2015-03-12 20:54] Steven-Eardley commented on #455
@dommitchell after the pull request is merged, the share dialogue should look like that shown below (apart from the demo URL):

![screen shot 2015-03-12 at 20 39 32](https://cloud.githubusercontent.com/assets/1446355/6627881/393086b2-c8f9-11e4-9dbd-8b2c6c8f9297.png)

Let me know if you'd like something different!

[2015-03-13 07:13] dommitchell commented on #455
This is great! Very happy with this.

[2015-03-13 15:58] emanuil-tolev commented on #569
Test on https://doaj.cottagelabs.com/search

[2015-03-13 16:07] emanuil-tolev commented on #542
- [ ] Look into specifying vocabulary for where Subject is coming from (currently LCC). Somehow put this info ( http://dublincore.org/documents/dcmi-terms/#H4 ) into the scheme
- [ ] Add keywords to Subject (and tag if possible to show they're human-sourced non-formal)

[2015-03-13 16:09] emanuil-tolev commented on #542
Year guessing algorithm may break currently, needs to deal with 2 chars that are not digits (@emanuil-tolev writing it)

[2015-03-13 16:22] richard-jones commented on #51
Assigning to @emanuil-tolev for setting up the API key for Bitly

[2015-03-13 16:42] Steven-Eardley commented on #455
This can best be reviewed once it's live at the end of the PVOD project.

[2015-03-16 08:44] dommitchell opened #604 "Publisher CSV files submitted: deliver to DOAJ"
Is it possible to make submitted publisher CSV files available to DOAJ for us to use when we review the bulk reapplications?

[2015-03-16 09:43] dommitchell commented on #584
DRAFT Thoughts:
- close up the space between the article icon and the text
- change 'fulltext' to 'Full Text'.
- hyperlink the words 'full text' and remove the URL in full.
- DOIs aren't displaying

[2015-03-16 09:44] dommitchell commented on #569
This seems clunky. Can't we have it so that when the new page loads, the page starts at the top?

[2015-03-16 09:55] emanuil-tolev commented on #569
Isn't that what's happening now?

@richard-jones said

So, when you hit "next" or "previous", the page scrolls to the top (and it loads the next set of results too).

[2015-03-16 10:19] emanuil-tolev commented on #12
Articles pages are now done so this can proceed

[2015-03-16 10:34] dommitchell commented on #581
@richard-jones can you go through this with me?

[2015-03-16 10:37] dommitchell commented on #539
Feedback:

1) How difficult is this? We definitely need APCs as a facet

2) Change labels in Journals vs Articles facet, 'Journal' 'Article' to 'Journals' 'Articles'
3) Subject facet: how does this interact with the new subject browser?
4) Change 'Fulltext language' to 'Full Text language'
5) Translate all language codes into full labels, eg EN (23)
6) In peer review, 46 results are blank (with 'J

[2015-03-16 10:37] emanuil-tolev opened #605 "New infrastructure for DOAJ"
HTTPS everywhere, new infrastructure.

Current temporary test server at https://doaj.cottagelabs.com . Will probably establish test_doaj.cottagelabs.com and staging_doaj.cottagelabs.com after PVOD release in April.

@emanuil-tolev to answer this: What happens to referrer information for Google Analytics when somebody comes to https://doaj.org from a non-secure site? Will DOAJ use referral data? (D

[2015-03-16 10:45] markmacgillivray commented on #605
It is unclear what sort of answer you expect. If someone goes to a wrong
url and is redirected, then the referrer data may be dropped. So if people
are pointing to http instead of https then their redirect may be
incorrectly logged. But, over time people should start using the https
addresses because they are the only ones that the new service will display
- so for example when they copy and paste

[2015-03-16 10:49] dommitchell commented on #71
What scope is there for developing this further, so that pop-ups display if users hover over for slightly longer?

Can we add a link 'Help with searching', under the search box, that links to a static page?

[2015-03-16 10:54] dommitchell commented on #58
Carried out a search on a DOI:
https://doaj.cottagelabs.com/search?source={%22query%22%3A{%22query_string%22%3A{%22query%22%3A%2210.15503\\%2Fjecs20132\\-124\\-133%22%2C%22default_field%22%3A%22bibjson.identifier.id%22%2C%22default_operator%22%3A%22AND%22}}%2C%22from%22%3A0%2C%22size%22%3A10}

and 1 result successfully returned.

Anything else I can/should text here?

[2015-03-16 10:56] dommitchell opened #606 "" " in the csv file"
A comment in #58 about making sure that " came in pairs reminded me of a question that came up re the csv file. Some publisher names have "" around them which was apparently breaking the CSV formatting, which uses "" as delimiters. https://doaj.cottagelabs.com/csv

Will changes in the PVOD project help this in any way?
Can we do anything to strip out "" in publisher names?

[2015-03-16 11:00] dommitchell commented on #123
New orange arrow doesn't invoke the 'pointer' symbol when you hover over it with the mouse, so it doesn't look like its hyperlinked. Am using FF
Mozilla/5.0 (Windows NT 6.3; WOW64; rv:36.0) Gecko/20100101 Firefox/36.0

[2015-03-16 11:04] dommitchell commented on #51
Please change the position of the Share button. It currently looks like it is associated with the search box.
The button should be at the top right hand corner of the search results, so that the right edge of the  Share button aligns with the right hand side of the search results block shading and should be on the same line as the orange navigation arrow.

[2015-03-16 11:04] dommitchell commented on #569
No. Currently, it scrolls you back to the top of the *existing* page and *then* loads the new one.

[2015-03-16 11:06] emanuil-tolev commented on #58
Previously you literally couldn't search for anything with a /, so this seems reasonable enough. I can't think of what else to test here.

[2015-03-16 11:26] dommitchell commented on #67
If possible, I'd like to find a simple way of denoting two things:
1) that Political science (General) is a child of Political science. Can we separate then with a colon?
Open Political Science Journal
ISSN: 1874-9496
http://bentham.org/open/topolisj/
Subjects:
Political science (General), Political science

becomes
Open Political Science Journal
ISSN: 1874-9496
http://bentham.org/open/topolisj/
S

[2015-03-16 11:34] dommitchell commented on #161
Change ISSN to ISSN(s)
Move subjects to the same line as Subject.
Change 'Subjects:' to 'Subject'
Even out the spacing between items on the right-hand side: The Tick, License, peer review text
Close spacing between journal icon and the text

Agree. Leave them out.

Can we add a date instead? Article metadata last added?

[2015-03-16 11:43] dommitchell opened #607 "For right-to-left text, bracket placed incorrectly"
دانشکده دندانپزشکی دانشگاه علوم پزشکی مشهد (191)

![arabic](https://cloud.githubusercontent.com/assets/5955396/6665459/0eae9d78-cbda-11e4-9ec2-40d5d6101f9a.jpg)

[2015-03-16 12:02] dommitchell commented on #58
I have found one rather ugly example that is still broken:
http://bit.ly/1EUrq0z

where the publisher has used // to denote a language change. Can we account for that too, because the link generated from the publisher facet truncates at the // and returns no results.

(Note to self, this is a new publisher. We should ask them to reupload with no // in their article metadata)

[2015-03-16 12:08] dommitchell commented on #159
https://doaj.cottagelabs.com/search?source={%22query%22%3A{%22filtered%22%3A{%22filter%22%3A{%22bool%22%3A{%22must%22%3A[{%22term%22%3A{%22_type%22%3A%22journal%22}}]}}%2C%22query%22%3A{%22match_all%22%3A{}}}}%2C%22from%22%3A0%2C%22size%22%3A10}

There is no option to display more years and it seems to be limited to 14. What happens if I want to select articles from 1998?

[2015-03-16 12:08] #150 closed

[2015-03-16 12:15] dommitchell opened #608 "2 new static pages and linking | change order"
- [x] Create a new static page /volunteers, editable via https://github.com/DOAJ/doaj/tree/static_pages/portality/templates/doaj
and place a link to it in the right-hand nav.
![rhn](https://cloud.githubusercontent.com/assets/5955396/6824449/a7658210-d2f2-11e4-97be-c54e4138253b.jpg)
Change the order of the right-hand nav items so they are in alphabetical order:
Our members
Our publisher members
Our

[2015-03-16 13:50] dommitchell opened #609 "Question: which is the correct ISO code for Chinese?"
http://en.wikipedia.org/wiki/List_of_ISO_639-2_codes

A user tried chi and chi* and zho, all these failed. She took instruction from http://doaj.org/features

[2015-03-16 13:52] dommitchell opened #610 "Question about OAI and BibJSON | error"
On Github

https://github.com/DOAJ/doaj#article-data-model

you describe the BibJSON model you use. In particular, I need access
to article-level fields
"volume", "number", "year", "month", "start_page", and "end_page".

In your current format oai_dc, these are missing. dc:source contains
the unformatted information.
It would be a pity to have a pattern matching process running for data
that is al

[2015-03-16 14:01] emanuil-tolev commented on #610
I think you and @richard-jones might have discussed a DOAJ API. This would give this person access to the bibjson.

For his alternative, getting this info from the OAI endpoint, #180 deals with this. Specifically it deals with following the old doajArticle format, which hopefully contains all the fields he wants. I suspect we can add them if not without much hassle, as this is under development ri

[2015-03-16 14:02] emanuil-tolev commented on #610
So to respond, feel free to tell him he'll be getting that info via OAI via a new "doajArticle" format in mid-April.

[2015-03-16 15:23] emanuil-tolev commented on #609
While .. filling out a journal application I assume.

[2015-03-16 15:24] emanuil-tolev commented on #609
No wait, you just select "Chinese" in the language field, you don't need to know the code.

[2015-03-16 15:24] dommitchell commented on #609
Nope, tagging the language in XML: http://doaj.org/features#xml_upload

[2015-03-16 15:30] dommitchell opened #611 "Add new sponsor logo - Journal Prep"
Journal Prep

URL: http://www.journalprep.com/?aff=yvubaqyby

![journal_prep](https://cloud.githubusercontent.com/assets/5955396/6669537/bfc781fa-cbf9-11e4-8b18-8b1bcb414ddf.jpg)

[2015-03-16 16:02] emanuil-tolev commented on #609
Ah, the ingest there. Hm, not sure off the top of my head which list this uses (it should use the ISO list we have - chi, zho and zh are all in the list). I'll investgate.

[2015-03-16 16:06] emanuil-tolev opened #612 "Potential problems with site statistics introduced by PVOD project"
Getting this when connected from the current develop branch (locally) to the new cluster.

bad request {u'status': 400, u'error': u'MapperParsingException[failed to parse [articles]]; nested: NumberFormatException[For input string: "1,838,804"]; '}
  File "/home/emanuil/cl/doaj/local/lib/python2.7/site-packages/werkzeug/serving.py", line 599, in inner
    passthrough_errors, ssl_context).serve_for

[2015-03-16 16:12] emanuil-tolev commented on #605
301-s very very often keep the referrer.

DOAJ are currently using GA to analyse where traffic comes from, i.e. which sites are sending users to doaj.org . When you go from a HTTPS to a non-secure site the browser wipes the referrer. I thought it was the other way around as well. So I thought that putting HTTPS everywhere would remove a lot of the information the DOAJ team are using in GA. But thi

[2015-03-16 16:15] markmacgillivray commented on #605
Indeed. So I don't think it's an issue. Is there anything else you want me
to do with this?
 On 16 Mar 2015 16:12, "Emanuil Tolev" <notifications@github.com> wrote:

[2015-03-16 16:16] emanuil-tolev commented on #605
nope, I was just leaving the note for myself (and keeping this issue to track other issues with the new infrastructure), thanks

[2015-03-16 16:21] markmacgillivray commented on #605
Ok just checking, it's assigned to me so wanted to know if I should do
something.
On 16 Mar 2015 16:16, "Emanuil Tolev" <notifications@github.com> wrote:

[2015-03-16 16:25] emanuil-tolev commented on #609
There is no validation on the incoming language tag at all. (We might wanna add that in the future ..)

Can you put / email details on who the user is so we can double-check the upload failure messages? Might be worth asking her for the XML files she's trying to process at the same time.

[2015-03-16 16:26] emanuil-tolev commented on #609
This field is an article-level field which says what the journal's language is. Obviously they can't modify journal info via article XML upload.

[2015-03-17 12:51] dommitchell commented on #609
Emailed.

[2015-03-19 07:15] dommitchell opened #613 "The status 'Ready' should only be available to Editors and Managing Editors."
The status 'Ready' should only be available to Editors and Managing Editors.

[2015-03-19 07:15] dommitchell commented on #613
Can we make this change soon? It's causing problems with our workflow.

[2015-03-20 13:33] Steven-Eardley commented on #540
@dommitchell You can now review the article page changes via the search on doaj.cottagelabs.com

[2015-03-20 23:03] Steven-Eardley commented on #611
Visible on live now

[2015-03-20 23:05] Steven-Eardley commented on #597
On live now. Should be Dutch.

[2015-03-21 16:36] emanuil-tolev opened #615 "update BASE_URL when rolling out"
BASE_URL = "http://doaj.org"

really minor thing, but it should be https due to new infrastruct and it is used in emails and oaipmh

[2015-03-21 17:39] emanuil-tolev commented on #605
Another issue I thought of here: when there is a problem that requires looking at the logs to figure out what happened, having the app deployed over X number of servers will make it difficult to find the right log file. Possible solutions are some kind of concatenation, sending to loggly or another platform like it, sending to our own instance of ELK (ES, Logstash, Kibana) for 14-28 days.

We have

[2015-03-21 17:42] emanuil-tolev commented on #540
@Steven-Eardley Some articles seem to be causing an error, like https://doaj.cottagelabs.com/article/cc3a7008c7484cc68c319ca28358e937

This is the error
[code]

[2015-03-21 20:34] emanuil-tolev commented on #542
Maybe we should tell people about the changes on the FAQ site and perhaps a blog item. Perhaps even in advance (*gasp*). They're not big changes at all but if anybody's relying on anything (and OAI-PMH is a public interface) it'll change under their feet obviously.

[2015-03-22 10:15] richard-jones commented on #613
The decision we made at the start of the PVOD project to migrate to ES 1.4 means that we will only be able to roll out all this new functionality at the end of the project when the live server is ready for upgrade, sorry.  Only a couple of weeks to go...

[2015-03-22 10:16] richard-jones commented on #607
Can you give me a search that will expose this, then I will take a look.

Hadn't considered RTL languages - not sure what the fix is, but will be interesting to find out.

[2015-03-22 10:19] richard-jones commented on #606
" marks around a publisher name shouldn't break the csv - are there issues with it at the moment?  The csv writer will escape these characters where appropriate, so they come through the other side correctly.

Otherwise, the PVOD project won't be doing anything about quote marks in publisher names - that would probably be a data cleanup exercise, perhaps with some new data ingest/crosswalk rules.

[2015-03-22 10:21] richard-jones commented on #584
I know your thoughts are still in draft, but just a quick one about the spacing between the icon and the text: do you mean right-align the icon in the current space on the left of the article, or reduce the overall space on the right?

[2015-03-22 10:29] richard-jones commented on #569
When you hit the "next/previous" buttons, the javascript application embedded in the page does the search and then displays the results /without/ taking you to a new web page - so there is no "next page" in the traditional sense.  This is why, in the old version, the page remained at the bottom of the results when you used the pager - the content of the page had changed, but the page itself had no

[2015-03-22 10:38] richard-jones commented on #539
Responses where necessary:

1) How difficult is this? We definitely need APCs as a facet

No problem, but I need to run a batch migrate task over the data to make it work, so I need to write that code and run it before you'll be able to see anything.

3) Subject facet: how does this interact with the new subject browser?

The subject browser will just construct a search for that subject and direct

[2015-03-22 10:41] richard-jones commented on #161
I'm not sure what this means, sorry - they are all just on new lines (i.e. there is a line break after each one).

Unfortunately that's basically the same query, so is equally expensive.

[2015-03-22 10:44] richard-jones commented on #159
This facet only appears for journals, so you can't use it to limit date added for articles.  We could also provide it for articles, though, if necessary.

This facet is a date histogram over the entire dataset, so it is only limited to the dates that are present in the data.  If 1998 isn't present, it's because there are no journals with a created_date in that year.  It also isn't limited to 14 ye

[2015-03-22 10:47] richard-jones commented on #159
Oh wait, we're talking at cross-purposes.

The link you sent me takes me to the page of journals with the Date added to DOAJ, which behave as I described above.

If you go to the article list instead:

https://doaj.cottagelabs.com/search?source=%7B%22query%22%3A%7B%22filtered%22%3A%7B%22filter%22%3A%7B%22bool%22%3A%7B%22must%22%3A%5B%7B%22term%22%3A%7B%22_type%22%3A%22article%22%7D%7D%5D%7D%7D%2C%

[2015-03-22 10:58] richard-jones commented on #71
At the moment the popups are "tool tips" implemented by the browser (you just give the html element the text to use).  If we wanted popups that appear only after a certain amount of time, that would be a bit more work, as we'd need to add the javascript and new layout elements to handle this.

Note to self: Here are a couple of useful resources if we need to go this route:
http://jsfiddle.net/qSe6

[2015-03-22 10:59] richard-jones commented on #67
Hm, that should be possible, though some fiddly code required.  Leave it with me for the moment and I'll see what I can do.

[2015-03-22 11:01] richard-jones commented on #58
Can you give me the full link to the test server?  The link doesn't work on the live server yet, because of the special character issues.

It sounds, from your description, that this is a separate issue - this issue deals with when the user puts a "/" in the search box.  If there is broken data in one of the fields, we may need to look at that as a separate task/part of the data cleanup.

[2015-03-22 11:02] richard-jones commented on #51
Note to self: assign back to @emanuil-tolev when finished

[2015-03-22 11:32] emanuil-tolev commented on #539
mail me your ip, I'll mail you a url. It'll be of the form of <cluster gateway ip>:9200 and obviously you can edit your /etc/hosts to alias the IP to a name, make it more memory-friendly.

[2015-03-22 12:02] emanuil-tolev commented on #180
@richard-jones what is the XML namespace that this sits in?

like when you define it in the settings

[code]

OAI_DC has http://www.openarchives.org/OAI/2.0/oai_dc/ but we don't really have a page that describes it. I guess we've got http://doaj.org/features and this is where a friendlier explanation than the XSD itself would eventually go, but it's not a very unique URL. For now I'm using http://

[2015-03-22 12:08] emanuil-tolev commented on #180
For intermediate discussion here, this is what /oai?verb=ListMetadataFormats responds with now:

[code]

Looks good, pending few clarifications from above.

[2015-03-22 12:12] emanuil-tolev commented on #51
This works on https://doaj.cottagelabs.com now.

[2015-03-22 15:44] emanuil-tolev commented on #180
Hm, I think I've got a question about exactly how the doajArticle format and standard OAI format will mesh together. Will finish coding as I've started now and ask tomorrow, the namespace is the easiest thing of all to change.

It seems you can put Dublin Core in PMH, and you can put any other format you like too (which is what we're doing). But I can't read the PMH spec supposedly at http://www.o

[2015-03-22 16:38] emanuil-tolev commented on #180
potential problem: we don't actually know an article's language, we have the journal language**s**. But doajArticles.xsd specifies a single language. For now we're returning the first journal lang but maybe should discuss. Also I think people must be giving us the actual article lang via XML upload and manual form entry if it's in the schema, so we should probably use that if available - need to s

[2015-03-22 16:58] emanuil-tolev commented on #180
We can specify language for each keyword. Currently we ask for the keywords to be in English on the forms but they sometimes aren't. Should we hold off on specifying keyword language entirely or set it to English for all keywords?

[2015-03-22 17:11] emanuil-tolev commented on #180
```documentType``` is currently being ingested when people upload it as follows:

[code]

Consequently, I ain't setting it either.

[2015-03-22 17:13] emanuil-tolev commented on #180
Same thing, but question is for the article's title.

[2015-03-22 19:36] emanuil-tolev commented on #180
aaand the abstract.

[2015-03-22 20:24] emanuil-tolev commented on #180
long issue is long .. note to self, check if the subject elem in the PMH **header** needs to have LCSH defined as vocab like in the body, or if that's not allowed. If not allowed or recommended, then can leave {scheme}:{term} as it is now.

[2015-03-22 21:24] emanuil-tolev commented on #180
Example produced by work so far (which I daresay is almost complete, pending @richard-jones review) https://www.dropbox.com/s/ja7mbw9s1kp65rd/doajArticle_oai_example_2015-03-22_211607.xml?dl=0

[2015-03-22 22:22] emanuil-tolev commented on #180
Lots of similarities between new format and DC article format. Should consider refactoring after other tasks are done. I wrote the new class separately since it was quite hard to begin with, and I had to go over the schema elements one by one, hence didn't know what the overlap and differences would be, but there definitely is some overlap.

[2015-03-23 07:04] dommitchell commented on #58
https://doaj.org/admin/admin_site_search?source={%22query%22:{%22filtered%22:{%22query%22:{%22query_string%22:{%22query%22:%22%D0%9E%D0%9E%D0%9E%20%D0%98%D0%B7%D0%B4%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D0%BA%D0%B8%D0%B9%20%D0%B4%D0%BE%D0%BC%20\%22%D0%92%D0%B8%D0%B4%D0%B0%D1%80-%D0%9C\%22%22,%22default_operator%22:%22AND%22}},%22filter%22:{%22bool%22:{%22must%22:[{%22term%22:{%22_type%22:%22article

[2015-03-23 07:10] dommitchell commented on #159
Oops, my mistake. So here's a link to articles:
https://doaj.cottagelabs.com/search?source={%22query%22%3A{%22filtered%22%3A{%22filter%22%3A{%22bool%22%3A{%22must%22%3A[{%22term%22%3A{%22_type%22%3A%22article%22}}]}}%2C%22query%22%3A{%22match_all%22%3A{}}}}%2C%22from%22%3A0%2C%22size%22%3A10}

The default sorting is A-Z and I think it should be chronological but you said:

so to get this to work,

[2015-03-23 07:18] dommitchell commented on #161
From the html: <img src="/static/doaj/images/tick_long.png" title="Accepted after March 2014" alt="Tick icon: journal was accepted after March 2014" style="padding-bottom: 3px"

Maybe reduce the padding by a pixel?

[2015-03-23 07:23] dommitchell commented on #584
I mean reduce the overall space if possible.

[2015-03-23 07:25] dommitchell commented on #606
Yes, we had a bug reported by a user where "" around the name were causing a break. I wonder if it could be the difference between "" and “ “. Possible?

[2015-03-23 07:28] dommitchell commented on #607
https://doaj.cottagelabs.com/search?source={%22query%22%3A{%22filtered%22%3A{%22filter%22%3A{%22bool%22%3A{%22must%22%3A[{%22term%22%3A{%22_type%22%3A%22article%22}}%2C{%22term%22%3A{%22index.publisher.exact%22%3A%22%D8%AF%D8%A7%D9%86%D8%B4%DA%A9%D8%AF%D9%87%20%D8%AF%D9%86%D8%AF%D8%A7%D9%86%D9%BE%D8%B2%D8%B4%DA%A9%DB%8C%20%D8%AF%D8%A7%D9%86%D8%B4%DA%AF%D8%A7%D9%87%20%D8%B9%D9%84%D9%88%D9%85%20%D9%

[2015-03-23 07:28] dommitchell commented on #613
Yes, ok. Thanks!

[2015-03-23 07:33] #597 closed

[2015-03-23 07:33] #611 closed

[2015-03-23 08:46] richard-jones commented on #607
Slight change to that search to give us the facet:

https://doaj.cottagelabs.com/search?source=%7B%22query%22%3A%7B%22filtered%22%3A%7B%22filter%22%3A%7B%22bool%22%3A%7B%22must%22%3A%5B%7B%22term%22%3A%7B%22_type%22%3A%22article%22%7D%7D%5D%7D%7D%2C%22query%22%3A%7B%22query_string%22%3A%7B%22query%22%3A%22Journal%20of%20Mashhad%20Dental%20School%22%2C%22default_operator%22%3A%22AND%22%7D%7D%7D%7D%

[2015-03-23 09:49] richard-jones commented on #159
Yes, unfortunately people don't just put numbers in this field so you can't order it chronologically.  The only option to get exactly what you want is a data cleanup, and an update of the ingest rules and article XML schema.

[2015-03-23 09:50] richard-jones commented on #159
We could do something in a migrate script that inspected the year field and pulled it into another field specially designed for faceting in the case that it is a 4 digit year - that would give us a facet that made sense to the user, and the expense of not covering all the articles.

[2015-03-23 10:23] dommitchell commented on #540
Dom to do today.

[2015-03-23 10:41] richard-jones commented on #159
Decision: make the above facetable field, if the value is a 4 digit number in the range 1800 -> current year

[2015-03-23 10:44] richard-jones commented on #58
The quote mark in the publisher name is breaking the Publisher facet - general fix required

[2015-03-23 11:01] emanuil-tolev commented on #606
This is properly escaped. See http://stackoverflow.com/questions/17808511/properly-escape-a-double-quote-in-csv .

```"Samsung U600 24"""``` translates to ```Samsung U600 24"```.

The actual publisher name has quotes in it, which means that the publisher (in human language) really is ```Grupo de Investigación "La Imagen Medieval, Espacio, Forma y Contenido"```. So there are no delimiters missing,

[2015-03-23 11:07] emanuil-tolev commented on #606
And the CSV form of that publisher name is ```"Universidad Complutense de Madrid, Grupo de Investigación ""La Imagen Medieval, Espacio, Forma y Contenido"""``` which is what we've got in our CSV output :).

If there is third-party library this user can peruse (in their programming lang) to parse the CSV, that's best. These kinds of corner cases are usually taken care of by language core CSV librar

[2015-03-23 12:25] #606 closed

[2015-03-23 13:18] dommitchell commented on #123
Also, can we make the image a couple of sizes bigger? It's a bit lost just now.

[2015-03-23 15:22] emanuil-tolev commented on #180
Inventing our own is fine, we should do that and we should use it in the metadata section.

Don't set that attrib. So, no change required.

- [ ] Mm, not quite,  /oai?verb=ListMetadataFormats should list only oai_dc. But /oai.article?verb=ListMetadataFormats should list both. This is the only change so far.

[2015-03-23 16:00] dommitchell commented on #540
Here's our thoughts on this:

![article_long](https://cloud.githubusercontent.com/assets/5955396/6784113/07fbdcc6-d17e-11e4-9321-07bdf4747df8.jpg)

[2015-03-23 16:02] dommitchell commented on #607
Dom to ask Ghane

[2015-03-23 16:20] dommitchell commented on #581
@richard-jones so to go back to my original question, the changes you made on 12 Mar should take care of this?

I'm looking at https://doaj.cottagelabs.com/admin/applications?source={%22query%22%3A{%22query_string%22%3A{%22query%22%3A%22\%22International%20Journal%20of%20Women%27s%20Health%20and%20Reproduction%20Sciences\%22%22%2C%22default_operator%22%3A%22OR%22}}%2C%22from%22%3A0%2C%22size%22%3A

[2015-03-23 16:54] dommitchell commented on #539
Feedback on the facets present under the current treatment. Questions really.
*'Journals' selected*
We're concerned that the missing facets essentially mean that this information cannot be surfaced in any other easy way. I wonder if there is a way to allow the user to choose to load/display more facets themselves? This way, there wouldn't be such a problem displaying so many? Secondly, are in ther

[2015-03-23 17:14] dommitchell opened #618 "UI of facets"
I just wanted to ask a question about the new look facets. I couldn't find the correct task in GitHub so sorry for the email.

In the new display, the selected facet is tagged onto the parent and then displayed at the top of the search results:

![facet](https://cloud.githubusercontent.com/assets/5955396/6785792/2856805c-d188-11e4-9f11-c93c1f5cd3d7.jpg)

​The 'stem' of that fact above is actually

[2015-03-23 17:38] emanuil-tolev commented on #577
Ah, hm. Is a facet for this planned in this project?

[2015-03-24 08:09] dommitchell commented on #577
Nope.

[2015-03-24 20:35] emanuil-tolev commented on #180
OK now /oai?verb=ListMetadataFormats returns

[code]

And /oai.article?verb=ListMetadataFormats

[code]

need to do a bit more around this and will do PR.

[2015-03-25 06:24] dommitchell commented on #584
Feedback complete

[2015-03-25 06:31] dommitchell commented on #607
We have good feedback:

- for the facets. the bracket position is incorrect. It should be:
![facet](https://cloud.githubusercontent.com/assets/5955396/6819376/73a9c364-d2c0-11e4-8557-03a8c772906b.jpg)
The same logic would apply for the article titles.

- another error has been detected where non-Cyrrilic mixes with Cyrillic. So compare article 1, 3, and 6 here: http://bit.ly/1CNOQD0 with this imag

[2015-03-25 06:42] dommitchell opened #620 "Weighting of search results"
What is the current configuration for the weighting of search results?

If you do a simple search, it's always the same articles that float to the top: http://doaj.org/search?source={%22query%22:{%22query_string%22:{%22query%22:%22clinical%20medicine%22,%22default_operator%22:%22AND%22}}}

I think that there is an artificial weighting being created by all the keywords that are duplicated. Would th

[2015-03-25 07:01] emanuil-tolev commented on #455
@dommitchell does it work from http://doaj.cottagelabs.com ?

[2015-03-25 07:44] emanuil-tolev commented on #180
This is now fully complete, PR pending to be merged.

[2015-03-25 07:54] emanuil-tolev commented on #180
Example OAI_DC file as produced by this branch (with subject classifications done differently): https://www.dropbox.com/s/zochb2narapc6h8/oai_dc_article_example_2015-03-25_072345.xml?dl=0

Example OAI_DOAJ file so you can compare side by side to OAI_DC and see if the new XML is sensible: https://www.dropbox.com/s/c36l7wmzycve70a/oai_doaj_article_example_2015-03-25_072345.xml?dl=0

Incredibly and s

[2015-03-25 08:25] dommitchell commented on #455
Yep!

![fb](https://cloud.githubusercontent.com/assets/5955396/6820586/e74a8eba-d2d0-11e4-8982-da5ff51d954a.jpg)

[2015-03-25 08:49] emanuil-tolev commented on #455
Alright, cool, it'll definitely work on Live then.

[2015-03-25 09:14] dommitchell commented on #582
@emanuil-tolev do you think we might be able to squeeze these textual changes in with the PVOD work, or before?

[2015-03-25 09:16] richard-jones commented on #620
The search results are returned in whatever order Elasticsearch feels like when there is nothing else to order them by.  Essentially under the hood the search engine scores every result against your query, but for simple queries like this, with a lot of results, the scores are basically the same for all the results.  So it returns them in whatever order it wants, and my guess would be that it's th

[2015-03-25 09:24] richard-jones commented on #618
Yeah, we've also wondered about the presentation of this.

Essentially, the non-clickable parts are styled that way so that the filter definition is consistently styled.  We could make it plain text, with an X next to the term to remove it (like in the facets themselves), which would give us consistent styling without the confusing buttons.

The alternative is to remove the filter definitions alon

[2015-03-25 09:26] richard-jones commented on #610
Just picking up on this null issue:

"null" is a keyword meaning "no value here" in several programming languages, but (interestingly) not in any of the languages that we are using.  Python uses the word "None" and JavaScript uses "undefined", so my guess is that these nulls are actually in the data, produced by someone else's system and erroneously provided to the DOAJ as plain text.

Just a theo

[2015-03-25 09:29] emanuil-tolev commented on #620
The default analysers we use in ES may well have a scoring algorithm. At least "how many times do query tokens appear in doc". It sounds very much like ES to do that.

[2015-03-25 09:49] richard-jones commented on #607
Ok, so I think that all we can do is tell the browser to render the text using its "auto" direction detection and leave it at that.

Note that text wrapping works differently in rtl as it does in ltr, and we won't have any control over it :)

[2015-03-25 09:52] richard-jones commented on #581
Yup, that's right.  So in the new one you have "Classifications" and "Keywords" which are different lists, whereas the current one you have "Subjects" and "Keywords" and they are overlapping.

[2015-03-25 09:58] richard-jones commented on #28
I've now done an implementation of this - go to the test server and you will now see a "Subjects" link in the navigation.

Originally the plan was to put all the subjects on the page in a big list in a similar style to an example we saw on Amazon.  Once I got into the details this turned out to be impractical, because the LCC classification is a relatively deep tree (4 or 5 layers) and the depth o

[2015-03-25 11:13] dommitchell commented on #28
Will have feedback by Friday

[2015-03-25 11:25] emanuil-tolev commented on #582
yes, shouldn't be a problem, you've done all the assignment/milestone stuff so I'll pick it up after doing the other things

[2015-03-25 12:00] richard-jones commented on #159
Note to self: actually we've already got the indexed data to handle this.  We just need to provide a facet which is a date histogram of year granularity over the index.date field

[2015-03-25 12:30] dommitchell commented on #608
@richard-jones is this something Steve could do fairly quickly?

[2015-03-25 13:57] dommitchell commented on #581
Happy with this. Closing.

[2015-03-25 13:57] #581 closed

[2015-03-25 14:01] dommitchell commented on #585
General question: how will this display work for those journals that do not have the new data set?

[2015-03-25 14:02] dommitchell commented on #161
General question: how will this display work for those journals that do not have the new data set? Especially the journals which still have old values for the APC question?

[2015-03-25 14:07] dommitchell commented on #620
Do we know what that scoring algorithm is? I'm looking to make sense of why search results are returned how and when they are

[2015-03-25 14:29] emanuil-tolev commented on #620
Not straight off - it does do some kind of default ordering, but I guess it's best described as "relevance". Might take a bit of digging to find out but we could check. @markmacgillivray actually, any idea about what the default sort order is?

[2015-03-25 15:17] #610 closed

[2015-03-25 15:23] emanuil-tolev commented on #180
Another final task here:

- [ ] write unit test validating the data produced by a single record as full of data as possible against doajArticles.xsd - "For the test, I would use the oai_doaj xwalk to produce an XML doc, and then validate that doc against the schema."

[2015-03-25 15:23] markmacgillivray commented on #620
It's not clear what you mean. The default sort order of doaj is whatever we
set it to, if configured. If not, then the first search is a match all,
technically ordered on relevance but relevant to anything. Once a search
term is entered it is relevance to that search term. The way that is
calculated will depend on what sort of term it is, and what fields it is
checked against. If a simple string a

[2015-03-25 16:47] richard-jones commented on #67
I've opted for an on-save calculation of the classification, to save having to load the LCC data into the user's browser to do the work.

Will be ready for review in my next major PR later this week.

[2015-03-25 21:13] richard-jones commented on #51
Putting the share button in the requested location turns out to be prohibitively difficult* so I've tried something else instead - I've moved it to the left side of the search bar, so that it cannot be confused with a "search" button.

* - the UI components in facetview all have their own bits of screen space in which to be rendered.  The "share" button is part of the search controls component, wh

[2015-03-25 22:03] richard-jones commented on #58
I've done a review of the whole of fv2 for places where html escaping is required and implemented it.  All seems to be working fine now.  Will be ready for review at next PR.

[2015-03-25 22:10] richard-jones commented on #123
both done, ready for review at next PR

[2015-03-26 12:29] richard-jones commented on #159
Phew, that was significantly harder than I was expecting!

I've implemented this as a date histogram over index.date, which gives us what we want.  But since there are over 100 years worth of dates, the facet is unusably large (and date histogram facets don't have ranges - you get everything).  So, I've implemented a show all/less feature for fv2 for that facet.

[2015-03-26 12:49] richard-jones commented on #161
Answer to the general question: basically the layout looks for the elements of data it is interested in and displays them.  Old records won't have some of that data, so it will just be omitted.  It's particularly obvious, I think, around licensing - many of the old records are missing the licence information, so there is just no licence icon associated with them.

I've just made these tweaks, and

[2015-03-26 14:51] dommitchell opened #622 "Journals that are neither in nor out of DOAJ"
A couple more of these: think we had one before.

https://doaj.org/admin/journal/19a034dfd7d941df9269258711f6c7fd
https://doaj.org/admin/journal/e500a798e3264d26932d86118bc0ee83

They are neither in or out of DOAJ AND have no reapplication records associated. Can you fix? The publisher is asking why his journals aren't in DOAJ. I wonder how many more of these there are?

[2015-03-26 16:59] richard-jones commented on #539
6) In peer review, 46 results are blank (with 'Journals' selected). Where is that coming from?

I've not got a definitive answer on this, but basically it is when there is a blank value for that field.  That could possibly happen when someone edits a Journal in the public dataset and checks the "don't validate" box.

I could prevent empty strings from being offered in facets, if that is the best s

[2015-03-26 17:05] richard-jones commented on #539
The information will be available on the ToC page, so the information is certainly not for nothing.

Theoretically we could allow the user to switch to an "advanced" mode, which has more facets, but experience tells us that users rarely use advanced modes, so unless there's a compelling reason to do so I wouldn't go this way.

The queries would still be expensive, but if there were less of them th

[2015-03-26 17:15] richard-jones opened #623 "Offline mode for dev"
It would be great if for development we could get all the css and js libraries locally rather than relying on the cdns.  It's really annoying if you are on an aircraft or a train with terrible signal.

[2015-03-26 17:20] richard-jones commented on #539
Otherwise, I've made a bunch of tweaks based on the above which will be ready for review at next PR

[2015-03-26 17:26] richard-jones commented on #569
Reduced scroll time to 1ms, so it is effectively instant.  Looks ok.

[2015-03-26 17:28] richard-jones commented on #539
Question about Country of Publisher: you say this can be removed, but under the section on "Article selected".  Does this mean it should only appear when Journal is selected?  Or can it be removed in total?

[2015-03-27 10:25] richard-jones commented on #584
Ok, all of these changes made, and ready for inclusion for next PR

[2015-03-27 12:09] richard-jones commented on #607
Ok, I've done the following:

* added dir="auto" to all facet values, which will render them the right way round
* added dir="ltr" to all facet counts
* added dir="auto" to the main results table

This is approximately in-line with the recommendations from the w3c:

http://www.w3.org/International/questions/qa-html-dir

It does appear to resolve all the text directonality problems in my limited te

[2015-03-27 12:17] dommitchell commented on #539
Yes, please!

Yes, should only appear when Journal is selected

[2015-03-27 12:23] richard-jones commented on #607
I should add that the dir="auto" directive in HTML which is responsible for this is implemented patchily across browsers.  It is unlikely to work correctly in IE and Opera, and may or may not work in Safari.  Support should be full in Firefox and Chrome.  There is, unfortunately, nothing we can do about it :(

[2015-03-27 12:25] dommitchell commented on #161
True but in that instance we can only ADD new info because it is indeed missing. I'm more concerned about what happens when we take info away. The APC facet shows counts from the old journal information:
![apc](https://cloud.githubusercontent.com/assets/5955396/6867665/99c5fdb8-d484-11e4-988e-60822e07a0eb.jpg)
and this info will disappear so the totals here are going to drop dramatically. Is that

[2015-03-27 16:40] dommitchell commented on #618
I think that they definitely have a use, especially if you look at the example above. One might want to deselect something and it's very helpful to see that Persian relates to language of the full text, for example.

Would this work?
- make the facet category and the facet all one block, no divide, same colour (the lighter orange) and no hyperlink
- add a colon between the facet category and the f

[2015-03-27 16:44] dommitchell commented on #620
This is very useful.

Is there a default sort order set already? Can you detail that here?

[2015-03-27 16:52] markmacgillivray commented on #620
The sort orders that are possible are listed in the box to the left of the
search box on the main search page, there it shows that the first search
order is relevance and that is the one applied when first hitting that
page. So unless a user selects a different sort order from that box, they
will be getting back search results ordered by relevance to the search
terms they type in to the search box

[2015-03-28 11:39] dommitchell commented on #145
@richard-jones @markmacgillivray can you review this and make sure that the continuation solution you implement fits these recommendations? http://www.niso.org/publications/rp/rp-16-2013

[2015-03-28 15:22] Steven-Eardley opened #626 "New toc pages volume numbering out of order"
The numbers are being sorted by their leading number, not their full value:

![screen shot 2015-03-28 at 15 15 00](https://cloud.githubusercontent.com/assets/1446355/6881617/0f1dd0c0-d55e-11e4-8371-d848b5f8db90.png)

[2015-03-28 15:33] Steven-Eardley opened #627 "Search lets you order Journals by "Article: Publication Date""
![screen shot 2015-03-28 at 15 30 21](https://cloud.githubusercontent.com/assets/1446355/6881637/bdc2078a-d55f-11e4-9c00-2babc3f5b1bf.png)

[2015-03-28 15:50] Steven-Eardley opened #628 "New toc page gives 500 response when no volumes found"
Via the facetview search or openurl endpoint, generating a TOC for a journal with no volume information causes a 500 response and therefore the 'Internal Server Error' page.

[code]

[2015-03-28 16:34] markmacgillivray commented on #628
Ok I'll look at that, I didn't think of journals without toc.

Mark
 On 28 Mar 2015 15:50, "Steven Eardley" <notifications@github.com> wrote:

[2015-03-29 15:06] #541 closed

[2015-03-29 15:07] #535 closed

[2015-03-29 15:18] markmacgillivray commented on #54
It would be possible to asciifold in the index analyser. Would require a reindex. But then it does not get rid of punctuation etc. As journals are having to resubmit in english this will soon have no effect on journal title searches anyway - english having no accents.

The alternative for this and for the result ordering punctuation issue is to do stuff to the incoming data in python before storin

[2015-03-29 15:21] markmacgillivray commented on #125
Propose best option is to pre-process into a field we use only for sorting. However this will also have to take into consideration future updates to whatever field drives that sort field. The only alphabetical sort that we allow on search results is title, so whenever title is updated re-create the title-sort field.

Will require an update to all the records currently in the system, to introduce t

[2015-03-29 15:22] markmacgillivray commented on #605
Ready to go

[2015-03-29 15:23] markmacgillivray commented on #145
@richard-jones I do not know if I should be doing anything with this just now or not - the issue is opened with the phrase "when we have a system that handles continuations". Is that the case? What I have done so far to ToC just does what it did before, only more efficiently.

[2015-03-29 15:31] richard-jones commented on #145
Yes, we discussed it back near the start of the project - we can go over it
in the meeting on Monday.

We need to lay out the ToC page so that users can see that there's a
continuation (old version of the journal), and can go to a page for that
old instance of the journal and see the volumes and issues associated with
it from those days.  Probably it's another tab/button on the main journal
ToC pa

[2015-03-29 15:45] markmacgillivray commented on #145
Yes, but I mean I'm not doing any page redesign stuff, so I don't know
about what the continuation may look like when it is displayed. Is this
something I shall come back to after you've done your display stuff?
On 29 Mar 2015 16:31, "Richard Jones" <notifications@github.com> wrote:

[2015-03-29 15:47] richard-jones commented on #145
Yup sure - I'm doing a first pass on the ToC design today, though it isn't
going to change structurally in any major way.  Just the layout of the
actual info.  Will try to have a PR in for tomorrow morning so we can
review.

On 29 March 2015 at 16:45, markmacgillivray <notifications@github.com>
wrote:

--

Richard Jones,

Founder, Cottage Labs
t: @richard_d_jones, @cottagelabs
w: http://cottagelab

[2015-03-29 17:42] richard-jones commented on #454
This issue is superseded by #585, so closing this off

[2015-03-29 17:42] #454 closed

[2015-03-30 08:06] richard-jones commented on #618
Yes, we could do something like that, though we also need to take into account that the filter might look like (for example):

Country of publisher: Iran, Islamic Republic of | x OR England | x

would that make sense too?  Each filter can theoretically have multiple values, so the UI needs to support that.

[2015-03-30 08:13] richard-jones commented on #585
I've done a first implementation of this which is ready for review (when PR is merged).  The only caveat is that country names are not yet expanded - this relies on some other code in another branch, and when all of it is merged we can revisit.

In answer to your question: the display will just degrade to represent whatever data is available in a given journal - if the data is missing, mention of

[2015-03-30 08:14] richard-jones commented on #540
@Steven-Eardley - see the layout code in templates/doaj/toc.html for help in doing this

[2015-03-30 08:20] richard-jones commented on #125
Yup, sounds reasonable.

If you put the code to do this in the prep() method on the object that you need to do it to, it will be prepared at save time with the correct data.  Our convention is to put all this non-canonical stuff in a bit of the object called "index", so you could create the field "index.sort_title" or something.

[2015-03-30 09:45] markmacgillivray commented on #145
Do now so that when hitting toc by uuid we default to the issn of the latest journal version. See journal index history. Should only show info of latest issn. For old issns show a nav above journal/issue so it becomes issn/journal/issue.

The query for the right articles to show currently uses all available issns, so should be limited just to issn of current toc page.

[2015-03-30 09:50] dommitchell commented on #161
Dom to discuss with Lars.

[2015-03-30 09:56] dommitchell commented on #618
Yes, this is good. Go ahead.

[2015-03-30 10:16] richard-jones commented on #54
Preprocess the title in 2 ways:

1/ Without punctuation
2/ Without punctuation and asciifolded

[2015-03-30 10:16] markmacgillivray commented on #125
pre-process into a field without punctuation and sort on that.

[2015-03-30 10:18] dommitchell commented on #608
Wait until end of PVOD

[2015-03-30 11:11] #554 closed

[2015-03-30 11:11] #555 closed

[2015-03-30 11:11] #556 closed

[2015-03-30 11:11] #557 closed

[2015-03-30 11:12] #559 closed

[2015-03-30 11:55] dommitchell opened #631 "XML: list of what's required, what isn't, what attributes must be present, rules"
Today we queried whether two field were needed in the XML. You consulted the XSD file and checked to see if any crosswalk was done on them. It would be very helpful for me to get a complete set of rules for the XML so I can publish something on the web site to help publishers.

Can you get me one?

[2015-03-30 13:48] dommitchell commented on #539
Decision: please add 1 more facet to the journal level: Archiving. The rest is good as is and can be made live.

How easy will it be to add new facets in the future?

[2015-03-30 15:39] emanuil-tolev commented on #609
@dommitchell Sorry, I made a mistake here. There is validation insofar the schema itself is concerned, and one of the few things the schema specifies is that the code must be a valid 3-char language code.

'[aar, abk, ace, ach, ada, afa, afh, afr, aka, akk, alb, ale, alg, amh, ang, apa, ara, arc, arg, arm, arn, arp, art, arw, asm, ast, ath, aus, ava, ave, awa, aym, aze, bad, bai, bak, bal, bam, ba

[2015-03-30 15:39] emanuil-tolev commented on #609
So her problem was elsewhere, since she tried chi.

[2015-03-31 08:58] dommitchell commented on #539
Looking great. Nearly there.

- [ ] please add 1 more facet to the journal level: Archiving. The rest is good as is and can be made live. We'll live without Waiver policy, Plagiarism policy, Machine-readable license, Deposit policy. How easy will it be to add new facets in the future?

- [ ] change APCs to Article processing charges (APCs)

- [ ] prevent empty strings from being offered in facets

[2015-03-31 09:36] dommitchell commented on #609
OK, great. I told her that and received no response. Closing.

[2015-03-31 09:36] #609 closed

[2015-03-31 09:38] dommitchell commented on #51
Is this on test? Cannot see any change, despite forcing browser refresh and using browser I've not used before.

[2015-04-01 12:05] dommitchell opened #634 "Question: using the test site as a training ground"
We would like to let our new volunteers loose on the test site before we allow them to work on the live site. Any one have any objections to that? Thoughts?

[2015-04-01 12:58] Steven-Eardley commented on #634
The test site is in a state of flux, so the advantage of them working on somewhere 'safe' may be hampered by experimental or partial changes on test, and likewise development tests may be hampered by the data doing strange things.

On the other hand, more ways to break it is usually a good thing - more eyes to find issues, more in-depth testing of the site. It would require more administration tho

[2015-04-01 14:32] emanuil-tolev commented on #634
Test server should really be up most of the time. I'd probably say a staging site is better for this kind of thing though.

What's the idea @dommitchell ? Are they testing ongoing developments, or just training in the current live system? Staging is always much closer to live, the only time they differ is like for a few days before a big release to live. @markmacgillivray we are going need to set

[2015-04-01 14:46] dommitchell commented on #634
The idea is that they (associate editors and editors) might be able to 'train' on a couple of applications/reapplications/creating accounts before switching to the live site.

[2015-04-01 14:50] emanuil-tolev commented on #634
Right, so they're not focussing on new developments, they're focussing on being able to use the live site. So to answer @Steven-Eardley's earlier q, staging seems like a better idea when it's up. When would you like to train the guys Dom?

[2015-04-01 15:13] dommitchell commented on #634
@emanuil-tolev I have no hard start date. It can be whenever is convenient for you guys. And if the site is unavailable for a while, that's no problem either. It would just be an added bonus if we OK to use it.

The training wouldn't be of any pre-determined length, duration, etc. The idea is that every time we take on a new Associate Editor (currently about 5 a month), we 'let them loose' on the

[2015-04-02 06:38] dommitchell commented on #145
As mentioned in our last meeting, DOAJ is trying to adhere to NISO's PIE-J (presentation and identification of e-journals) recommendations. The following are pertinent for continuations:

- Associate articles, issues, volumes, and dates with the journal title under which they were originally published. Identify all content from a former title(s) under that journal title and not the current journal

[2015-04-02 06:58] dommitchell commented on #595
@Steven-Eardley wanted to check that for a journal that has a continuation #145 we are matching the correct information in our OpenURL solution, that a user following a URL to an article from a previous/older version of a journal will be taken to that article under its old title and not the new title.

Also, for a user following a URL to an old version of a journal, where will they end up?

[2015-04-02 07:41] dommitchell commented on #585
Feedback:
- [ ] remove // from between ISSNs. They are not needed.
- [ ] add a line for former title and ISSN(s) if present, to be displayed under the ISSN(s).
- [ ] change 'Journal Homepage' to 'Homepage' and make open in a new window.
- [ ] make the labels in the two boxes bold (Publisher, Society etc) to differentiate them from the answers

- [ ] Add a content range or date range for journals w

[2015-04-02 07:45] dommitchell commented on #607
Still seeing دانشکده دندانپزشکی دانشگاه علوم پزشکی مشهد (191) in the facet and no change in article titles

[2015-04-02 08:11] dommitchell commented on #584
This is all looking so good!
Feedback
DOAJ will follow the Vancouver style for citations
- [ ] change all citations to Journal name. YYYY;32(4):489-98. So the first three articles http://bit.ly/1LhY9Rg would look like
The Hidden Advantage in Shoot/Don’t Shoot Simulation Exercise for Police Recruit Training
Amanda Davies
Salus Journal. 2015;3(1):16-30.
Applied Thinking for Intelligence Analysis: A

[2015-04-02 08:15] dommitchell commented on #569
Great! Closing

[2015-04-02 08:15] #569 closed

[2015-04-02 08:43] dommitchell commented on #161
We decided that this was indeed a message management task but we'd like to preserve the data, broken down by country, subject etc right before the PVOD goes live. I imagine doing this by extracting the data into a spreadsheet and then publishing it later in a blog post. Thoughts? Concerns?

Feedback on the journal short view:
- [ ] add 'opens in new window' icon next to journal URLs and open URL i

[2015-04-02 08:49] dommitchell commented on #159
This is great! Closing

[2015-04-02 08:57] dommitchell commented on #123
Great!

[2015-04-02 08:57] #123 closed

[2015-04-02 09:04] dommitchell commented on #71
Did you only change to AND on test, or in live too? Between the two I am only seeing a marginal difference and am not sure if that's the switch to AND or just that the test site has less content. I was hoping the switch to AND would have a greater effect.

https://doaj.cottagelabs.com/search?source={%22query%22%3A{%22query_string%22%3A{%22query%22%3A%22International%20Journal%20of%20Medical%20Scie

[2015-04-02 09:10] dommitchell commented on #67
Subjects are missing completely from search results #161

[2015-04-02 09:12] dommitchell commented on #58
Not fixed.
https://doaj.cottagelabs.com/search?source={%22query%22%3A{%22filtered%22%3A{%22filter%22%3A{%22bool%22%3A{%22must%22%3A[{%22term%22%3A{%22_type%22%3A%22article%22}}]}}%2C%22query%22%3A{%22match_all%22%3A{}}}}%2C%22from%22%3A0%2C%22size%22%3A10}

Open publishers facet, change sorting to a-->z, clicking "Petru Maior" University Publishing House (186) returns no results

[2015-04-03 09:12] Steven-Eardley commented on #595
Right now this isn't the case; in fact I don't think there's any consideration of continuations at all. Once I've seen how the toc pages handle continuations it should be possible to issue the correct query to display them via openurl.

[2015-04-03 15:20] Steven-Eardley opened #635 "Legacy OpenURL requests via func=openurl require multiple tries on Test server"
When running some queries via the old endpoint, the 404 page is displayed while the correctly rewritten query is placed in the navigation bar. One only needs to hit enter to then reach the right page. Seen in chrome.

steps to reproduce:
* open new tab
* go to a page with https://doaj.cottagelabs.com/doaj?func=openurl&... (see #595)
* click in the nav bar and hit enter

[2015-04-03 15:24] Steven-Eardley commented on #635
It sometimes works eventually - this is acting a bit strangely and inconsistently, so I've written the issue for posterity.

[2015-04-05 08:20] richard-jones commented on #607
What browser are you looking at it with?  It is working for me in Chrome.

Unfortunately, if the browser doesn't implement the html "dir" attribute, which is what's required to get this right, then we don't have any other options for resolving this.  The big challenge is that the data in doaj is a mixture of rtl and ltr, so we rely on the browser detecting this on a case-by-case basis and renderin

[2015-04-05 08:24] richard-jones commented on #145
Also, from #585:

* Add a content range or date range for journals with continuations, next to the appropriate ISSN(s), although this might change once I've seen the treatment in #145

[2015-04-05 08:28] richard-jones commented on #584
Are we sure about opening things in new windows?  Overall this is considered Bad for user experience.

[2015-04-05 08:38] richard-jones commented on #161
Subjects are missing because of an apparent problem with the test server data migration that we ran last week, they'll appear as soon as that is sorted out.

[2015-04-05 08:41] richard-jones commented on #71
Yes, it seems like we'd already set live to AND a while back, and then forgot about it!

In which case we should consider what other changes we could implement.  To recap, we have already considered the following:

1. Context sensitive help on constraining the search - if the user has text in the search box and more than X results, show them a "how to reduce your results" help text

2. Any additio

[2015-04-05 08:41] richard-jones commented on #67
Yup, problem with data migration this week - will appear when that's resolved

[2015-04-05 08:44] richard-jones commented on #58
http://doaj.cottagelabs.com/search?source=%7B%22query%22%3A%7B%22filtered%22%3A%7B%22filter%22%3A%7B%22bool%22%3A%7B%22must%22%3A%5B%7B%22term%22%3A%7B%22_type%22%3A%22article%22%7D%7D%2C%7B%22term%22%3A%7B%22index.publisher.exact%22%3A%22%5C%22Petru%20Maior%5C%22%20University%20Publishing%20House%22%7D%7D%5D%7D%7D%2C%22query%22%3A%7B%22match_all%22%3A%7B%7D%7D%7D%7D%2C%22from%22%3A0%2C%22size%22%

[2015-04-05 08:45] richard-jones commented on #51
Yup, I can see it.

Click the "share" button on the left side of the search controls at the top, then click "shorten url" when presented with the native "long" url.

[2015-04-05 08:47] richard-jones commented on #28
I don't recall this, no, sorry - it isn't in my plan for this project.  I'm not sure what purpose that functionality would serve, either - the intention of the subject browser is to go from the subject to the content, rather than the other way round.

[2015-04-05 08:54] richard-jones commented on #28
Unfortunately not - they are images that are part of the icon set for the javascript library.

[2015-04-05 09:48] richard-jones commented on #161
I've implemented the last 3 points for the next UI Tweaks PR, but I've not done the "open in a new window" link, because I'm not sure that's the most user friendly behaviour.  Have raised it as a question for the next meeting.

[2015-04-05 10:01] richard-jones commented on #539
I've added the new facet and changed the APC display label in the next UI Tweaks PR.

The empty strings should already be omitted from the display - which facets are you seeing these in, @dommitchell ?

Language codes should have been translated already, seems to have been a problem with a migrate script - no more changes necessary to fix this, just need to check why the migrate didn't work correc

[2015-04-05 10:25] richard-jones commented on #584
Everything except opening fulltext in new window implemented for next UI Tweaks PR

[2015-04-05 11:15] richard-jones commented on #618
Ok, I've made this change for the next UI Tweaks PR

[2015-04-05 12:01] richard-jones commented on #28
I've made the text changes for the next UI Tweaks PR

[2015-04-05 20:41] richard-jones commented on #585
I've made the main display changes listed above, but again have left the "open in a new window" link until after the next meeting.

I have also now expanded languages, countries and subject classifications in the same way as they are in the search interface.

The issues around continuations are partially completed.  I have made major additions to the journal model object to allow us to better inte

[2015-04-07 07:21] dommitchell commented on #542
@emanuil-tolev  Can you review this page http://doaj.org/features and let me know if it needs any changes after your work here?

[2015-04-07 07:21] dommitchell commented on #180
@emanuil-tolev  Can you review this page http://doaj.org/features and let me know if it needs any changes after your work here?

[2015-04-07 08:41] dommitchell commented on #539
6) In peer review, 46 results are blank (with 'Journals' selected). Where is that coming from?
![peer](https://cloud.githubusercontent.com/assets/5955396/7019654/a580e99c-dd12-11e4-9834-5175c9a8eb6a.jpg)

[2015-04-07 08:43] dommitchell commented on #51
I'm still seeing it on the right...
![share](https://cloud.githubusercontent.com/assets/5955396/7019680/e936df0c-dd12-11e4-8215-0b7d41013a0b.jpg)

[2015-04-07 08:46] dommitchell commented on #58
https://doaj.cottagelabs.com/search?source={%22query%22%3A{%22filtered%22%3A{%22filter%22%3A{%22bool%22%3A{%22must%22%3A[{%22term%22%3A{%22_type%22%3A%22article%22}}%2C{%22term%22%3A{%22index.publisher.exact%22%3A%22%22}}]}}%2C%22query%22%3A{%22match_all%22%3A{}}}}%2C%22from%22%3A0%2C%22size%22%3A10}

![petru](https://cloud.githubusercontent.com/assets/5955396/7019720/48292024-dd13-11e4-9142-3288a

[2015-04-07 08:47] dommitchell commented on #71
@richard-jones first, I'd like to be able to do a comparison. Is test on AND too? Ideally, test and live will be different so I can compare effectiveness.

[2015-04-07 08:50] richard-jones commented on #51
Ok, that's really weird - I'm looking at doaj.cottagelabs.com, and it's
certainly on the left.  Shift+Reload?

On 7 April 2015 at 09:43, dommitchell <notifications@github.com> wrote:

--

Richard Jones,

Founder, Cottage Labs
t: @richard_d_jones, @cottagelabs
w: http://cottagelabs.com

[2015-04-07 08:57] richard-jones commented on #539
ok, something weird is up with the test server - you and I are seeing
different things; we'll cover it in the meeting this morning.

On 7 April 2015 at 09:41, dommitchell <notifications@github.com> wrote:

--

Richard Jones,

Founder, Cottage Labs
t: @richard_d_jones, @cottagelabs
w: http://cottagelabs.com

[2015-04-07 09:15] richard-jones commented on #145
I've done a bit of work around continuations this week which impacts on this task:

I've modified the ToC page so that it takes 3 new arguments for the template:

* bibjson - the bibjson record which forms the core of the ToC page
* future - a list of bibjson records (most recent first) of future versions of the journal
* past - a list of bibjson records (most recent first) of previous versions of

[2015-04-07 09:19] dommitchell commented on #591
Yep, am seeing this. Closing

[2015-04-07 09:19] #591 closed

[2015-04-07 09:19] dommitchell commented on #572
Yep. All good.!

[2015-04-07 09:22] dommitchell commented on #607
I am using Firefox and Chrome. And have tried Ctrl + F5 to force browser refresh and a new browser

[2015-04-07 09:27] dommitchell commented on #613
Yep all good. Closing

[2015-04-07 09:31] dommitchell commented on #572
Sorry. Can you make it 'invisible' for Associate Editors so it doesn't appear in their list?

[2015-04-07 10:36] dommitchell commented on #71
Something for later..

[2015-04-07 10:54] richard-jones commented on #585
Note that the links to continuations don't currently do anything

[2015-04-07 10:57] richard-jones commented on #161
Everything should be fine except subjects display, which needs to be resolved separately.

[2015-04-07 10:58] richard-jones opened #637 "Subjects not appearing in UI on test server"

[2015-04-07 11:00] richard-jones commented on #58
Could you have another go at this, and see if it works now we've updated the code.

The link above is still broken, but that's to be expected - need to try navigating to the result from scratch again.

[2015-04-07 11:02] richard-jones commented on #595
@dommitchell - assigning this to you for testing purposes

[2015-04-07 11:02] richard-jones commented on #558
@richard-jones to review

[2015-04-07 11:23] dommitchell commented on #618
Looking good, closing

[2015-04-07 11:23] #618 closed

[2015-04-07 11:24] dommitchell commented on #607
This is looking good. Closing.

[2015-04-07 11:24] #607 closed

[2015-04-07 11:28] dommitchell commented on #585
Just one thing: close up the space between (Print) and the ;

2071-257X (Print); 2311-6072 (Online)

OK, actually we can forget this.

[2015-04-07 11:36] dommitchell commented on #584
One thing: remove the : after DOI

DOI 10.15503/jecs20132-124-133

[2015-04-07 11:41] dommitchell commented on #539
Still seeing language codes under full text language for journals and articles

![codes](https://cloud.githubusercontent.com/assets/5955396/7022369/5db60016-dd2b-11e4-9430-73c4ea9d1d79.jpg)

https://doaj.cottagelabs.com/search?source={%22query%22%3A{%22filtered%22%3A{%22filter%22%3A{%22bool%22%3A{%22must%22%3A[{%22term%22%3A{%22_type%22%3A%22journal%22}}%2C{%22term%22%3A{%22index.language.exact%22

[2015-04-07 11:44] dommitchell commented on #161
Decided not to open things in a new window so this one is all good once we get the subjects back.

[2015-04-07 11:47] dommitchell commented on #58
Fixed!

[2015-04-07 11:47] #58 closed

[2015-04-07 11:52] dommitchell commented on #51
Some questions:

- why does it say share or save? How do you save a search with this feature?
- can we make (shorten url) look more like a button? It looks like a link to help. Maybe move it to the right and change it to [SHORTEN] or have a proper button or make it look more like https://bitly.com/shorten/ ?

[2015-04-07 11:54] dommitchell commented on #28
Looking good. One thing: can you change 'Subjects' in the top nav to say 'Browse subjects'?

[2015-04-08 07:36] richard-jones commented on #585
Done in next PR

[2015-04-08 07:38] richard-jones commented on #584
Done for next PR

[2015-04-08 07:42] richard-jones commented on #572
Done for next PR

[2015-04-08 07:52] dommitchell commented on #12
@emanuil-tolev @richard-jones do we have anything to look at so that I can ask Google to test?

[2015-04-08 09:16] richard-jones commented on #540
Done a full implementation for next PR

[2015-04-08 09:40] richard-jones commented on #51
Ok, I've made a couple of changes for the next PR:

* changed the wording to remove save.  The idea was that you could save the link in your favourite social bookmarking tool, I guess.  Anyway, it's gone now!
* Converted the shorten link to a button with an appropriate icon, and messed around with the styles a little.  Hopefully that's clearer.

[2015-04-08 11:02] richard-jones commented on #637
@markmacgillivray - assigning this to you for the moment, as it appears to be related to failed writes to ES (see my long technical email).

[2015-04-08 11:03] richard-jones commented on #539
The language codes are a symptom of a problem with an upgrade script that we're currently working on under #637

[2015-04-08 11:03] richard-jones commented on #67
See #637 - will be resolved when that is resolved

[2015-04-08 11:04] richard-jones commented on #28
Done for next PR

[2015-04-08 11:57] dommitchell opened #639 "Question: data protection policy"
A question has come in: which country's data protection policy governs our data? Would it be the UK's because that's where the data sits?

[2015-04-08 14:05] richard-jones opened #640 "Querying OpenURL by volume/issue"
At the moment volume and issue aren't used to query the index in OpenURL.  But they are used to route the user to the appropriate ToC page, which can result in some unexpected behaviour.

[2015-04-08 14:05] richard-jones commented on #640
Not sure what the right thing to do about it is, yet.  Either not query by volume and issue and then be more careful when we write the URLs, or find a way to query by them, and be more rigid about what we return to the user (i.e. exact volume and issue matches will be required)

[2015-04-08 14:21] richard-jones commented on #635
I haven't been able to reproduce locally.  Probably a browser oddity.

[2015-04-08 14:29] richard-jones commented on #558
I've now carried out a thorough review of this and made a few tweaks, mostly around preventing responses where the request didn't provide enough information to warrant one.

I've also prepped it for integration with the new continuations-aware ToC pages

[2015-04-08 14:30] richard-jones commented on #558
@Steven-Eardley assigning back to you to close off when you are ready.

I did open an issue based on my review #640 which we should discuss, and there's still the documentation outstanding.

[2015-04-08 15:28] richard-jones commented on #542
@dommitchell - not sure if you've had a chance to review this yet, but I believe the new DC metadata is all now available, so you should be able to check it at (for example):

https://doaj.cottagelabs.com/oai?verb=ListRecords&metadataPrefix=oai_dc

@emanuil-tolev - do you have any outstanding tasks around this still to do?

[2015-04-08 15:29] richard-jones commented on #180
@dommitchell - another one which I think can be reviewed while we're still finishing up the details.  This affects only articles, and you can look at the output at:

https://doaj.cottagelabs.com/oai.article?verb=ListRecords&metadataPrefix=oai_doaj

@emanuil-tolev - what else remains to complete this task?

[2015-04-08 16:30] Steven-Eardley commented on #640
However, the journal index does not contain vol/issue information, does it? How are these queries handled elsewhere in the site nowadays?

[2015-04-09 09:20] dommitchell commented on #180
Hmm, not really sure what I am looking for?

@richard-jones, also see my comment to @emanuil-tolev

I think updates need to happen there.

[2015-04-09 09:21] dommitchell commented on #542
Again, not sure what I am looking at. Would be good to go through these two on a Hangout. Also,

[2015-04-09 09:36] emanuil-tolev commented on #180
@dommitchell Yep, I think you're right. Let me just confirm something about the context of this whole issue and the docs changes I'm about to make: some DOAJ OAI users wanted the doajArticle XML *output* format back (after it went after Semper Tool) so they could ingest it again.

I'll add a bit to the section called "Article Feed" showing what an example record looks like, and clarify that there

[2015-04-09 09:39] emanuil-tolev commented on #180
- [ ] the unit test with XSD validation

    made good progress - generating almost the right XML but lxml is having trouble producing elements with no namespace, it prefixes each by ns0, ns1, ns2, ns3 ... ns18 in sequence). I need to force its hand a bit more.

- [ ] the docs changes to /features as per https://github.com/DOAJ/doaj/issues/180#issuecomment-91175149 and any other OAI docs changes @

[2015-04-09 10:10] dommitchell commented on #12
From Google: "Regarding the testing, it would be great to see some example article landing pages, with the "citation_XX" metatags included, as well as the sitemap file (just to confirm the size + structure); it's pretty common to have a few iterations on how best to format the values in the metatags for improved indexing + accuracy in search results, etc., so it would be lovely to help with that p

[2015-04-09 10:40] #637 closed

[2015-04-09 10:41] markmacgillivray commented on #605
Note. Need to check where stuff gets written to disk. Should all write to storage service directory. Then crons should run on a cron machine.

[2015-04-09 10:48] richard-jones commented on #67
This should now be fixed

[2015-04-09 10:50] richard-jones commented on #542
If you go to that link above you should see the OAI Dublin Core output - just check it over to see if the metadata in the XML looks reasonable.

Otherwise, yes, we can talk through on Monday.

[2015-04-09 10:52] richard-jones commented on #180
@dommitchell - for your review task, just take a look at the link I sent and see if the metadata and XML elements look reasonable to you.

From a technical point of view we're virtually there in terms of testing, just giving you the opportunity to see it all before it's finished.

[2015-04-09 11:15] dommitchell commented on #180
Yes. To be sure, I showed https://doaj.cottagelabs.com/oai.article?verb=ListRecords&metadataPrefix=oai_doaj to the member of the community who first raised this and he said: "this is perfect, now I don't need to add a parser routine to process DOAJ article level metadata." so I'll take his word for it. :)

Please add to the top of the page, in bold, before 'DOAJ supports OAI-PMH feeds for both Jou

[2015-04-09 12:25] dommitchell commented on #542
Yes, looks good. Am happy to close this but assigning to @emanuil-tolev just in case this needs changes to /features.

[2015-04-09 13:46] richard-jones commented on #145
Ok, I have implemented the ability to view previous versions of journals, and to navigate up and down the chain of continuations.

I have implemented the following url routing

* /[journal id] - view current journal
* /[issn] - view journal by specific issn, which might be a previous version
* /[issn | identifier]/[vol]/[issue] - view specific volume/issue for the current version or given continua

[2015-04-09 13:58] markmacgillivray opened #643 "Tabs and whitespace and newlines in article titles"
Related to #125 and #54 it was found that sort on the UI does not seem to work. It turns out to be because the article titles include spaces and newlines and tabs at the start sometimes. I have updated the unpunctuation/asciification code to throw them if they are there, but opening this issue to note the problem of these characters appearing in article titles. Journal titles appear OK.

[2015-04-09 15:24] markmacgillivray commented on #628
Fixed by the change Richard already made to routes.

[2015-04-09 15:24] #628 closed

[2015-04-09 15:27] markmacgillivray commented on #605
May write to temp directory to check performance, then cron onto storage service directory on each app machine for checking. Then run crons of the doaj on a cron machine.

Files can be written to storage of local machine if they don't need to be synced across apps machines, but cannot write into the directory of the running app - all code for the apps gets put there by replication from the gateway

[2015-04-10 07:54] dommitchell commented on #540
Some changes needed to bring this in line with the updated version of the journal landing page:

- [ ] remove the licensing logo, top right.
- [ ] change ABSTRACT to Abstract
- [ ] can we do anything about the layout of the authors? Is it possible to put each author on a new line? For example: https://doaj.cottagelabs.com/article/f8a2d8709a2540018b866c70f39c2bba
Maria Dezio (Postgraduate School of

[2015-04-10 08:17] dommitchell commented on #67
Good! Closing!

[2015-04-10 08:17] #67 closed

[2015-04-10 08:20] dommitchell commented on #584
Good! Closing.

[2015-04-10 08:20] #584 closed

[2015-04-10 08:25] dommitchell commented on #572
Great! Closing.

[2015-04-10 08:25] #572 closed

[2015-04-10 08:25] dommitchell commented on #28
Great! Closing.

[2015-04-10 08:25] #28 closed

[2015-04-10 08:30] dommitchell commented on #539
Great! Closing.

[2015-04-10 08:30] #539 closed

[2015-04-10 08:31] dommitchell commented on #51
Great! Closing.

[2015-04-10 08:31] #51 closed

[2015-04-10 08:31] dommitchell commented on #585
Great! Closing.

[2015-04-10 09:14] emanuil-tolev commented on #605
May need to collab on a plan for the rollout - on Monday or today? (if rollout's still scheduled for Mon 13 Apr - wasn't at last meeting, sorry)

Sounds like this change (the storage) needs to be done before rollout. I'll flag for @richard-jones today at 3pm tech meeting (feel free to come if you're free, could be a good time to talk about anything else outstanding for the live deploy).

[2015-04-10 13:38] emanuil-tolev commented on #180
Docs updating, will soon be ready to review on test server when PR is merged. I added

to top of page as requested, but have also added revision history for each OAI endpoint where we can record changes we make - you'll see it soon, it's rather simplistic but should do the trick.

[2015-04-10 13:39] emanuil-tolev commented on #542
It did, I'll assign back for docs review after PR is merged.

[2015-04-10 14:36] richard-jones commented on #542
You should be able to review the text on the /features page shortly

[2015-04-10 14:41] emanuil-tolev opened #646 "set up test and staging servers again"

[2015-04-10 14:42] emanuil-tolev opened #647 "password-protect test and staging servers"

[2015-04-10 14:42] emanuil-tolev commented on #598
#646 and #647 take care of the issues that arose here.

[2015-04-10 14:42] #598 closed

[2015-04-10 14:58] dommitchell commented on #12
@emanuil-tolev @richard-jones Sorro to nag but I'd really like to know whether there is anything I can show Google Scholar. Thanks!

[2015-04-10 15:10] richard-jones opened #648 "Introduce read-only mode for application"
Needs to do the following:

* in login_required decorator, if app.config.READ_ONLY, serve a "read only" page
* for application form route, do the same
* all scripts that make data changes should also check this
* site statistics generation

[2015-04-10 15:34] richard-jones commented on #12
@dommitchell - Metadata should be available later this evening, @emanuil-tolev is just working on the PR right now.

In terms of providing the sitemap discussed above, we decided for PVOD not to include the single article pages in the sitemap because - since there are so many of them - it requires a fundamental change to the way that we structure them: we would exceed the standard sitemap format's

[2015-04-10 16:20] emanuil-tolev commented on #12
Er, the PDF is never ever hosted on DOAJ.org. I've excluded the full-text URL from this for now. @dommitchell feel free to explain to Google that DOAJ is just a metadata catalogue, and to confirm if we are allowed to post full-text URL-s to the PDF-s in the metadata. We are naturally legally allowed, as these articles are all open access, but does it somehow affect or break the harvest mechanisms

[2015-04-10 16:49] emanuil-tolev commented on #12
OK, PR pending.

[2015-04-10 17:36] markmacgillivray commented on #54
Try searching for "fur". returns some german titles as expected.

[2015-04-10 17:37] markmacgillivray commented on #125
Alphabetical listing now ignores punctuation. However there are other things it still does not ignore. Have a look, see what you think.

[2015-04-10 17:47] emanuil-tolev commented on #12
@dommitchell give the Google guys this: https://doaj.cottagelabs.com/article/0000178c89214dc8b82df1a25c0c478e

Plenty more examples at https://doaj.cottagelabs.com/search . Clicking on the title of any *article* record will take you to the article landing page, with abstract and meta tags.

[2015-04-12 16:07] richard-jones commented on #540
Changes made for next PR

[2015-04-12 16:12] richard-jones commented on #582
Note that the changes here won't affect the CSV which will have the old question text, in the event that a change is specified above.

[2015-04-12 16:18] richard-jones commented on #582
We can't trivially remove "Other" from 52 and 54, as this will create a difference between the application form and the csv, and affects how the underlying data is managed.

We could look into the work required to make this change, though note that it /may/ affect the reapplication.

Other text-only changes have been made for the next PR

[2015-04-13 08:30] richard-jones commented on #648
I've added a write_required decorator, which I've applied to all the relevant routes.  login_required is a flask decorator, so I couldn't modify it directly.  Also, though, with a specific decorator for writes, we can keep some of the admin area functional while at the same time using the same decorator to disable the application form.

[2015-04-13 09:29] richard-jones opened #651 "Add timestamp to javascript file script tags"
This will allow us to bump the version whenever we want, so that the browser does not cache.

[2015-04-13 09:44] dommitchell opened #652 "OpenURL error page"
Saw that this page is produced when OpenURL fails

![openurl_error](https://cloud.githubusercontent.com/assets/5955396/7113260/3decefd2-e1d2-11e4-9c03-cb03f7d4a091.jpg)

e.g. https://doaj.cottagelabs.com/openurl?rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&rft.spage=41&rft.issue=2&rft.volume=4&rft.date=2010&url_ctx_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Actx&url_ver=Z39.88-2004&rft.issn=19909128&

[2015-04-13 09:49] dommitchell commented on #595
The following URLs from above do not work:

/openurl?genre=article&issn= (I can't see how this would ever be called)

All items with page numbers, for example:
/doaj?func=openurl&genre=article&issn=19231555&date=2013&volume=6&issue=1&spage=132
/openurl?genre=journal&issn=1662680X&volume=6&issue=3&date=2014&spage=291
/doaj?func=openurl&genre=article&issn=16796101&date=2012&volume=9&issue=1&spage=47

[2015-04-13 09:53] dommitchell commented on #542
@richard-jones are the text changes in?

[2015-04-13 09:55] dommitchell commented on #542
Ignore me. Seen them. Closing.

[2015-04-13 09:56] emanuil-tolev commented on #542
Yeah, quite a few changes visible on https://doaj.cottagelabs.com/features ?

[2015-04-13 09:57] Steven-Eardley commented on #652
I suppose it pertains more to our implementation that OpenURL's philosophy - from our perspective it's a search because we run it through an ElasticSearch query, so if you've over-specified the metadata it might help if you remove some. E.g. if you are finding the resource with ISSN and alternative title, but the alternative title isn't in our index.

From an OpenURL perspective, a URL is meant to

[2015-04-13 10:03] dommitchell commented on #542
Yup. Just looking at this now.

@emanuil-tolev Shouldn't 'Revision history - Article OAI-PMH DOAJ format' include the recent change of adding the doajarticle tag back in?

[2015-04-13 10:04] dommitchell commented on #180
Looking good. closing.

[2015-04-13 10:04] #180 closed

[2015-04-13 10:04] dommitchell commented on #161
Subjects are in. Looking good. Closing.

[2015-04-13 10:05] dommitchell commented on #125
Looking good. Closing.

[2015-04-13 10:05] #125 closed

[2015-04-13 10:06] dommitchell commented on #54
Great! Closing.

[2015-04-13 10:06] #54 closed

[2015-04-13 10:45] emanuil-tolev commented on #542
Ah, no. It's actually the first time it's ever been available. That section wasn't there before, that's the bulk of the new docs I added wrt #180 . The revision history's wrong :). It should say "20 April 2015 Initial release". I'll update that (and update 13 april to be 20 april everywhere in the introduced history)

[2015-04-13 10:49] emanuil-tolev commented on #542
updates to the history should be in shortly

[2015-04-13 12:30] dommitchell commented on #463
Re-opening as I have proof that this is really happening.

[2015-04-13 14:26] dommitchell commented on #582
All looking good. Question @richard-jones is there somewhere in the template editor I can edit the contents of the Seal box on https://doaj.cottagelabs.com/application/new myself?

[2015-04-13 14:28] dommitchell commented on #540
Perfect!

[2015-04-13 14:28] #540 closed

[2015-04-13 14:29] dommitchell commented on #542
Great. Perfect!

[2015-04-13 14:29] #542 closed

[2015-04-13 14:33] richard-jones commented on #595
Regarding this one:

I don't think we need to support this going forward.  Apart from being a very odd sort of URL, it is requesting an object by internal id from the old system, so we would never be able to respond to it.

Otherwise, a few tweaks to the query parameters should resolve the issues above, although note that a "not found" is a legitimate response where the user has not provided enoug

[2015-04-13 14:38] dommitchell commented on #652
@Steven-Eardley Yes, I see. I htink we can just delete "Check the parameters or try reducing search constraints." because the page then goes on to say do a search which I think is the correct process.

Sound good?

[2015-04-13 17:48] Steven-Eardley commented on #652
Yup, I'll take that out as I'm writing my documentation.

[2015-04-14 07:06] dommitchell commented on #161
We're going to have to add the date added to DOAJ. Omitting this was an oversight on my part.

Please add in 'Date added to DOAJ:' in bold under Subject.

[2015-04-14 07:08] dommitchell commented on #585
We're going to have to add the date added to DOAJ. Omitting this was an oversight on my part.

Please add in 'Date added to DOAJ:' in bold under Platform/Host/Aggregator:

[2015-04-14 07:25] dommitchell commented on #314
I don't think I ever got these lists from the live db? I have an email from @emanuil-tolev on 24-Nov with lists from staging but nothing from live.

I need list 2 only. Can you run it and send it to me?

[2015-04-14 09:16] dommitchell opened #654 "Finalisation and eventual sign off of hosting agreement"
See email conversation. Awaiting feedback from @richard-jones and @markmacgillivray

[2015-04-14 13:22] dommitchell opened #655 "Accepted reapplications are inheriting a 'Rejected' status once they've been accepted"
E.G. https://doaj.org/editor/suggestion/017fd746386c4694af267afac567555e has the status Accepted in search results: https://doaj.org/editor/group_applications?source={%22query%22:{%22match_all%22:{}}}

![acc1](https://cloud.githubusercontent.com/assets/5955396/7137455/08358d0c-e2ba-11e4-87c4-1dc7fa75b0ae.jpg)

but the status Rejected when you open the record.

![acc2](https://cloud.githubuserconte

[2015-04-14 13:50] emanuil-tolev commented on #655
But it has "Accepted" when you view it as admin: https://doaj.org/admin/suggestion/017fd746386c4694af267afac567555e

This is probably a browser thing where it will assign the nearest choice when the selected choice isn't available. It's not really rejected, it's just that that's what the browser picks since "Accepted" isn't available for editors to assign ..... or see, as a result of the fact it's

[2015-04-15 08:43] richard-jones commented on #648
I've also added a check in initialise_index, and put checks in the DAO so that any requests to methods which write to the index are blocked.

[2015-04-15 09:26] richard-jones commented on #145
@emanuil-tolev if you have a PR for this that you want me to review before our roll-out today, just send it on through

[2015-04-15 09:30] richard-jones commented on #582
You'll be able to edit the text here:

https://github.com/DOAJ/doaj/blob/static_pages/portality/templates/formcontext/_base_application_form.html

Though note that the static_pages version probably isn't up to date with what we'll roll out, so don't make any changes there just yet.

[2015-04-15 09:42] richard-jones commented on #585
Added for next PR

[2015-04-15 09:43] richard-jones commented on #612
Is this still active?

[2015-04-15 09:44] richard-jones commented on #651
I'm doing another round of UI changes, so I'll add something here

[2015-04-15 10:15] richard-jones commented on #651
I've done this by appending a DOAJ_VERSION parameter to the js and css requests, which we can then manually bump when the users should get new javascript.  Basically at each release we should do this.

Note that this won't affect caching of the pages which actually request the javascript, so the user will still need to request a refresh on that.  Could set a No-Cache header on the page, I guess?

[2015-04-15 10:15] richard-jones commented on #654
No specific feedback from me, @markmacgillivray is handling

[2015-04-15 10:38] richard-jones commented on #161
Fix for next PR

[2015-04-16 07:11] dommitchell opened #659 "Article metadata input: split author names"
Change https://doaj.org/publisher/metadata so it asks for [First Name], [Last Name].

Specification to be added here.

[2015-04-16 07:11] dommitchell opened #660 "Clean up author names to create first name, last name metadata"
Specification to be added here.

See also: #659

[2015-04-16 07:13] dommitchell opened #661 "Add text to article metadata form re Names"
Add a text note to https://doaj.org/publisher/metadata next to Authors*

'Enter names as First Name, Middle Name, Last Name'

Specification to be added.

[2015-04-16 11:25] richard-jones opened #662 "Bitly key for live service"
@dommitchell - could you register DOAJ with bit.ly and get us an API key that we can use for the URL shortener on the live service?  See: https://github.com/DOAJ/doaj/issues/51#issuecomment-78250633 for details.

[2015-04-16 12:30] dommitchell commented on #662
@richard-jones  what should I enter for:

Application name
Application link
Redirect URIs ?

[2015-04-16 12:47] richard-jones commented on #662
Are they all required? I don't recall filling out the last one, but the
first two should probably be DOAJ and doaj.org

On 16 April 2015 at 13:30, dommitchell <notifications@github.com> wrote:

--

Richard Jones,

Founder, Cottage Labs
t: @richard_d_jones, @cottagelabs
w: http://cottagelabs.com

[2015-04-16 13:01] dommitchell commented on #662
Redirect URIs is required too.

2015-04-16 14:47 GMT+02:00 Richard Jones <notifications@github.com>:

[2015-04-16 15:20] richard-jones commented on #662
Hm, don't know.  I guess http://doaj.org

[2015-04-17 07:39] dommitchell opened #663 "Add new sponsor: Elsevier"
![elsevier-logo](https://cloud.githubusercontent.com/assets/5955396/7197797/9932ef0c-e4e5-11e4-87a6-86fab2d9089c.jpg)

and link to www.elsevier.com

[2015-04-17 08:30] dommitchell opened #664 "View Journals link doesn't work"
Clicking on the 'View Journals' link from a User record returns all journals.

https://testdoaj.cottagelabs.com/account/?source={%22query%22%3A{%22query_string%22%3A{%22query%22%3A%22versita%22%2C%22default_operator%22%3A%22OR%22}}%2C%22from%22%3A0%2C%22size%22%3A25}

opens

https://testdoaj.cottagelabs.com/admin/journals?source={%22query%22%3A{%22match_all%22%3A{}}%2C%22from%22%3A0%2C%22size%22%3

[2015-04-17 08:53] dommitchell opened #665 "Reapplications don't load in publisher account"
Logged in as a publisher and the reapplications tab doesn't load:

https://testdoaj.cottagelabs.com/publisher/progress?source={%22query%22%3A{%22match_all%22%3A{}}%2C%22from%22%3A0%2C%22size%22%3A10}

![loading](https://cloud.githubusercontent.com/assets/5955396/7198803/e719b458-e4ef-11e4-968d-9c0eea2dc7be.jpg)

[2015-04-17 10:56] Steven-Eardley commented on #560
Rather than writing a tutorial on how to use OpenURL - which while interesting might be irrelevant to most users of this service - the documentation in ```openurl/help``` is more geared towards background info and taking steps to get results.

[2015-04-17 10:58] Steven-Eardley commented on #640
This is done.

[2015-04-17 10:58] #640 closed

[2015-04-17 11:29] richard-jones commented on #664
Yup, good point - haven't updated the call to work with the new facetview

[2015-04-17 11:30] richard-jones commented on #665
Do you mind if I reset the password for this account and log in?  I don't see the problem on my own account, but I don't have any reapplications, so would be useful to look at an account where the problem manifests.

[2015-04-17 11:31] richard-jones commented on #662
I've now done this

[2015-04-17 11:31] #662 closed

[2015-04-17 11:44] dommitchell commented on #665
Please do. I had just reset it myself. Maybe that was the problem?

[2015-04-17 11:59] dommitchell opened #666 "Changing order by relevance dropdown doesn't work"
Changing the item in the dropdown to Date Applied produces page loading bar but page doesn't load

![datechanged](https://cloud.githubusercontent.com/assets/5955396/7201645/e476a0d4-e509-11e4-930a-8e9130986ea7.jpg)

[2015-04-17 12:10] dommitchell opened #667 "Not seeing 'date added to doaj' on test"
#161 and #585 - not rolled out but just making a note

[2015-04-17 12:14] richard-jones commented on #667
I've just merged the code for this, and we'll organise to do another roll-out shortly

[2015-04-17 12:19] dommitchell opened #668 "Some pages returning Internal Server error"
https://testdoaj.cottagelabs.com/toc/eba9a5a55bf244159e97c286586dd769
https://testdoaj.cottagelabs.com/toc/50b494579f1343b0a2d42934455d26a5

[2015-04-17 12:24] richard-jones commented on #666
Replicated.  The configuration for the sort is just slightly wrong.  I'm going to do a quick review of all of the admin/publisher area facetviews and make sure that they are up to date with all the latest data model changes (e.g. the title sorting, etc)

[2015-04-17 12:24] dommitchell opened #669 "Change capitalisation on journal home page"
On all tables of contents change:
Issues in volume 2
Issues in volume 1

to

Issues in Volume 2
Issues in Volume 1 etc

e.g. https://testdoaj.cottagelabs.com/toc/837552eb7d7d42e1a14828e55807d2fe

Remove brackets from around date values: (Feb 2015) and spell months out in full: February 2015

[2015-04-17 12:29] dommitchell opened #670 "Old version of public application form"
We seem to be running an older version of the application form. Questions 14 and 18 are not required and have no asterisk next to them:

https://testdoaj.cottagelabs.com/admin/suggestion/00059927f5a148bfa87ca97258a50432#first_problem

[2015-04-17 12:34] richard-jones commented on #666
Fixed in next PR

[2015-04-17 12:36] richard-jones commented on #668
The first one works for me.

The second gives me an Internal Server Error.

@emanuil-tolev - can you see what's happening in the logs?

[2015-04-17 12:37] dommitchell commented on #670
Ignore me....

[2015-04-17 12:37] #670 closed

[2015-04-17 12:38] richard-jones commented on #670
Phew.  That one raised a bit of panic, as we haven't really touched that
bit of code (just the text changes)!

On 17 April 2015 at 13:37, dommitchell <notifications@github.com> wrote:

--

Richard Jones,

Founder, Cottage Labs
t: @richard_d_jones, @cottagelabs
w: http://cottagelabs.com

[2015-04-17 12:49] dommitchell opened #671 "Remove status from AssEd view"
Can we hide 'Reapplication in progress' from the Assed view of the re/application form as well?

So then Asseds will only see 'Reapplication submitted' Pending and In progress

[2015-04-17 12:51] dommitchell commented on #667
Seeing them, Closing

[2015-04-17 12:51] #667 closed

[2015-04-17 12:51] dommitchell commented on #161
IN and looking good

[2015-04-17 12:51] #161 closed

[2015-04-17 12:51] dommitchell commented on #585
In and looking good

[2015-04-17 12:51] #585 closed

[2015-04-17 12:52] richard-jones commented on #664
Fixed for next PR

[2015-04-17 12:52] dommitchell commented on #666
Great, Closing

[2015-04-17 12:52] #666 closed

[2015-04-17 12:54] emanuil-tolev commented on #668
(fyi You can always check the latest live and test errors in Newrelic too.)

https://rpm.newrelic.com/accounts/526071/applications/13026512/traced_errors

exceptions:UnicodeDecodeError: 'ascii' codec can't decode byte 0xc3 in position 4: ordinal not in range(128)

[code]

1:35pm looks like exactly 17 min ago, when you made the comment above, so def. looks like your error. And it looks like the rig

[2015-04-17 12:55] dommitchell opened #672 "'Article: pub date' shouldn't be available when Journal is selected"
Not a bug per se and probably not related to PVOD

![artpubdate](https://cloud.githubusercontent.com/assets/5955396/7202341/be237da0-e511-11e4-8193-bf308b23747f.jpg)

[2015-04-17 13:03] dommitchell opened #673 "Special characters in facets"
Do we know why some special characters in facets are unable to render but they render fine in the journal long view?

![facet](https://cloud.githubusercontent.com/assets/5955396/7202470/e4c89dae-e512-11e4-8a6b-486e09245bcf.jpg)

In this example the ?? is ó https://testdoaj.cottagelabs.com/toc/1415-6555/14

[2015-04-17 13:04] richard-jones commented on #665
Fixed for next PR

[2015-04-17 13:09] richard-jones commented on #673
Huh, weird.  I can see this on the server, but locally it is working fine.  Will do some digging.

[2015-04-17 13:12] richard-jones commented on #668
Ah damnit - unicode error.  Not sure why that would happen in this position, though!

[2015-04-17 14:11] richard-jones commented on #605
Leave this open until production deployment, then can close

[2015-04-17 14:14] Steven-Eardley commented on #615
Also used for #455 - should be fine but worth checking after this change.

[2015-04-17 14:21] richard-jones commented on #612
Bug in stats generation, fix due for next PR

[2015-04-17 14:42] richard-jones commented on #648
@emanuil-tolev has created a hotfix against master for this too, so we will be able to turn the current production version to read-only mode too when we do the upgrade

[2015-04-17 14:48] richard-jones commented on #651
We may also be able to do this:

http://stackoverflow.com/questions/1341089/using-meta-tags-to-turn-off-caching-in-all-browsers

[2015-04-17 14:58] richard-jones commented on #668
@richard-jones to update bibjson.language_name() to give back unicode data

[2015-04-17 15:28] richard-jones commented on #673
https://testdoaj.cottagelabs.com/search?source=%7B%22query%22%3A%7B%22filtered%22%3A%7B%22filter%22%3A%7B%22bool%22%3A%7B%22must%22%3A%5B%7B%22term%22%3A%7B%22_type%22%3A%22article%22%7D%7D%2C%7B%22term%22%3A%7B%22index.publisher.exact%22%3A%22ANPAD%20-%20Associa%C3%A7%C3%A3o%20Nacional%20dos%20Programas%20de%20P%EF%BF%BD%EF%BF%BDs-gradua%C3%A7%C3%A3o%20em%20Administra%C3%A7%C3%A3o%22%7D%7D%5D%7D%

[2015-04-17 15:31] emanuil-tolev commented on #673
Link to server data: https://doajgate.cottagelabs.com/doaj/journal/cd79aaf6f6e34b7ba54167061786a1b3

[2015-04-17 15:43] emanuil-tolev commented on #673
article id 6b110106ed5a416b863b2f5a8496909a for search

[2015-04-17 15:46] emanuil-tolev commented on #673
https://testdoaj.cottagelabs.com/query/journal,article/_search?&callback=jQuery19106188695630989969_1429285473729&source=%7B%22query%22%3A%7B%22query_string%22%3A%7B%22query%22%3A%226b110106ed5a416b863b2f5a8496909a%22%2C%22default_operator%22%3A%22AND%22%7D%7D%2C%22from%22%3A0%2C%22size%22%3A10%2C%22facets%22%3A%7B%22_type%22%3A%7B%22terms%22%3A%7B%22field%22%3A%22_type%22%2C%22size%22%3A102%2C%22

[2015-04-17 15:48] emanuil-tolev commented on #673
this is coming back from /query

jQuery19108369465197902173_1429285637790({"hits": {"hits": [{"sort": ["cd79aaf6f6e34b7ba54167061786a1b3"], "_type": "journal", "_source": {"index": {"publisher": ["ANPAD - Associa\u00e7\u00e3o Nacional dos Programas de P\u00f3s-gradua\u00e7\u00e3o em Administra\u00e7\u00e3o"], "schema_subject": ["LCC:Social Sciences", "LCC:Management. Industrial management", "LCC:I

[2015-04-17 15:51] richard-jones commented on #673
We've looked into this, and it's because some of the articles have broken publisher data.  There's unfortunately nothing we can do about it - it's a data cleanup task!

[2015-04-17 16:51] emanuil-tolev commented on #648
Reviewed on test server, seems to work well.

Code deployed to live now. All we need to do is flip the config and restart the app, and it should go in read-only mode. I need to go into a bit more detail during our Mon meeting as to when the best time for this will be, as I think it's probably best if it happens the eve before the deploy.

So:
0. perform code release from develop to production (5-1

[2015-04-19 19:59] Steven-Eardley commented on #663
Take a look, should be visible on live and will appear on the test server next time it's updated.

[2015-04-20 07:37] dommitchell opened #674 "Google algorithm change"
Logging this so we can have a discussion about what this means realistically for DOAJ.

Change due 25 April 2015. Only 5.4% of our users access DOAJ via mobile currently, according to Google Analytics

[2015-04-20 08:35] #663 closed

[2015-04-20 09:14] dommitchell commented on #673
The publisher data displayed in the article view is the data, as it is uploaded by the publisher and not the name of the publisher that you see displayed in the journal homepage.

[2015-04-20 09:38] dommitchell commented on #674
From call today: would need to involve the designer and upgrade to twitter bootstrap3 BUT DOAJ already works well in twitter bootstrap2.

The nav works well. The search interface would need to be addressed but these are design questions rather than technology.

[2015-04-20 09:53] richard-jones commented on #648
@richard-jones needs to separate the READ_ONLY mode between UI and scripts, so scripts can still run while the UI is still in read only.

[2015-04-20 10:02] emanuil-tolev commented on #605
When turning on readonly mode, turn it on for the UI first at 8:21pm. Then let the scripts digest whatever has been recently uploaded at 8:30pm.Then turn on readonly mode for the scripts too. Now the whole site is readonly and the migration can start.

[2015-04-20 10:02] Steven-Eardley commented on #652
My changes are visible on the test server; here's a bogus url to see the page.
http://testdoaj.cottagelabs.com/openurl?rft.issn=invalid_issn

[2015-04-20 10:05] emanuil-tolev commented on #605
Final deploy plan:

So:
1. perform code release from develop to production (5-10 min) without deploying it, obviously
2. turn on readonly mode in the evening (8:21pm UK time)

When turning on readonly mode, turn it on for the UI first at 8:21pm. Then let the scripts digest whatever has been recently uploaded at 8:30pm.Then turn on readonly mode for the scripts too. Now the whole site is readonly a

[2015-04-20 10:14] dommitchell commented on #652
Looking good!

[2015-04-20 10:14] #652 closed

[2015-04-20 10:25] Steven-Eardley commented on #560
Is there anything more you'd like to add? Please review at http://testdoaj.cottagelabs.com/openurl/help

The file is at ```portality/templates/openurl/help``` and it can be linked to via
```<a href="{{ url_for('openurl.help') }}">OpenURL help</a>```

[2015-04-20 10:31] richard-jones commented on #648
@emanuil-tolev can you cherry pick this commit for the production branch: https://github.com/DOAJ/doaj/commit/ae2fe8c3095fb1c9e9a424a0c4da79e677fc995e

[2015-04-20 11:12] richard-jones commented on #668
Done for next PR

[2015-04-20 11:39] dommitchell commented on #560
Looks good! Closing.

[2015-04-20 11:39] #560 closed

[2015-04-20 12:20] dommitchell commented on #655
I see. Closing for now as this will never affect editors who will rarely open their old applications.

[2015-04-20 12:20] #655 closed

[2015-04-20 12:49] emanuil-tolev commented on #648
Yes, but will have to first merge the whole branch into develop. Otherwise have commit in production and not develop. Technically possible but better not. But yes, will do soon as I review your PVOD review PR!

[2015-04-20 14:03] emanuil-tolev opened #677 "sitemap errors"
[code]

[2015-04-20 14:32] emanuil-tolev commented on #648
done and released to live

[2015-04-20 14:32] #648 closed

[2015-04-20 18:16] emanuil-tolev commented on #178
Done.

Not done. This has proven to be quite sticky to achieve, mostly because we use the URL to also put in other optional args like volume and issue. Basically the only straightforward situation right now that could merit journal title in the URL would be if you also specify the volume and issue, which is a bit pointless.

However, I do have an alternative approach in mind. Putting a separator,

[2015-04-21 07:09] dommitchell opened #679 "Older journal records prevent XML upload for newer journals"
I need some feedback ASAP.

Publisher account 22130896 is unable to upload XML for two journals:

https://doaj.org/admin/journals?source={%22query%22:{%22query_string%22:{%22query%22:%220550-3213%22,%22default_operator%22:%22AND%22}}}

https://doaj.org/admin/journals?source={%22query%22%3A{%22query_string%22%3A{%22query%22%3A%220370\\-2693%22%2C%22default_field%22%3A%22index.issn.exact%22%2C%22def

[2015-04-21 07:28] dommitchell opened #680 "Will Chinese characters break the CSV upload?"
A publisher has presented a theory that Chinese characters are breaking the CSV upload:

"With respect to the guidance file, I have read them carefully and didn’t do anything that may invalidate the CSV file. I am wondering if [the problem] is caused by the Chinese alternative titles I filled in question 3. My problem at present is like the following:

If I open the CSV via MS EXCEL and change the

[2015-04-21 07:55] emanuil-tolev commented on #680
There could be various problems, such as the way the file is encoded (I did note they say they use UTF-8). Obvious question of the day, could they send you the file that they are trying to submit?

[2015-04-21 08:07] emanuil-tolev commented on #679
Fwd / dropbox the files (I assume you have them if you've investigated them yourself)?

[2015-04-21 08:32] dommitchell commented on #679
Forwarded.

[2015-04-21 08:49] richard-jones commented on #680
Very unlikely to be the chinese characters.

The second error is entirely expected - if the CSV is not UTF-8 it can't be read (correctly).

The first error looks like a problem with the column headings - we'd need to run the csv through the csv reader to find out exactly what, but my guess would be an extra column, possibly with something in the header row that isn't an issn (could even be whitesp

[2015-04-21 09:02] richard-jones commented on #679
This doesn't look like an xml error to me.

Import failure at this level is caused by issns in the supplied articles being in the following situations:

1. Not matching any journal that is in the index (in_doaj=True or False)
2. Matching a journal that does not have an owner (this should be rare to non-existent, and would indicate a data error on the doaj-side part most lilkely)
3. Matching multip

[2015-04-21 11:00] dommitchell opened #681 "Some things we want the API to enable/facilitate"
*DISCOVERY*
Finding (and retrieving) articles, journals on DOAJ
Publisher: journal, article, applications
Search on author affiliation
APCs: range query
Author names
No faceting via the search interface
Wrapper

CRUD
Create Retrieve Update Delete

Bulk applications
Bulk article metadata upload ("ability to send the XML in a programmatic way. Web API" " to develop and publish an API to allow the im

[2015-04-21 11:54] dommitchell commented on #473
Can we get this one done quickly after PVOD goes live, as a one-off?

[2015-04-21 13:21] dommitchell commented on #679
Yup, done that already and can confirm that every article in both XML files has the correct ISSNs and that they match the two journal entries in DOAJ.

Have also checked your numbers 1 to 4 above and all is correct

[2015-04-21 13:23] richard-jones commented on #679
most odd.  Ok, will require further investigation - will look into it once we've got the roll-out sorted.

[2015-04-21 19:10] emanuil-tolev commented on #677
this has changed with the most recent work on ToCs done to

[code]

looks like the journal isn't a model object in that loop? not sure what's going on, will prob. fix after release today/tomorrow though

[2015-04-21 22:07] emanuil-tolev commented on #605
tmp command here

```stdbuf -o0 -e0 /opt/sysadmin/backup/elasticsearch/bulk_restore.py -es "http://gateway:9200" --no-mapping -i doaj -b 200 -s 0.075 doaj.data > doaj_restore.log 2>&1 && curl -X DELETE http://gateway:9200/doaj/toc && . /home/cloo/repl/apps/doaj/bin/activate && DOAJENV=production stdbuf -o0 -e0 /home/cloo/repl/apps/doaj/bin/python /home/cloo/repl/apps/doaj/src/doaj/portality/upgrad

[2015-04-22 07:41] dommitchell commented on #517
@richard-jones I'd like to include this one in the next round of work please.

[2015-04-22 09:14] dommitchell opened #682 "Request to delete all articles"
Please delete all articles from journal with ISSN 0120-3053

https://doaj.org/admin/admin_site_search?source={%22query%22:{%22filtered%22:{%22query%22:{%22query_string%22:{%22query%22:%220120-3053%22,%22default_field%22:%22index.issn.exact%22,%22default_operator%22:%22AND%22}},%22filter%22:{%22bool%22:{%22must%22:[{%22term%22:{%22_type%22:%22article%22}}]}}}}}

[2015-04-22 09:56] #615 closed

[2015-04-22 10:51] richard-jones commented on #677
fixed

[2015-04-22 10:51] #677 closed

[2015-04-22 11:06] emanuil-tolev commented on #605
everything went well, switching DNS in half an hour

[2015-04-22 12:45] emanuil-tolev commented on #605
DNS switched. There were some problems with the blog news on the front page, generating a csv and generating a sitemap, all resolved now. All cron and anacron tasks are running.

[2015-04-22 12:45] #605 closed

[2015-04-22 12:49] emanuil-tolev commented on #178
@dommitchell you can observe this e.g. here: https://doaj.org/toc/1980-6108

Notice the title of the page. You can also see the description tag if you press Ctrl+U to view page source. This toc's tag is ```<meta name="description" content="Information about the open-access journal Scientia Medica in DOAJ. DOAJ is an online directory that indexes and provides access to quality open access, peer-rev

[2015-04-22 13:39] #651 closed

[2015-04-22 13:39] #612 closed

[2015-04-23 06:45] #669 closed

[2015-04-23 06:47] #668 closed

[2015-04-23 06:48] dommitchell commented on #665
@richard-jones What was the problem here and how can I test it is fixed?

[2015-04-23 06:48] #664 closed

[2015-04-23 06:58] dommitchell opened #683 "View user's journal doesn't return results"
https://doaj.org/account/21608288 where [View a list of this user's journals] returns all journals in DOAJ https://doaj.org/admin/journals?source={%22query%22%20:%20{%22bool%22%20:%20{%22must%22%20:%20[{%22term%22%20:%20{%22admin.owner.exact%22%20:%20%2221608288%22}}]}}}

[2015-04-23 07:15] dommitchell commented on #217
This seems to have reverted. Adding an owner field is compulsory again. Can you change that?

![rejected](https://cloud.githubusercontent.com/assets/5955396/7292138/541444a8-e999-11e4-9dfd-d35b3071b59e.jpg)

[2015-04-23 07:26] dommitchell opened #684 "Better crawl error response for the OAI endpoint"
Some errors for OAI produce a 502 error. We should have a better response.

https://www.google.com/webmasters/tools/crawl-errors?hl=en&siteUrl=http%3A%2F%2Fdoaj.org%2F&pli=1&authuser=1

and

https://www.google.com/webmasters/tools/crawl-errors?hl=en&siteUrl=http%3A%2F%2Fdoaj.org%2F&pli=1&authuser=1#t1=0&t2=1

[2015-04-23 07:33] dommitchell opened #685 "Default search operator is OR from home page and doesn't switch to AND"
Two things:
- [x] The default operator from the home page quick search is OR and should be AND. Beilstein Journal of Organic Chemistry from the homepage returns:
Journals (7175)
Articles (1620937)

https://doaj.org/search?source={%22query%22%3A{%22query_string%22%3A{%22query%22%3A%22Beilstein%20Journal%20of%20Organic%20Chemistry%22%2C%22default_operator%22%3A%22OR%22}}%2C%22from%22%3A0%2C%22size%2

[2015-04-23 07:42] dommitchell opened #686 "Check XML upload feature"
![doaj eror](https://cloud.githubusercontent.com/assets/5955396/7293369/c31a2b82-e9a4-11e4-818e-8f2f342c49f9.jpg)
We have received emails this morning about the inability to upload XML. The majority of users have received this message:
'Failed to parse file - it is invalid XML; please fix it before attempting to upload again.'

and one received this:

S4s-elt-character: Non-whitespace Characters A

[2015-04-23 07:47] dommitchell opened #687 "Journal home page returns 400 Bad Request error"
https://doaj.org/toc/1751-7192

[2015-04-23 07:50] dommitchell commented on #685
DRAFT: ignore for now. I might come back to this.

[2015-04-23 08:12] dommitchell opened #688 "Unanswered fields show as 'No' on journal homepage"
I'd like to explore the possibility of suppressing 3 fields of a journal record for all journals that have now reapplied.

Now the new data has gone live, all journals that haven't reapplied show incorrect information:

Article Processing Charges (APCs): No.
Submission Charges: No.
Waiver policy for charges? No.

which is incorrect. Can we suppress the 'No' until the journal has successfully reapp

[2015-04-23 09:17] dommitchell opened #689 "Preserver Last Updated date for future upgrades"
Every time a new project is released on the site, the Last Updated date across all the records gets wiped. In the absence of provenance tracking, we rely on this date to keep track of our workflow.

Is there a way to preserve this date and stop it being wiped at future updates.

[2015-04-23 09:29] emanuil-tolev commented on #689
@dommitchell not quite - the transfer from server to server (in case that is necessary at all) does NOT wipe this field. To the machines it's simply data, just like a journal's title, they don't understand the Last Updated field as a special field that should be updated - and so, they will leave the value alone.

What does change it, is migration scripts which change the structure of each record.

[2015-04-23 09:43] richard-jones commented on #689
Yes, basically what @emanuil-tolev said.  The records /have/ been updated, so the update to the last_updated date is correct - we often, when we roll out a new version, have to run migration on the data so this will often happen at these points.

Unfortunately, the only way to do something about this which is meaningful is to introduce some form of provenance tracking.  That could be something suc

[2015-04-23 09:50] richard-jones commented on #687
This is an interesting one - there is more than one journal in the index with this ISSN, one in_doaj=True and the other in_doaj=False.

SInce the ToC doesn't appear to restrict by in_doaj, then it doesn't know what to do, so it throws this error.

Probably the fix is to restrict toc to in_doaj=True, which will eliminate this problem.  If we ever wind up with 2 journals with the same issn in_doaj=T

[2015-04-23 09:51] richard-jones commented on #685
Default operator has been set to AND site-wide already, and seems to be working fine for me.

[2015-04-23 09:52] richard-jones commented on #683
Ah damn, sorry, missed that one

[2015-04-23 09:55] richard-jones commented on #686
Could you send us one or more of the broken XML uploads, and the user accounts?

The second error looks like a problem locating the schema - @emanuil-tolev could you check that the schema file is being served correctly by the new infrastructure?

[2015-04-23 10:04] emanuil-tolev commented on #686
Yes, of course. https://doaj.org/static/doaj/doajArticles.xsd

The 301 redirect is probably related to the fact we refer to the schema without HTTPS? But why wouldn't the XML validation follow the redirect, that's what a 301 Moved Permanently is for!

[2015-04-23 10:29] richard-jones commented on #687
In forthcoming hotfix

[2015-04-23 10:29] richard-jones commented on #683
in forthcoming hotfix

[2015-04-23 10:30] richard-jones commented on #665
If, as a publisher, you can see the list of reapplications, then this is fixed